<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view">
	
	
		<h:panelGrid columnClasses="label,component,required" columns="3">
		
			
	
			<h:outputLabel for="catalogXItemBeanCatalogXItemCoreExpirationDate" value="Core Expiration Date:"/>
			<h:panelGroup>
				<rich:calendar id="catalogXItemBeanCatalogXItemCoreExpirationDate" value="#{catalogXItemBean.catalogXItem.coreItemExpirationDate}" />
				<h:message for="catalogXItemBeanCatalogXItemCoreExpirationDate" styleClass="error"/>
			</h:panelGroup>
			<h:outputText/>
	
			<h:outputLabel for="catalogXItemBeanCatalogXItemCoreStartDate" value="Core Start Date:"/>
			<h:panelGroup>
				<rich:calendar id="catalogXItemBeanCatalogXItemCoreStartDate" value="#{catalogXItemBean.catalogXItem.coreItemStartDate}" />
				<h:message for="catalogXItemBeanCatalogXItemCoreStartDate" styleClass="error"/>
			</h:panelGroup>
			<h:outputText/>
		
			<h:outputLabel for="catalogXItemBeanCatalogXItemSkuValue" value="Customer SKU:"/>
			<h:panelGroup>
				<h:inputText id="catalogXItemBeanCatalogXItemSkuValue" value="#{catalogXItemBean.skuValue}"/>
				<h:message for="catalogXItemBeanCatalogXItemSkuValue" styleClass="error"/>
			</h:panelGroup>
			<h:outputText/>
	
			<h:outputLabel for="catalogXItemBeanCatalogXItemPriceType" value="Pricing Type:"/>
			<h:panelGroup>
		       <h:selectOneMenu id="catalogXItemBeanCatalogXItemPriceType" value="#{catalogXItemBean.catalogXItem.pricingType}"
		       		converter="#{catalogXItemBean.pricingTypeConverter}">
			    		<f:selectItem itemLabel="Select..." noSelectionOption="true"/>
		   			<f:selectItems value="#{catalogXItemBean.allPricingTypes}"
		   				 var="type" itemValue="#{type}" itemLabel="#{type.name.concat(type.useCeiling ? '' : ', No Ceiling')}" />
		   		</h:selectOneMenu>
			</h:panelGroup>
			<h:outputText/>
	
			<h:outputLabel for="catalogXItemBeanCatalogXItemPriceParameter" value="Pricing Parameter:"/>
			<h:panelGroup>
				<h:inputText id="catalogXItemBeanCatalogXItemPriceParameter" value="#{catalogXItemBean.catalogXItem.pricingParameter}" />
				<rich:message for="catalogXItemBeanCatalogXItemPriceParameter" styleClass="error"/>
			</h:panelGroup>
			<h:outputText/>
			
			<h:outputLabel for="catalogXItemBeanCatalogXItemPrice" value="Calculated Price:"/>
			<h:panelGroup>
				<h:outputText id="catalogXItemBeanCatalogXItemPrice" value="#{forgeview:toCurrency(catalogXItemBean.catalogXItem.price)}" />
			</h:panelGroup>
			<h:outputText/>
			
			<h:outputLabel for="substitute" value="Substitute Item:"/>
			<h:panelGroup>
				<h:outputText id="substitute" value="#{catalogXItemBean.catalogXItem.substituteItem == null ? 
					'None Selected' : catalogXItemBean.catalogXItem.substituteItem.item.name}" />
			</h:panelGroup>
			<h:panelGroup>
				<div class="pull-right">
					<h:commandLink value="Set Substitute" styleClass="btn btn-primary">
						<rich:componentControl target="catalogXItemSubstituteModal" operation="show" />
					</h:commandLink>
					<a4j:commandLink value="Clear Substitute" styleClass="btn btn-primary" 
						action="#{catalogXItemBean.clearSubstitute()}" render="work:substitute" />
				</div>
			</h:panelGroup>
			
			<h:outputLabel for="favoritesLists" value="Favorites Lists:"/>
			<rich:extendedDataTable id="favoritesLists" value="#{forgeview:asList(catalogXItemBean.catalogXItem.favorites)}" var="row">
				<rich:column>
			       <f:facet name="header">
			         <h:outputText value="Name:" />
			       </f:facet>
			       <h:outputText value="#{row.name != null ? row.name : ''}" />
			    </rich:column>
				<rich:column>
			       <f:facet name="header">
			         <h:outputText value="Action:" />
			       </f:facet>
			       <a4j:commandLink value="Remove" action="#{catalogXItemBean.removeFromList(row)}" 
			       		render="favoritesLists" immediate="true" />
			    </rich:column>
			</rich:extendedDataTable>
			<h:panelGroup>
				<div class="pull-right">
					<a4j:commandLink 
							id="addToList" 
							value="Add To List"
							styleClass="btn btn-primary"
							execute="@this"
							immediate="true"
							action="#{catalogXItemBean.setEnteredListName('')}"
							render=":favoritesListModal"
							oncomplete="showPopup('favoritesListModal');" />
				</div>
			</h:panelGroup>
			
			<ui:include src="/admin/property/propertyRelation.xhtml">
				<ui:param name="bean" value="#{catalogXItemBean}" />
				<ui:param name="typeBean" value="#{itemPropertyTypeBean}" />
				<ui:param name="propertyList" value="#{forgeview:asList(bean.catalogXItem.properties)}" />
			</ui:include>
			
		</h:panelGrid>
		
</ui:composition>
