<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                template="/WEB-INF/layout/administrationTemplate.xhtml"
				xmlns:apd="http://java.sun.com/jsf/composite/apd">

    <f:metadata>
        <f:event type="preRenderView" listener="#{catalogXItemBean.retrieve}"/>
    </f:metadata>

    <ui:param name="pageTitle" value="Update Customer Item" />

    <ui:define name="header">
        Customer Item
    </ui:define>

    <ui:define name="subheader" />

    <ui:define name="footer" />

    <ui:define name="main">
        <h:form id="work">
            <h:panelGroup id="catalogXItemEdit_area" layout="block">
                <apd:search searchBean="#{catalogXItemSearchBean}" detailsRegion="work" searchRegion="searchCatalogXItem" />
				<ui:include src="/admin/catalogXItem/catalogXItemCatalogRead.xhtml" />
                <ui:include src="/admin/catalogXItem/catalogXItemDetails.xhtml" />
            </h:panelGroup>
            <ui:include src="/WEB-INF/layout/edit.xhtml">
                <ui:param name="bean" value="#{catalogXItemBean}" />
                <ui:param name="saveMethod" value="update" />
                <ui:param name="deleteMethod" value="delete" />
            </ui:include>
        </h:form>
        
		<ui:include src="/admin/property/propertyModal.xhtml">
			<ui:param name="bean" value="#{catalogXItemBean}" />
			<ui:param name="typeBean" value="#{itemPropertyTypeBean}" />
			<ui:param name="postConfirmRender" value="work:propertyList" />
		</ui:include>
		<ui:include src="/admin/catalogXItem/catalogXItemSubstituteModal.xhtml">
			<ui:param name="render" value="work" />
		</ui:include>
		<ui:include src="/admin/catalogXItem/favoritesListModal.xhtml">
			<ui:param name="render" value="work" />
		</ui:include>
    </ui:define>

</ui:composition>