<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	template="/WEB-INF/layout/administrationTemplate.xhtml">

	<f:metadata>
	</f:metadata>

	<ui:param name="pageTitle" value="Update Catalog Overrides"/>

	<ui:define name="header">
		Update Catalog Overrides On All Customer Items
	</ui:define>

	<ui:define name="subheader" />

	<ui:define name="footer"/>
	
	<ui:define name="main">
		<h:form id="work">
			<div class="btn-group" layout="block">
				<h:commandLink value="Calculate Overrides" 
					onclick="showPopup('overridesCalcModal'); return false;" 
					styleClass="btn btn-warn" 
					rendered="#{overrideRecalculationBean.canRecalculateOverrides()}"></h:commandLink>
			</div>

		</h:form>
		<rich:popupPanel id="overridesCalcModal" autosized="true" resizeable="false" moveable="false" domElementAttachment="parent">
			<h:form id="overridesCalcModalForm">
				<a4j:region>
					<f:facet name="header">
						<h:outputText value="Recalculate Overrides for ALL Customer Items" />
	    			</f:facet>
	    			<f:facet name="controls">
	        			<a4j:commandLink value="X" style="cursor:pointer" 
							onclick="#{rich:component('overridesCalcModal')}.hide(); return false;" />
	    			</f:facet>
	    			
					<h:outputText value="Recalculate Overrides for ALL Customer Items" />
					
					<br/><br/>
					
					<div class="btn-group" layout="block">
						<a4j:commandLink value="Confirm" styleClass="btn btn-primary" 
							action="#{overrideRecalculationBean.recalculateOverrides()}"
							oncomplete="hidePopup('overridesCalcModal');" 
							rendered="#{overrideRecalculationBean.canRecalculateOverrides()}"/>
						<a4j:commandLink value="Cancel" styleClass="btn btn-primary" immediate="true"
							oncomplete="hidePopup('overridesCalcModal');" />
					</div>

				</a4j:region>
			</h:form>
		      		
		</rich:popupPanel>	
	</ui:define>

</ui:composition>