<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:composite="http://java.sun.com/jsf/composite">
	<div>
		<h:outputLabel value="Name:"/>
		<h:inputText id="bulName" value="#{bulletin.name}" required="true"
			requiredMessage="#{validation['bulletin.field.name.required']}" />
		<rich:message for="bulName" styleClass="error" />
	</div>
	<div>
		<h:outputLabel value="Message:"/>
		<rich:editor id="bulMessage" value="#{bulletin.message}" required="true"
			requiredMessage="#{validation['bulletin.field.message.required']}" />
		<rich:message for="bulMessage" styleClass="error" />
	</div>
	<div>	
		<h:outputLabel value="Expiration Date:"/>
		<rich:calendar value="#{bulletin.expirationDate}" />
		<h:outputText/>
	</div>
	<div>
		<h:outputLabel value="Displayed to CSR instead of shopping customers:" />
		<h:selectBooleanCheckbox value="#{bulletin.csr}" />
	</div>
      		
</ui:composition>