<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:apd="http://java.sun.com/jsf/composite/apd"
	xmlns:composite="http://java.sun.com/jsf/composite">

	<composite:interface>
		<composite:attribute name="actionBean" required="true" />
		<composite:attribute name="accountCollection" required="true" />
		<composite:attribute name="render" />
	</composite:interface>

	<composite:implementation>

			<h:panelGroup>
				<a4j:region>
					<rich:extendedDataTable id="accountTable" 
						value="#{forgeview:asList(cc.attrs.accountCollection)}"
						var="account">
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Account Name" />
							</f:facet>
							<h:commandLink action="#{accountSearchBean.setSelection(account)}" 
								render="work" value="#{account.name}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Parent Account" />
							</f:facet>
								<h:outputText value="#{account.parentAccount.name}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Root Account" />
							</f:facet>
								<h:outputText value="#{account.rootAccount.name}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Active" />
							</f:facet>
								<h:selectBooleanCheckbox value="#{account.isActive}" disabled="true" />
						</rich:column>
					</rich:extendedDataTable>
				</a4j:region>
			</h:panelGroup>
	</composite:implementation>

</ui:composition>