<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:forgeview="http://jboss.org/forge/view"
                xmlns:apd="http://java.sun.com/jsf/composite/apd"
                xmlns:composite="http://java.sun.com/jsf/composite">

    <composite:interface>
        <composite:attribute name="account" required="true" />
    </composite:interface>

    <composite:implementation>
        <h:panelGroup layout="block">
            <p>
                <h:outputText value="Account Name: " />
                <h:outputText value="#{cc.attrs.account.name}"  />
            </p>
            <p>
                <h:outputText value="Parent Account: " />
                <h:commandLink value="#{cc.attrs.account.parentAccount.name}" action="#{accountSearchBean.setSelection(cc.attrs.account.parentAccount)}" 
                	rendered="#{cc.attrs.account.parentAccount != null}" render="work" />
                <h:outputText value="NONE"  rendered="#{cc.attrs.account.parentAccount == null}" />
            </p>
            <p>
                <h:outputText value="Root Account: " />
                <h:commandLink value="#{cc.attrs.account.rootAccount.name}"  action="#{accountSearchBean.setSelection(cc.attrs.account.rootAccount)}"
                	rendered="#{cc.attrs.account.rootAccount != null}" render="work" />
                <h:outputText value="NONE"  rendered="#{cc.attrs.account.rootAccount == null}" />
            </p>
            <p>
                <h:outputText value="Is Active: " />
                <h:selectBooleanCheckbox value="#{cc.attrs.account.isActive}" disabled="true" />
            </p>
        </h:panelGroup>
    </composite:implementation>

</ui:composition>