<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"	
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:apd="http://java.sun.com/jsf/composite/apd"
                xmlns:composite="http://java.sun.com/jsf/composite">

    <composite:interface>
        <composite:attribute name="searchBean" required="true" />
        <composite:attribute name="searchRegion" required="false" default="searchId" />
        <composite:attribute name="detailsRegion" required="true" />
        <composite:attribute name="requireSelection" required="false" default="false" />
        <composite:attribute name="actionBean" required="true" />
        <composite:attribute name="render" />

    </composite:interface>

    <composite:implementation>
        <h:panelGrid columnClasses="label,component,required" columns="2">
            <h:outputLabel for="#{cc.attrs.searchRegion}" value="#{cc.attrs.searchBean.setRequireSelection(cc.attrs.requireSelection)}" />
            <h:panelGroup id="#{cc.attrs.searchRegion}">
                <a4j:region>
                    <div class="well">
                        <div id="search-container">
                            <a4j:repeat value="#{cc.attrs.searchBean.values}" var="row" rowKeyVar="i">
                                <div layout="block">
                                    <h:outputLabel value="#{cc.attrs.searchBean.getCriteria()[i]}:" />
                                    <h:inputText value="#{row.value}" immediate="true" valueChangeListener="#{row.setValue}" />
                                </div>
                            </a4j:repeat>
                            <a4j:commandLink value="Search" styleClass="btn btn-primary pull-right" immediate="true" render="#{cc.attrs.searchRegion}" action="#{cc.attrs.searchBean.performSearch(cc.attrs.searchRegion.concat('Validate'),cc.attrs.actionBean.account.id)}" />
                        </div>
                    </div>
                    <rich:dataTable id="resultList" value="#{cc.attrs.searchBean.results}" var="row" rendered="#{cc.attrs.searchBean.searched}" >
                        <c:forEach var="columnName" items="#{cc.attrs.searchBean.columns}">
                            <rich:column>
                                <f:facet name="header">
                                    <h:outputText value="#{columnName}" />
                                </f:facet>
                                <h:outputText value="#{cc.attrs.searchBean.getCell(row, columnName)}" />
                            </rich:column>
                        </c:forEach>

                        <rich:column>
                            <f:facet name="header">
                                <h:outputText value="Edit:" />
                            </f:facet>
                            <a4j:commandLink 
								id="editAddress" 
								value="Edit "
								action="#{cc.attrs.actionBean.setCurrentAddress(row)}" 
								render="#{cc.attrs.render} :sectionAddressModal:addressModalForm"
								oncomplete="showPopup('sectionAddressModal:addressModal');">
								<a4j:param name="cid"
									value="#{javax.enterprise.context.conversation.id}" />
							</a4j:commandLink>
                        </rich:column>
                         <rich:column>
                            <f:facet name="header">
                                <h:outputText value="Remove:" />
                            </f:facet>
                            <a4j:commandLink  value="Remove" action="#{cc.attrs.actionBean.removeAddress(row)}" render="#{cc.attrs.render}" />
                        </rich:column>
                    </rich:dataTable>
                    <h:panelGroup rendered="#{cc.attrs.searchBean.searched}">
                    
                    	<apd:pagination pageDisplay="#{cc.attrs.searchBean.pageDisplay}" render="#{cc.attrs.searchRegion}" />
                    	<div class="pull-left">
                    		Total results: #{cc.attrs.searchBean.resultQuantity}
                    	</div>
                    	<div class="pull-right">
                    		<h:commandLink value="Download Results" immediate="true"
                    			action="#{cc.attrs.searchBean.downloadFile()}" />
                    	</div>
                    	
                    </h:panelGroup>
                    <h:panelGrid columns="2">
                        <c:forEach var="columnName" items="#{cc.attrs.searchBean.columns}">
                            <h:outputText value="#{columnName}:" rendered="#{cc.attrs.searchBean.selection != null}" />
                            <h:outputText value="#{cc.attrs.searchBean.getCell(cc.attrs.searchBean.selection, columnName)}" rendered="#{cc.attrs.searchBean.selection != null}" />
                        </c:forEach>
                    </h:panelGrid>
                    <h:inputHidden id="#{cc.attrs.searchRegion}Validate" validator="#{cc.attrs.searchBean.validateSelection}" />
                    <rich:message for="#{cc.attrs.searchRegion}Validate" styleClass="error" />
                </a4j:region>

            </h:panelGroup>
            <h:outputText />
        </h:panelGrid>
    </composite:implementation>

</ui:composition>