<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:apd="http://java.sun.com/jsf/composite/apd"
	xmlns:composite="http://java.sun.com/jsf/composite">

	<composite:interface>
		<composite:attribute name="actionBean" required="true" />
		<composite:attribute name="address" required="true" />
		<composite:attribute name="render" />
	</composite:interface>

	<composite:implementation>
		<h:outputText value="Add Address" />
		<h:panelGroup>
			<a4j:region>
				<div>
					<apd:address id="addressToAdd" address="#{cc.attrs.address}" />
				</div>
				<div>
					<a4j:commandLink value="Add Field"
						action="#{cc.attrs.actionBean.addAddressField()}"
						render="addressModalForm"
						execute="@region"
						styleClass="btn" >
						<a4j:param name="cid"
							value="#{javax.enterprise.context.conversation.id}" />
					</a4j:commandLink>
					<h:panelGroup id="additionalFieldsWrapper" rendered="#{cc.attrs.address != null and cc.attrs.address.type != null and cc.attrs.address.type.name.equals('SHIPTO')}">
					<a4j:commandLink value="Show Additional Fields"
						action="#{addressComponentBean.setShowAdditionalFields(true)}"
						render="additionalFieldsWrapper" rendered="#{!addressComponentBean.showAdditionalFields}"
						execute="@region" styleClass="btn" >
						<a4j:param name="cid"
							value="#{javax.enterprise.context.conversation.id}" />
					</a4j:commandLink>
					<a4j:commandLink value="Hide Additional Fields"
						action="#{addressComponentBean.setShowAdditionalFields(false)}"
						render="additionalFieldsWrapper" rendered="#{addressComponentBean.showAdditionalFields}"
						execute="@region" styleClass="btn" >
						<a4j:param name="cid"
							value="#{javax.enterprise.context.conversation.id}" />
					</a4j:commandLink>
					<h:panelGroup id="additionalFields" rendered="#{addressComponentBean.showAdditionalFields}">
						<a4j:repeat value="#{addressComponentBean.getAdditionalFields(cc.attrs.address)}" var="fieldName">
							<h:outputText value="#{fieldName}: " />
							<h:inputText value="#{addressComponentBean.valueMap[fieldName]}" immediate="true" />
							<br />
						</a4j:repeat>
					</h:panelGroup>
					</h:panelGroup>
					<a4j:commandLink value="Confirm"
						action="#{addressComponentBean.storeAddress(cc.attrs.address, cc.attrs.actionBean)}"
						render="#{cc.attrs.render} addressModalForm" 
						execute="@region"
						styleClass="btn btn-apd"
						oncomplete="hidePopup('sectionAddressModal:addressModal');" >
						<a4j:param name="cid"
							value="#{javax.enterprise.context.conversation.id}" />
					</a4j:commandLink>
				</div>
			</a4j:region>
		</h:panelGroup>
		<h:outputText />

	</composite:implementation>

</ui:composition>