<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:apd="http://java.sun.com/jsf/composite/apd"
	xmlns:composite="http://java.sun.com/jsf/composite">

	<composite:interface>
		<composite:attribute name="classificationCollection" required="true" />
		<composite:attribute name="render" />
	</composite:interface>

	<composite:implementation>
			<h:panelGroup>
				<a4j:region>
					<rich:extendedDataTable id="classificationTable" 
						value="#{cc.attrs.classificationCollection}"
						var="itemClassification">
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Code" />
							</f:facet>
							<h:outputText value="#{itemClassification.classificationCode != null ? itemClassification.classificationCode.codeType.name : 'NONE'}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Type" />
							</f:facet>
								<h:outputText value="#{itemClassification.itemClassificationType != null ? itemClassification.itemClassificationType.name : 'NONE'}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Image" />
							</f:facet>
							<h:outputText value="#{itemClassification.itemClassificationImage != null ? itemClassification.itemClassificationImage.imageUrl : 'NONE'}" />
						</rich:column>
					</rich:extendedDataTable>
				</a4j:region>
			</h:panelGroup>
			<h:outputText />
	</composite:implementation>

</ui:composition>