<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:apd="http://java.sun.com/jsf/composite/apd"
	xmlns:composite="http://java.sun.com/jsf/composite">

	<composite:interface>
		<composite:attribute name="customerCost" required="true" />
		
		<composite:attribute name="showItem" default="true" />
		<composite:attribute name="showCustomer" default="true" />
		<composite:attribute name="showValue" default="true" />

		<composite:attribute name="allowItemInput" default="true" />
		<composite:attribute name="allowCustomerInput" default="true" />
		<composite:attribute name="allowValueInput" default="true" />
		
		<composite:attribute name="allowInput" default="true" />
	</composite:interface>

	<composite:implementation>
		<h:panelGroup>
		
			<h:panelGroup id="customer" rendered="#{cc.attrs.showCustomer}">
				<h:outputLabel value="Customer: " />
				<h:panelGroup rendered="#{cc.attrs.allowInput and cc.attrs.allowCustomerInput}">
					<h:inputText value="#{cc.attrs.customerCost.customer.name}" size="50" maxlength="50" rendered="#{cc.attrs.customerCost.customer != null}" />
					<h:outputText value="NONE" rendered="#{cc.attrs.customerCost.customer == null}" />
				</h:panelGroup>
				<h:panelGroup rendered="#{!cc.attrs.allowInput or !cc.attrs.allowCustomerInput}">
					<h:outputText value="#{cc.attrs.customerCost.customer != null ? cc.attrs.customerCost.customer.name : 'NONE'}" />
				</h:panelGroup>
			</h:panelGroup>
		
			<h:panelGroup id="item" rendered="#{cc.attrs.showItem}">
				<h:outputLabel value="Item: " />
				<h:panelGroup rendered="#{cc.attrs.allowInput and cc.attrs.allowItemInput}">
					<h:inputText value="#{cc.attrs.customerCost.item.name}" size="50" maxlength="50" rendered="#{cc.attrs.customerCost.item != null}" />
					<h:outputText value="NONE" rendered="#{cc.attrs.customerCost.item == null}" />
				</h:panelGroup>
				<h:panelGroup rendered="#{!cc.attrs.allowInput or !cc.attrs.allowItemInput}">
					<h:outputText value="#{cc.attrs.customerCost.item != null ? cc.attrs.customerCost.item.name : 'NONE'}" />
				</h:panelGroup>
			</h:panelGroup>
			
			<h:panelGroup id="value" rendered="#{cc.attrs.showValue}">
				<h:outputLabel value="Value: " />
				<h:panelGroup rendered="#{cc.attrs.allowInput and cc.attrs.allowValueInput}">
					<h:inputText value="#{cc.attrs.customerCost.value}" size="10" maxlength="10" rendered="#{cc.attrs.customerCost != null}" />
					<h:outputText value="NONE" rendered="#{cc.attrs.customerCost == null}" />
				</h:panelGroup>
				<h:panelGroup rendered="#{!cc.attrs.allowInput or !cc.attrs.allowValueInput}">
					<h:outputText value="#{cc.attrs.customerCost != null ? cc.attrs.customerCost.value : 'NONE'}" />
				</h:panelGroup>
			</h:panelGroup>

		</h:panelGroup>
	</composite:implementation>

</ui:composition>