<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:apd="http://java.sun.com/jsf/composite/apd"
	xmlns:composite="http://java.sun.com/jsf/composite">

	<composite:interface>
		<composite:attribute name="propertyCollection" required="true" />

		<composite:attribute name="showPropertyType" default="true" />
		<composite:attribute name="showPropertyValue" default="true" />
		<composite:attribute name="showActions" default="true" />

		<composite:attribute name="allowPropertyTypeInput" default="true" />
		<composite:attribute name="allowPropertyValueInput" default="true" />
		<composite:attribute name="allowActionsInput" default="true" />
		
		<composite:attribute name="allowInput" default="true" />
		
		<composite:attribute name="actionBean" required="true" />
		<composite:attribute name="render" />
	</composite:interface>

	<composite:implementation>
			<h:panelGroup>
				<a4j:region>
					<rich:extendedDataTable id="itemPropTable" 
						value="#{forgeview:asList(cc.attrs.propertyCollection)}"
						var="property">
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Property Type" />
							</f:facet>
							<div>
								<h:outputText value="#{property.type.name}" />
							</div>
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Property Value" />
							</f:facet>
							<div>
								<h:outputText value="#{property.value}" />
							</div>
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Action" />
							</f:facet>
							<a4j:commandLink value="Remove"
								action="#{cc.attrs.actionBean.removeProperty(property)}"
								render="#{cc.attrs.render} itemPropTable" />
						</rich:column>
					</rich:extendedDataTable>
				</a4j:region>
			</h:panelGroup>
			<h:outputText />
	</composite:implementation>

</ui:composition>
