<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:apd="http://java.sun.com/jsf/composite/apd"
	xmlns:composite="http://java.sun.com/jsf/composite">

	<composite:interface>
		<composite:attribute name="actionBean" required="true" />
		<composite:attribute name="itemProperty" required="true" />
		<composite:attribute name="render" />
	</composite:interface>

	<composite:implementation>

		<rich:popupPanel id="itemPropertyModal" autosized="true" resizeable="false"
			moveable="false" domElementAttachment="parent">
			<h:form id="itemPropertyModalForm">
				<a4j:region>
					<f:facet name="header">
						<h:outputText value="Add Item Property" />
					</f:facet>
					<f:facet name="controls">
						<h:commandLink value="X" style="cursor:pointer">
							<rich:componentControl target="itemPropertyModal" operation="hide" />
						</h:commandLink>
					</f:facet>

					<h:outputLabel value="Property Type: " />
					<h:selectOneMenu value="#{cc.attrs.itemProperty.type}"
						converter="#{itemPropertyTypeBean.converter}">
						<f:selectItems value="#{itemPropertyTypeBean.all}" var="type"
							itemValue="#{type}" itemLabel="#{type.name}" />
					</h:selectOneMenu>

					<h:outputLabel value="Value: " />
					<h:inputText value="#{cc.attrs.itemProperty.value}" size="50" maxlength="50" />

					<a4j:commandLink value="Confirm"
						action="#{cc.attrs.actionBean.addProperty()}"
						render="#{cc.attrs.render}" execute="@region"
						styleClass="btn btn-primary"
						oncomplete="hidePopup('sectionItemPropertyModal:itemPropertyModal');">
						<a4j:param name="cid"
							value="#{javax.enterprise.context.conversation.id}" />
					</a4j:commandLink>
					<a4j:commandLink 
						value="Cancel" 
						styleClass="btn btn-primary"
						immediate="true"
						render="itemPropertyModalForm"
						action="#{cc.attrs.actionBean.clearFields(':sectionItemPropertyModal:itemPropertyModalForm')}" 
						oncomplete="hidePopup('sectionItemPropertyModal:itemPropertyModal');">
						<a4j:param name="cid" value="#{javax.enterprise.context.conversation.id}" />
					</a4j:commandLink>
				</a4j:region>
			</h:form>
		</rich:popupPanel>

	</composite:implementation>

</ui:composition>