<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:apd="http://java.sun.com/jsf/composite/apd"
	xmlns:composite="http://java.sun.com/jsf/composite">

	<composite:interface>
		<composite:attribute name="itemClassification" required="true" />
		
		<composite:attribute name="showClassCode" default="true" />
		<composite:attribute name="showClassType" default="true" />
		<composite:attribute name="showClassImage" default="true" />
		<composite:attribute name="showClassNotes" default="true" />

		<composite:attribute name="showClassCodeInput" default="true" />
		<composite:attribute name="showClassTypeInput" default="true" />
		<composite:attribute name="showClassImageInput" default="true" />
		<composite:attribute name="showClassNotesInput" default="true" />
		
		<composite:attribute name="allowInput" default="true" />
	</composite:interface>

	<composite:implementation>
		<h:panelGroup>
		
			<h:panelGroup id="classCode" rendered="#{cc.attrs.showClassCode}">
				<h:outputLabel value="Classification Code: " />
				<h:panelGroup rendered="#{cc.attrs.allowInput and cc.attrs.allowClassCodeInput}">
					<h:inputText value="#{cc.attrs.itemClassification.classificationCode.codeType.name}" size="50" maxlength="50" rendered="#{cc.attrs.itemClassification.classificationCode != null}" />
					<h:outputText value="NONE"  rendered="#{itemClassification.classificationCode == null}" />
				</h:panelGroup>
				<h:panelGroup rendered="#{!cc.attrs.allowInput or !cc.attrs.allowClassCode}">
					<h:outputText value="#{cc.attrs.itemClassification.classificationCode != null ? cc.attrs.itemClassification.classificationCode.codeType.name : 'NONE'}" />
				</h:panelGroup>
			</h:panelGroup>
		
			<h:panelGroup id="classType" rendered="#{cc.attrs.showClassType}">
				<h:outputLabel value="Classification Type: " />
				<h:panelGroup rendered="#{cc.attrs.allowInput and cc.attrs.allowClassTypeInput}">
					<h:inputText value="#{cc.attrs.itemClassification.itemClassificationType.name}" size="50" maxlength="50" rendered="#{cc.attrs.itemClassification.itemClassificationType != null}" />
					<h:outputText value="NONE" rendered="#{cc.attrs.itemClassification.itemClassificationType == null}" />
				</h:panelGroup>
				<h:panelGroup rendered="#{!cc.attrs.allowInput or !cc.attrs.allowClassTypeInput}">
					<h:outputText value="#{cc.attrs.itemClassification.itemClassificationType != null ? cc.attrs.itemClassification.itemClassificationType.name : 'NONE'}" />
				</h:panelGroup>
			</h:panelGroup>
			
			<h:panelGroup id="classImage" rendered="#{cc.attrs.showClassImage}">
				<h:outputLabel value="Classification Image: " />
				<h:panelGroup rendered="#{cc.attrs.allowInput and cc.attrs.allowClassImageInput}">
					<h:inputText value="#{cc.attrs.itemClassification.itemClassificationImage.imageUrl}" size="50" maxlength="50" rendered="#{cc.attrs.itemClassification.itemClassificationImage != null}" />
					<h:outputText value="NONE" rendered="#{cc.attrs.itemClassification.itemClassificationImage == null}" />
				</h:panelGroup>
				<h:panelGroup rendered="#{!cc.attrs.allowInput or !cc.attrs.allowClassImageInput}">
					<h:outputText value="#{cc.attrs.itemClassification.itemClassificationImage != null ? cc.attrs.itemClassification.itemClassificationImage.imageUrl : 'NONE'}" />
				</h:panelGroup>
			</h:panelGroup>
			
			<h:panelGroup id="classNote" rendered="#{cc.attrs.showClassNotes}">
				<h:outputLabel value="Classification Note: " />
				<h:panelGroup rendered="#{cc.attrs.allowInput and cc.attrs.allowClassNotesInput}">
					<ui:repeat var="note" value="#{forgeview:asList(cc.attrs.itemClassification.classificationNotes)}">
						<h:inputText value="#{note.noteType.name}" size="50" maxlength="50" rendered="#{note.noteType != null}" />
						<h:outputText value="NONE" rendered="#{note.noteType == null}" />
						<br />
					</ui:repeat>
				</h:panelGroup>
				<h:panelGroup rendered="#{!cc.attrs.allowInput or !cc.attrs.allowClassNotesInput}">
					<ui:repeat var="note" value="#{forgeview:asList(cc.attrs.itemClassification.classificationNotes)}">
						<h:outputText value="#{note.noteType != null ? note.noteType.name : 'NONE'}" />
						<br />
					</ui:repeat>
				</h:panelGroup>
			</h:panelGroup>

		</h:panelGroup>
	</composite:implementation>

</ui:composition>