<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:apd="http://java.sun.com/jsf/composite/apd"
	xmlns:composite="http://java.sun.com/jsf/composite">

	<composite:interface>
		<composite:attribute name="actionBean" required="true" />
		<composite:attribute name="render" />
	</composite:interface>

	<composite:implementation>

		<rich:popupPanel id="itemCategoryModal" autosized="true"
			resizeable="false" moveable="false" domElementAttachment="parent">
			<h:form id="itemCategoryModalForm">
				<a4j:region>
					<f:facet name="header">
						<h:outputText value="Add Item Category" />
					</f:facet>
					<f:facet name="controls">
						<h:commandLink value="X" style="cursor:pointer">
							<rich:componentControl target="itemCategoryModal"
								operation="hide" />
						</h:commandLink>
					</f:facet>

					<a4j:outputPanel id="itemCategorySearchRegion">
						<apd:search searchBean="#{itemCategorySearchBean}"
							detailsRegion="itemCategoryModalForm"
							searchRegion="itemCategorySearch" requireSelection="true" />
					</a4j:outputPanel>

					<div class="buttons">
						<a4j:commandLink value="Confirm" styleClass="btn btn-primary"
							render="#{cc.attrs.render} itemCategoryModalForm"
							execute="@region"
							action="#{cc.attrs.actionBean.addItemCategory(itemCategorySearchBean.clearSelection())}"
							oncomplete="hidePopup('sectionItemCategoryModal:itemCategoryModal');" >
							<a4j:param name="cid"
									value="#{javax.enterprise.context.conversation.id}" />
						</a4j:commandLink>
						<a4j:commandLink value="Cancel" styleClass="btn btn-primary"
							immediate="true" 
							render="itemCategoryModalForm"
							action="#{itemCategorySearchBean.clearSelection()}"
							oncomplete="hidePopup('sectionItemCategoryModal:itemCategoryModal');" />
					</div>
				</a4j:region>
			</h:form>
		</rich:popupPanel>

	</composite:implementation>

</ui:composition>