<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:apd="http://java.sun.com/jsf/composite/apd"
	xmlns:composite="http://java.sun.com/jsf/composite">

	<composite:interface>
		<composite:attribute name="manufacturer" required="true" />
		
		<composite:attribute name="showName" default="true" />

		<composite:attribute name="allowNameInput" default="true" />
		
		<composite:attribute name="allowInput" default="true" />
	</composite:interface>

	<composite:implementation>
		<h:panelGroup>
		
			<h:panelGroup id="manufactName" rendered="#{cc.attrs.showName}">
				<h:outputLabel value="Manufacturer: " />
				<h:panelGroup rendered="#{cc.attrs.allowInput and cc.attrs.allowNameInput}">
					<h:inputText value="#{cc.attrs.manufacturer.name}" size="50" maxlength="50" rendered="#{cc.attrs.manufacturer != null}" />
					<h:outputText value="NONE"  rendered="#{cc.attrs.manufacturer == null}" />
				</h:panelGroup>
				<h:panelGroup rendered="#{!cc.attrs.allowInput or !cc.attrs.allowNameInput}">
					<h:outputText value="#{cc.attrs.manufacturer != null ? cc.attrs.manufacturer.name : 'NONE'}" />
				</h:panelGroup>
			</h:panelGroup>

		</h:panelGroup>
	</composite:implementation>

</ui:composition>