<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:composite="http://java.sun.com/jsf/composite">
	
	<composite:interface>
		<composite:attribute name="pageDisplay" required="true" />
		<composite:attribute name="render" required="false" default="result-pages" />
	</composite:interface>

	<composite:implementation>
			<span class="help-inline">Products per page</span>
			<h:selectOneMenu id="page-size-selection"
				value="#{cc.attrs.pageDisplay.pageSize}"
                                styleClass="span1">
				<f:selectItems value="#{cc.attrs.pageDisplay.sizes}" />
				<f:ajax event="change" execute="@all" render=":#{cc.attrs.render}" />
			</h:selectOneMenu>
	</composite:implementation>

</ui:composition>