<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:apd="http://java.sun.com/jsf/composite/apd"
                xmlns:composite="http://java.sun.com/jsf/composite">

    <composite:interface>
        <composite:attribute name="actionBean" required="true" />
        <composite:attribute name="phoneNumber" required="true" />
        <composite:attribute name="render" />        
		<composite:attribute name="modalId" required="false"/>
    </composite:interface>

    <composite:implementation>

        <rich:popupPanel id="phoneNumberModal" autosized="true"
                         resizeable="false" domElementAttachment="parent">
            <rich:panel header="Add Phone Number" id="addPhoneNumberPanel">
                <a4j:region>
                    <h:form id="phoneNumberModalForm">
                        <div>
                            <div>  
                                <div>
                                    <h:outputLabel value="Type:"/>
                                    <h:selectOneMenu id="phoneType" value="#{cc.attrs.phoneNumber.type}"
                                                     converter="#{phoneNumberTypeBean.converter}"
                                                     required="true"
                                                     requiredMessage="#{validation['field.type.required']}">
                                        <f:selectItem itemLabel="Select..." noSelectionOption="true"/>
                                        <f:selectItems value="#{phoneNumberTypeBean.all}" var="type"
                                                       itemValue="#{type}" itemLabel="#{type.name}" />
                                    </h:selectOneMenu>
                                    <rich:message for="phoneType" styleClass="error" />
                                </div>
                                <div>
                                    <h:outputLabel value="Number (XXX) XXX-XXXX:"/>
                                    <h:inputText id="phoneLine" value="#{cc.attrs.actionBean.phoneNumberReadable}" maxlength="14" required="true" 
                                    	validatorMessage="Number must be of the format (XXX) XXX-XXXX or X-XXX-XXX-XXXX."
                                    	requiredMessage="#{validation['phoneNumber.field.lineNumber.required']}">
                                    	<f:validateRegex pattern="#{cc.attrs.actionBean.phoneNumberReadableRegex}" />
                                    </h:inputText>
                                    <rich:message for="phoneLine" styleClass="error" />
                                </div>
                                <div>
                                    <h:outputLabel value="Extension:  (e.g. 4222)" />
                                    <h:inputText id="phoneExt" value="#{cc.attrs.phoneNumber.extension}" maxlength="5" 
                                    	validatorMessage="Extension must only contain numbers between 1 and 5 digits.">
                                    	<f:validateRegex pattern="([0-9]*)" />
                                    	<f:validateLength minimum="0" maximum="5" />
                                    </h:inputText>
                                    <rich:message for="phoneExt" styleClass="error" />
                                </div>
                            </div>
                            <div>
                                <a4j:commandLink value="Confirm"
                                                 action="#{cc.attrs.actionBean.addPhoneNumber()}"
                                                 render="#{cc.attrs.render} phoneNumberModalForm" 
                                                 execute="@region"
                                                 styleClass="btn btn-apd"
                                                 oncomplete="hidePopup('#{empty cc.attrs.modalId ? 'sectionPhoneNumberModal:phoneNumberModal': cc.attrs.modalId .concat( ':phoneNumberModal')}');" >
                                    <a4j:param name="cid"
                                               value="#{javax.enterprise.context.conversation.id}" />
                                </a4j:commandLink>
                                <a4j:commandLink 
                                    value="Cancel" 
                                    styleClass="btn"
                                    immediate="true"
                                    render="phoneNumberModalForm"
                                    action="#{cc.attrs.actionBean.clearFields(empty cc.attrs.modalId ? 'sectionPhoneNumberModal:phoneNumberModalForm': cc.attrs.modalId .concat( ':phoneNumberModalForm'))}" 
                                    oncomplete="hidePopup('#{empty cc.attrs.modalId ? 'sectionPhoneNumberModal:phoneNumberModal': cc.attrs.modalId .concat( ':phoneNumberModal')}');">
                                    <a4j:param name="cid" value="#{javax.enterprise.context.conversation.id}" />
                                </a4j:commandLink>
                            </div>
                        </div>
                    </h:form>
                </a4j:region>
            </rich:panel>
        </rich:popupPanel>

    </composite:implementation>

</ui:composition>
