<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:apd="http://java.sun.com/jsf/composite/apd"
	xmlns:composite="http://java.sun.com/jsf/composite">

	<composite:interface>
		<composite:attribute name="actionBean" required="true" />
		<composite:attribute name="processCollection" required="true" />
	</composite:interface>

	<composite:implementation>
		<h:panelGroup>
			<apd:processList actionBean="#{cc.attrs.actionBean}" processCollection="#{cc.attrs.processCollection}" render="work" />
			
			<h:commandLink action="#{cc.attrs.actionBean.createProcess()}" value="Add Process" styleClass="btn btn-primary" >
				<rich:componentControl target="processModal" operation="show" />
			</h:commandLink>
		</h:panelGroup>
	</composite:implementation>

</ui:composition>