<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"	
                xmlns:forgeview="http://jboss.org/forge/view"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:apd="http://java.sun.com/jsf/composite/apd">


    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>APD Send Cart/Order</title>

        <script>
        
            function postCxmlContent() 
	    {
                var e = document.getElementById("cxmlContentForm");
                e.submit();
	    }

        </script>
    </h:head>
    <f:metadata>
    <f:event type="preRenderView" listener="#{returnCartBean.init}"/>
    </f:metadata>
    <h:body onload="postCxmlContent()">
 
            <form id="cxmlContentForm" action="#{returnCartBean.punchoutSession.browserFormPostUrl}" method="post" 
                    target="#{returnCartBean.punchoutSession.browserFormPostTargetFrame}">
                <h:panelGroup rendered="#{returnCartBean.punchoutType eq 'OCI'}">
                    <ui:repeat var="lineItem" value="#{forgeview:asList(returnCartBean.punchoutSession.customerOrder.items)}">
                        <input type="hidden" name="NEW_ITEM-DESCRIPTION[#{lineItem.lineNumber}]"
                                       value="#{lineItem.descriptionLength40}" />
                        <input type="hidden" name="NEW_ITEM-QUANTITY[#{lineItem.lineNumber}]"
                                       value="#{lineItem.quantity}" />
                        <input type="hidden" name="NEW_ITEM-UNIT[#{lineItem.lineNumber}]"
                                       value="#{lineItem.unitOfMeasure.name}" />
                        <input type="hidden" name="NEW_ITEM-PRICE[#{lineItem.lineNumber}]"
                                       value="#{lineItem.unitPrice}" />
                        <input type="hidden" name="NEW_ITEM-CURRENCY[#{lineItem.lineNumber}]"
                                       value="USD" />
                        <input type="hidden" name="NEW_ITEM-LEADTIME[#{lineItem.lineNumber}]"
                                       value='#{returnCartBean.punchoutSession.credential.getPropertyValueByType("lead time")}' />
                        <h:panelGroup rendered="#{credentialSelectionBean.propertyMap['sku on shopping cart'] eq 'S'}">
                        	<input type="hidden" name="NEW_ITEM-VENDORMAT[#{lineItem.lineNumber}]"
                                       value="#{lineItem.supplierPartId}" />
                        </h:panelGroup>
                        <h:panelGroup rendered="#{credentialSelectionBean.propertyMap['sku on shopping cart'] eq 'A'}">
                        	<input type="hidden" name="NEW_ITEM-VENDORMAT[#{lineItem.lineNumber}]"
                                       value="#{lineItem.supplierPartAuxiliaryId}" />
                        </h:panelGroup>
                        <h:panelGroup rendered="#{credentialSelectionBean.propertyMap['sku on shopping cart'] eq 'B'}">
                        	<input type="hidden" name="NEW_ITEM-VENDORMAT[#{lineItem.lineNumber}]"
                                       value="#{lineItem.vendorMat}" />
                        </h:panelGroup>
                        <input type="hidden" name="NEW_ITEM-MATGROUP[#{lineItem.lineNumber}]"
                                   value="#{lineItem.unspscClassification}" />
                        <input type="hidden" name="NEW_ITEM-MANUFACTCODE[#{lineItem.lineNumber}]"
                                       value="#{lineItem.manufacturerName}" />
                        <input type="hidden" name="NEW_ITEM-MANUFACTMAT[#{lineItem.lineNumber}]"
                                       value="#{lineItem.manufacturerPartId}" />
                        <input type="hidden" name="NEW_ITEM-LONGTEXT_#{lineItem.lineNumber}:132[]"
                                       value="#{lineItem.description}" />                       
                        <input type="hidden" name="NEW_ITEM-PRICEUNIT[#{lineItem.lineNumber}]"
                                       value='#{returnCartBean.punchoutSession.credential.getPropertyValueByType("price unit")}' />
                        
                                     
                    </ui:repeat>
                </h:panelGroup>
                <h:panelGroup rendered="#{returnCartBean.punchoutType eq 'CXML'}">
                    <input type="hidden" name="cXML-base64" value="#{returnCartBean.punchoutOrderMessage}" />                    
                </h:panelGroup>
                <h:commandButton id="submit1" value="Return Cart" />
            </form>

        
    </h:body>
    
</ui:composition>