<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/WEB-INF/layout/reports/reportsTemplate.xhtml"
                xmlns:h="http://java.sun.com/jsf/html">

	<ui:param name="pageTitle" value="AP Invoice Report" />

	<ui:define name="header">
		AP Invoice Report
	</ui:define>

	<ui:define name="subheader" />

	<ui:define name="reportsMain">
		<h:form id="reports-form" rendered="#{workflowTaskBean.hasPermission('view data for all accounts')}">
			<ui:include src="reportsActions.xhtml">
				<ui:param name="bean" value="#{apReportBean}" />
			</ui:include>
		</h:form>
	</ui:define>
</ui:composition>