<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/WEB-INF/layout/reports/reportsTemplate.xhtml"
                xmlns:a4j="http://richfaces.org/a4j">
	<ui:define name="reportsMain">
		<div class="phoenix-table phoenix-table-scroll">
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<a4j:repeat var="column" value="#{viewReportResultsBean.columns}">
							<th>#{column}</th>
						</a4j:repeat>
					</tr>
				</thead>
				<a4j:region>
					<tbody>
						<a4j:repeat rowKeyVar="index" var="row" value="#{viewReportResultsBean.results}">
							<tr>
								<a4j:repeat var="column" value="#{row}">
									<td class="span2">
										#{column}
									</td>
								</a4j:repeat>
							</tr>
						</a4j:repeat>
					</tbody>
				</a4j:region>
			</table>
		</div>
	</ui:define>
</ui:composition>