<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:a4j="http://richfaces.org/a4j">
                
	<f:metadata>
		<f:event type="preRenderView" listener="#{bean.retrieve}"/>
	</f:metadata>
	
	<div class="btn-group">
		<h:commandLink value="Download As CSV" action="#{bean.downloadAsCsv()}" styleClass="btn"/>
		<a4j:commandLink value="View on Page" action="#{bean.viewResultsInPage}" styleClass="btn"/>
	</div>
</ui:composition>