<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/WEB-INF/layout/reports/reportsTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich">

	<ui:param name="pageTitle" value="Shipmaster Report" />

	<ui:define name="header">
		Shipmaster Report
	</ui:define>

	<ui:define name="subheader" />
	
	<ui:define name="reportsMain">
		<h:form id="reports-form">
			
			<label for="shipDate">Ship Date:</label>
			<rich:calendar id="shipDate" value="#{shipmasterReportBean.shipDate}" required="true" />
			<rich:message for="shipDate" />
			<br />
			<label for="shipmasterCustomer">Customer:</label>
			<h:selectOneMenu id="shipmasterCustomer" value="#{shipmasterReportBean.account}"
				required="#{not workflowTaskBean.hasPermission('view data for all accounts')}">
		    		<f:selectItem itemLabel="Select..." noSelectionOption="true"/>
		   			<f:selectItems value="#{shipmasterReportBean.availableAccounts}"
		   				 var="account" itemValue="#{account}" itemLabel="#{account}" />
			</h:selectOneMenu>
			<rich:message for="shipmasterCustomer" />
			<br />
			<h:commandLink value="Download Report CSV" action="#{shipmasterReportBean.generateReport()}" />
		</h:form>
	</ui:define>
</ui:composition>