<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:apd="http://java.sun.com/jsf/composite/apd">
    
    <a4j:jsFunction name="manufacturerValueChanged" action="#{inkTonerSearchBean.manufacturerValueChanged()}" render="second" execute="@all">
    </a4j:jsFunction>
    <h:panelGroup rendered="#{searchBean.inkTonerRendered}">
        <div class="row-fluid">
            <div class="span5 well" id="ink-toner-container" >
                <h3>
                    Ink and Toner Search
                </h3>
                <h:panelGroup id="first" layout="block">
                    <h:form id="brandSelectForm">
                        <p>
                            Brand:
                        </p>                        
                        <h:selectOneMenu  id="brandMenu" converter="#{searchBean.inkTonerManufacturerConverter}" 
                                          valueChangeListener="#{inkTonerSearchBean.manufacturerValueChanged}" 
                                          value="#{inkTonerSearchBean.selectedManufacturer}"
                                          styleClass="ink-toner-menu">
                            <f:selectItem itemLabel="#{inkTonerSearchBean.SELECT_BRAND_DEFAULT}"
                                          noSelectionOption="true" itemDisabled="true" />
                            <f:selectItems value="#{searchBean.manufacturers}" var="manufacturer" itemValue="#{manufacturer}" 
                                           itemLabel="#{manufacturer.name}"/>
                            <f:ajax event="change" execute="@form" render="@form"/>

                        </h:selectOneMenu>
                        <a4j:outputPanel id="second" layout="block">
                            <p>
                                Model:
                            </p>
                            <h:selectOneMenu rendered="#{inkTonerSearchBean.selectedManufacturer == null}" 
                                             disabled="true" styleClass="ink-toner-menu">
                                <f:selectItem itemValue="0" itemLabel="Select a brand first"
                                              noSelectionOption="true" itemDisabled="true" />                                
                            </h:selectOneMenu>
                            <h:selectOneMenu rendered="#{inkTonerSearchBean.selectedManufacturer != null}" 
                                             id="second-menu" value="#{inkTonerSearchBean.selectedModel}"
                                             styleClass="ink-toner-menu">
                                <f:selectItem itemValue="0" itemLabel="Select a model"
                                              noSelectionOption="false" itemDisabled="true" />
                                <f:selectItems value="#{inkTonerSearchBean.models}" />

                            </h:selectOneMenu>
                        </a4j:outputPanel>
                        <h:commandButton class="smallBtn btn" value="Search" action="#{inkTonerSearchBean.search()}" 
                                         onclick="return inkTonerBrandNotEmpty($(this).parent().children()[2].value, 
                                                     '#{inkTonerSearchBean.SELECT_BRAND_DEFAULT}', 
                                                     $($(this).parent().children()[5]).children()[0].id);"/>
                        <div>
                            <h:outputText value="Please select a brand and model" id="brand-empty-error-msg" 
                                          style="display:none; color: red; font-size: 12px; line-height: 1.0px;"/>
                        </div>
                    </h:form>
                </h:panelGroup>
            </div>
        </div> 
    </h:panelGroup>
        
</ui:composition>