<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"	
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:forgeview="http://jboss.org/forge/view"
                xmlns:composite="http://java.sun.com/jsf/composite">
    
    <div>
        <h:outputLabel value="Domain:"/>
        <h:inputText id="domainValue" value="#{cxmlCredential.domain}" required="true"
                     requiredMessage="#{validation['cxmlCredential.field.domain.required']}" />
        <rich:message for="domainValue" styleClass="error" />
        <h:outputText/>
    </div>
    <div>
        <h:outputLabel value="Identifier:"/>
        <h:inputText id="identifierValue" value="#{cxmlCredential.identifier}" required="true"
                     requiredMessage="#{validation['cxmlCredential.field.identifier.required']}" />
        <rich:message for="identifierValue" styleClass="error" />
        <h:outputText/>
    </div>


</ui:composition>