<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:apd="http://java.sun.com/jsf/composite/apd">

    <h:panelGroup layout="block">


        <h:panelGroup id="cxmlConfigurationNameBlock" layout="block">
            <h:outputLabel for="cxmlConfigurationName" value="Name:" />
            <h:inputText id="cxmlConfigurationName" styleClass="input-xlarge"
                         value="#{cxmlConfigurationBean.cxmlConfiguration.name}" required="true"
                         requiredMessage="#{validation['cxmlConfiguration.field.name.required']}" />
            <rich:message for="cxmlConfigurationName" styleClass="error" />
        </h:panelGroup>

        <ui:include src="/admin/cxml/cxmlFromCredentialRelation.xhtml">
            <ui:param name="bean" value="#{cxmlConfigurationBean}" />
            <ui:param name="labelText" value="From Credentials"/>
            <ui:param name="fromCredentialList" value="#{forgeview:asList(bean.cxmlConfiguration.fromCredentials)}" />
            <ui:param name="render" value="cxmlConfigurationAddForm" />
        </ui:include>
        
        <ui:include src="/admin/cxml/cxmlToCredentialRelation.xhtml">
            <ui:param name="bean" value="#{cxmlConfigurationBean}" />
            <ui:param name="labelText" value="To Credentials"/>
            <ui:param name="toCredentialList" value="#{forgeview:asList(bean.cxmlConfiguration.toCredentials)}" />
            <ui:param name="render" value="cxmlConfigurationAddForm" />
        </ui:include>

        <ui:include src="/admin/cxml/cxmlSenderCredentialRelation.xhtml">
            <ui:param name="bean" value="#{cxmlConfigurationBean}" />
            <ui:param name="labelText" value="Sender Credentials"/>
            <ui:param name="senderCredentialList" value="#{forgeview:asList(bean.cxmlConfiguration.senderCredentials)}" />
            <ui:param name="render" value="cxmlConfigurationAddForm" />
        </ui:include>

        <h:panelGroup id="cxmlConfigurationSenderSharedSecretBlock" layout="block">
            <h:outputLabel for="senderSharedSecret" value="Sender Shared Secret:" />
            <h:inputText id="senderSharedSecret" styleClass="input-xlarge"
                         value="#{cxmlConfigurationBean.cxmlConfiguration.senderSharedSecret}" required="true"
                         requiredMessage="#{validation['cxmlConfiguration.field.shared.secret.required']}" />
            <rich:message for="senderSharedSecret" styleClass="error" />
        </h:panelGroup>
        
        <div id="cxmlConfigurationSystemUserBlock" class="control-group">
            <label class="control-label" for="textinput">
                System User xPath Expression:</label>
            <div class="controls">
                <h:inputText id="systemUserXpathValue" styleClass="input-xlarge"
                             value="#{cxmlConfigurationBean.cxmlConfiguration.systemUserXpathExpression}" required="true"
                             requiredMessage="#{validation['cxmlConfiguration.field.systemUserXpathExpression.required']}" />
                <rich:message for="systemUserXpathValue" styleClass="error" />
            </div>
            <div><a href="http://www.freeformatter.com/xpath-tester.html">XPath Expression Tester</a></div>
            <label class="control-label" for="textinput">
                System User Prefix:</label>
            <div class="controls">
                <h:inputText id="systemUserPrefix" styleClass="input-xlarge"
                             value="#{cxmlConfigurationBean.cxmlConfiguration.systemUserPrefix}" required="false" />
                <rich:message for="systemUserPrefix" styleClass="error" />
            </div>
            <label class="control-label" for="textinput">
                Default System User:</label>
            <div class="controls">
                <h:inputText id="systemUserXpathExpressionDefaultResult" styleClass="input-xlarge"
                             value="#{cxmlConfigurationBean.cxmlConfiguration.systemUserXpathExpressionDefaultResult}" required="false" />
                <rich:message for="systemUserXpathExpressionDefaultResult" styleClass="error" />
            </div> 
        </div>
        
        <div id="cxmlConfigurationCredentialNameBlock" class="control-group">         
            <label class="control-label" for="textinput">
                Credential Name xPath Expression: </label>             
            <div class="controls">
                <h:inputText id="credentialXpathValue" styleClass="input-xlarge"
                             value="#{cxmlConfigurationBean.cxmlConfiguration.credentialNameXpathExpression}" />
                <rich:message for="credentialXpathValue" styleClass="error" />
                <label class="control-label">(Note: This should be added when there are multiple credentials associated with the account)</label>
            </div>
            <div><a href="http://www.freeformatter.com/xpath-tester.html">XPath Expression Tester</a></div>
            <label class="control-label" for="textinput">
                Credential Name Prefix:</label>
            <div class="controls">
                <h:inputText id="credentialNamePrefix" styleClass="input-xlarge"
                             value="#{cxmlConfigurationBean.cxmlConfiguration.credentialNamePrefix}" required="false" />
                <rich:message for="credentialNamePrefix" styleClass="error" />
            </div>
        </div>

        <h:panelGroup id="cxmlConfigurationDeploymentModeBlock" layout="block">
            <h:outputLabel for="cxmlConfigurationDeploymentMode" value="Deployment Mode:" />
            <h:selectOneMenu id="cxmlConfigurationDeploymentMode" value="#{cxmlConfigurationBean.cxmlConfiguration.deploymentMode}" required="true">
                <f:selectItems value="#{cxmlConfigurationBean.deploymentModes}" />
            </h:selectOneMenu>
            <rich:message for="cxmlConfigurationDeploymentMode" styleClass="error" />
        </h:panelGroup>

    </h:panelGroup>

</ui:composition>