<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:apd="http://java.sun.com/jsf/composite/apd"
                template="/WEB-INF/layout/administrationTemplate.xhtml">

    <f:metadata>
        <f:viewParam name="id" value="#{itemBean.item.id}" />
        <f:event type="preRenderView" listener="#{itemBean.retrieve}" />
    </f:metadata>

    <ui:param name="pageTitle" value="Update Item" />

    <ui:define name="header">
        Item
    </ui:define>

    <ui:define name="subheader" />

    <ui:define name="main">
        <h:form id="work">
            <apd:search searchBean="#{originalSkuSearchBean}" detailsRegion="work" searchRegion="searchingItem" />
            <ui:include src="/admin/item/itemDetails.xhtml" />

            <div class="buttons">
                <h:commandLink value="Save" action="#{itemBean.update}" styleClass="btn btn-primary">
                    <i class="icon-ok"/>
                </h:commandLink>
                <a4j:region>
                	<h:commandLink value="Discontinue and Save" action="#{itemBean.discontinue}" styleClass="btn btn-primary">
                    	<i class="icon-trash"/>
                	</h:commandLink>
                </a4j:region>
            </div>
        </h:form>
        <apd:skuModal id="sectionSkuModal" sku="#{itemBean.currentSku}" actionBean="#{itemBean}" render="work:skuSection:skuList:skuTable" />
        <apd:manufacturerModal id="sectionManufacturerModal" manufacturer="#{itemBean.currentManufacturer}" actionBean="#{itemBean}" render=":work:currentItem:itemManufact" />
        <apd:itemCategoryModal id="sectionItemCategoryModal" actionBean="#{itemBean}" render=":work:currentItem:itemCat" />
        <apd:itemModal id="sectionItemModal" item="#{itemBean.currentItem}" actionBean="#{itemBean}" render=":work:currentItem:itemReplacement" />
        
        <ui:include src="/admin/property/propertyModal.xhtml">
            <ui:param name="bean" value="#{itemBean}" />
            <ui:param name="typeBean" value="#{itemPropertyTypeBean}" />
            <ui:param name="postConfirmRender" value="work:propertyList" />
        </ui:include>
        
		<ui:include src="/admin/hierarchyNode/hierarchyNodeModal.xhtml">
			<ui:param name="render" value="itemHierarchy" />
		</ui:include>
    </ui:define>

</ui:composition>