<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:apd="http://java.sun.com/jsf/composite/apd">
		<rich:popupPanel id="itemModal" autosized="true" resizeable="false" moveable="false" domElementAttachment="parent">
		
		<h:form id="itemModalForm">
			<a4j:region>
			<f:facet name="header">
				<h:outputText value="View Item" />
   			</f:facet>
   			<f:facet name="controls">
       			<a4j:commandLink value="X" style="cursor:pointer" onclick="#{rich:component('itemModal')}.hide(); return false;" />
   			</f:facet>
   			
   			<div>
   				<apd:item item="#{itemBean.eagerLoad(item)}" showProperties="false" allowInput="false" />
   			</div>
   			
			<div>
				<div>
					<h:outputLabel value="Properties:"/>
				</div>
				<div>
					<rich:extendedDataTable id="itemProperties" value="#{forgeview:asList(item.properties)}" var="row" >
					
						<rich:column>
					       <f:facet name="header">
					         <h:outputText value="Type:" />
					       </f:facet>
					       <h:outputText value="#{row.type.name}" />
					    </rich:column>
				
						<rich:column>
					       <f:facet name="header">
					         <h:outputText value="Value:" />
					       </f:facet>
					       <h:outputText value="#{row.value}" />
					    </rich:column>
				
					</rich:extendedDataTable>
				</div>
			</div>
			
			<div class="buttons">
				<a4j:commandLink value="Close" styleClass="btn btn-primary" immediate="true" 
					oncomplete="hidePopup('itemModal');" />
			</div>
			
			</a4j:region>
		</h:form>
      		
	    </rich:popupPanel>
</ui:composition>