<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a4j="http://richfaces.org/a4j" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:rich="http://richfaces.org/rich">
	<div id="idletimeout">
	            You will be logged off in <span><!-- countdown place holder --></span>seconds due to inactivity. 
	            <a id="idletimeout-resume" href="#">Click here to continue using this web page</a>.
	 </div>
</ui:composition>