#content {
	height: 400px;
}

#footer {
	height: 400px;
}

/* mockup styling */
#announcement div {
	border: 1px solid #CCC;
	width: 100%;
	height: 180px;
	text-align: center;
}

#logo div {
	border: 1px solid #CCC;
	width: 100%;
	height: 380px;
	text-align: center;
}

#footer_left div {
	border: 1px solid #CCC;
	width: 100%;
	height: 380px;
}

#footer_right div {
	border: 1px solid #CCC;
	width: 100%;
	height: 380px;
}

#login div {
	width: 100%;
}

input.modal-submit {
	margin-left: 5px;
	margin-bottom: 9px;
}

.ui-input-invalid {
	border:1px solid #D00000 !important;
}