<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">

		<h:panelGrid columnClasses="label,component,required" columns="3">
			<h:outputLabel id="globalSettingSearchName" value="Global Setting Name:" />
			<h:panelGroup>
			<rich:autocomplete id="globalSettingSearchAutocomplete" minChars="1" autocompleteMethod="#{globalSettingBean.searchByString}" var="result" fetchValue="#{result.name}" value="#{globalSettingBean.globalSetting.name}"
				onselectitem="updateVal(#{rich:element('resultId')}.value, #{rich:element('resultName')}.value, #{rich:element('resultValue')}.value);" validator="#{globalSettingBean.validateSelection}" >
			<rich:column>
	                <h:outputText value="#{result.name}" id="nameInput" />
	                <h:inputHidden value="#{result.name}" id="resultName"  />
	                <h:inputHidden value="#{result.id}" id="resultId" />
	                <h:inputHidden value="#{result.value}" id="resultValue" />
	            </rich:column>
		        <a4j:jsFunction name="updateVal" render="work">
		            <a4j:param name="param1" assignTo="#{globalSettingBean.globalSetting.id}"  />  
		            <a4j:param name="param2" assignTo="#{globalSettingBean.globalSetting.name}"  />
					<a4j:param name="param3" assignTo="#{globalSettingBean.globalSetting.value}"  /> 
		        </a4j:jsFunction>
			</rich:autocomplete>
			<rich:message for="globalSettingSearchAutocomplete" styleClass="error"/>
			</h:panelGroup>
			<h:outputText />
		</h:panelGrid>

</ui:composition>