<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:apd="http://java.sun.com/jsf/composite/apd"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:composite="http://java.sun.com/jsf/composite">
	
	
	<h:panelGrid columns="3">
	
		<h:outputLabel value="Payment Type:"/>
    	<h:selectOneMenu id="paymentType" value="#{paymentInformation.paymentType}"
    		converter="#{paymentTypeBean.converter}" 
    		required="true" 
    		requiredMessage="A payment type is required">
    		<f:selectItem itemLabel="Select..." noSelectionOption="true"/>
			<f:selectItems value="#{paymentTypeBean.all}"
				 var="type" itemValue="#{type}" itemLabel="#{type.name}" />
    		<f:ajax event="change" listener="#{paymentInformationBean.clearUnneededFields(paymentInformation)}" 
    			render="paymentInformationModalForm" />
		</h:selectOneMenu>
		<rich:message for="paymentType" styleClass="error" />
		
		<h:outputLabel value="Billing Contact:"/>
		<h:panelGroup>
		<a4j:outputPanel id="paymentInformationContactInfo">
			<h:outputText value="#{paymentInformation.contact.firstName} #{paymentInformation.contact.lastName}" 
				rendered="#{paymentInformation.contact != null}" />
		</a4j:outputPanel>
		<a4j:commandLink value="Set Billing Contact" styleClass="btn btn-primary" 
				onclick="#{rich:component('paymentInformationModal')}.hide(); #{rich:component('paymentInformationPersonModal')}.show(); return false;" />
		</h:panelGroup>
		<h:outputText/>
		
		<h:outputLabel value="Invoice Send Method:" rendered="#{paymentInformationBean.shouldRender(paymentInformation, false)}" />
    	<h:outputText id="invoiceSendMethod" rendered="#{paymentInformationBean.shouldRender(paymentInformation, false)}"
    		value="(Determined by the Credential used to place the order)"/>
		<h:outputText rendered="#{paymentInformationBean.shouldRender(paymentInformation, false)}" />
		
		<h:outputLabel value="Is Summary Bill:" rendered="#{paymentInformationBean.shouldRender(paymentInformation, false)}" />
    	<h:selectBooleanCheckbox value="#{paymentInformation.summary}" rendered="#{paymentInformationBean.shouldRender(paymentInformation, false)}" />
		<h:outputText rendered="#{paymentInformationBean.shouldRender(paymentInformation, false)}" />
	
		<h:outputLabel value="Debit card:" for="paymentInformationDebit" rendered="#{paymentInformationBean.shouldRender(paymentInformation, true)}" />
		<h:panelGroup>
			<h:selectBooleanCheckbox id="paymentInformationDebit" value="#{paymentInformation.card.debit}" rendered="#{paymentInformationBean.shouldRender(paymentInformation, true)}" />
			<h:message for="paymentInformationDebit" styleClass="error" rendered="#{paymentInformationBean.shouldRender(paymentInformation, true)}" />
		</h:panelGroup>
		<h:outputText rendered="#{paymentInformationBean.shouldRender(paymentInformation, true)}" />
	
		<h:outputLabel for="paymentInformationNumber" value="Card Number:" rendered="#{paymentInformationBean.shouldRender(paymentInformation, true)}" />
		<h:panelGroup>
			<h:inputText id="paymentInformationNumber" value="#{paymentInformationBean.hiddenCard}" rendered="#{paymentInformationBean.shouldRender(paymentInformation, true)}" />
			<h:message for="paymentInformationNumber" styleClass="error" rendered="#{paymentInformationBean.shouldRender(paymentInformation, true)}" />
		</h:panelGroup>
		<h:outputText rendered="#{paymentInformationBean.shouldRender(paymentInformation, true)}" />
	
		<h:outputLabel for="paymentInformationExpiration" value="Expiration Date:" rendered="#{paymentInformationBean.shouldRender(paymentInformation, true)}" />
		<h:panelGroup>
			<rich:calendar id="paymentInformationExpiration" value="#{paymentInformation.card.expiration}" rendered="#{paymentInformationBean.shouldRender(paymentInformation, true)}" />
			<h:message for="paymentInformationExpiration" styleClass="error" rendered="#{paymentInformationBean.shouldRender(paymentInformation, true)}" />
		</h:panelGroup>
		<h:outputText rendered="#{paymentInformationBean.shouldRender(paymentInformation, true)}" />
		
		<h:outputLabel for="paymentInformationName" value="Name on Card:" rendered="#{paymentInformationBean.shouldRender(paymentInformation, true)}" />
		<h:panelGroup>
			<h:inputText id="paymentInformationName" value="#{paymentInformation.card.nameOnCard}" rendered="#{paymentInformationBean.shouldRender(paymentInformation, true)}" />
			<h:message for="paymentInformationName" styleClass="error" rendered="#{paymentInformationBean.shouldRender(paymentInformation, true)}" />
		</h:panelGroup>
		<h:outputText rendered="#{paymentInformationBean.shouldRender(paymentInformation, true)}" />
		
	</h:panelGrid>
	
	<h:outputText value="Billing Address:" />
	<a4j:commandLink value="#{(paymentInformation.billingAddress != null) ? 'Remove Billing Address' : 'Add Billing Address'}"
		action="#{bean.togglePaymentInfoAddress}" render="paymentInformationModalForm" 
		immediate="true" styleClass="btn btn-primary" />
	<c:if test="#{paymentInformation.billingAddress != null}">
		<apd:address id="billingAddress" address="#{paymentInformation.billingAddress}" />
	</c:if>
      		
</ui:composition>