<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                template="/WEB-INF/templates/ecommerceGeneralInformationTemplate.xhtml">
    <ui:define name="page_title">About APD</ui:define>
    <ui:define name="page_content">
            <h3>
                About APD
            </h3>
            <p>
                American Product Distributors, Inc. (APD) combines consulting, information
                technology and product distribution to deliver custom solutions to large
                enterprises. We provide the information needed to make better business
                decisions and the automated controls needed to ensure execution of those
                decisions, resulting in cost savings and a more streamlined procurement
                process. APD creates custom electronic catalogs for office supplies, industrial/MRO
                products, corporate identity products and other product categories as requested.
            </p>
            <p>
                Key Facts:
                <br/>
            </p>
            <ul>
                <li>
                    Founded in 1992
                </li>
                <li>
                    Number of users serviced - over 100,000
                </li>
                <li>
                    Number of customer locations - over 400,000
                </li>
                <li>
                    Number of orders processed annually - 300,000
                </li>
                <li>
                    Number of catalogs managed - nearly 200
                </li>
            </ul>
            <p>
            </p>
            <br/>
            <hr/>
            <b> APD Wharehouse Locations</b>
            <br/>
            <div id="warehouse-info">
                <div class="pull-left">
                    <img src="http://www.americanproduct.com/images/stories/USSCO_Warehouse_Map_2012.png"
                         width="400" height="244"/>   
                </div>
                <div class="pull-left">
                    <ul>
                        <li>Nationwide distribution network of 31 warehouses </li>
                        <li>Access to 9 million square feet of storage</li>
                        <li>Over 40,000 skus available for next-day delivery</li>
                    </ul>    
                </div>

            </div>
    </ui:define>
</ui:composition>