<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                template="/WEB-INF/templates/ecommerceGeneralInformationTemplate.xhtml">
    <ui:define name="page_title">American Product Distributors - Guarantee and Returns</ui:define>
    <ui:define name="page_content">
    	<h3>Guarantee and Returns</h3>
	      <p>Your complete satisfaction is our primary concern.  APD does accept and process
	      returns to aid in our goal for complete customer satisfaction.  Once the item
	      has been returned, APD will issue you an electronic credit.  Our policy is to wait 
	      seven (7) days before we issue the credit to ensure that the return has been picked
	      up.  You must contact APD Customer Service at 800-849-5842 to arrange for a
	      Pick/Up for Credit or change.</p>
	
	      <p>In order for APD to accept your return, the product must be returned in its
	      original packaging, in the ordering units of measure and in resalable condition
	      (unless damaged upon receipt).  Returns can be made up to thirty (30) days from 
	      the order date for 100% credit.</p>
	
	      <p>Special orders of non-stock merchandise, food, pharmaceuticals, dated goods,
	      furniture setup orders, factory authorized installation manufacturers, custom stamps
	      and some technology items are not returnable unless it is determined that the wrong
	      product was shipped.</p>
	
	      <p><b>Return Process via APD Customer Service:</b><br/><br/>
	
	      Step #1:  Call the APD Customer Service Department (877-769-0752)<br/>
	      </p><ul>
	        <li>Please provide the Customer Service representative with all pertinent information 
	           (order date, order number, PO number, invoice number, etc.).
	        </li><li>Be sure to provide the SKU number of the product being returned/credited.
	      </li></ul><br/>
	
	      Step #2:  Give a Brief Description of the Reason for the Return/Credit<br/>
	      <ul>
	        <li>Product is damaged/defective
	        </li><li>Delivery related
	        </li><li>Original order incorrect
	        </li><li>Customer request
	      </li></ul><br/>
	
	      Step #3:  APD will issue a Return Authorization number (RA) and arrange 
	      for the product(s ) to be picked up at no charge.  APD must receive all
	      return items within fifteen (15) days of RA issue date to prevent a
	      restocking charge.<p></p>
	      
	      ©COPYRIGHT 2011, American Product Distributors, Inc.<p>
	</p>
        <br/>
  </ui:define>
</ui:composition>