<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                template="/WEB-INF/templates/ecommerceGeneralInformationTemplate.xhtml">
    <ui:define name="page_title">Terms of Site Use</ui:define>
    <ui:define name="page_content">
	    <h3>Terms of Site Use</h3>
	    <p>
			Welcome to the eLink™ Gateway Internet Site ("Site"). You need to review these Site terms of use as they govern the use
	of and purchase of products from our Site. By searching, accessing, browsing, or using this Site, you
	acknowledge that you have read, understand, and agree to be bound by these terms. If you do not agree to these
	terms then please do not use this Site at all.</p><p>
	
	eLink™ Gateway controls and operates this Site from the offices of its trusted third party partner within the United
	States. Claims relating to, including the use of, this Site and the materials contained herein are governed by
	the laws of the United States and the State of NC. If you do not agree, please refrain from using this Site.
	If you choose to access this Site from another location, you do so on your own initiative and are responsible
	for compliance with applicable local, state, and federal laws.</p><p>
	
	
	SITE CONTENTS, OWNERSHIP, AND USE RESTRICTIONS</p><p>
	
	The information contained in this Site including all images, illustrations, designs, photographs, videoclips,
	writings and other materials that appear herein are copyrights, trademarks, trade dress or other intellectual
	property owned , controlled, or licensed (all of which, collectively, are herein referred to as the
	"Contents") by eLink™ Gateway or its subsidiaries and affiliates eLink™ Gateway or are the property of their respective owners.
	The name American Product and the eLink™ Gateway logo are registered marks of American Product Distributors, Inc.</p><p>
	
	Permission is granted to display, copy, distribute, download, or print in hard copy portions of this Site for
	the purposes of:</p><p>
	
	1.Placing an order with eLink™ Gateway or</p><p>
	
	2.Using this Site as a shopping resource, provided you do not modify the Site and that you retain all
	copyright and other proprietary notices contained in the Contents.</p><p>
	
	Except in connection with shopping or placing an order, none of the Contents may be copied, reproduced,
	distributed, republished, downloaded, displayed, posted electronically or mechanically, transmitted, recorded,
	in any manner mirrored, photocopied, or reproduced without the prior written consent of eLink™ Gateway or the applicable
	copyright owner.</p><p>
	
	Please note that the consent granted herein terminates automatically if you breach any of the Site terms and
	conditions. Any other use of the Contents on this Site including reproduction for purposes other than as noted
	above, and including any reproduction, modification, distribution, or republication may violate copyright or
	trademark laws, and, without the prior written consent of eLink™ Gateway, is strictly prohibited.</p><p>
	
	DISCLAIMER OF WARRANTY</p><p>
	
	ELINK™ GATEWAY IS PROVIDING THIS SITE AND ITS CONTENTS ON AN "AS IS" BASIS AND MAKES NO REPRESENTATIONS OR WARRANTIES OF
	ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, WARRANTIES OR CONDITIONS OF TITLE OR
	IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT. ALTHOUGH eLink™ Gateway
	BELIEVES THE CONTENT TO BE ACCURATE, COMPLETE, AND CURRENT, ELINK™ GATEWAY DOES NOT REPRESENT OR WARRANT THAT THE
	INFORMATIONACCESSIBLE ON THIS SITE IS ACCURATE, COMPLETE, OR CURRENT. Price and availability information is
	subject to change.</p><p>
	
	DISCLAIMER OF LIABILITY</p><p>
	
	IN NO EVENT SHALL ELINK™ GATEWAY BE LIABLE FOR SPECIAL, INDIRECT, EXEMPLARY, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
	WHATSOEVER, INCLUDING BUT NOT LIMITED TO, LOSS OF USE, DATA, OR PROFITS, WITHOUT REGARD TO THE FORM OF ANY
	ACTION, INCLUDING BUT NOT LIMITED TO CONTRACT, NEGLIGENCE, OR OTHER TORTIOUS ACTIONS, ALL ARISING OUT OF OR IN
	CONNECTION WITH THE USE, COPYING, OR DISPLAY OF THE CONTENTS OF THIS SITE. In an effort to provide our
	customers with the most current information, eLink™ Gateway will, from time to time, make changes in the Contents and in
	the products or services described on this Site.</p><p>
	
	ABOUT OUR PRICES</p><p>
	
	The prices shown on this Site are intended for your account only and are subject to your company's contract
	prices. Prices and the availability of items may be subject to change. Any "list prices" indicated on this
	Site are the manufacturers' suggested retail prices and are not indicative of the actual selling prices to
	your company.</p><p>
	
	We are not responsible for typographical or photographic errors whatsoever.</p><p>
	
	USER COMMENTS, FEEDBACK, AND OTHER INFORMATION SUBMISSIONS PROVIDED BY YOU</p><p>
	
	You agree that any material, information, and ideas that you transmit to this Site or otherwise provide to eLink™ Gateway
	("Transmissions") shall be and remain eLink™ Gateway's property.</p><p>
	
	All Transmissions will be treated as non-confidential and non-proprietary and eLink™ Gateway shall be under no obligation
	of any kind with respect to such information and shall be free to reproduce, use, disclose, and distribute the
	Transmissions to others without limitation. Additionally, eLink™ Gateway shall be free to use any ideas, concepts,
	know-how, or techniques contained in such information for any purpose whatsoever including, but not limited
	to, developing, manufacturing, or marketing products incorporating such information. You further agree that
	eLink™ Gateway may use information about your demographics and use of this Site in any manner that does not reveal your
	identity.</p><p>
	
	In addition, you agree, and are hereby put on notice, that you are prohibited from posting and/or transmitting
	to or from this Site any unlawful, threatening, libelous, defamatory, inflammatory, pornographic, or profane
	material or any other material that could give rise to any civil or criminal liability under law. You are
	solely responsible for the content of any comments you make in this regard.</p><p>
	
	TERMS OF USE REVISIONS</p><p>
	
	eLink™ Gateway may revise these terms of use by updating this posting. You agree that in the unlikely event any portion
	of these Site terms of use are found to be unenforceable, the remainder of these Site terms and conditions
	shall remain in full force and effect. By using this Site you officially agree to be bound by any such
	revisions and should therefore periodically visit this page to determine the then current terms of use to
	which you are bound.</p><p>
	
	
	©COPYRIGHT 2011, American Product Distributors, Inc.</p><p>
	
	    </p>
            <br/> 
</ui:define>
</ui:composition>