<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view">
		<rich:popupPanel id="credXVendorModal" autosized="true" resizeable="false" moveable="false" domElementAttachment="parent">
			<h:form id="credXVendorModalForm">
				<a4j:region>
					<f:facet name="header">
						<h:outputText value="Add Vendor Account ID" />
	    			</f:facet>
	    			<f:facet name="controls">
	        			<a4j:commandLink value="X" style="cursor:pointer" 
							onclick="#{rich:component('credXVendorModal')}.hide(); return false;" />
	    			</f:facet>

					<h:panelGrid columns="3">
						<h:outputLabel value="Account ID:"/>
						<h:inputText id="accountIdInput" value="#{credentialBean.currentCredXVendor.accountId}" />
						<rich:message for="accountIdInput" styleClass="error" />
						
						<h:outputLabel value="Vendor:"/>
						<h:selectOneMenu id="vendorSelect" value="#{credentialBean.currentCredXVendor.vendor}"
							converter="#{vendorBean.converter}">
					    	<f:selectItem itemLabel="Select..." noSelectionOption="true"/>
							<f:selectItems value="#{vendorBean.all}" />
						</h:selectOneMenu>
						<h:outputText/>
					</h:panelGrid>
					
					<div class="btn-group" layout="block">
						<a4j:commandLink value="Confirm" styleClass="btn btn-primary" 
							render="#{render}:credentialXVendors" 
							action="#{credentialBean.addCurrentCredXVendor()}"
							oncomplete="hidePopup('credXVendorModal');" />
						<a4j:commandLink value="Cancel" styleClass="btn btn-primary" 
							immediate="true" action="#{credentialBean.newCurrentCredXVendor()}"
							oncomplete="hidePopup('credXVendorModal');" />
					</div>

				</a4j:region>
			</h:form>
		      		
		</rich:popupPanel>	
</ui:composition>