<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view">
	
	<h:outputLabel for="credentialXVendors" value="Vendor Account IDs:"/>
	<h:panelGroup>
		<a4j:region>
		<rich:extendedDataTable id="credentialXVendors" value="#{credentialBean.credXVendors}" var="row" >
			<rich:column>
		       <f:facet name="header">
		         <h:outputText value="Vendor:" />
		       </f:facet>
		       <h:outputText value="#{row.vendor.name}" />
		    </rich:column>
		    
			<rich:column>
		       <f:facet name="header">
		         <h:outputText value="Account ID:" />
		       </f:facet>
		       <h:outputText value="#{row.accountId}" />
		    </rich:column>

                    <rich:column>
                        <f:facet name="header">
                            <h:outputText value="Edit:" />
                        </f:facet>
                        <a4j:commandLink 
                            id="editCredXVendor" 
                            value="Edit"
                            execute="@this"
                            immediate="true"
                            action="#{credentialBean.setCurrentCredXVendor(row)}"
                            render=":credXVendorModal :credXVendorModalForm"
                            oncomplete="showPopup('credXVendorModal');">
                            <a4j:param name="cid"
                                       value="#{javax.enterprise.context.conversation.id}" />
                        </a4j:commandLink>

                    </rich:column>
                    <rich:column>
                        <f:facet name="header">
                            <h:outputText value="Delete:" />
                        </f:facet>
                        <a4j:commandLink value="Delete" action="#{credentialBean.removeCredXVendor(row)}" render="work:credentialXVendors" />
                    </rich:column>
		</rich:extendedDataTable>
		</a4j:region>
			
		
		<a4j:region>
			<a4j:commandLink 
				id="addCredXVendor" 
				value="Add Account ID for Vendor"
				styleClass="btn btn-primary"
				execute="@this"
				immediate="true"
				action="#{credentialBean.newCurrentCredXVendor()}"
				render=":credXVendorModal :credXVendorModalForm"
				oncomplete="showPopup('credXVendorModal');">
				<a4j:param name="cid"
					value="#{javax.enterprise.context.conversation.id}" />
			</a4j:commandLink>
		</a4j:region>
		
	</h:panelGroup>
	<h:outputText/>
	
</ui:composition>