<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	template="/WEB-INF/layout/administrationTemplate.xhtml"
	xmlns:apd="http://java.sun.com/jsf/composite/apd">

	<f:metadata>
		<f:event type="preRenderView" listener="#{credentialBean.retrieve}"/>
	</f:metadata>

	<ui:param name="pageTitle" value="Update Credential"/>

	<ui:define name="header">
		Credential
	</ui:define>

	<ui:define name="subheader" />

	<ui:define name="footer"/>
	
	<ui:define name="main">
		<h:form id="work">
			<apd:search searchBean="#{credentialSearchBean}" detailsRegion="work" searchRegion="searching" />
			<ui:include src="credentialDetails.xhtml" />
<div class="btn-group" layout="block">
<h:commandLink value="Save" action="#{credentialBean.update}" styleClass="btn btn-success" ><i class="icon-ok"></i></h:commandLink>
<h:commandLink value="Delete" action="#{credentialBean.delete}" styleClass="btn btn-danger"><i class="icon-trash"/></h:commandLink>
<h:commandLink value="Clone" action="#{credentialBean.cloneSelectedCredential(credentialBean.credential)}" styleClass="btn btn-primary" />
</div>
		</h:form>
		<ui:include src="limitApprovalEditModal.xhtml">			
			<ui:param name="render" value="work" />
		</ui:include>
		<ui:include src="credentialApproverUserModal.xhtml">			
			<ui:param name="render" value="work" />
		</ui:include>
		<ui:include src="/admin/bulletin/bulletinModal.xhtml">
			<ui:param name="bean" value="#{credentialBean}" />
			<ui:param name="render" value="work" />
		</ui:include>
		<ui:include src="/admin/poNumber/poNumberModal.xhtml">
			<ui:param name="bean" value="#{credentialBean}" />
			<ui:param name="render" value="work" />
		</ui:include>
		<ui:include src="/admin/property/propertyModal.xhtml">
			<ui:param name="bean" value="#{credentialBean}" />
			<ui:param name="typeBean" value="#{credentialPropertyTypeBean}" />
			<ui:param name="postConfirmRender" value="work:propertyList" />
		</ui:include>
		<ui:include src="/admin/account/accountModal.xhtml">
			<ui:param name="bean" value="#{credentialBean}" />
			<ui:param name="render" value="work" />
		</ui:include>
		<ui:include src="/admin/catalog/catalogModal.xhtml">
			<ui:param name="bean" value="#{credentialBean.credential}" />
			<ui:param name="render" value="work" />
		</ui:include>
		<ui:include src="/admin/cashoutPage/cashoutPageModal.xhtml">
			<ui:param name="bean" value="#{credentialBean.credential}" />
			<ui:param name="render" value="work" />
		</ui:include>
		<ui:include src="/admin/notificationProperties/notificationModal.xhtml">
			<ui:param name="bean" value="#{credentialBean}" />
			<ui:param name="render" value="work" />
		</ui:include>
		<ui:include src="/admin/notificationProperties/notificationPersonSelectionModal.xhtml">
			<ui:param name="bean" value="#{credentialBean}" />
			<ui:param name="render" value="work" />
		</ui:include>
		<ui:include src="/admin/ipAddress/ipAddressModal.xhtml">
			<ui:param name="bean" value="#{credentialBean}" />
			<ui:param name="render" value="work" />
		</ui:include>
		<ui:include src="/admin/paymentInformation/paymentInformationModal.xhtml">
			<ui:param name="bean" value="#{credentialBean}" />
			<ui:param name="render" value="work" />
		</ui:include>
		<apd:addressModal id="sectionAddressModal" address="#{accountBean.currentAddress}" actionBean="#{accountBean}" render="work:addressSection:addressList:addressTable" />
		<ui:include src="/admin/paymentInformation/paymentInformationPersonModal.xhtml">
			<ui:param name="bean" value="#{credentialBean}" />
			<ui:param name="render" value="work" />
		</ui:include>
		<ui:include src="/admin/credential/permissionModal.xhtml">
			<ui:param name="render" value="work" />
		</ui:include>
		<ui:include src="/admin/credential/roleModal.xhtml">
			<ui:param name="render" value="work" />
		</ui:include>
		<ui:include src="/admin/credential/credentialXVendorModal.xhtml">
			<ui:param name="render" value="work" />
		</ui:include>
                <ui:include src="/admin/cxml/cxmlCredentialToModal.xhtml">
                    <ui:param name="bean" value="#{credentialBean}" />
                    <ui:param name="render" value="work" />
                </ui:include>
                <ui:include src="/admin/cxml/cxmlCredentialFromModal.xhtml">
                    <ui:param name="bean" value="#{credentialBean}" />
                    <ui:param name="render" value="work" />
                </ui:include>
                <ui:include src="/admin/cxml/cxmlCredentialSenderModal.xhtml">
                    <ui:param name="bean" value="#{credentialBean}" />
                    <ui:param name="render" value="work" />
                </ui:include>
                   <ui:include src="/admin/cxml/cxmlCustomerCredentialToModal.xhtml">
                    <ui:param name="bean" value="#{credentialBean}" />
                    <ui:param name="render" value="work" />
                </ui:include>
                <ui:include src="/admin/cxml/cxmlCustomerCredentialFromModal.xhtml">
                    <ui:param name="bean" value="#{credentialBean}" />
                    <ui:param name="render" value="work" />
                </ui:include>
                <ui:include src="/admin/cxml/cxmlCustomerCredentialSenderModal.xhtml">
                    <ui:param name="bean" value="#{credentialBean}" />
                    <ui:param name="render" value="work" />
                </ui:include>
        </ui:define>
        <ui:define name="inserted-js">
            <script>
              $(document).ready(function() {
	              $('#punchoutTypeInfoIcon').popover(
            {
                html: true,
                placement: 'right',
                trigger: 'hover',
                title: 'Info',
                content: '<h5>If this credential is being accessed by a procurement platform, the protocol should specify which format the procurement platform is expecting for the return cart.</h5>'
            }
        );
        $('#customerCxmlInfoIcon').popover(
            {
                html: true,
                placement: 'right',
                trigger: 'hover',
                title: 'More Info',
                content: '<h5>This section should be configured if there are any cxml communications to the customer.</h5>'
            }
        );
            });
        </script>
        </ui:define>
</ui:composition>

