<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:apd="http://java.sun.com/jsf/composite/apd">
		<rich:popupPanel id="permissionModal" autosized="true" resizeable="false" moveable="false" domElementAttachment="parent">
		
		<h:form id="permissionModalForm">
			<a4j:region>
			<f:facet name="header">
				<h:outputText value="Add Permission" />
   			</f:facet>
   			<f:facet name="controls">
       			<a4j:commandLink value="X" style="cursor:pointer" immediate="true" 
					render="permissionModalForm"
					action="#{permissionSearchBean.clearSelection()}"
					oncomplete="hidePopup('permissionModal');" />
   			</f:facet>
   			
   			<a4j:outputPanel id="permissionSearchRegion">
				<apd:search searchBean="#{permissionSearchBean}" detailsRegion="permissionModalForm" 
						searchRegion="permissionSearch" requireSelection="true" />
      		</a4j:outputPanel>
			
			<div class="btn-group" layout="block">
				<a4j:commandLink value="Confirm" styleClass="btn btn-primary" 
					render="#{render}:permissionDisplay" 
					action="#{credentialBean.addPermission(permissionSearchBean.clearSelection())}"
					oncomplete="hidePopup('permissionModal');" />
				<a4j:commandLink value="Cancel" styleClass="btn btn-primary" immediate="true" 
					render="permissionModalForm"
					action="#{permissionSearchBean.clearSelection()}"
					oncomplete="hidePopup('permissionModal');" />
			</div>
			
			</a4j:region>
		</h:form>
      		
	    </rich:popupPanel>
</ui:composition>