<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view">
	
	<h:panelGrid columns="3">
		
		<h:outputLabel value="Inbound Mapping (only for punchout):"/>
	  	<h:inputText value="#{cashoutPageXField.inboundMapping}" />
		<h:outputText/>
		
		<h:outputLabel value="Field:"/>
	    <h:selectOneMenu value="#{cashoutPageBean.field}" 
	    		converter="#{fieldBean.converter}">
	    		<f:selectItem itemLabel="Select..." noSelectionOption="true"/>
			<f:selectItems value="#{fieldBean.all}"
				 var="type" itemValue="#{type}" itemLabel="#{type.name}" />
			<f:ajax event="change" listener="#{cashoutPageBean.setField(cashoutPageBean.field)}"
				render="cashoutPageXFieldModalForm" />
		</h:selectOneMenu>
		<h:outputText/>
		<h:inputHidden id="fieldSelection" validator="#{cashoutPageBean.validateFieldSelection}" />
		<rich:message for="fieldSelection" styleClass="error" />
		<h:outputText/>
		
		<h:outputLabel value="EDI/cMessage Mapping:"/>
	    <h:selectOneMenu value="#{cashoutPageXField.mapping}" 
	    		converter="#{messageMappingBean.converter}">
	    		<f:selectItem itemLabel="Select..." noSelectionOption="true"/>
			<f:selectItems value="#{messageMappingBean.all}"
				 var="type" itemValue="#{type}" itemLabel="#{type.name}" />
		</h:selectOneMenu>
		<h:outputText/>
		
		<h:outputLabel value="Label (don't use the &quot; | &quot; character):"/>
	  	<h:inputText id ="label" value="#{cashoutPageXField.label}" validator="#{cashoutPageBean.validateLabel}" />
		<rich:message for="label" styleClass="error" />
		<h:outputText/>
		
		<h:outputLabel value="Include Label with Mapping:"/>
	    <h:selectBooleanCheckbox value="#{cashoutPageXField.includeLabelInMapping}" />
		<h:outputText/>
		
		<h:outputLabel value="Default Value:"/>
	    <h:selectOneMenu value="#{cashoutPageXField.defaultValue}"
	    	rendered="#{cashoutPageBean.field != null and !cashoutPageBean.field.options.isEmpty()}">
	    	<f:selectItem itemLabel="" noSelectionOption="true" />
			<f:selectItems value="#{forgeview:asList(cashoutPageBean.field.options)}" var="option" 
				itemValue="#{option.value}" itemLabel="#{option.value}" />
			<f:ajax event="change" update="@this" />
		</h:selectOneMenu>
  		<h:inputText value="#{cashoutPageXField.defaultValue}" 
  			rendered="#{cashoutPageBean.field == null or cashoutPageBean.field.options.isEmpty()}"/>
		<h:outputText/>
		
		<h:outputLabel value="Editable by user:"/>
	    <h:selectBooleanCheckbox value="#{cashoutPageXField.updatable}" />
		<h:outputText/>
		
		<h:outputLabel value="Required:"/>
		<h:panelGroup>
			<h:selectBooleanCheckbox id="cashoutPageXFieldRequired" value="#{cashoutPageXField.required}" />
		</h:panelGroup>
		<h:outputText/>
	</h:panelGrid>
      		
</ui:composition>