email.service.access-key={{ aws_access_key }}
email.service.secret-key={{ aws_secret_access_key }}
storage.service.access-key={{ aws_access_key }}
storage.service.secret-key={{ aws_secret_access_key }}
message.service.bucketName={{ s3_bucket_name_env_prefix }}-messages
content.service.secure.domain=https://{{ cloudfront_domain }}
content.service.domain=http://{{ static_content_domain }}
