jmsBrokerUrl={{ amq_server_list }}
workflowCommandSource=activemq:queue.workflow-command
workflowCommandSourceDlq=activemq:queue.workflow-command-dlq

workflowErrorFrom={{ workflowErrorFrom }}
workflowErrorTo={{ workflowErrorTo }}
workflowErrorCC={{ workflowErrorCC }}