jmsBrokerUrl={{ amq_server_list }}
fulfillShipNoticeRequestSource=direct:shipNoticeRequestSource
cxmlOrderRequestSource=direct:cxmlOrderRequestSource
cxmlPunchOutSetupRequestSource=direct:cxmlPunchOutSetupRequestSource

cxmlPunchOutOrderMessageSource=direct:cxmlPunchOutOrderMessageSource
# remove the following unused property, cxmlPunchOutOrderMessageOutput
cxmlPunchOutOrderMessageOutput=https://{{ apd_www_domain }}/shopping/rest/cart

cXMLOutboundShipNoticeSource=activemq:queue:queue.cxml-outbound-ship-notice-request
cXMLOutboundShipNoticeDLQ=activemq:queue:queue.cxml-outbound-ship-notice-request-dlq

cXMLOutboundOrderRequestSource=activemq:queue:queue.cxml-outbound-order-request
cXMLOutboundOrderRequestDLQ=activemq:queue:queue.cxml-outbound-order-request-dlq

cxmlOutboundConfirmationRequestSource=activemq:queue:queue.cxml-outbound-confirmation-request
cxmlOutboundConfirmationRequestDLQ=activemq:queue:queue.cxml-outbound-confirmation-request-dlq
cxmlOutboundConfirmationRequestRouteBuilder=http://component
cXMLOutboundInvoiceRequestSource=activemq:queue:queue.cxml-outbound-invoice-request
cXMLOutboundInvoiceRequestDLQ=activemq:queue:queue.cxml-outbound-invoice-request-dlq
cxmlOrderRequestOutboundDLQ=activemq:queue:queue.cxml-order-request-dlq

deploymentMode={{ cxml_deployment_mode }}
