edi850PartnerEndpointDLQ=activemq:queue.edi-outbound-850-dlq
edi850LogOutputDLQ=activemq:queue.edi-outbound-850-log-dlq
edi850LogOuputUri={{ batch_rest_base_url }}/messages/
edi855LogOutputDLQ=activemq:queue.edi-outbound-855-dlq
edi810LogOutputDLQ=activemq:queue.edi-inbound-810-dlq
edi856LogOutputDLQ=activemq:queue.edi-outbound-856-dlq
jmsBrokerUrl={{ amq_server_list }}
edi850partners=ussco,ors,turbon,ferguson
edi810partners=usps,novant
edi855partners=usps
edi810v5010partners=walmart-dept99,walmart-kits
edi856partners=usps
edi832.partners=
edi832.contractNo=2DOSEQ-10-B-0033
edi832.supplierId=943879320
