# All Routes
jmsBrokerUrl={{ amq_server_list }}
xcbl.testIndicator=T
xcbl.seller.mpid=b848da8c-79b4-1000-a41d-0afaa07f0001
xcbl.buyer.mpid=
xcbl.order.dataformat.class=rrn.org_xcbl.schemas.xcbl.v3_5.xcbl35.Order
xcbl.order.translator.class=com.apd.phoenix.service.integration.camel.processor.xcbl.XCBLOrderTranslator
xcbl.messageAck.dataformat.class=rrn.org_xcbl.schemas.xcbl.v3_5.xcbl35.MessageAcknowledgement
xcbl.messageAck.translator.class=com.apd.phoenix.service.integration.camel.processor.xcbl.XCBLMessageAckTranslator

#xcbl.inbound.unknownTransaction.endPoint=

# PGP encryption/decryption settings
# These specify the default encrytion/decryption settings if no partner specific value is set
xcbl.encryption.keyFileName=
xcbl.encryption.keyUserid=
xcbl.encryption.armored=false
xcbl.encryption.enabled=false
xcbl.decryption.keyFileName=file:/usr/share/jbossas/standalone/configuration/keys/apd-phoenix-private-dev.gpg
xcbl.decryption.keyUserid=American Product Distributors (APD) <juanitarichardson@americanproduct.com>
xcbl.decryption.password=b3j5hbat
xcbl.decryption.armored=false
xcbl.decryption.enabled=false
xcbl.decryption.gpgExecutableDirectory=/usr/bin
xcbl.decryption.gpgTmpDirectory=/usr/share/jbossas/tmp/gpg

xcbl.xmlns.qualifier=

# XCBL Inbound
xcbl.inbound.partners=ngc,hii,pepsi,fritolay,hubwoo
xcbl.inbound.partnerEndpoint.uri=
xcbl.inbound.uri=activemq:queue.xcbl-inbound
xcbl.inbound.dlq.uri=activemq:queue.xcbl-inbound-dlq

inbound.xcbl.camel.entry.point=ftp://{{ fritolay_ftp_username }}@{{ fritolay_ftp_hostname }}/{{ fritolay_ftp_path }}?password\={{ fritolay_ftp_password }}&binary\=true&passiveMode\=true&move\=processed
inbound.xcbl.entry.point.queue=activemq:queue:queue.xcbl-inbound

# XCBL Inbound Order Routes
xcbl.inbound.order.partners=ngc,hii,pepsi,fritolay,hubwoo
xcbl.inbound.order.uri=direct:xcbl-inbound-order
xcbl.inbound.order.dlq.uri=activemq:queue.xcbl-inbound-order-dlq
xcbl.inbound.order.log.uri=direct:inbound-order-log
xcbl.inbound.order.log.dlq.uri=activemq:queue.xcbl-inbound-order-log-dlq
xcbl.inbound.order.formatted.uri=direct:xcbl-inbound-order-formatted
xcbl.inbound.order.messageAck.prepare.uri=direct:xcbl-inbound-order-messageAck-prepare

# XCBL Inbound Message Acknowledgements
xcbl.inbound.messageAck.partners=ngc,hii
# Note: the following properties do not affect routing for message acknowledgements embedded in responses to XCBL sent to partner via HTTP 
xcbl.inbound.messageAck.uri=direct:xcbl-inbound-messageAck
xcbl.inbound.messageAck.dlq.uri=activemq:queue.xcbl-inbound-messageAck-dlq
xcbl.inbound.messageAck.formatted.uri=direct:xcbl-inbound-messageAck-formatted
xcbl.inbound.messageAck.log.uri=direct:xcbl-inbound-messageAck-log
xcbl.inbound.messageAck.log.dlq.uri=activemq:queue.xcbl-inbound-messageAck-log-dlq

# XCBL Outbound
xcbl.outbound.partners=ngc,hii
xcbl.outbound.partnerEndpoint.uri=

# XCBL Outbound Message Acknowledgements 
xcbl.outbound.messageAck.partners=ngc,hii
xcbl.outbound.messageAck.notification.fromEmail=admin@apdmarketplace.com
xcbl.outbound.messageAck.notification.toEmails=jdarst@redhat.com
xcbl.outbound.messageAck.APDSenderId=apd
# Note: the following properties do not affect routing for message acknowledgements embedded in responses to XCBL sent to APD via HTTP
xcbl.outbound.messageAck.uri=direct:xcbl-outbound-messageAck
xcbl.outbound.messageAck.log.uri=direct:xcbl-outbound-messageAck-log
xcbl.outbound.messageAck.resend.uri=activemq:queue:queue.xcbl-outbound-messageAck-resend

# XCBL Outbound Order Responses
xcbl.outbound.orderResponse.partners=ngc,hii
xcbl.outbound.orderResponse.uri=activemq:queue:queue.xcbl-outbound-order-response
xcbl.outbound.orderResponse.dlq.uri=activemq:queue.xcbl-outbound-order-response-dlq
xcbl.outbound.orderResponse.log.uri=direct:xcbl-outbound-orderResponse-log
xcbl.outbound.orderResponse.messageAck.log.uri=direct:xcbl-outbound-orderResponse-messageAck-log