jmsBrokerUrl={{ amq_server_list }}
partners=ussco,walmart-kits,walmart-dept99,usps,novant,staples,ors,turbon,ferguson
edi997partners=ussco,walmart-kits,walmart-dept99,novant,ors,turbon,usps,ferguson
edi850v5010partners=walmart-kits,walmart-dept99
edi850v4010partners=usps
edi855partners=ussco,staples,ors,turbon,ferguson
edi856partners=ussco,staples,ors,turbon,ferguson
edi816partners=walmart-kits
edi810partners=ussco,staples,ors,turbon,ferguson
edi824partners=usps
edi864partners=walmart-dept99,walmart-kits
ediInbound=activemq:queue.edi-inbound
edi997OutputDLQ=activemq:queue.edi-inbound-997-dlq
edi997LogOutputDLQ=activemq:queue.edi-inbound-997-log-dlq
edi997LogOuputURI={{ batch_rest_base_url }}/messages/
edi850LogOutput=activemq:queue.edi-inbound-850-log-dlq
edi850PartnerEndpointDLQ=activemq:queue.edi-outbound-850-dlq
edi850LogOutputDLQ=activemq:queue.edi-outbound-850-log-dlq
edi850LogOuputUri={{ batch_rest_base_url }}/messages/
edi855LogOuputURI={{ batch_rest_base_url }}/messages/
edi855LogOutputDLQ=activemq:queue.edi-inbound-855-log-dlq
edi855OutputDLQ=activemq:queue.edi-inbound-855-dlq
edi856LogOuputURI={{ batch_rest_base_url }}/messages/
edi856LogOutputDLQ=activemq:queue.edi-inbound-856-log-dlq
edi856OutputDLQ=activemq:queue.edi-inbound-856-dlq
edi810LogOuputURI={{ batch_rest_base_url }}/messages/
edi810LogOutputDLQ=activemq:queue.edi-inbound-810-log-dlq
edi810OutputDLQ=activemq:queue.edi-inbound-810-dlq
edi816LogOutputDLQ=activemq:queue:edi-inbound-816-log-dlq
edi816LogOutputURI={{ batch_rest_base_url }}/messages/
edi816OutputDLQ=activemq:queue:edi-inbound-816-dlq
edi997FromEmail=admin@apdmarketplace.com
edi997NotificationToEmails=techsupport@americanproduct.com
edi997APDSenderId=apd
edi824logOutputDlq=activemq:queue:edi-inbound-824-log-dlq
edi824logOutputUri={{ batch_rest_base_url }}/messages/

edi.decryption.gpgExecutableDirectory=/usr/bin
edi.decryption.gpgTmpDirectory=/usr/share/jbossas/tmp/gpg
