jmsBrokerUrl={{ amq_server_list }}

itemSource=ftp://{{ ussco_ecdb2_ftp_username }}@{{ ussco_ecdb2_ftp_hostname }}/inbound/ussco-ecdb2/items?password={{ ussco_ecdb2_ftp_password }}&binary=true&passiveMode=true&delete=true
relationshipSource=ftp://{{ ussco_ecdb2_ftp_username }}@{{ ussco_ecdb2_ftp_hostname }}/inbound/ussco-ecdb2/relationships?password={{ ussco_ecdb2_ftp_password }}&binary=true&passiveMode=true&delete=true
ecdb2HAEndpoint=activemq:queue:queue.ecdb2-data

itemProcessSource=activemq:queue:queue.ecdb2-data?selector=type%3D%27item%27
relationshipProcessSource=activemq:queue:queue.ecdb2-data?selector=type%3D%27relationship%27
itemProcessTarget={{ batch_rest_base_url }}/items/xmlUpdate
relationshipProcessTarget={{ batch_rest_base_url }}/items/link
