jmsBrokerUrl={{ amq_server_list }}
catalogUnprocessedSource=activemq:queue.catalog-unprocessed?concurrentConsumers=10
catalogUploadBatchSize=5
csvCreationSource=activemq:queue.catalog-processed?concurrentConsumers=10
jmsBatchSize=100
csvWriterSource=activemq:queue.catalog-csv-rows?concurrentConsumers=1
csvBatchSize=100
csvTimerHour=0
csvTimerMinute=0
csvTimerSecond=0

csvGenerationTimerHour=0
csvGenerationTimerMinute=0
csvGenerationTimerSecond=0

reindexTimerHour=0
reindexTimerMinute=0
reindexTimerSecond=0

solrItemUpdateQueueConnectionJndi=java:/catalog-broker/ConnectionFactory
solrItemUpdateQueueJndi=java:/catalog-broker/solr-atomic-updateq
