#filter widget properties
SOLR_UPDATE_SERVER_URL=http://solr1.{{ ec2_internal_domain }}:8080/solr/productCollection,http://solr2.{{ ec2_internal_domain }}:8080/solr/productCollection
SOLR_UPDATE_SERVER_QUEUE_SIZE=10000
SOLR_UPDATE_SERVER_THREAD_COUNT=4
zooKeeperUrlList={{ zooKeeperUrls }}
defaultSearchCollection=productCollection 
jmsBrokerUrl={{ amq_server_list }}
CXML_ENDPOINT_REQUEST_PATH=/shopping/cxml

walkInsAccount=WALK-INS
walkInsCredentials=Office Supplies/Maintenance\, Repair and Operations

FILTERS_TO_SHOW=4
ATTRIBUTES_TO_SHOW=10
isDevelopmentMode=false
coreItemIconUrl=https://{{ cloudfront_domain }}/phoenix-icons/core.png
punchoutBaseLoginUrl={{ punchout_base_login_url }}

invoice.header.address.name=American Product Distributors
invoice.header.address.line1=8350 Arrowridge Blvd
invoice.header.address.line2=CHARLOTTE NC 28273-5755

invoice.shipto.label=SHIP TO:
invoice.billinginformation.label=BILLING INFORMATION:
invoice.billinginformation.name=American Product Distributors
invoice.billinginformation.line1=8350 Arrowridge Blvd
invoice.billinginformation.line2=CHARLOTTE NC 28273-5755
invoice.billinginformation.country=UNITED STATES

invoice.billinginformation.costcenter.label=Cost Center:
invoice.ordernumber.label=APD Order #:
invoice.quotedate.label=QUOTE DATE:

invoice.itemlist.header.qtyquoted=Qty
invoice.itemlist.header.qtyshipped=Shipped
invoice.itemlist.header.qtybilled=Billed
invoice.itemlist.header.sku=SKU #
invoice.itemlist.header.description=Description
invoice.itemlist.header.status=Status
invoice.itemlist.header.priceper=Price Per
invoice.itemlist.header.total=Total

invoice.itemlist.totals.totalmerchandise=Total Merchandise:
invoice.itemlist.totals.estshippinghandling=Est. Shipping/Handling:
invoice.itemlist.totals.tax=Tax:
invoice.itemlist.totals.total=Total:

MAX_CREDIT_CARD_ATTEMPTS_PER_DAY=5

footer.default.csrphone=1-877-769-5842
footer.default.csremail=customerservice@americanproduct.com

issuelog.notification.email=issuelog@americanproduct.com

ussco.stockcheck.timeout=2000
conversation.concurrentAccess.timeout=5000

registration.email.invalid.summary=The domain for this email address is invalid.
registration.email.invalid.detail=The domain for this email address is invalid.

costcenter.spending.limit=This order will exceed the spending limit for this cost center.
