edi850PartnerEndpoint=ftp://{{ ferguson_ftp_username }}@{{ ferguson_ftp_hostname }}{{ ferguson_ftp_path_outbound }}?password={{ ferguson_ftp_password }}&binary=true&passiveMode=true
backupPartnerEndpoint=ftp://{{ ferguson_ftp_username }}@{{ ferguson_ftp_hostname }}{{ ferguson_ftp_path_outbound_backup }}?password={{ ferguson_ftp_password }}&binary=true&passiveMode=true&fileName=${date:now:yyyy-MM-dd}/${header.CamelFileName}
edi850Source=activemq://queue:queue.edi-outbound-850?selector=partnerId%3D%27ferguson%27
edi850ResendSource=activemq:queue:queue.edi-outbound-850-raw?selector=partnerId%3D%27ferguson%27
edi850Endpoint=direct:ferguson850Endpont
edi850LogSource=direct:fergusonLogSource
edi997ResendSource=activemq:queue:queue.edi-outbound-997-resend?selector=partnerId%3D%27ferguson%27
edi997PartnerEndpoint=ftp://{{ ferguson_ftp_username }}@{{ ferguson_ftp_hostname }}{{ ferguson_ftp_path_outbound }}?password={{ ferguson_ftp_password }}&binary=true&passiveMode=true
ediFATransactionSource=direct:fergusonFASource
ediINTransactionSource=direct:fergusonINSource
ediPRTransactionSource=direct:fergusonPRSource
ediSHTransactionSource=direct:fergusonSHSource
ediInboundSource=ftp://{{ ferguson_ftp_username }}@{{ ferguson_ftp_hostname }}{{ ferguson_ftp_path_inbound }}?password={{ ferguson_ftp_password }}&binary=true&passiveMode=true&move=.processed/${date:now:yyyy-MM-dd}/${header.CamelFileName}&delay=60000
edi997OutboundSource=direct:edi997OutboundSourceFerg
ediInboundTransactionSource=activemq:queue:queue.edi-inbound?selector=partnerId%3D%27ferguson%27
ediUnknownTransactionOutput=activemq:queue.edi-inbound-transaction-dlq
edi997Output={{ batch_rest_base_url }}/workflow/order/functional-acknowledgement
edi855Output={{ batch_rest_base_url }}/workflow/order/po-acknowledgement
edi856Output={{ batch_rest_base_url }}/workflow/order/advanced-shipment-notice
edi810Output={{ batch_rest_base_url }}/workflow/order/invoice
edi810CreditOutput={{ batch_rest_base_url }}/workflow/order/creditInvoice
transactionMetadataURI={{ batch_rest_base_url }}/workflow/order/transaction
edi855FaSource=direct:edi855FaSourceFerguson
APDsenderCode="{{ apd_edi_sender_code }}"
partnerSenderCode="{{ ferguson_edi_sender_code }}"
testIndicator={{ edi_message_env_indicator }}
send997=true
edi997FormattedSource=direct:fergusonFormattedSource
edi997LogSource=direct:fergusonLogSource
edi997OutboundLogSource=direct:usscoOutboundLogSource
edi855FaPrepare=direct:edi855FaPrepareFerguson
edi855FormattedSource=direct:edi855FormatSourceFerguson
edi855LogSource=direct:edi855LogSourceFerguson


decryptionEnabled=false
differentCreditInvoice=true
edi850AS2EndpointDownNotify=direct:as2EndpointDownNotifyFerguson
emailNofityOnAs2DownFrom={{ as2_ftp_server_down_email_from }}
emailNofityOnAs2DownTo={{ as2_ftp_server_down_email_to }}
