url=http://{{ guvnor_ip }}:8080/jboss-brms/org.drools.guvnor.Guvnor/package/phoenix/
username=admin
password={{ guvnor_password }}
default.agent.name=phoenixAgent
drools.agent.instance=false
snapshot=1.3.19
