backup={{ internal_cc_canceled_order }}
order.canceled={{ internal_cc_canceled_order }}
invoice.errors={{ internal_cc_invoice_errors }}
order.acknowledgment.errors={{ internal_cc_order_ack_errors }}
shipment.notification.errors={{ internal_cc_ship_notice_errors }}
apd.shipto={{ internal_cc_apd_shipto }}
staples.shipto={{ internal_cc_ngc_shipto }}
order.failed={{ internal_order_failed }}
defaultApproverLogin=defaultapprover
user.modification.bcc.confirmation=apdnotices@americanproduct.com
ap.credit=ap@americanproduct.com
