restIp={{ apd_www_domain }}

orderApprovalRestIp=https://{{ apd_www_domain }}

shipToApprovalAuthority=https://{{ apd_www_domain }}

jmsBrokerUrl={{ amq_server_list }}

shipManifestCustomers=Roper St. Francis Hospitals,Novant Health,CSS Hospitals And Clinics,CSS Hospitals & Clinics,Novant Health,NGC Baltimore
shipManifestRecipients=,,,,,metrobdelivery@americanproduct.com

apd.purchaseOrder.uri={{ batch_rest_base_url }}/workflow/order/purchase-order-request

apd.functionalAck.uri={{ batch_rest_base_url }}/workflow/order/functional-acknowledgement

apd.transactionLog.uri={{ batch_rest_base_url }}/messages/

apd.address.from.name=American Product Distributors, Inc
apd.address.from.street=8350 Arrowridge Blvd
apd.address.from.city=Charlotte
apd.address.from.state=NC
apd.address.from.zip=28273
apd.address.from.country.iso=US
apd.address.from.country.name=United States
apd.address.from.phone.area=877
apd.address.from.phone.line=769-0752
apd.address.from.duns=609192091

apd.address.csr.name=American Product Distributors, Inc
apd.address.csr.street=8350 Arrowridge Blvd
apd.address.csr.city=Charlotte
apd.address.csr.state=NC
apd.address.csr.zip=28273
apd.address.csr.country.iso=US
apd.address.csr.country.name=United States
apd.address.csr.phone.area=877
apd.address.csr.phone.line=769-0752

deny.order.queue=activemq:queue.deny-order-queue
