! Only enable in production since there is no test account
enabled={{ jumptrack_enabled }}
jumptrackManifestSource=activemq:queue:queue.jumptrack-manifest
jumptrackManifestDlq=activemq:queue:queue.jumptrack-manifest-dlq
jumptrackManifestEndpoint={{ jumptrack_endpoint }}
jumptrackStopNoticeSource=activemq:queue:queue.jumptrack-stop-notification
jumptrackStopNoticeDlq=activemq:queue:queue.jumptrack-stop-notification-dlq
jumptrackStopNoticeEndpoint={{ jumptrack_endpoint }}
jumptrackManifestEmailTo={{ jumptrack_notification_email_to }}
jumptrackManifestEmailFrom={{ jumptrack_notification_email_from }}
jumptrackManifestEmailCC={{ jumptrack_notification_email_cc }}
jumptrack.manifest.email.subject={{ jumptrack_notification_manifest_email_subject }}
jumptrackStopNotificationEmailTo={{ jumptrack_notification_email_to }}
jumptrackStopNotificationEmailFrom={{ jumptrack_notification_email_from }}
jumptrackStopNotificationEmailCC={{ jumptrack_notification_email_cc }}
jumptrack.stop.email.subject={{ jumptrack_notification_stop_email_subject }}

manifestTimerDayOfMonth={{ jumptrack_manifest_timer_day_of_month }}
manifestTimerHour={{ jumptrack_manifest_timer_hour }}
manifestTimerMin={{ jumptrack_manifest_timer_min }}
manifestTimerSec={{ jumptrack_manifest_timer_sec }}

manifestValidationTimerDayOfMonth={{ jumptrack_manifest_validation_timer_day_of_month }}
manifestValidationTimerHour={{ jumptrack_manifest_validation_timer_hour }}
manifestValidationTimerMin={{ jumptrack_manifest_validation_timer_min }}
manifestValidationTimerSec={{ jumptrack_manifest_validation_timer_sec }}

stopNotificationTimerDayOfMonth={{ jumptrack_stop_notification_timer_day_of_month }}
stopNotificationTimerHour={{ jumptrack_stop_notification_timer_hour }}
stopNotificationTimerMin={{ jumptrack_stop_notification_timer_min }}
stopNotificationTimerSec={{ jumptrack_stop_notification_timer_sec }}
