ediInboundSource=ftp://{{ novant_ftp_username_inbound }}@{{ novant_ftp_hostname }}/{{ novant_ftp_path_inbound }}?password\={{ novant_ftp_password_inbound }}&binary=true&passiveMode\=true&move\=.processed/${date:now:yyyy-MM-dd}/${header.CamelFileName}&delay\=60000
ediUnknownTransactionOutput=activemq:queue.edi-inbound-transaction-dlq
ediInboundTransactionSource=activemq:queue:queue.edi-inbound?selector=partnerId%3D%27novant%27
edi810Source=activemq:queue:queue.edi-outbound-810?selector=(partnerId%3D%27novant%27)OR(partnerId%3D%27NOVANT%27)
edi810PartnerEndpoint=ftp://{{ novant_ftp_username_outbound }}@{{ novant_ftp_hostname }}/{{ novant_ftp_path_outbound }}?password\={{ novant_ftp_password_outbound }}&binary\=true&passiveMode\=true
edi810LogSource=direct:novant810LogSource
edi997ResendSource=activemq:queue:queue.edi-outbound-997-resend?selector=(partnerId%3D%27novant%27)OR(partnerId%3D%27NOVANT%27)
edi997PartnerEndpoint=ftp://{{ novant_ftp_username_outbound }}@{{ novant_ftp_hostname }}/{{ novant_ftp_path_outbound }}?password\={{ novant_ftp_password_outbound }}&binary\=true&passiveMode\=true
edi997Output={{ batch_rest_base_url }}/workflow/order/functional-acknowledgement
edi997OutboundSource=direct:NOVANTedi997OutboundSource
edi997FormattedSource=direct:NOVANT997FormattedSource
edi997LogSource=direct:NOVANT997LogSource
edi997OutboundLogSource=direct:NOVANT997OutboundLogSource
ediFATransactionSource=direct:novantFASource
testIndicator={{ edi_message_env_indicator }}
renumber=true

decryptionEnabled=false
backupPartnerEndpoint=ftp://{{ novant_ftp_username_outbound }}@{{ novant_ftp_hostname }}/{{ novant_ftp_path_outbound_backup }}?password\={{ novant_ftp_password_outbound }}&binary\=true&passiveMode\=true&fileName=${date:now:yyyy-MM-dd}/${header.CamelFileName}
ediFTPEndpointDownNotify810=direct:novantFTPEndPointDownNotify810