edi850PartnerEndpoint=ftp://{{ ors_ftp_username }}@{{ ors_ftp_hostname }}{{ ors_ftp_path_outbound }}?password={{ ors_ftp_password }}&binary=true&passiveMode=true
backupPartnerEndpoint=ftp://{{ ors_ftp_username }}@{{ ors_ftp_hostname }}{{ ors_ftp_path_outbound_backup }}?password={{ ors_ftp_password }}&binary=true&passiveMode=true&fileName=${date:now:yyyy-MM-dd}/${header.CamelFileName}
edi850Source=activemq://queue:queue.edi-outbound-850?selector=partnerId%3D%27ors%27
edi850ResendSource=activemq:queue:queue.edi-outbound-850-raw?selector=partnerId%3D%27ors%27
edi850Endpoint=direct:ors850Endpont
edi850LogSource=direct:orsLogSource
edi997ResendSource=activemq:queue:queue.edi-outbound-997-resend?selector=partnerId%3D%27ors%27
edi997PartnerEndpoint=ftp://{{ ors_ftp_username }}@{{ ors_ftp_hostname }}{{ ors_ftp_path_outbound }}?password={{ ors_ftp_password }}&binary=true&passiveMode=true
ediFATransactionSource=direct:orsFASource
ediINTransactionSource=direct:orsINSource
ediPRTransactionSource=direct:orsPRSource
ediSHTransactionSource=direct:orsSHSource
ediInboundSource=ftp://{{ ors_ftp_username }}@{{ ors_ftp_hostname }}{{ ors_ftp_path_inbound }}?password={{ ors_ftp_password }}&binary=true&passiveMode=true&move=.processed/${date:now:yyyy-MM-dd}/${header.CamelFileName}&delay=60000
edi997OutboundSource=direct:orsedi997OutboundSource
ediInboundTransactionSource=activemq:queue:queue.edi-inbound?selector=partnerId%3D%27ors%27
ediUnknownTransactionOutput=activemq:queue.edi-inbound-transaction-dlq
edi997Output={{ batch_rest_base_url }}/workflow/order/functional-acknowledgement
edi855Output={{ batch_rest_base_url }}/workflow/order/po-acknowledgement
edi856Output={{ batch_rest_base_url }}/workflow/order/advanced-shipment-notice
edi810Output={{ batch_rest_base_url }}/workflow/order/invoice
edi810CreditOutput={{ batch_rest_base_url }}/workflow/order/creditInvoice
transactionMetadataURI={{ batch_rest_base_url }}/workflow/order/transaction
edi855FaSource=direct:edi855FaSourceors
APDsenderCode="{{ apd_edi_sender_code }}"
partnerSenderCode="{{ ors_edi_sender_code }}"
testIndicator={{ edi_message_env_indicator }}
send997=true
edi997FormattedSource=direct:orsFormattedSource
edi997LogSource=direct:orsLogSource
edi997OutboundLogSource=direct:orsOutboundLogSource
edi855FaPrepare=direct:edi855FaPrepareors
edi855FormattedSource=direct:edi855FormatSourceors
edi855LogSource=direct:edi855LogSourceors

shipManifestReportFrom=admin@apdmarketplace.com
shipManifestReportTo=unused
shipManifestReportCC=unused
shipmanifest.email.subject=unused
manifestSource=ftp\://{{ apd_ftp_username }}@{{ apd_ftp_hostname }}/inbound/ors/manifest?password\={{ apd_ftp_password }}&binary\=true&passiveMode\=true&move=.processed&delay=60000
allowedManifestFilenames=NOVANT_053_METRO,NOVANT_001_METRO,CHS_053_METRO_CHARLOTTE,CHS_001_METRO_CHARLOTTE,RSFH_001_METRO_CHARLESTON,RSFH_053_METRO_CHARLESTON,CHS_053_APD_PICKUP,CHS_001_APD_PICKUP

decryptionEnabled=false
differentCreditInvoice=true
edi850AS2EndpointDownNotify=direct:as2EndpointDownNotifyORS