# Message Routing settings 
camel.activemq.uri.messageSelector=partnerId%3D%27pepsi%27
camel.direct.uri.suffix=_pepsi

# XCBL settings
xcbl.decryption.armored=true
xcbl.decryption.enabled=true
xcbl.xmlns.qualifier=rrn:org.xcbl:schemas/xcbl/v3_5/xcbl35.xsd

xcbl.inbound.partnerEndpoint.uri=activemq:queue:queue.xcbl-inbound?selector=partnerId%3D%27pepsi%27
xcbl.outbound.partnerEndpoint.uri=ftp://{{ fritolay_ftp_username }}@{{ fritolay_ftp_hostname }}/outbound{{ fritolay_ftp_path }}?password\={{ fritolay_ftp_password }}&binary\=true&passiveMode\=true

xcbl.decryption.keyFileName={{ pepsiFritoDecryptionKeyFileName }}
xcbl.decryption.keyUserid={{ pepsiFritoDecryptionKeyUserid }}
xcbl.decryption.password={{ pepsiFritoDecryptionPassword }}

