jmsBrokerUrl={{ amq_server_list }}
catalogJmsBrokerUrl={{ amq_catalog_server_list }}
updateSource=catalog-broker:queue.solr-atomic-updateq
updateSourceAggregated=activemq:queue.solr-atomic-updateq-aggregated
aggregationSize=500
aggregationTimeout=10000
throttleMessageCount=1
throttleTimePeriod=2000
