<?xml version='1.0' encoding='UTF-8'?>

<server xmlns="urn:jboss:domain:1.4">

    <extensions>
        <extension module="org.jboss.as.clustering.infinispan"/>
        <extension module="org.jboss.as.clustering.jgroups"/>
        <extension module="org.jboss.as.connector"/>
        <extension module="org.jboss.as.deployment-scanner"/>
        <extension module="org.jboss.as.ee"/>
        <extension module="org.jboss.as.ejb3"/>
        <extension module="org.jboss.as.jaxrs"/>
        <extension module="org.jboss.as.jdr"/>
        <extension module="org.jboss.as.jmx"/>
        <extension module="org.jboss.as.jpa"/>
        <extension module="org.jboss.as.jsf"/>
        <extension module="org.jboss.as.logging"/>
        <extension module="org.jboss.as.mail"/>
        <extension module="org.jboss.as.modcluster"/>
        <extension module="org.jboss.as.naming"/>
        <extension module="org.jboss.as.pojo"/>
        <extension module="org.jboss.as.remoting"/>
        <extension module="org.jboss.as.sar"/>
        <extension module="org.jboss.as.security"/>
        <extension module="org.jboss.as.threads"/>
        <extension module="org.jboss.as.transactions"/>
        <extension module="org.jboss.as.web"/>
        <extension module="org.jboss.as.webservices"/>
        <extension module="org.jboss.as.weld"/>
    </extensions>

    <system-properties>
        <property name="phoenix.config.home" value="{{ phoenix_conf }}"/>
        <property name="org.apache.catalina.connector.URI_ENCODING" value="UTF-8"/>
    </system-properties>


    <management>
        <security-realms>
            <security-realm name="ManagementRealm">
                <authentication>
                    <local default-user="$local"/>
                    <properties path="mgmt-users.properties" relative-to="jboss.server.config.dir"/>
                </authentication>
            </security-realm>
            <security-realm name="ApplicationRealm">
                <authentication>
                    <local default-user="$local" allowed-users="*"/>
                    <properties path="application-users.properties" relative-to="jboss.server.config.dir"/>
                </authentication>
                <authorization>
                    <properties path="application-roles.properties" relative-to="jboss.server.config.dir"/>
                </authorization>
            </security-realm>
        </security-realms>
        <management-interfaces>
            <native-interface security-realm="ManagementRealm">
                <socket-binding native="management-native"/>
            </native-interface>
            <http-interface security-realm="ManagementRealm">
                <socket-binding http="management-http"/>
            </http-interface>
        </management-interfaces>
    </management>

    <profile>
        <subsystem xmlns="urn:jboss:domain:logging:1.2">
            <console-handler name="CONSOLE">
                <level name="INFO"/>
                <formatter>
                    <pattern-formatter pattern="%K{level}%d{HH:mm:ss,SSS} %-5p [%c] (%t) %s%E%n"/>
                </formatter>
            </console-handler>
            <periodic-rotating-file-handler name="FILE" autoflush="true">
                <formatter>
                    <pattern-formatter pattern="%d{HH:mm:ss,SSS} %-5p [%c] (%t) %s%E%n"/>
                </formatter>
                <file relative-to="jboss.server.log.dir" path="server.log"/>
                <suffix value=".yyyy-MM-dd"/>
                <append value="true"/>
            </periodic-rotating-file-handler>
            <logger category="com.arjuna">
                <level name="WARN"/>
            </logger>
            <logger category="org.apache.tomcat.util.modeler">
                <level name="WARN"/>
            </logger>
            <logger category="org.jboss.as.config">
                <level name="INFO"/>
            </logger>
            <logger category="sun.rmi">
                <level name="WARN"/>
            </logger>
            <logger category="jacorb">
                <level name="WARN"/>
            </logger>
            <logger category="jacorb.config">
                <level name="ERROR"/>
            </logger>
            <logger category="org.hibernate" use-parent-handlers="true">
                <level name="INFO"/>
            </logger>
            <logger category="org.apache.catalina" use-parent-handlers="true">
                <level name="INFO"/>
            </logger>
            <logger category="com.apd" use-parent-handlers="true">
                <level name="INFO"/>
            </logger>
            <logger category="com.arjuna.ats.jta" use-parent-handlers="true">
                <level name="ERROR"/>
            </logger>
            <root-logger>
                <level name="INFO"/>
                <handlers>
                    <handler name="FILE"/>
                </handlers>
            </root-logger>
        </subsystem>
        <subsystem xmlns="urn:jboss:domain:datasources:1.1">
            <datasources>
                <xa-datasource jta="true" jndi-name="java:jboss/datasources/Phoenix" pool-name="PhoenixDS" enabled="true" use-java-context="true" use-ccm="true">
                    <xa-datasource-property name="URL">
                        {{ db_url }}
                    </xa-datasource-property>
                    <driver>oracle</driver>
                    <transaction-isolation>TRANSACTION_READ_COMMITTED</transaction-isolation>
                    <xa-pool>
                        <prefill>true</prefill>
                        <use-strict-min>false</use-strict-min>
                        <flush-strategy>FailingConnectionOnly</flush-strategy>
                        <is-same-rm-override>false</is-same-rm-override>
                        <no-tx-separate-pools>true</no-tx-separate-pools>
                        <max-pool-size>100</max-pool-size>
                    </xa-pool>
                    <security>
                        <user-name>{{ phoenix_db_username }}</user-name>
                        <password>{{ phoenix_db_password }}</password>
                    </security>
                    <recovery>
                        <recover-credential>
                            <user-name>{{ phoenix_db_username }}</user-name>
                            <password>{{ phoenix_db_password }}</password>
                        </recover-credential>
                    </recovery>
                    <validation>
                        <valid-connection-checker class-name="org.jboss.jca.adapters.jdbc.extensions.oracle.OracleValidConnectionChecker"/>
                        <stale-connection-checker class-name="org.jboss.jca.adapters.jdbc.extensions.oracle.OracleStaleConnectionChecker"/>
                        <exception-sorter class-name="org.jboss.jca.adapters.jdbc.extensions.oracle.OracleExceptionSorter"/>
                    </validation>
                </xa-datasource>
                <xa-datasource jta="true" jndi-name="java:jboss/datasources/jbpmDS" pool-name="jbpmDS" enabled="true" use-java-context="true" use-ccm="true">
                    <xa-datasource-property name="URL">
                        {{ db_url }}
                    </xa-datasource-property>
                    <driver>oracle</driver>
                    <transaction-isolation>TRANSACTION_READ_COMMITTED</transaction-isolation>
                    <xa-pool>
                        <prefill>true</prefill>
                        <use-strict-min>false</use-strict-min>
                        <flush-strategy>FailingConnectionOnly</flush-strategy>
                        <is-same-rm-override>false</is-same-rm-override>
                        <no-tx-separate-pools>true</no-tx-separate-pools>
                    </xa-pool>
                    <security>
                        <user-name>{{ jbpm_db_username }}</user-name>
                        <password>{{ jbpm_db_password }}</password>
                    </security>
                    <recovery>
                        <recover-credential>
                            <user-name>{{ jbpm_db_username }}</user-name>
                            <password>{{ jbpm_db_password }}</password>
                        </recover-credential>
                    </recovery>
                    <validation>
                        <valid-connection-checker class-name="org.jboss.jca.adapters.jdbc.extensions.oracle.OracleValidConnectionChecker"/>
                        <stale-connection-checker class-name="org.jboss.jca.adapters.jdbc.extensions.oracle.OracleStaleConnectionChecker"/>
                        <exception-sorter class-name="org.jboss.jca.adapters.jdbc.extensions.oracle.OracleExceptionSorter"/>
                    </validation>
                </xa-datasource>
                <drivers>
                    <driver name="oracle" module="com.oracle">
						<xa-datasource-class>oracle.jdbc.xa.client.OracleXADataSource</xa-datasource-class>
					</driver>
                </drivers>
            </datasources>
        </subsystem>
        <subsystem xmlns="urn:jboss:domain:deployment-scanner:1.1">
            <deployment-scanner path="deployments" relative-to="jboss.server.base.dir" scan-interval="5000"/>
        </subsystem>
        <subsystem xmlns="urn:jboss:domain:ee:1.1">
            <spec-descriptor-property-replacement>false</spec-descriptor-property-replacement>
            <jboss-descriptor-property-replacement>true</jboss-descriptor-property-replacement>
        </subsystem>
        <subsystem xmlns="urn:jboss:domain:ejb3:1.4">
            <session-bean>
                <stateless>
                    <bean-instance-pool-ref pool-name="slsb-strict-max-pool"/>
                </stateless>
                <stateful default-access-timeout="5000" cache-ref="simple" clustered-cache-ref="clustered"/>
                <singleton default-access-timeout="5000"/>
            </session-bean>
            <mdb>
                <resource-adapter-ref resource-adapter-name="activemq"/>
                <bean-instance-pool-ref pool-name="mdb-strict-max-pool"/>
            </mdb>
            <pools>
                <bean-instance-pools>
                    <strict-max-pool name="slsb-strict-max-pool" max-pool-size="20" instance-acquisition-timeout="5" instance-acquisition-timeout-unit="MINUTES"/>
                    <strict-max-pool name="mdb-strict-max-pool" max-pool-size="20" instance-acquisition-timeout="5" instance-acquisition-timeout-unit="MINUTES"/>
                </bean-instance-pools>
            </pools>
            <caches>
                <cache name="simple" aliases="NoPassivationCache"/>
                <cache name="passivating" passivation-store-ref="file" aliases="SimpleStatefulCache"/>
                <cache name="clustered" passivation-store-ref="infinispan" aliases="StatefulTreeCache"/>
            </caches>
            <passivation-stores>
                <file-passivation-store name="file"/>
                <cluster-passivation-store name="infinispan" cache-container="ejb"/>
            </passivation-stores>
            <async thread-pool-name="default"/>
            <timer-service thread-pool-name="default">
                <data-store path="timer-service-data" relative-to="jboss.server.data.dir"/>
            </timer-service>
            <remote connector-ref="remoting-connector" thread-pool-name="default"/>
            <thread-pools>
                <thread-pool name="default">
                    <max-threads count="10"/>
                    <keepalive-time time="100" unit="milliseconds"/>
                </thread-pool>
            </thread-pools>
            <default-security-domain value="other"/>
            <default-missing-method-permissions-deny-access value="true"/>
        </subsystem>
        <subsystem xmlns="urn:jboss:domain:infinispan:1.4">
            <cache-container name="singleton" aliases="cluster ha-partition" default-cache="default">
                <transport lock-timeout="60000"/>
                <replicated-cache name="default" mode="SYNC" batching="true">
                    <locking isolation="REPEATABLE_READ"/>
                </replicated-cache>
            </cache-container>
            <cache-container name="web" aliases="standard-session-cache" default-cache="repl" module="org.jboss.as.clustering.web.infinispan">
                <transport lock-timeout="60000"/>
                <replicated-cache name="repl" mode="ASYNC" batching="true">
                    <file-store/>
                </replicated-cache>
                <replicated-cache name="sso" mode="SYNC" batching="true"/>
                <distributed-cache name="dist" l1-lifespan="0" mode="ASYNC" batching="true">
                    <file-store/>
                </distributed-cache>
            </cache-container>
            <cache-container name="ejb" aliases="sfsb sfsb-cache" default-cache="repl" module="org.jboss.as.clustering.ejb3.infinispan">
                <transport lock-timeout="60000"/>
                <replicated-cache name="repl" mode="ASYNC" batching="true">
                    <eviction strategy="LRU" max-entries="10000"/>
                    <file-store/>
                </replicated-cache>
                <replicated-cache name="remote-connector-client-mappings" mode="SYNC" batching="true"/>
                <distributed-cache name="dist" l1-lifespan="0" mode="ASYNC" batching="true">
                    <eviction strategy="LRU" max-entries="10000"/>
                    <file-store/>
                </distributed-cache>
            </cache-container>
            <cache-container name="hibernate" default-cache="local-query" module="org.jboss.as.jpa.hibernate:4">
                <transport lock-timeout="60000"/>
                <local-cache name="local-query">
                    <transaction mode="NONE"/>
                    <eviction strategy="LRU" max-entries="10000"/>
                    <expiration max-idle="100000"/>
                </local-cache>
                <invalidation-cache name="entity" mode="SYNC">
                    <transaction mode="NON_XA"/>
                    <eviction strategy="LRU" max-entries="10000"/>
                    <expiration max-idle="100000"/>
                </invalidation-cache>
                <replicated-cache name="timestamps" mode="ASYNC">
                    <transaction mode="NONE"/>
                    <eviction strategy="NONE"/>
                </replicated-cache>
            </cache-container>
        </subsystem>
        <subsystem xmlns="urn:jboss:domain:jaxrs:1.0"/>
        <subsystem xmlns="urn:jboss:domain:jca:1.1">
            <archive-validation enabled="true" fail-on-error="true" fail-on-warn="false"/>
            <bean-validation enabled="true"/>
            <default-workmanager>
                <short-running-threads>
                    <core-threads count="50"/>
                    <queue-length count="50"/>
                    <max-threads count="50"/>
                    <keepalive-time time="10" unit="seconds"/>
                </short-running-threads>
                <long-running-threads>
                    <core-threads count="50"/>
                    <queue-length count="50"/>
                    <max-threads count="50"/>
                    <keepalive-time time="10" unit="seconds"/>
                </long-running-threads>
            </default-workmanager>
            <cached-connection-manager/>
        </subsystem>
        <subsystem xmlns="urn:jboss:domain:jdr:1.0"/>
        <subsystem xmlns="urn:jboss:domain:jgroups:1.1" default-stack="tcp">
            <stack name="tcp">
                <transport type="TCP" socket-binding="jgroups-tcp"/>
                <protocol type="S3_PING">
                    <property name="access_key">
                        ${jboss.jgroups.s3_ping.access_key}
                    </property>
                    <property name="secret_access_key">
                        ${jboss.jgroups.s3_ping.secret_access_key}
                    </property>
                    <property name="location">
                        ${jboss.jgroups.s3_ping.bucket}
                    </property>
                </protocol>
                <protocol type="MERGE2"/>
                <protocol type="FD_SOCK" socket-binding="jgroups-tcp-fd"/>
                <protocol type="FD"/>
                <protocol type="VERIFY_SUSPECT"/>
                <protocol type="pbcast.NAKACK"/>
                <protocol type="UNICAST2"/>
                <protocol type="pbcast.STABLE"/>
                <protocol type="pbcast.GMS"/>
                <protocol type="UFC"/>
                <protocol type="MFC"/>
                <protocol type="FRAG2"/>
                <protocol type="RSVP"/>
            </stack>
        </subsystem>
        <subsystem xmlns="urn:jboss:domain:jmx:1.2">
            <expose-resolved-model/>
            <expose-expression-model/>
            <remoting-connector/>
        </subsystem>
        <subsystem xmlns="urn:jboss:domain:jpa:1.1">
            <jpa default-datasource="" default-extended-persistence-inheritance="DEEP"/>
        </subsystem>
        <subsystem xmlns="urn:jboss:domain:jsf:1.0"/>
        <subsystem xmlns="urn:jboss:domain:mail:1.1">
            <mail-session jndi-name="java:jboss/mail/Default">
                <smtp-server outbound-socket-binding-ref="mail-smtp"/>
            </mail-session>
        </subsystem>
        <subsystem xmlns="urn:jboss:domain:modcluster:1.1">
            <mod-cluster-config proxy-list="${jboss.modcluster.proxyList}" excluded-contexts="invoker,jbossws,juddi,console" advertise="false" connector="ajp">
                <dynamic-load-provider>
                    <load-metric type="busyness"/>
                </dynamic-load-provider>
            </mod-cluster-config>
        </subsystem>
        <subsystem xmlns="urn:jboss:domain:naming:1.3">
            <remote-naming/>
        </subsystem>
        <subsystem xmlns="urn:jboss:domain:pojo:1.0"/>
        <subsystem xmlns="urn:jboss:domain:remoting:1.1">
            <connector name="remoting-connector" socket-binding="remoting" security-realm="ApplicationRealm"/>
        </subsystem>
		<subsystem xmlns="urn:jboss:domain:resource-adapters:1.1">
            <resource-adapters>
                <resource-adapter id="activemq">
                    <module slot="main" id="org.apache.activemq"/>
                    <transaction-support>XATransaction</transaction-support>
                    <config-property name="ServerUrl">
                        {{ amq_server_list }}
                    </config-property>
                    <connection-definitions>
                        <connection-definition class-name="org.apache.activemq.ra.ActiveMQManagedConnectionFactory" jndi-name="java:/activemq/ConnectionFactory" enabled="true" use-java-context="true" pool-name="sd" use-ccm="true">
                            <xa-pool>
                                <min-pool-size>1</min-pool-size>
                                <max-pool-size>20</max-pool-size>
                            </xa-pool>
                        </connection-definition>
                    </connection-definitions>
                    <admin-objects>
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/edi-inbound-transaction-dlq" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.edi-inbound-transaction-dlq">
                            <config-property name="PhysicalName">
                                queue.edi-inbound-transaction-dlq
                            </config-property>
                        </admin-object>

                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/edi-inbound-810-dlq" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.edi-inbound-810-dlq">
                            <config-property name="PhysicalName">
                                queue.edi-inbound-810-dlq
                            </config-property>
                        </admin-object>
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/edi-inbound-810-log-dlq" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.edi-inbound-810-log-dlq">
                            <config-property name="PhysicalName">
                                queue.edi-inbound-810-log-dlq
                            </config-property>
                        </admin-object>
                        
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/edi-inbound-816-log-dlq" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.edi-inbound-816-log-dlq">
                            <config-property name="PhysicalName">
                                queue.edi-inbound-816-log-dlq
                            </config-property>
                        </admin-object>
                        
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/edi-inbound-816-dlq" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.edi-inbound-816-dlq">
                            <config-property name="PhysicalName">
                                queue.edi-inbound-816-dlq
                            </config-property>
                        </admin-object>
                        
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/edi-inbound-816" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.edi-inbound-816">
                            <config-property name="PhysicalName">
                                queue.edi-inbound-816
                            </config-property>
                        </admin-object>
                        
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/edi-inbound-850-dlq" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.edi-inbound-850-dlq">
                            <config-property name="PhysicalName">
                                queue.edi-inbound-850-dlq
                            </config-property>
                        </admin-object>
                        
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/edi-inbound-855-dlq" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.edi-inbound-855-dlq">
                            <config-property name="PhysicalName">
                                queue.edi-inbound-855-dlq
                            </config-property>
                        </admin-object>
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/edi-inbound-855-log-dlq" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.edi-inbound-855-log-dlq">
                            <config-property name="PhysicalName">
                                queue.edi-inbound-855-log-dlq
                            </config-property>
                        </admin-object>

                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/edi-inbound-856-dlq" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.edi-inbound-856-dlq">
                            <config-property name="PhysicalName">
                                queue.edi-inbound-856-dlq
                            </config-property>
                        </admin-object>
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/edi-inbound-856-log-dlq" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.edi-inbound-856-log-dlq">
                            <config-property name="PhysicalName">
                                queue.edi-inbound-856-log-dlq
                            </config-property>
                        </admin-object>

                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/edi-inbound-997-dlq" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.edi-inbound-997-dlq">
                            <config-property name="PhysicalName">
                                queue.edi-inbound-997-dlq
                            </config-property>
                        </admin-object>
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/edi-inbound-997-log-dlq" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.edi-inbound-997-log-dlq">
                            <config-property name="PhysicalName">
                                queue.edi-inbound-997-log-dlq
                            </config-property>
                        </admin-object>
                        
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/edi-outbound-810C" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.edi-outbound-810C">
                        	<config-property name="PhysicalName">
                        		queue.edi-outbound-810C
                        	</config-property>
                        </admin-object>
                        
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/edi-outbound-832" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.edi-outbound-832">
                            <config-property name="PhysicalName">
                                queue.edi-outbound-832
                            </config-property>
                        </admin-object>
                        
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/edi-outbound-832-dlq" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.edi-outbound-832-dlq">
                            <config-property name="PhysicalName">
                                queue.edi-outbound-832-dlq
                            </config-property>
                        </admin-object>
                        
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/edi-outbound-832-csv-sink-dlq" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.edi-outbound-832-csv-sink-dlq">
                            <config-property name="PhysicalName">
                                queue.edi-outbound-832-csv-sink-dlq
                            </config-property>
                        </admin-object>

                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/edi-outbound-810" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.edi-outbound-810">
                            <config-property name="PhysicalName">
                                queue.edi-outbound-810
                            </config-property>
                        </admin-object>
                        
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/edi-inbound-824-dlq" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.edi-inbound-824-dlq">
                            <config-property name="PhysicalName">
                                queue:edi-inbound-824-dlq
                            </config-property>
                        </admin-object>
                        
			<admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/edi-inbound-824-log-dlq" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.edi-inbound-824-log-dlq">
                            <config-property name="PhysicalName">
                                queue:edi-inbound-824-log-dlq
                            </config-property>
                        </admin-object>                        
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/xcbl-inbound" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.xcbl-inbound">
                            <config-property name="PhysicalName">
                                queue.xcbl-inbound
                            </config-property>
                        </admin-object>
                        
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/edi-outbound-850" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.edi-outbound-850">
                            <config-property name="PhysicalName">
                                queue.edi-outbound-850
                            </config-property>
                        </admin-object>
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/edi-outbound-850-dlq" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.edi-outbound-850-dlq">
                            <config-property name="PhysicalName">
                                queue.edi-outbound-850-dlq
                            </config-property>
                        </admin-object>
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/edi-outbound-850-log-dlq" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.edi-outbound-850-log-dlq">
                            <config-property name="PhysicalName">
                                queue.edi-outbound-850-log-dlq
                            </config-property>
                        </admin-object>
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/edi-outbound-850-raw" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.edi-outbound-850-raw">
                            <config-property name="PhysicalName">
                                queue.edi-outbound-850-raw
                            </config-property>
                        </admin-object>
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/edi-outbound-850-router-dlq" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.edi-outbound-850-router-dlq">
                            <config-property name="PhysicalName">
                                queue.edi-outbound-850-router-dlq
                            </config-property>
                        </admin-object>
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/edi-outbound-850-router-resend-dlq" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.edi-outbound-850-router-resend-dlq">
                            <config-property name="PhysicalName">
                                queue.edi-outbound-850-router-resend-dlq
                            </config-property>
                        </admin-object>

                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/edi-outbound-855" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.edi-outbound-855">
                            <config-property name="PhysicalName">
                                queue.edi-outbound-855
                            </config-property>
                        </admin-object>
                        
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/edi-outbound-856" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.edi-outbound-856">
                            <config-property name="PhysicalName">
                                queue.edi-outbound-856
                            </config-property>
                        </admin-object>
                        
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/edi-outbound-997" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.edi-outbound-997">
                            <config-property name="PhysicalName">
                                queue.edi-outbound-997
                            </config-property>
                        </admin-object>
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/edi-outbound-997-resend" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.edi-outbound-997-resend">
                            <config-property name="PhysicalName">
                                queue.edi-outbound-997-resend
                            </config-property>
                        </admin-object>
                        
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/cxml-inbound-catalog" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.cxml-inbound-catalog">
                            <config-property name="PhysicalName">
                                queue.cxml-inbound-catalog
                            </config-property>
                        </admin-object> 
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/cxml-inbound-cxml" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.cxml-inbound-cxml">
                            <config-property name="PhysicalName">
                                queue.cxml-inbound-cxml
                            </config-property> 
                        </admin-object> 
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/cxml-inbound-fulfill" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.cxml-inbound-fulfill">
                            <config-property name="PhysicalName">
                                queue.cxml-inbound-fulfill
                            </config-property>
                        </admin-object> 
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/cxml-inbound-fulfill-dlq" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.cxml-inbound-fulfill-dlq">
								<config-property name="PhysicalName">
									queue.cxml-inbound-fulfill-dlq
								</config-property>
						</admin-object>
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/cxml-order-request-dlq" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.cxml-order-request-dlq">
                            <config-property name="PhysicalName">
                                cxml-order-request-dlq
                            </config-property>
                        </admin-object>  
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/cxml-inbound-invoice" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.cxml-inbound-invoice">
                            <config-property name="PhysicalName">
                                queue.cxml-inbound-invoice
                            </config-property>
                        </admin-object> 
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/cxml-outbound-confirmation-request" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.cxml-outbound-confirmation-request">
                            <config-property name="PhysicalName">
                                queue.cxml-outbound-confirmation-request
                            </config-property>
                        </admin-object>
                        
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/cxml-outbound-order-request" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.cxml-outbound-order-request">
                            <config-property name="PhysicalName">
                                queue.cxml-outbound-order-request
                            </config-property>
                        </admin-object> 
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/cxml-outbound-order-request-dlq" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.cxml-outbound-order-request-dlq">
                            <config-property name="PhysicalName">
                                queue.cxml-outbound-order-request-dlq
                            </config-property>
                        </admin-object>
                        
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/jumptrack-manifest" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.jumptrack-manifest">
                            <config-property name="PhysicalName">
                                queue.jumptrack-manifest
                            </config-property>
                        </admin-object>
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/jumptrack-manifest-dlq" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.jumptrack-manifest-dlq">
                            <config-property name="PhysicalName">
                                queue.jumptrack-manifest-dlq
                            </config-property>
                        </admin-object>
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/jumptrack-stop-notification" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.jumptrack-stop-notification">
                            <config-property name="PhysicalName">
                                queue.jumptrack-stop-notification
                            </config-property>
                        </admin-object>
                        
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/tax-data" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.tax-data">  
                            <config-property name="PhysicalName">
                                queue.tax-data
                            </config-property>
                        </admin-object>

                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/workflow-command" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.workflow-command">
                            <config-property name="PhysicalName">
                                queue.workflow-command
                            </config-property>
                        </admin-object>
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/cxml-outbound-ship-notice-request" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.cxml-outbound-ship-notice-request">
								<config-property name="PhysicalName">
									queue.cxml-outbound-ship-notice-request
								</config-property>
						</admin-object> 
						<admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/cxml-outbound-ship-notice-request-dlq" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.cxml-outbound-ship-notice-request-dlq">
								<config-property name="PhysicalName">
									queue.cxml-outbound-ship-notice-request-dlq
								</config-property>
						</admin-object>
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/csv-outbound-po" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.csv-outbound-po">
                            <config-property name="PhysicalName">
                                queue.csv-outbound-po
                            </config-property>
                        </admin-object>
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/csv-solomon-order-dlq" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.csv-solomon-order-dlq">
                            <config-property name="PhysicalName">
                                queue.csv-solomon-order-dlq
                            </config-property>
                        </admin-object>
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/csv-ship-confirmation" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.csv-ship-confirmation">
                            <config-property name="PhysicalName">
                                queue.csv-ship-confirmation
                            </config-property>
                        </admin-object>
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/csv-ship-confirmation-dlq" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.csv-ship-confirmation-dlq">
                            <config-property name="PhysicalName">
                                queue.csv-ship-confirmation-dlq
                            </config-property>
                        </admin-object>
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/solr-atomic-updateq-aggregated" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.solr-atomic-updateq-aggregated">
                            <config-property name="PhysicalName">
                                queue.solr-atomic-updateq-aggregated
                            </config-property>
                        </admin-object>
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/catalog-processed" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.catalog-processed">
                            <config-property name="PhysicalName">
                                queue.catalog-processed
                            </config-property>
                        </admin-object>
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/catalog-processed-dlq" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.catalog-processed-dlq">
                            <config-property name="PhysicalName">
                                queue.catalog-processed-dlq
                            </config-property>
                        </admin-object>
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/catalog-unprocessed" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.catalog-unprocessed">
                            <config-property name="PhysicalName">
                                queue.catalog-unprocessed
                            </config-property>
                        </admin-object>
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/catalog-unprocessed-dlq" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.catalog-unprocessed-dlq">
                            <config-property name="PhysicalName">
                                queue.catalog-unprocessed-dlq
                            </config-property>
                        </admin-object>
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/catalog-csv-rows" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.catalog-csv-rows">
                            <config-property name="PhysicalName">
                                queue.catalog-csv-rows
                            </config-property>
                        </admin-object>
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/catalog-csv-rows-dlq" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.catalog-csv-rows-dlq">
                            <config-property name="PhysicalName">
                                queue.catalog-csv-rows-dlq
                            </config-property>
                        </admin-object>
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/cxml-outbound-invoice-request-dlq" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.cxml-outbound-invoice-request-dlq">
                            <config-property name="PhysicalName">
                                queue.cxml-outbound-invoice-request-dlq
                            </config-property>
                        </admin-object>
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/cxml-outbound-invoice-request" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.cxml-outbound-invoice-request">
                            <config-property name="PhysicalName">
                                queue.cxml-outbound-invoice-request
                            </config-property>
                        </admin-object>
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/ecdb2-data" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.ecdb2-data">
                            <config-property name="PhysicalName">
                                queue.ecdb2-data
                            </config-property>
                        </admin-object>
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/xcbl-outbound-order-response" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.xcbl-outbound-order-response">
                            <config-property name="PhysicalName">
                                queue.xcbl-outbound-order-response
                            </config-property>
                        </admin-object>
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/xcbl-outbound-order-response-dlq" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.xcbl-outbound-order-response-dlq">
                            <config-property name="PhysicalName">
                                queue.xcbl-outbound-order-response-dlq
                            </config-property>
                        </admin-object>
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/email-order-outbound" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.email-order-outbound">
                            <config-property name="PhysicalName">
                                queue.email-order-outbound
                            </config-property>
                        </admin-object>
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/email-invoice-outbound" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.email-invoice-outbound">
                            <config-property name="PhysicalName">
                                queue.email-invoice-outbound
                            </config-property>
                        </admin-object>
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/inbound-marfield-ship-notice-log-dlq" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.inbound-marfield-ship-notice-log-dlq">
                            <config-property name="PhysicalName">
                                queue.inbound-marfield-ship-notice-log-dlq
                            </config-property>
                        </admin-object>
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/deny-order-queue" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.deny-order-queue">
                            <config-property name="PhysicalName">                                
           						queue.deny-order-queue
                            </config-property>
                        </admin-object>
						<admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/inbound-marfield-ship-notice-dlq" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.inbound-marfield-ship-notice-dlq">
                            <config-property name="PhysicalName">
                                queue.inbound-marfield-ship-notice-dlq
                            </config-property>
                        </admin-object>
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/email-credit-invoice-outbound" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.email-credit-invoice-outbound">
                            <config-property name="PhysicalName">
                                queue.email-credit-invoice-outbound
                            </config-property>
                        </admin-object>
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/csv-outbound-marquette-customer-invoice" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.csv-outbound-marquette-customer-invoice">
                            <config-property name="PhysicalName">
                                csv-outbound-marquette-customer-invoice
                            </config-property>
                        </admin-object>
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/internal-validation-queue" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.internal-validation-queue">
                            <config-property name="PhysicalName">
                                queue.internal-validation-queue
                            </config-property>
                        </admin-object>
						<admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/marquette-details-file-endpoint-DLQ" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.marquette-details-file-endpoint-DLQ">
                            <config-property name="PhysicalName">
                                marquette-details-file-endpoint-DLQ
                            </config-property>
                        </admin-object>
						<admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/marquette-ftp-destination-DLQ" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.marquette-ftp-destination-DLQ">
                            <config-property name="PhysicalName">
                                marquette-ftp-destination-DLQ
                            </config-property>
                        </admin-object>
						<admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/marquette-transmittal-file-endpoint-DLQ" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.marquette-transmittal-file-endpoint-DLQ">
                            <config-property name="PhysicalName">
                                marquette-transmittal-file-endpoint-DLQ
                            </config-property>
                        </admin-object>
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/email-purchase-order-outbound" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.email-purchase-order-outbound">
                            <config-property name="PhysicalName">
                                queue.email-purchase-order-outbound
                            </config-property>
                        </admin-object>
<admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/workflow-command-dlq" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.workflow-command-dlq">
    <config-property name="PhysicalName">
        queue.workflow-command-dlq
    </config-property>
</admin-object>
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/email-shipment-notice-outbound" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.email-shipment-notice-outbound">
                            <config-property name="PhysicalName">
                                queue.email-shipment-notice-outbound
                            </config-property>
                        </admin-object>
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/marquette-invoice-pdf-generation-queue" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.marquette-invoice-pdf-generation-queue">
                            <config-property name="PhysicalName">
                                marquette-invoice-pdf-generation-queue
                            </config-property>
                        </admin-object>
						<admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/marquette-invoice-pdf-generation-DLQ" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.marquette-invoice-pdf-generation-DLQ">
                            <config-property name="PhysicalName">
                                marquette-invoice-pdf-generation-DLQ
                            </config-property>
                        </admin-object>
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/activemq/email-card-notification-outbound" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.email-card-notification-outbound">
                            <config-property name="PhysicalName">
                                queue.email-card-notification-outbound
                            </config-property>
                        </admin-object>
                    </admin-objects>
                </resource-adapter>
                <resource-adapter id="catalog-broker">
                    <module slot="main" id="org.apache.activemq"/>
                    <transaction-support>XATransaction</transaction-support>
                    <config-property name="ServerUrl">
                        {{ amq_catalog_server_list }}
                    </config-property>
                    <connection-definitions>
                        <connection-definition class-name="org.apache.activemq.ra.ActiveMQManagedConnectionFactory" jndi-name="java:/catalog-broker/ConnectionFactory" enabled="true" use-java-context="true" pool-name="sd" use-ccm="true">
                            <xa-pool>
                                <min-pool-size>1</min-pool-size>
                                <max-pool-size>20</max-pool-size>
                            </xa-pool>
                        </connection-definition>
                    </connection-definitions>
                    <admin-objects>
                        <admin-object class-name="org.apache.activemq.command.ActiveMQQueue" jndi-name="java:/catalog-broker/solr-atomic-updateq" enabled="true" use-java-context="true" pool-name="ActiveMQQueue.solr-atomic-updateq">
                            <config-property name="PhysicalName">
                                queue.solr-atomic-updateq
                            </config-property>
                        </admin-object>
                    </admin-objects>
                </resource-adapter>
            </resource-adapters>
        </subsystem>
        <subsystem xmlns="urn:jboss:domain:sar:1.0"/>
        <subsystem xmlns="urn:jboss:domain:security:1.2">
            <security-domains>
                <security-domain name="other" cache-type="default">
                    <authentication>
                        <login-module code="Remoting" flag="optional">
                            <module-option name="password-stacking" value="useFirstPass"/>
                        </login-module>
                        <login-module code="RealmDirect" flag="required">
                            <module-option name="password-stacking" value="useFirstPass"/>
                        </login-module>
                    </authentication>
                </security-domain>
                <security-domain name="jboss-web-policy" cache-type="default">
                    <authorization>
                        <policy-module code="Delegating" flag="required"/>
                    </authorization>
                </security-domain>
                <security-domain name="jboss-ejb-policy" cache-type="default">
                    <authorization>
                        <policy-module code="Delegating" flag="required"/>
                    </authorization>
                </security-domain>
                <security-domain name="phoenixRealm">
                    <authentication>
                        <login-module code="com.apd.phoenix.service.security.PunchoutLoginModule" flag="sufficient">
                            <module-option name="dsJndiName" value="java:jboss/datasources/Phoenix"/>
                            <module-option name="principalsQuery" value="SELECT sessiontoken from PUNCHOUTSESSION where sessiontoken=?"/>
                            <module-option name="rolesQuery" value="SELECT PERMISSION.NAME, 'Roles' FROM PERMISSION, PUNCHOUTSESSION ps JOIN SYSTEMUSER ON (lower(SYSTEMUSER.LOGIN) = lower(ps.SYSTEMUSERLOGINNAME)) WHERE ps.sessiontoken = ? AND PERMISSION.ID IN (SELECT PERMISSIONXUSER.PERMISSION_ID FROM PERMISSIONXUSER WHERE PERMISSIONXUSER.USER_ID = SYSTEMUSER.ID AND (sysdate &gt; PERMISSIONXUSER.STARTDATE OR PERMISSIONXUSER.STARTDATE IS NULL) AND (sysdate &lt; PERMISSIONXUSER.EXPIRATIONDATE OR PERMISSIONXUSER.EXPIRATIONDATE IS NULL)) OR PERMISSION.ID IN (SELECT ROLE_PERMISSION.PERMISSIONS_ID FROM ROLE_PERMISSION JOIN SYSTEMUSER systemuserToCompare ON (1=1) JOIN ROLE ON  (ROLE.ID = ROLE_PERMISSION.ROLES_ID) JOIN ROLEXUSER ON (ROLEXUSER.ROLE_ID = ROLE.ID AND ROLEXUSER.USER_ID = systemuserToCompare.ID AND (sysdate &gt; ROLEXUSER.STARTDATE OR ROLEXUSER.STARTDATE IS NULL)  AND (sysdate &lt; ROLEXUSER.EXPIRATIONDATE OR ROLEXUSER.EXPIRATIONDATE IS NULL)) WHERE systemuserToCompare.ID = SYSTEMUSER.ID)"/>
                        </login-module>
                        <login-module code="com.apd.phoenix.service.security.PhoenixLoginModule" flag="sufficient">
                            <module-option name="dsJndiName" value="java:jboss/datasources/Phoenix"/>
                            <module-option name="loginInfoQuery" value="SELECT DISTINCT sysuser.salt, sysuser.loginAttempts, sysuser.lastLoginAttemptDate FROM SYSTEMUSER sysuser LEFT JOIN SYSTEMUSER_ACCOUNT ON sysuser.id=SYSTEMUSER_ACCOUNT.users_id LEFT JOIN ACCOUNT acc ON SYSTEMUSER_ACCOUNT.accounts_id=acc.id LEFT JOIN ACCOUNTXACCOUNTPROPERTYTYPE acc_properties ON acc.id=acc_properties.account_id LEFT JOIN ACCOUNTPROPERTYTYPE acc_proptype ON acc_properties.type_id=acc_proptype.id LEFT JOIN IPADDRESS ip ON acc.id=ip.account_id WHERE lower(sysuser.login)=lower(?) AND sysuser.isactive = 1 AND (((acc_proptype.name=? AND acc_properties.value=?) AND (ip.value IS NULL OR ip.value=?)) OR ?=? )"/>
                            <module-option name="principalsQuery" value="select password from SYSTEMUSER where lower(login) like lower(?) AND isactive = 1"/>
                            <module-option name="rolesQuery" value="SELECT PERMISSION.NAME, 'Roles' FROM PERMISSION JOIN SYSTEMUSER ON (LOWER(SYSTEMUSER.LOGIN) = LOWER(?)) WHERE PERMISSION.ID IN (SELECT PERMISSIONXUSER.PERMISSION_ID FROM PERMISSIONXUSER WHERE PERMISSIONXUSER.USER_ID = SYSTEMUSER.ID AND (sysdate &gt; PERMISSIONXUSER.STARTDATE OR PERMISSIONXUSER.STARTDATE IS NULL) AND (sysdate &lt; PERMISSIONXUSER.EXPIRATIONDATE OR PERMISSIONXUSER.EXPIRATIONDATE IS NULL)) OR PERMISSION.ID IN (SELECT ROLE_PERMISSION.PERMISSIONS_ID FROM ROLE_PERMISSION JOIN SYSTEMUSER systemuserToCompare ON (1=1) JOIN ROLE ON (ROLE.ID = ROLE_PERMISSION.ROLES_ID) JOIN ROLEXUSER ON (ROLEXUSER.ROLE_ID = ROLE.ID AND ROLEXUSER.USER_ID = systemuserToCompare.ID AND (sysdate &gt; ROLEXUSER.STARTDATE OR ROLEXUSER.STARTDATE IS NULL) AND (sysdate &lt; ROLEXUSER.EXPIRATIONDATE OR ROLEXUSER.EXPIRATIONDATE IS NULL)) WHERE systemuserToCompare.ID = SYSTEMUSER.ID)"/>
			    <module-option name="hashAlgorithm" value="SHA-256"/>
                            <module-option name="hashEncoding" value="base64"/>
                        </login-module>
                    </authentication>
                </security-domain>
            </security-domains>
        </subsystem>
        <subsystem xmlns="urn:jboss:domain:threads:1.1"/>
        <subsystem xmlns="urn:jboss:domain:transactions:1.3">
            <core-environment>
                <process-id>
                    <uuid/>
                </process-id>
            </core-environment>
            <recovery-environment socket-binding="txn-recovery-environment" status-socket-binding="txn-status-manager"/>
            <coordinator-environment default-timeout="300"/>
        </subsystem>
        <subsystem xmlns="urn:jboss:domain:web:1.4" default-virtual-server="default-host" instance-id="${jboss.jvmRoute}" native="false">
            <connector name="http" protocol="HTTP/1.1" scheme="http" socket-binding="http"/>
            <connector name="ajp" protocol="AJP/1.3" scheme="http" socket-binding="ajp"/>
            <virtual-server name="default-host" enable-welcome-root="false">
                <alias name="localhost"/>
                <alias name="example.com"/>
            </virtual-server>
        </subsystem>
        <subsystem xmlns="urn:jboss:domain:webservices:1.2">
            <modify-wsdl-address>true</modify-wsdl-address>
            <wsdl-host>${jboss.bind.address:127.0.0.1}</wsdl-host>
            <endpoint-config name="Standard-Endpoint-Config"/>
            <endpoint-config name="Recording-Endpoint-Config">
                <pre-handler-chain name="recording-handlers" protocol-bindings="##SOAP11_HTTP ##SOAP11_HTTP_MTOM ##SOAP12_HTTP ##SOAP12_HTTP_MTOM">
                    <handler name="RecordingHandler" class="org.jboss.ws.common.invocation.RecordingServerHandler"/>
                </pre-handler-chain>
            </endpoint-config>
            <client-config name="Standard-Client-Config"/>
        </subsystem>
        <subsystem xmlns="urn:jboss:domain:weld:1.0"/>
    </profile>

    <interfaces>
        <interface name="management">
            <inet-address value="${jboss.bind.address.management:127.0.0.1}"/>
        </interface>
        <interface name="public">
            <inet-address value="${jboss.bind.address:127.0.0.1}"/>
        </interface>
        <interface name="unsecure">
            <inet-address value="${jboss.bind.address.unsecure:127.0.0.1}"/>
        </interface>
    </interfaces>

    <socket-binding-group name="standard-sockets" default-interface="public" port-offset="${jboss.socket.binding.port-offset:0}">
        <socket-binding name="management-native" interface="management" port="${jboss.management.native.port:9999}"/>
        <socket-binding name="management-http" interface="management" port="${jboss.management.http.port:9990}"/>
        <socket-binding name="management-https" interface="management" port="${jboss.management.https.port:9443}"/>
        <socket-binding name="ajp" port="8009"/>
        <socket-binding name="http" port="8080"/>
        <socket-binding name="https" port="8443"/>
        <socket-binding name="jgroups-tcp" port="7600"/>
        <socket-binding name="jgroups-tcp-fd" port="57600"/>
        <socket-binding name="remoting" port="4447"/>
        <socket-binding name="txn-recovery-environment" port="4712"/>
        <socket-binding name="txn-status-manager" port="4713"/>
        <outbound-socket-binding name="mail-smtp">
            <remote-destination host="localhost" port="25"/>
        </outbound-socket-binding>
    </socket-binding-group>

    <deployments>
    </deployments>
</server>
