outboundOrderRequestSource=activemq:queue:queue.cxml-outbound-order-request?selector=partnerId%3D%27STAPLES%27
outboundOrderRequestDLQ=activemq:queue:queue.cxml-outbound-order-request-dlq

ediINTransactionSource=direct:staplesINSource
ediPRTransactionSource=direct:staplesPRSource
ediSHTransactionSource=direct:staplesSHSource

ediInboundSource=ftp\://{{ staples_ftp_username }}@{{ staples_ftp_hostname }}/in?password\={{ staples_ftp_password }}&binary\=true&passiveMode\=true&move=.processed/${date:now:yyyy-MM-dd}/${header.CamelFileName}&delay=60000
ediInboundTransactionSource=activemq:queue:queue.edi-inbound?selector=partnerId%3D%27staples%27
ediUnknownTransactionOutput=activemq:queue.edi-inbound-transaction-dlq
edi855Output={{ batch_rest_base_url }}/workflow/order/po-acknowledgement
edi856Output={{ batch_rest_base_url }}/workflow/order/advanced-shipment-notice
edi810Output={{ batch_rest_base_url }}/workflow/order/invoice
edi810CreditOutput={{ batch_rest_base_url }}/workflow/order/creditInvoice
edi855FaSource=direct:edi855FaSourceStaples
APDsenderCode="PHOEN          "
partnerSenderCode="STAPLESSCC     "
testIndicator=T
send997=false
edi997FormattedSource=direct:staplesFormattedSource
edi997LogSource=direct:staplesLogSource
edi997OutboundLogSource=direct:staplesOutboundLogSource
edi997OutboundSource=direct:edi997OutboundSourceStaples
edi855FaPrepare=direct:edi855FaPrepareStaples
edi855FormattedSource=direct:edi855FormatSourceStapes
edi855LogSource=direct:edi855LogSourceStaples

decryptionEnabled=false
differentCreditInvoice=false