taxDataCreateProcessSource=activemq:queue:queue.tax-data?selector=action%3D%27bulkCreate%27
taxDataUpdateProcessSource=activemq:queue:queue.tax-data?selector=action%3D%27update%27
taxRateUpdateEndpoint={{ batch_rest_base_url }}/tax/bulkUpdate
taxRateDeleteEndpoint={{ batch_rest_base_url }}/tax/delete
taxCreateSource=ftp://{{ apd_ftp_username }}@{{ apd_ftp_hostname }}/inbound/tax/rate/create?password\={{ apd_ftp_password }}&delete\=true&binary\=true&passiveMode\=true&delay=60000
taxUpdateSource=ftp://{{ apd_ftp_username }}@{{ apd_ftp_hostname }}/inbound/tax/rate/update?password\={{ apd_ftp_password }}&delete\=true&binary\=true&passiveMode\=true&delay=60000
taxHAEndpoint=activemq:queue:queue.tax-data

zipPlusFourUpdateEndpoint={{ batch_rest_base_url }}/tax/zipPlusFour/bulkUpdate
zipPlusFourDeleteEndpoint={{ batch_rest_base_url }}/tax/zipPlusFour/delete
zipPlusFourCreateProcessSource=activemq:queue:queue.tax-data?selector=action%3D%27zipBulkCreate%27
zipPlusFourUpdateProcessSource=activemq:queue:queue.tax-data?selector=action%3D%27zipUpdate%27
zipCreateSource=ftp://{{ apd_ftp_username }}@{{ apd_ftp_hostname }}/inbound/tax/zip/create?password\={{ apd_ftp_password }}&delete\=true&binary\=true&passiveMode\=true&delay=60000
zipUpdateSource=ftp://{{ apd_ftp_username }}@{{ apd_ftp_hostname }}/inbound/tax/zip/update?password\={{ apd_ftp_password }}&delete\=true&binary\=true&passiveMode\=true&delay=60000

militaryZipUpdateEndpoint={{ batch_rest_base_url }}/tax/militaryZip/bulkUpdate
militaryZipDeleteEndpoint={{ batch_rest_base_url }}/tax/militaryZip/delete
militaryZipCreateProcessSource=activemq:queue:queue.tax-data?selector=action%3D%27militaryZipBulkCreate%27
militaryZipUpdateProcessSource=activemq:queue:queue.tax-data?selector=action%3D%27militaryZipUpdate%27
militaryZipCreateSource=ftp://{{ apd_ftp_username }}@{{ apd_ftp_hostname }}/inbound/tax/militaryZip/create?password\={{ apd_ftp_password }}&delete\=true&binary\=true&passiveMode\=true&delay=60000
militaryZipUpdateSource=ftp://{{ apd_ftp_username }}@{{ apd_ftp_hostname }}/inbound/tax/militaryZip/update?password\={{ apd_ftp_password }}&delete\=true&binary\=true&passiveMode\=true&delay=60000

jmsBrokerUrl={{ amq_server_list }}
