edi850PartnerEndpoint=ftp://{{ turbon_ftp_username }}@{{ turbon_ftp_hostname }}{{ turbon_ftp_path_outbound }}?password={{ turbon_ftp_password }}&binary=true&passiveMode=true
backupPartnerEndpoint=ftp://{{ turbon_ftp_username }}@{{ turbon_ftp_hostname }}{{ turbon_ftp_path_outbound_backup }}?password={{ turbon_ftp_password }}&binary=true&passiveMode=true&fileName=${date:now:yyyy-MM-dd}/${header.CamelFileName}
edi850Source=activemq://queue:queue.edi-outbound-850?selector=partnerId%3D%27turbon%27
edi850ResendSource=activemq:queue:queue.edi-outbound-850-raw?selector=partnerId%3D%27turbon%27
edi850Endpoint=direct:turbon850Endpont
edi850LogSource=direct:turbonLogSource
edi997ResendSource=activemq:queue:queue.edi-outbound-997-resend?selector=partnerId%3D%27turbon%27
edi997PartnerEndpoint=ftp://{{ turbon_ftp_username }}@{{ turbon_ftp_hostname }}{{ turbon_ftp_path_outbound }}?password={{ turbon_ftp_password }}&binary=true&passiveMode=true
ediFATransactionSource=direct:turbonFASource
ediINTransactionSource=direct:turbonINSource
ediPRTransactionSource=direct:turbonPRSource
ediSHTransactionSource=direct:turbonSHSource
ediInboundSource=ftp://{{ turbon_ftp_username }}@{{ turbon_ftp_hostname }}{{ turbon_ftp_path_inbound }}?password={{ turbon_ftp_password }}&binary=true&passiveMode=true&move=.processed/${date:now:yyyy-MM-dd}/${header.CamelFileName}&delay=60000
edi997OutboundSource=direct:edi997TurbonOutboundSource
ediInboundTransactionSource=activemq:queue:queue.edi-inbound?selector=partnerId%3D%27turbon%27
ediUnknownTransactionOutput=activemq:queue.edi-inbound-transaction-dlq
edi997Output={{ batch_rest_base_url }}/workflow/order/functional-acknowledgement
edi855Output={{ batch_rest_base_url }}/workflow/order/po-acknowledgement
edi856Output={{ batch_rest_base_url }}/workflow/order/advanced-shipment-notice
edi810Output={{ batch_rest_base_url }}/workflow/order/invoice
edi810CreditOutput={{ batch_rest_base_url }}/workflow/order/creditInvoice
transactionMetadataURI={{ batch_rest_base_url }}/workflow/order/transaction
edi855FaSource=direct:edi855FaSourceturbon
APDsenderCode="{{ apd_edi_sender_code }}"
partnerSenderCode="{{ turbon_edi_sender_code }}"
testIndicator={{ edi_message_env_indicator }}
send997=true
edi997FormattedSource=direct:turbonFormattedSource
edi997LogSource=direct:turbonLogSource
edi997OutboundLogSource=direct:turbonOutboundLogSource
edi855FaPrepare=direct:edi855FaPrepareturbon
edi855FormattedSource=direct:edi855FormatSourceturbon
edi855LogSource=direct:edi855LogSourceturbon

shipManifestReportFrom=admin@apdmarketplace.com
shipManifestReportTo=unused
shipManifestReportCC=unused
shipmanifest.email.subject=unused
manifestSource=ftp\://{{ apd_ftp_username }}@{{ apd_ftp_hostname }}/inbound/turbon/manifest?password\={{ apd_ftp_password }}&binary\=true&passiveMode\=true&move=.processed/${date:now:yyyy-MM-dd}/${header.CamelFileName}&delay=60000
allowedManifestFilenames=NOVANT_053_METRO,NOVANT_001_METRO,CHS_053_METRO_CHARLOTTE,CHS_001_METRO_CHARLOTTE,RSFH_001_METRO_CHARLESTON,RSFH_053_METRO_CHARLESTON,CHS_053_APD_PICKUP,CHS_001_APD_PICKUP

decryptionEnabled=false
differentCreditInvoice=true
edi850AS2EndpointDownNotify=direct:as2EndpointDownNotifyTurbon