edi997ResendSource=activemq:queue:queue.edi-outbound-997-resend?selector=partnerId%3D%27walmart-kits%27
edi997PartnerEndpoint=ftp://{{ walmart_kits_ftp_username }}@{{ walmart_kits_ftp_hostname }}/outbound{{ walmart_kits_ftp_path_outbound }}?password={{ walmart_kits_ftp_password }}&binary=true&passiveMode=true
edi997Output={{ batch_rest_base_url }}/workflow/order/functional-acknowledgement
edi997OutboundSource=direct:edi997OutboundSourceWK

ediFATransactionSource=direct:walmart-kitsFASource
ediORTransactionSource=direct:walmart-kitsORSource
ediInboundSource=ftp://{{ walmart_kits_ftp_username }}@{{ walmart_kits_ftp_hostname }}/{{ walmart_kits_ftp_path_inbound }}?password={{ walmart_kits_ftp_password }}&binary=true&passiveMode=true&move=.processed/${date:now:yyyy-MM-dd}/${header.CamelFileName}&delay=60000
ediUnknownTransactionOutput=activemq:queue.edi-inbound-transaction-dlq
ediInboundTransactionSource=activemq:queue:queue.edi-inbound?selector=partnerId%3D%27walmart-kits%27
ediPOTransactionSource=direct:walmart-kitsPOSource
ediTXTransactionSource=direct:direct:walmart-kitsTXSource
edi850Output={{ batch_rest_base_url }}/workflow/order/purchase-order-request
APDsenderCode="{{ walmart_kits_apd_sender_code }}"
partnerSenderCode="{{ walmart_kits_sender_code }}"
testIndicator={{ edi_message_env_indicator }}
edi997FormattedSource=direct:walmertKitsFormattedSource
edi997LogSource=direct:walmertKitsLogSource
edi997OutboundLogSource=direct:walmertKitsOutboundLogSource

edi810OutboundSource=activemq:queue:queue.edi-outbound-810?selector=partnerId%3D%27walmart-kits%27
edi810OutboundEndpoint=ftp://{{ walmart_kits_ftp_username }}@{{ walmart_kits_ftp_hostname }}/{{ walmart_kits_ftp_path_outbound }}?password={{ walmart_kits_ftp_password }}&binary=true&passiveMode=true
edi810OutboundLogSource=direct:outInvWKitsLogSource
edi810OutboundEndpointDlq=activemq:queue:queue.edi-outbound-810-dlq

edi816OrgLogOutput=direct:walmart-kitsEdiOrgLogOutput
edi816OrgLogSource=direct:walmart-kitsEdiOrgLogSource
edi816Output={{ batch_rest_base_url }}/addresses/update
edi816UsscoorgEDISource=direct:uspsEdi816UsscoorgEDISource

edi850InboundFormatSource=direct:inboundFormatSourceWalKits
edi850InboundLogSource=direct:inboundLogSourceWalKits
edi850FaSource=direct:faSource850WalKits
edi850FaPrepare=direct:faPrepare850WalKits

edi864EmailSource=direct:txWalKits99EmailSource
edi864LogSource=direct:txWalKitsLogSource

decryptionEnabled=false
backupPartnerEndpoint=ftp://{{ walmart_kits_ftp_username }}@{{ walmart_kits_ftp_hostname }}/{{ walmart_kits_ftp_path_outbound_backup }}?password={{ walmart_kits_ftp_password }}&binary=true&passiveMode=true&fileName=${date:now:yyyy-MM-dd}/${header.CamelFileName}
