edi997ResendSource=activemq:queue:queue.edi-outbound-997-resend?selector=partnerId%3D%27walmart-dept99%27
edi997PartnerEndpoint=ftp://{{ walmart_dept99_ftp_username_outbound }}@{{ walmart_dept99_ftp_hostname }}/{{ walmart_dept99_ftp_path_outbound }}?password\={{ walmart_dept99_ftp_password_outbound }}&binary\=true&passiveMode\=true
edi997Output={{ batch_rest_base_url }}/workflow/order/functional-acknowledgement
edi997OutboundSource=direct:edi997OutboundSourceDep99

ediFATransactionSource=direct:walmart-Dep99FASource
ediORTransactionSource=direct:walmart-Dep99ORSource
ediInboundSource=ftp://{{ walmart_dept99_ftp_username_inbound }}@{{ walmart_dept99_ftp_hostname }}/{{ walmart_dept99_ftp_path_inbound }}?password\={{ walmart_dept99_ftp_password_inbound }}&binary\=true&passiveMode\=true&move=.processed/${date:now:yyyy-MM-dd}/${header.CamelFileName}&delay=60000
ediUnknownTransactionOutput=activemq:queue.edi-inbound-transaction-dlq
ediInboundTransactionSource=activemq:queue:queue.edi-inbound?selector=partnerId%3D%27walmart-dept99%27
ediPOTransactionSource=direct:walmart-dept99POSource
ediTXTransactionSource=direct:WalDep99TXSource

edi850Output={{ batch_rest_base_url }}/workflow/order/purchase-order-request
APDsenderCode={{walmart_dept99_apd_sender_code}}
partnerSenderCode={{walmart_dept99_sender_code}}
testIndicator={{ edi_message_env_indicator }}
edi997FormattedSource=direct:WalDep99FormattedSource
edi997LogSource=direct:WalDep99LogSource
edi997OutboundLogSource=direct:WalDep99OutboundLogSource

edi810OutboundSource=activemq:queue:queue.edi-outbound-810?selector=partnerId%3D%27walmart-dept99%27
edi810OutboundEndpoint=ftp://{{ walmart_dept99_ftp_username_outbound }}@{{ walmart_dept99_ftp_hostname }}/{{ walmart_dept99_ftp_path_outbound }}?password={{ walmart_dept99_ftp_password_outbound }}&binary=true&passiveMode=true
edi810OutboundLogSource=direct:outInvWDept99LogSource
edi810OutboundEndpointDlq=activemq:queue:queue.edi-outbound-810-dlq

edi816OrgLogOutput=direct:wdept99EdiOrgLogOutput
edi816OrgLogSource=direct:wdept99EdiOrgLogSource
edi816Output={{ batch_rest_base_url }}/addresses/update
edi816UsscoorgEDISource=direct:wdept99Edi816EDISource

edi850InboundFormatSource=direct:inboundFormatSourceWalDep99
edi850InboundLogSource=direct:inboundLogSourceWalDep99
edi850FaSource=direct:faSource850WalDep99
edi850FaPrepare=direct:faPrepare850WalDep99

edi864EmailSource=direct:txWalDep99EmailSource
edi864LogSource=direct:txWalDep99LogSource

decryptionEnabled=false
backupPartnerEndpoint=ftp://{{ walmart_dept99_ftp_username_outbound }}@{{ walmart_dept99_ftp_hostname }}/{{ walmart_dept99_ftp_path_outbound_backup }}?password={{ walmart_dept99_ftp_password_outbound }}&binary=true&passiveMode=true&fileName=${date:now:yyyy-MM-dd}/${header.CamelFileName}
