


/*@media (min-width: 980px) {*/

    .mobileLogin {display:none;}

    .show-grid [class*="span"] {
        background-color: #transparent;
        border-radius: 3px 3px 3px 3px;
        line-height:none;
        min-height: 40px;
        text-align: left;
        margin-bottom:0px;
        margin-top: 0px;
    }

    .mobileText { display:none }
    .borderBottomMobile { border-bottom:none; float:left; padding-right:0px;}

    .lrgHide, .mobileShow {display:none }

    .fl-wrapper {
        padding: 0 0px !important;
    }

    .span2 .nav-tabs > li, .nav-pills > li {
        border-right: 0px solid #CCCCCC;
        cursor: pointer;
        float: none;
    }

    /*============= SEARCH / TOP NAV =================*/
    .nav-tabs > li, .nav-pills > li {
        border-right: 0px solid #CCCCCC;
        cursor: pointer;
        float: left;
    }



    .navbar .nav > li > a {
        color: #777777;
        float: none;
        font-size: 1.2em;
        padding: 0px 15px;
        text-decoration: none;
        text-shadow: 0 1px 0 #FFFFFF;
    }

    .navbar-inner {
        background-color: #e8e8e8;
        background-image: linear-gradient(to bottom, #e8e8e8, #FFF);
        background-repeat: repeat-x;
        border-radius: 0px;
        border: 0px;
        border-left: 1px solid #D4D4D4;
        border-right: 1px solid #D4D4D4;
        border-top: 1px solid #D4D4D4;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
        min-height:43px;
        max-height:43px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .navbar .searchContainer {
        color: #777777;
        display: block;
        float: right;
        font-size: 20px;
        font-weight: 200;
        margin-left: -20px;
        padding: 0px 5px 0px 0px;
        text-shadow: 0 1px 0 #FFFFFF;
        position: relative;
        z-index: 50;
    }

    .navbar .nav > li > .dropdown-menu:after {
        border-bottom: 10px solid #FFFFFF;
        border-left: 40px solid #FFFFFF;
        border-right: 40px solid #FFFFFF;
        content: "";
        display: none;
        position: absolute;
        right: 0;
        top: -6px;
        width: 1px;
    }

    .navbar .nav > li > .dropdown-menu:before {
        border-bottom: 07px solid rgba(0, 0, 0, 0.2);
        border-left: 0px solid transparent;
        border-right: 0px solid transparent;
        content: "";
        display: inline-block;
        left: 9px;
        position: absolute;
        top: -7px;
    }


/*}*/


/* ======= LARGE PHONES & MEDIUM TABLETS ========== */

/*
@media (max-width: 979px) {
    body 
    { 
        background-color:#fff;
        padding-left: 0px;
        padding-right: 0px;
    }

    form {
        float: left;
        margin: 0 0 0px;
        width: 100%;
    }

    .containerFull {
        background:none;
        margin: 0 auto -96px;
        max-width: 1000px;
        min-height: 100%;
        padding-bottom: 0;
    }

    .apdMarginTop {
        margin: 0 auto;
        padding-top: 30px;
    }


    .mobileLogin {display:none;}

    [class*="span"] {
        float: left;
        margin-left: 0px!important;
        min-height: 1px;
    }

    .show-grid .sectionBordersFull [class*="span"] { text-align: left; }
*/
    /*============= SEARCH / TOP NAV =================*/	
/*
    #blue-navbar .navbar-inner {
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        background-color: #E8E8E8;
        background-image: linear-gradient(to bottom, #E8E8E8, #FFFFFF);
        background-repeat: repeat-x;
        border-color: #D4D4D4 #D4D4D4 -moz-use-text-color;
        border-image: none;
        border-radius: 0 0 0 0;
        border-style: solid solid none;
        border-width: 1px 1px 0;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
        max-height: 43px;
        min-height: 43px;
        padding-left: 0;
        padding-right: 0;
    }

    .navbar .nav > li {
        float: left;
    }

    .searchBoxWrapper .icon-search 	
    {
        left: 92%;
        position: relative;
        top: -33px;
    }

    .subnav .nav-tabs > li, .nav-pills > li {
        border-right:none;
        cursor: pointer;
        float: left;
    }

    .nav-collapse.collapse {
        height: auto;
        overflow: visible;
    }


    .nav-collapse .nav > li {
        float: left;
        width: 25%;
        display:inline-block;
    }

    .navbar .nav > li > .dropdown-menu:after {
        border-bottom: 0px solid #FFFFFF;
        border-left: 0px solid #FFFFFF;
        border-right: 0px solid #FFFFFF;
        content: "";
        display: inline-block;
        position: absolute;
        right: 0;
        top: -6px;
        width: 37px;
    }

    .navMain .navbar .nav > li > a {
        color: #555555;
        float: none;
        font-size: 1.2em;
        padding: 0 15px;
        text-decoration: none;
        text-shadow:none;
    }

    .nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
        border-radius: 3px 3px 3px 3px;
        color: #777777;
        font-weight: normal;
    }

    .mobileLogin {display:none;}
    .btn-navbar {display:none;}

    .nav-pills > li > a { font-size:1.25em;}

    .topSearch { width:100%; }

    .searchBoxWrapper
    {
        border-right: 1px solid #CCCCCC;
        height: 30px;
        margin-left: 5px;
        margin-top: 30px;
        overflow: hidden;
        width: 99%;
    }

    .searchSelectContainer {
        float: left;
        width: 702px;
    }

    .searchBoxWrapper .icon-search 	
    {
        left: 96%;
        position: relative;
        top: -34px;
    }

    .navbar .btn-navbar {
        display: none;
    }

    .navbar .searchContainer {
        float: none;
        margin-left: 10px;
        margin-top: 30px;
    }
*/
    /* ============ICONS ================*/
/*    .icon-returnAPD, .icon-holdAPD, .icon-printAPD {
        margin-top: -3px;
    }	

    .span12 {
        width: 100%;
    }

    .fl-wrapper {
        padding: 0 5px !important;
    }

    .apdMarginTop {margin-top:0px}

    .backstretch {visibility:hidden; }
    .podRemove {visibility:hidden }

    .btnRemove {
        margin-top: -4px;
        padding: 0 2px;
    }

    .home .span10 {
        padding-left: 37px;
        width: 76%;
    }

    .home .span2, .productSearch .span2
    {
        margin-top:20px;
    }
    .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
        width: 96%;
    }

    #header img {
        float: left;
        padding-top: 20px;
        padding-bottom:20px;
    }

    #header {margin:0 auto;}


    .span2 { width: 18%; }
    .span10 { width: 76%; margin-left:20px;}


    .category-menu > li:first-child {
        border-right: 1px solid #CCCCCC;
        float: left;
        width: 100%;
    }


    .show-grid [class*="span"] {
        background-color: #transparent;
        border-radius: 3px 3px 3px 3px;
        line-height: 20px;
        min-height: 0px;
        text-align: center;
        margin-bottom: 0px;
        margin-top: 0px;
    }


    .expressOrder {margin-right:20px;}

    footer .container {
        width:760px;
    }

    .mobilePic 
    {

        padding-right:5px !important;
    }

    .mobileText { display:none }
    .borderBottomMobile { border-bottom:none; float:left; padding-right:0px;}
    .qtyBtn, .mobileShow {display:none;}


    .pContainer
    {
        margin:0 0 20px 0px;
        padding: 5px 0 20px 0;
    }

    .pDesc-Container 
    {
        margin:0 10px 0 0;
        width:124px;
    }

    .pQuantity-Container 
    {
        margin:0 10px 0 0;
        width:88px;
    }

    .pPriceExtend-Container 
    {
        margin:0 10px 0 0;
        width: 95px;
    }


}
*/

/* ======= PHONES ========== */

/*
@media (max-width: 750px) {
    body { 
        border-top: 30px solid #09397e;
        background-color:#fff;
        padding-left: 0px;
        padding-right: 0px;
    }

    #header img {
        float: left;
        margin: 0 auto;
        padding-left: 15%;
    }
    .apdMarginTop {
        margin: 0 auto;
        padding: 10px;
    }

    .containerFull
    {
        max-width: 1000px;
        background:none;
        background-color:#FFF;
        margin: 0 auto -96px;
        padding-bottom:0px;
        min-height:100%;
        /*height:100%*/

    /*}*/
/*
    .show-grid [class*="span"] {
        background-color: #transparent;
        border-radius: 3px 3px 3px 3px;
        line-height: 20px;
        min-height: 0px;
        text-align: center;
        margin-bottom: 0px;
        margin-top: 0px;
    }


    .show-grid .sectionBordersFull [class*="span"] { text-align: left; }

    .backstretch {visibility:hidden; }

    .mobileLogin 
    {	
        display:inline-block;
        position:relative;
        top:-28px;
        left:10px;
    }
*/
    /*============= SEARCH / TOP NAV =================*/
/*
    #blue-navbar .navbar-inner {
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        background-color:transparent;
        background-image:none;
        background-repeat: repeat-x;
        border-color:transparent;
        border-image: none;
        border-radius: 0 0 0 0;
        border-style: solid solid none;
        border-width: 1px 1px 0;
        box-shadow:none;
        max-height: 43px;
        min-height: 43px;
        padding-left: 0;
        padding-right: 0;
    }

    .nav-collapse.collapse {
        height: 0 ;
        overflow: hidden;
    }

    .navbar .btn-navbar {
        display: inline-block;
    }

    .nav-collapse .nav > li {
        float: left;
        width: 100%;
    }

    .btn-navbar {display:inline-block; width:95%}
    .nav-collapse {background-color:#cccccc }z

    .nav-collapse {
        background-image:none;
        border:none;
        border-radius: 0px;
        /* min-height: 45px;*/
        /*
        width: 100%;
    }
    .nav-collapse .nav > li > .topSearch 
    {
        border-left: 0;
        border-radius: 0 0 0 0;
        border-right: 0;
        margin: 0;
        padding-bottom: 0px;
        padding-top: 0px;
        font-family: 'Open Sans Condensed', sans-serif;
    }	

    .searchBoxWrapper .icon-search {
        background-color:#fff;
        margin-bottom:1px;
        left: 94%;
        padding: 3px 0;
        position: relative;
        top: -35px;
    }

    .navbar .nav > li > a, .logoutButtonForm, .logoutButtonForm a, .logOutBtn, .logOutBtn a {
        color: #FFF;
        float: left;
        font-family: 'Open Sans Condensed',sans-serif;
        font-size: 1.2em;
        font-weight: bold;
        line-height: 40px;
        margin-top: -6px;
        position: relative;
        text-decoration: none;
        text-shadow:none;
        text-transform: uppercase;
        width: 100%;
    }

    .navbar .nav > li > .dropdown-menu:before {
        border-bottom: 7px solid rgba(0, 0, 0, 0.2);
        border-left: 0 solid transparent;
        border-right: 0 solid transparent;
        content: "";
        display: inline-block;
        left: 9px;
        position: absolute;
        top: -7px;
    }

    .navbar .nav > li > .dropdown-menu:after {
        border-bottom: 0px solid #FFF;
        border-left: 0px solid #FFF;
        border-right: 0px solid #FFF;
        content: "";
        display: inline-block;
        position: absolute;
        right: 0;
        top: -6px;
        width: 0px;
    }

    .navbar .searchContainer {
        float: none;
        margin-left: 0px;
        margin-top: 0px;
    }



    .dropdown-submenu > .dropdown-menu {
        border-radius: 0 6px 6px 6px;
        left:0;
        margin-left: 0px;
        margin-top: 0;
        top: 0;
        width: 100%;
    }

    .category-item .category-header, .category-item .submenu ul li p, .category-item .submenu ul li a{
        margin: 0px; padding-bottom:10px; font-size:1em; width:100%
    }

    .category-menu > li:first-child {
        border-right:none;
        float: none;
        display:inline-block;
        width: 100%;
    }



    .mobileHide { display:none !important; }



    .topSearch .form-search .input-append, .topSearch .form-inline .input-append, .topSearch .form-search .input-prepend, .topSearch .form-inline .input-prepend {
        margin-bottom: 0;
        margin-right: 15px;
        width: 80%;
    }

    .topSearch input.span3, .topSearch textarea.span3, .topSearch .uneditable-input.span3 {
        width: 80%;
    }

    .topSearch .input-append .btn {
        border-radius: 0;
        max-width: 100px;
        font-size:11px;
    }

    .topSearch .bootstrap-select:not([class*="span"]) {
        width: 100px;
    }



    .navbar-search {
        margin: 0 auto;
        width: 100%;
    }

    .btn-group {
        display: inline-block;
        width: 100%;
    }
    .navbar-search input {
        float: left;
        margin-bottom: 0;
        margin-top: 5px;
        width: 75%;
    }

    #search-dropdown {
        float: left;
        border: 1px solid #CCCCCC;
        border-radius: 0 0 0 0;
        font-size: 15px;
        letter-spacing: 0.05em;
        margin-top: 5px;
        width: 48px;
    }

    #login-header .span4 {
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }

    [class*="span"], .uneditable-input[class*="span"], .row-fluid [class*="span"] {
        -moz-box-sizing: border-box;
        display: block;
        float: none;
        margin-left: 0;
        width:100%;
    }

    .logowrapper {margin:0 auto; text-align:center; padding-top:20px; }

    .loginMgn-left {
        margin-left: 35px !important;
        margin-top: 30px;
        padding-right: 50px !important;
    }

    .expressOrder {
        margin-right: 0px;
    }

    [class*="span"], .uneditable-input[class*="span"], .row-fluid [class*="span"] {
        -moz-box-sizing: border-box;
        display: block;
        float: none;
        margin-left: 0;
        width: 100%;
    }


    footer nav {
        display:none;
    }

    footer .container {
        width:90%;
    }

    footer .container {margin-left:10px;}

    footer div > * {
        float: left;
        width: 100%;
    }
*/
    /* ==========  PRODUCTS SHOPPING CART  =========== */
/*
    .mobilePic 
    {
        width:50% !important; 
        text-align:left !important;
        float:left !important; 
        padding-bottom: 150px;
    }
    .mobileRight 
    {
        /*width:50% !important;*/ 
        /*float:right !important;*/
        /*
        text-align:left !important; 
    }

    .product-price { font-size:1.25em }
    .product-ExpriceHeader, .productFeature {text-align:left }
    .qtyBtn {display:none;}
    .mobileText { display:inline-block }
    .qtyContainer { margin-top: 15px; }
    .qtyContainerMain { position:relative; top:0}

    .CartLink, .CartLink a {
        line-height: 40px;
        text-align: left;
        margin-bottom:3px;
        font-size:1.025em;
        width:90%;
    }

    .shoppingBtns {width:100%}
    .shoppingBtn { float:left; margin-right:10px}
    .borderBottomMobile { border-bottom:1px solid #ccc; padding-right:30px; float:none;}

    .marginLeft {margin-left:10px;}

    .lrgHide {display:inline-block; }

    .product-infoComp {
        float: left;
        padding: 0 10px 0 5px;
        width: 40%;
    }

    .product-infoComp .price-per-unit {
        color: #555555;
        cursor: pointer;
        font-size: 1em;
        margin-right: 0;
        margin-bottom:15px;
    }

    .product-infoComp .qtyContainer {
        margin-top: -2px;
    }
    .product-units {margin-bottom:25px;}
*/
    /* ==================================== */
    /*   PRODUCT SEARCH                     */
    /* ==================================== */
/*
    .productSearch .span10 {
        margin-left: 0;
        width: 100%;
    }

    .productContainer .price-per-unit { width: 91%; font-size:1em}

    .btnsPS .qtyContainer {float:none;}
    .btnsPS {
        float: none !important;
    }

    .mobilePicPS {
        float: left !important;
        padding-bottom: 140px;
        text-align: left !important;
        width: 50% !important;
    }

    .rightLinkPS select[class*="span"], .rightLinkPS .uneditable-input {
        display: inline;
    }

    .carousel-inner > .item > img, .carousel-inner > .item > a > img {
        display: block;
        line-height: 1;
        margin: 0 auto;
    }

    .productContent {
        margin-top: 15px;
        padding-left: 3%;
        padding-right: 20px;
    }

    .pd-left {float:none; margin-left:20px;}

    .btn-primary {

        width: 88%;
    }

    .seeMoreHeader h5, .divInside-Fade h5 {margin-left:10px; margin-right:10px; font-size:1.3125em; font-weight:normal; margin-top: 0px;}

    .smallBtn {margin-left:10px;}

    .checkoutBtn, .placeOrderBtn {width:100%; margin: 0 auto 0 2%; text-align:center}

    #productDetailTabs h5 {
        font-size: 1em;
        margin: 7px 0;
    }

    #productDetailTabs {
        list-style: none outside none;
        margin-bottom: 0;
        margin-left: 0px;
    }

    .tab-content {
        border-bottom: 1px solid #CCCCCC;
        border-left: 1px solid #CCCCCC;
        border-right: 1px solid #CCCCCC;
        margin-left: 0px;
        padding: 10px 0;
        width: 100% !important;
    }

    .nav-tabs > li > a, .nav-pills > li > a {
        line-height: 14px;
        margin-right: 2px;
        padding-left: 6px;
        padding-right: 6px;
    }

    .tab-content p {margin-left:15px !important }

    .btn-primary {
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        background-color: #C70007;
        background-image: linear-gradient(to bottom, #E9666D, #C70007);
        background-repeat: repeat-x;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #DA000C;
        border-image: none;
        border-radius: 5px 5px 5px 5px;
        border-style: solid;
        border-width: 1px;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 0;
        padding: 4px 15px;
        text-align: center;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
        vertical-align: middle;
    }

    .orderBox {
        margin-bottom: 15px;
        margin-top: 15px;
    }
    #productDetailTabs > li, .divInside-Fade {
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .mobileShow {display:inline-block }
    .orderDetails p {display:inline-block}
    .mobileMargins {padding:10px 0}
    .product-Exprice{
        text-align: left;
    }

    .orderReportContainer {padding:10px;}

    .fl-wrapper {
        padding: 0 0px !important;
    }

    .text-to { text-align:left; margin-left:40px;}

    .row-fluid .similar-ItemsContainer
    {
        border:1px solid #cccccc;
        padding:10px 5px 10px 5px;
        width:100%!important;
    }

    .similar-ItemsWrapper .sQuantityContainer {
        margin: 0;
        width:auto!important;
    }

    .sQuantityContainer .smallBtn 
    {
        margin-right:20px!important;
    }

    .similar-ItemsWrapper .fl-wrapper
    {
        padding-left:10px!important;
    }


}*/