/* z-index fix for rollover menus */
#top-container {
	position: relative;
	z-index: 1;
}

.apdMarginTop > .span2 {
	position: relative;
	z-index: 5;
}

/* IE7 pagination alignment override */
.pagination ul {
	display: inline;
}

.listInput input {
	width: 130px;
}

.shoppoingCart-Header h3, .shoppoingCart-Header p {
	zoom: 1;
	display: inline;
}

/* Fix for shopping cart alignment in top nav menu */
#shopping-cart-dropdown {
	width: 155px;
}

/* Fixes for add to cart widths */
.btnsPS .smallBtn, .qtyContainer .smallBtn, .btnsPS .smallBtnDisabled, .qtyContainer .smallBtnDisabled, .product-info .smallBtn, .product-info .smallBtnDisabled {
	width: 75px;
}

.qtyContainer .addToCartBtn {
	width: 95px;
}

/* workaround for IE7 float: right issue */
ul.breadcrumb {
	position: relative;
}

.breadcrumb > li {
	line-height: 40px;
}
/*
.breadcrumb > li.dropdown {
	position: absolute;
	right: 0;
	top: 0;
}
*/
#top-container .expressOrder {
	float: none;
	position: absolute;
	right: 0;
	top: 65px;
}

.wizard-modal-header .wizard-close.pull-right.btnRed {
	position: absolute;
	top: 5px;
	right: 5px;
}

/* Clearfix fix */
div[class="clearfix"] {
	width: 100%;
	height: 0px;
}

/* Clearing dynamic message's container */
.shoppingBtns + .pull-left {
	clear: both;
}

.rightSideBtn em[class^='icon-'], .rightSideBtn em[class^='icon-'] + p {
	zoom: 1;
	display: inline;
}

/* Fix for search/dropdown issue */
#search-form .searchBoxContainerInner table td {
	width: auto !important;
}

#loginMain {
	background-color: transparent;
}

/* Fixes IE7 height issue in punchouts */
#iframe_container {
	height: 100%;
}

#iframe_bottom_div {
	height: 80%;
}