<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core" 
	template="/WEB-INF/layout/administrationTemplate.xhtml">
	
	<ui:define name="main">
		<h:message />
		<h:form>
		
			<h:outputLabel for="startDate" value="Start Date:"/>
			  <h:panelGroup>
            	<rich:calendar id="startDate" value="#{auditLogBean.startDate}" />
              </h:panelGroup>
        	<h:outputText/>
        
        
        	<h:outputLabel for="endDate" value="End Date:"/>
        	  <h:panelGroup>
            	<rich:calendar id="endDate" value="#{auditLogBean.endDate}" />
              </h:panelGroup>
        	<br />
		    
			<h:selectOneMenu value="#{auditLogBean.clazz}" converter="#{auditLogBean.classConverter}">
				<f:selectItems value="#{auditLogBean.auditTables}" var="item" itemValue="#{item}" itemLabel="#{auditLogBean.getSimpleName(item)}"/>
			</h:selectOneMenu>
			<br />
			
			<h:commandLink value="Generate" styleClass="btn btn-primary" action="#{auditLogBean.generate}" />
			<h:outputText value=" Or " />
			<h:commandLink value="Email csv to:" styleClass="btn btn-primary" action="#{auditLogBean.sendEmail}" />
			<h:inputText value="#{auditLogBean.email}"/>
		</h:form>
		
		<h:panelGrid rendered="#{auditLogBean.results != null and !auditLogBean.results.isEmpty()}" >
			<table>
				<thead>
					<tr>
						<th class="span2">TimeStamp</th>
						<th class="span1">Username</th>
						<th class="span1">Primary Key</th>
						<th class="span1">Field</th>
						<th class="span3">Old Value</th>
						<th class="span3">New Value</th>
					</tr>
				</thead>

			<c:forEach items="#{auditLogBean.results}" var="result">
				<c:forEach items="#{result.entityDifferences}" var="entry">
					<tr>
						<th>#{result.timestamp}</th>
						<th>#{result.username}</th>
						<th>#{result.primaryKey}</th>
						<th>#{entry.key}</th>
						<th>#{entry.value[0]}</th>
						<th>#{entry.value[1]}</th>
					</tr>
				</c:forEach>
			</c:forEach>
			</table>
		</h:panelGrid>
		
	</ui:define>
</ui:composition>