<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:apd="http://java.sun.com/jsf/composite/apd"
				xmlns:forgeview="http://jboss.org/forge/view"
                template="/WEB-INF/layout/administrationTemplate.xhtml">

	<f:metadata>
		<f:event type="preRenderView" listener="#{serviceLogBean.retrieve}" />
	</f:metadata>

	<ui:define name="main">
        <h:form id="serviceLog-form">
        	<ui:include src="/customerservice/serviceLogList.xhtml">
				<ui:param name="render" value="serviceLog-form" />
        	</ui:include>
        
		</h:form>
	
	<ui:include src="/customerservice/serviceLogModals.xhtml">
		<ui:param name="render" value="serviceLog-form" />
    </ui:include>
	
    </ui:define>

</ui:composition>