<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">

		<h:panelGrid columnClasses="label,component,required" columns="3">
			
			<h:outputLabel for="orderTypeBeanOrderTypeValue" value="Value:"/>
			<h:panelGroup>
				<h:inputText id="orderTypeBeanOrderTypeValue" value="#{orderTypeBean.orderType.value}"/>
				<h:message for="orderTypeBeanOrderTypeValue" styleClass="error"/>
			</h:panelGroup>
			<h:outputText/>
			
			<h:outputLabel for="orderTypeBeanOrderTypeDescription" value="Description:"/>
			<h:panelGroup>
				<h:inputText id="orderTypeBeanOrderTypeDescription" value="#{orderTypeBean.orderType.description}"/>
				<h:message for="orderTypeBeanOrderTypeDescription" styleClass="error"/>
			</h:panelGroup>
			<h:outputText/>
		</h:panelGrid>

</ui:composition>