<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">

		<h:panelGrid columnClasses="label,component,required" columns="3">
			
			<h:outputLabel for="actionTypeBeanActionTypeName" value="Name:"/>
			<h:panelGroup>
				<h:inputText id="actionTypeBeanActionTypeName" value="#{actionTypeBean.actionType.name}"
					required="true" requiredMessage="#{validation['field.name.required']}"/>
				<rich:message for="actionTypeBeanActionTypeName" styleClass="error"/>
			</h:panelGroup>
			<h:outputText/>
			
			<h:outputLabel for="actionTypeBeanActionTypeDescription" value="Description:"/>
			<h:panelGroup>
				<h:inputText id="actionTypeBeanActionTypeDescription" value="#{actionTypeBean.actionType.description}"/>
				<rich:message for="actionTypeBeanActionTypeDescription" styleClass="error"/>
			</h:panelGroup>
			<h:outputText/>
		</h:panelGrid>

</ui:composition>