<p>A credit has been applied for the following amount:
${result.totalAmount?string.currency}
 </p>

To the following card: <br />
${result.nameOnCard} <br />
${result.cardIdentifier} <br />
${result.cardExpriation} <br />

 
