<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:rich="http://richfaces.org/rich" xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view">
	<div>

		<h4>Department</h4>
		<div class="phoenix-table">
			<div class="phoenix-table-scroll">
				<table class="table table-hover table-striped">
					<thead>
						<tr>
							<th><a id="addRemove" href="#" class="btn-link btn-default" data-toggle="tooltip"
									title="indicates if the department is being added or removed">
									<i class="icon-info-sign" />
								</a></th>
							<th>Division/Department</th>
							<th>Manager</th>
							<th>Manager Email</th>
						</tr>
					</thead>
					<tbody>
						<a4j:repeat rowKeyVar="index" var="assignedTask">
							<tr>
								<td class="span1 pull-right actionContainer"><a4j:commandLink render="listsForm">
									</a4j:commandLink></td>
							</tr>
						</a4j:repeat>
					</tbody>
				</table>
			</div>
		</div>

		<!-- here are the icons to render based if it is a add or remove -->
		<span class="label label-success">
			<i class="icon-plus icon-white" />
		</span>
		<span class="label label-important">
			<i class=" icon-minus icon-white" />
		</span>
	</div>
	<script type="text/javascript">
	$(function ()  
	{ $('#addRemove').tooltip({placement: 'right'});
		});
	</script>
</ui:composition>