<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:rich="http://richfaces.org/rich" xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view">
	<div>

		<h3>User:</h3>
		<div class="control-group">
			<label class="control-label" for="firstName">First:</label>
			<div class="controls">
				<input type="text" id="firstName" placeholder="first name" />
			</div>
			<label class="control-label" for="lastName">Last:</label>
			<div class="controls">
				<input type="text" id="lastName" placeholder="last name" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="email">Email:</label>
			<div class="controls">
				<input type="text" id="email" placeholder="user@company.domain" />
			</div>
			<label class="control-label" for="phone">Phone Number:</label>
			<div class="controls">
				<input type="text" id="phone" placeholder="(###) 867-5309" />
			</div>
			<label class="control-label" for="extension">Ext:</label>
			<div class="controls">
				<input type="text" id="extension" placeholder="extension" />
			</div>
		</div>
	</div>
</ui:composition>