<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
        xmlns:apd="http://java.sun.com/jsf/composite/apd">
    <h:panelGroup id="orderResults" layout="block" styleClass="span12 fl-wrapper" rendered="#{orderHistoryBean.orderList.size() > 0}">
            <div class="span12 fl-container">
                <div class="span12 divInside-Fade">
                    <h5>#{display['history.results.title']}</h5>
                </div>
		

		<div class="row-fluid">
			<div class="span12">
				<div class="span7">
					<p>#{display['history.results.instruction']}</p>
				</div>
				<div class="span4 offset1">
					<i class="icon-file"></i>
						<h:commandLink id="getCsvBtn" class="checkoutBtn" action="#{orderHistoryBean.downloadCustomerOrderList()}" value="Export to CSV" />
				</div>
			</div>
		</div>

			<table class="table table-striped">
                <thead>
                    <tr>
                        <th>APD Order #</th>
                        <th>Customer PO</th>
                        <th>Account</th>
                        <th>Credential</th>
                        <c:if test="#{!orderHistoryBean.requestingUserOnlyHistory}">
                            <th>User</th>
                        </c:if>
                        <th>Order Date</th>
                        <th>Status</th>
                        <th>Order Total</th>
                        <th>Last Ship Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                    <ui:repeat var="order" value='#{orderHistoryBean.orderList}' >
                        <tr>
                            <td>
                                <h:outputText converter="#{orderHistoryBean.poConverter}" value="#{order.getApdPo()}" />
                            </td>
                            <td>
                                <h:outputText converter="#{orderHistoryBean.poConverter}" value="#{order.customerPo}" />
                            </td>
                            <td>
                                <h:outputText value="#{order.account}" />
                            </td>
                            <td>
                                <h:outputText value="#{order.credential}" />
                            </td>
                            <c:if test="#{!orderHistoryBean.requestingUserOnlyHistory}">
                                 <td>
                                     <h:outputText value="#{order.user.login}" />
                                 </td>
                            </c:if>
                            <td align="center" >
                                <h:outputText value="#{order.orderDate}">
									<f:convertDateTime pattern="MM/dd/yyyy" />
								</h:outputText>
                            </td>
                            <td align="center" >
                                <h:outputText value='#{orderHistoryBean.statusToDisplay(order)}' />
                            </td>
                            <td align="center" >
                                <h:outputText value="#{order.getOrderTotal()}">
									<f:convertNumber currencySymbol="$" type="currency" />
								</h:outputText>
                            </td>
                            <td align="center" >
                                <h:outputText value="#{order.getLastShipDate()}">
									<f:convertDateTime pattern="MM/dd/yyyy" />
								</h:outputText>
                            </td>
                            <td align="center">
                                <h:commandButton value='View' class="btn btn-link btn-small" action="#{orderDetailsBean.setCurrentOrder(order)}"/>
                            </td>
                            <td align="center">
                                <a4j:commandButton value='Add Items To Cart' styleClass="btn btn-link btn-small" action="#{shoppingCartBean.addOrderItemsToCart(order)}"
                                                   oncomplete="window.location.href='#{linksBean.cart}'"/>
                            </td>
                        </tr>				
                    </ui:repeat>
			</table>
                <div>
                   <apd:pagination pageDisplay="#{orderHistoryBean.listPaginationWidget}" render="orderResults" />
                </div>     
            </div>
     </h:panelGroup>
     <h:outputText value="No orders found that meet the selected criteria." rendered="#{orderHistoryBean.orderList.size() lt 1 and orderHistoryBean.displayNoResultsMessage eq 'true'}" />
</ui:composition>
