<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"	
                xmlns:forgeview="http://jboss.org/forge/view"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j">

    <div class="span12 fl-wrapper">

        <div class="span12 fl-container">
            <div class="span12 divInside-Fade">
                <h5>#{display['history.criteria.title']}</h5>
            </div>

            <div class="span12 orderReportContainer">
                <div class="span12">
                    <h4>#{display['history.criteria.instruction']}</h4>  
                </div>	

                <div class="span12">
                    <!-- ==== CAL 1  ==== -->
                    <div class="span2"><p>#{display['history.criteria.range']}</p></div>
                    <div id="dp1" class="input-append date span3 day-month-year-date" data-date-format="mm-dd-yyyy" data-date="dateValue: today">
                        <h:inputText class="span6" id="orderStartDate" value='#{orderHistoryBean.selectedStartDate}' required="true" requiredMessage="You must select a start date.">
                            <f:convertDateTime pattern="MM-dd-yyyy" />
                        </h:inputText>
                        <span class="add-on">
                            <i class="icon-calendar"></i>
                        </span>
                    </div>
                    <!-- ==== CAL 1  ==== -->    
                    <div class="span1 text-to">to</div>
                    <!-- ==== CAL 2  ==== -->
                    <div class="span2"><p>#{display['history.criteria.range']}</p></div>
                    <div id="dp2" class="input-append date span3 day-month-year-date" data-date-format="mm-dd-yyyy" data-date="dateValue: today">
                        <h:inputText class="span6" id="orderEndDate" value='#{orderHistoryBean.selectedEndDate}' required="true" requiredMessage="You must select an end date." >
                            <f:convertDateTime pattern="MM-dd-yyyy" />
                        </h:inputText>
                        <span class="add-on">
                            <i class="icon-calendar"></i>
                        </span>
                    </div>                              
                    <!-- ==== CAL 2  ==== -->    
                </div> 
                <div class="span12">
                    <div class="span2"><p>#{display['history.criteria.po']}</p></div>
                    <div id="dp1" class="input-append date span6 day-month-year-date">
                        <h:inputText class="span12" id="inputPO" value="#{orderHistoryBean.selectedPO}" />
                    </div>
                </div>
                <div class="span12"><hr/></div>
                <div class="row-fluid">
	                <div class="span6">
	                    <div class="span4"><p>#{display['history.criteria.type']}</p></div>
	                    <div class="input-append date span8 day-month-year-date">
	                        <h:selectOneMenu styleClass="span8" converter="#{orderHistoryBean.statusConverter}" value="#{orderHistoryBean.selectedStatus}" id="orderHistoryBeanSelectedStatus">
	                            <f:selectItem/>
	                            <f:selectItems value="#{orderHistoryBean.statusList}" 
	                                           var="status" itemValue="#{status}" itemLabel="#{status.description}" />
	                        </h:selectOneMenu>
	                    </div> 
	                </div>
	                <c:if test="#{credentialSelectionBean.hasPermission('shopping view account history') or credentialSelectionBean.hasPermission('shopping view credential history')}">
		                <div class="span6">
		                    <div class="span4"><p>Orders To List</p></div>
		                    <div class="input-append date span8 day-month-year-date">
		                        <h:selectOneMenu styleClass="span8" value="#{orderHistoryBean.requestLimitation}" id="orderHistoryBeanRequestLimitation">
		                            <f:selectItems value="#{orderHistoryBean.requestLimitationsForUser}" />
		                        </h:selectOneMenu>
		                    </div> 
		                </div>
	                </c:if>
                    <br/><br/><h:messages id="orderHistoryErrorMsg" class="error" style="color:red;"/>
                </div>
                <div class="span12">
                    <div class="span2 orderBtn"></div>
                    <div class="span2 orderBtn">
                        <h:commandButton id="findOrderBtn" styleClass="checkoutBtn" action="#{orderHistoryBean.retrieveOrderHistory()}" value="Generate Report" />
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>     

</ui:composition>
