<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:apd="http://java.sun.com/jsf/composite/apd"
	template="/WEB-INF/layout/administrationTemplate.xhtml">

	<ui:define name="main">
		<div>Pick List Search</div>
		<div>
			<c:if test="not empty shipConfirmationBean.errors">
			Validation Errors:<br/>
			</c:if>
			<a4j:repeat iterationStatusVar="status" rowKeyVar="index" var="error"
							value="#{shipConfirmationBean.errors}">
							#{error}<br />
			</a4j:repeat>
		</div>
		<h:form>
			<div>
				<h:outputLabel value="APD PO#:" />
				<h:inputText value="#{shipConfirmationBean.apdPo}" />
			</div>
			<div>
				<h:outputLabel value="Shipper ID:" />
				<h:inputText value="#{shipConfirmationBean.shipperId}" />
			</div>
			<div class="btn-group" layout="block">
				<h:commandLink value="Search"
					action="#{shipConfirmationBean.search}"
					styleClass="btn btn-apd">
					<i class="icon-ok"></i>
				</h:commandLink>
			</div>
			<h:panelGroup rendered="#{!empty shipConfirmationBean.searchResults}">
			<div>
				<table id="pickListOrderHeader">
					<tbody>
						<tr>
							<td>Customer PO #</td>
							<td rowspan="3" class="headerRight">Order Date #{shipConfirmationBean.order.orderDate}</td>
						</tr>
						<tr>
							<td>APD Order # #{shipConfirmationBean.order.apdPo}</td>
						</tr>
						<tr>
							<td>Order Total #{shipConfirmationBean.order.orderTotal}</td>
						</tr>
					</tbody>
				</table>
				<table id="pickListOrder">
					<thead>
						<tr class="detailHeader">
							<th class="small">Line #</th>
							<th class="small">Ordered Qty</th>
							<th class="medium">Status</th>
							<th class="small">Ship Confirm Qty</th>
							<th class="medium">APD Sku</th>
							<th class="medium">Supplier Part ID</th>
							<th class="small">Ext. Price</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
						<a4j:repeat iterationStatusVar="status" rowKeyVar="index" var="searchResult"
							value="#{shipConfirmationBean.searchResults}">
							<tr class="#{status.even ? 'even' : 'odd'} overview">
								<td>#{searchResult.lineItem.lineNumber}</td>
								<td>#{searchResult.lineItem.quantity}</td>
								<td>#{searchResult.lineItem.status.value}</td>
								<td><h:inputText maxlength="4" styleClass="qty" value="#{searchResult.qtyToPick}"/></td>
								<td>#{searchResult.lineItem.apdSku}</td>
								<td>#{searchResult.lineItem.supplierPartId}</td>
								<td>$#{shipConfirmationBean.computeExtPrice(searchResult.lineItem.unitPrice,searchResult.lineItem.quantity)}</td>
								<td>#{searchResult.lineItem.shortName != null ? searchResult.lineItem.shortName : searchResult.lineItem.description}</td>
							</tr>
							<tr class="detail">
								<td colspan="8">
								Vendor: #{searchResult.lineItem.vendor.name}<br />
								Unit Price: $#{searchResult.lineItem.unitPrice}<br />
								Units: #{searchResult.lineItem.unitOfMeasure.name}<br />
								Tax: $#{searchResult.lineItem.maximumTaxToCharge}<br />
								Shipping: $#{searchResult.lineItem.estimatedShippingAmount}
								</td>
							</tr>
						</a4j:repeat>
					</tbody>
				</table>
			</div>
			<div class="confirm">
				<div>
					<h:outputLabel value="Number of Boxes:" />
					<h:inputText maxlength="4" styleClass="qty" value="#{shipConfirmationBean.boxes}"/>
				</div>
				<div class="btn-group" layout="block">
					<h:commandLink value="Ship Confirm"
						action="#{shipConfirmationBean.confirm()}"
						styleClass="btn btn-apd">
						<i class="icon-ok"></i>
					</h:commandLink>
				</div>
			</div>
			</h:panelGroup>
		</h:form>
	</ui:define>
</ui:composition>