<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                template="/WEB-INF/layout/loginTemplate.xhtml">

	<ui:param name="pageTitle" value="Unexpected Error" />

	<ui:define name="header">
		Unexpected Error
	</ui:define>

	<ui:define name="subheader" />

	<ui:define name="footer" />

    <ui:define name="main">
    	
    	<script type="text/javascript">
			function dateTime() {
				var currentdate = new Date();
				return "" + currentdate.getFullYear() + "-" + (currentdate.getMonth() + 1) + "-" + currentdate.getDate() 
				+ " " + currentdate.getHours() + ":" + currentdate.getMinutes() + ":" + currentdate.getSeconds();
			}
    	</script>
              <h2>#{display['error.header']}</h2>
              <h3 style="color: #555555"><strong>#{display['error.body']}</strong></h3>

              <div id="header" class="navbar navbar-fluid container">
                  		<a href="/customerservice" class="errorLink">Click Here for Login Page</a>
              </div>

        <h3 style="color: #555555"><strong>#{display['error.timestamp']} 
        	<script type="text/javascript">
			    document.write(dateTime())
			</script>
		</strong></h3>
    </ui:define>

</ui:composition>