<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich" xmlns:forgeview="http://jboss.org/forge/view">

	<h:head>
		
		<h:outputStylesheet library="css/bootstrap" name="bootstrap.css" />
		<h:outputStylesheet library="css" name="main-style-sheet.css" />
	</h:head>

	<f:metadata>
		<f:event type="preRenderView" listener="#{workflowTaskBean.retrieve}" />
	</f:metadata>

	<h:body>
		<ui:include src="/timeout/idleLogoutModal.xhtml"/>		
		<ui:include src="/WEB-INF/layout/administrationHeader.xhtml" />
		<div class="phoenix-container">
		  <h:form id="taskManagement">
			<h:panelGroup rendered="#{workflowTaskBean.isTechSupport()}" layout="block" styleClass="row apdCenter container">
                <h:outputText value="Task id=" />
                <h:inputText  value="#{workflowTaskBean.taskToClaim}" />
                <h:outputText value=", User=" />
                <h:inputText  value="#{workflowTaskBean.delegateUser}" />
                <h:commandButton value="Delegate" action="#{workflowTaskBean.forceClaim()}" /> <br />
                
                <h:outputText value="Task id=" />
                <h:inputText  value="#{workflowTaskBean.taskToRelease}" />
                <h:commandButton value="Un-suspend" action="#{workflowTaskBean.resume()}" /> <br />

                <h:outputText value="Task id=" />
                <h:inputText  value="#{workflowTaskBean.taskToRelease}" />
                <h:commandButton value="Remove (Duplicate)" action="#{workflowTaskBean.duplicate()}" />
                <h:commandButton value="Remove (Already Fixed)" action="#{workflowTaskBean.alreadyFixed()}" /> <br />
			</h:panelGroup>
			<h:commandButton rendered="#{!workflowTaskBean.showingCompletedTasks}" value="Show Completed Tasks" action="#{workflowTaskBean.setShowingCompletedTasks(true)}" styleClass="btn btn-apd" />
            <h:commandButton rendered="#{workflowTaskBean.showingCompletedTasks}" value="Hide Completed Tasks" action="#{workflowTaskBean.setShowingCompletedTasks(false)}" styleClass="btn btn-apd" />
          </h:form>
            
		  <h:form id="taskType">
            <h:panelGroup styleClass="pull-right">
            <h:outputText value="Task Types To Show: " />
			<h:selectOneMenu id="workflowTaskType" value="#{workflowTaskBean.taskType}" >
		    	<f:selectItem itemLabel="All Types" noSelectionOption="true"/>
				<f:selectItems value="#{workflowTaskBean.allTaskTypes}" />
			</h:selectOneMenu>
            <h:commandButton value="Apply Filter" action="#{workflowTaskBean.refreshList()}" styleClass="btn" />
			</h:panelGroup>
          </h:form>
          <h:messages />
			<div id="work-block" class="container-fluid">
				<div id="assignedTasks">
					<ui:include src="/admin/customerService/assignedTasks.xhtml" />
				</div>
				<div id="availableTasks">
					<ui:include src="/admin/customerService/availableTasks.xhtml" />
				</div>
			</div>
		</div>
		<rich:popupPanel id="workflowHistoryModal" domElementAttachment="body">
	        <h:form id="workflowHistoryModalForm">
				<a4j:region>
					<f:facet name="header">
						<h:outputText value="Add Account" />
					</f:facet>
					<f:facet name="controls">
						<h:commandLink value="X" style="cursor:pointer">
							<rich:componentControl target="workflowHistoryModal" operation="hide" />
						</h:commandLink>
					</f:facet>
						
					<rich:dataTable id="workflowLogTable" 
						value="#{workflowTaskBean.workflowLogList}"
						var="workflowLog">
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Time" />
							</f:facet>
							<div>
								<h:outputText value="#{workflowLog.changeDate}" />
							</div>
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Action" />
							</f:facet>
							<div>
								<h:outputText value="#{workflowLog.taskEvent.toString()}" />
							</div>
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="User" />
							</f:facet>
							<div>
								<h:outputText value="#{workflowLog.csrUser}" />
							</div>
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Target" />
							</f:facet>
							<div>
								<h:outputText value="#{workflowLog.target}" />
							</div>
						</rich:column>
					</rich:dataTable>
					
					<a4j:commandLink value="Close" onclick="#{rich:component('workflowHistoryModal')}.hide(); return false;" />
				</a4j:region>
			</h:form>
	    </rich:popupPanel>
		<ui:insert name="admin_footer">
			<a4j:outputPanel ajaxRendered="true">
				<h:form style="display:none" prependId="false">
					<h:inputHidden id="maximumErrorSeverity" value="#{facesContext.maximumSeverity.ordinal}" />
				</h:form>
			</a4j:outputPanel>			
			<script type="text/javascript">
                //<![CDATA[

                /*function showPopupModal(modal) {
                 if (data.status == "success") {
                 RichFaces.$(modal).show();
                 }
                 }
                 function hidePopupModal(data, modal) {
                 if (data.status == "success") {
                 RichFaces.$(modal).hide();
                 }
                 }*/

                // Ajax convenience functions
                function isAjaxEvent(data, ajaxEvent) {
                    if (data) {
                        return data.status == ajaxEvent;
                    }
                }
                function isPreAjaxEvent() {
                }
                function isPostAjaxEvent() {
                }

                function ajaxRequestContainsErrors() {
                    var maximumErrorSeverity = document.getElementById("maximumErrorSeverity").value;
                    return maximumErrorSeverity == "2" || maximumErrorSeverity == "3";
                }

                jQuery.fn.center = function () {
                    this.css("position","absolute");
                    this.css("top", (($(window).height() - this.outerHeight()) / 2) + $(window).scrollTop() + "px");
                    this.css("left", (($(window).width() - this.outerWidth()) / 2) + $(window).scrollLeft() + "px");
                    return this;
                }
                // Popup Panel control functions
                function showPopup(popupModalId) {
                    if (!ajaxRequestContainsErrors()) {
                        controlPopup(popupModalId, "show");
                    }
                    RichFaces.$(popupModalId).getContentElement().center();
                }
                function hidePopup(popupModalId) {
                    if (!ajaxRequestContainsErrors()) {
                        controlPopup(popupModalId, "hide");
                    }
                }
                function controlPopup(popupModalId, operation) {

                    if (RichFaces) {
                        if (operation == "show") {
                            RichFaces.$(popupModalId).show();
                        } else if (operation == "hide") {
                            RichFaces.$(popupModalId).hide();
                        }
                    } else {
                        throw "Supported JavaScript implementation of popup modal control could not be found.";
                    }
                }

                // JSF AJAX issue workaround (START) (address known JSF issue AJAX response updates content in different form with missing/stale viewstate) 
                jsf.ajax.addOnEvent(function(data) {
                    if (data.status == "success") {
                        var viewState = getViewState(data.responseXML);

                        for (var i = 0; i < document.forms.length; i++) {
                            if (!hasViewState(document.forms[i])) {
                                createViewState(document.forms[i], viewState);
                            }
                        }
                    }
                });

                function getViewState(responseXML) {
                    var updates = responseXML.getElementsByTagName("update");

                    for (var i = 0; i < updates.length; i++) {
                        if (updates[i].getAttribute("id") == "javax.faces.ViewState") {
                            return updates[i].firstChild.nodeValue;
                        }
                    }

                    return null;
                }
                function hasViewState(form) {
                    if (form) {
                        for (var i = 0; i < form.elements.length; i++) {
                            if (form.elements[i].name == "javax.faces.ViewState") {
                                return true;
                            }
                        }
                        return false;
                    }
                }
                function createViewState(form, viewState) {
                    var hidden;
                    try {
                        hidden = document.createElement("<input name='javax.faces.ViewState'/>"); // IE6-8.
                    } catch (e) {
                        hidden = document.createElement("input");
                        hidden.setAttribute("name", "javax.faces.ViewState");
                    }
                    hidden.setAttribute("type", "hidden");
                    hidden.setAttribute("value", viewState);
                    hidden.setAttribute("autocomplete", "off");
                    form.appendChild(hidden);
                }
                // JSF AJAX issue workaround (END)
                //]]>
            </script>
            

		</ui:insert>		
       	<ui:include src="/timeout/idleLogoutScripts.xhtml"/>
		
	</h:body>
</ui:composition>
