<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:apd="http://java.sun.com/jsf/composite/apd"
	template="/WEB-INF/layout/administrationTemplate.xhtml">

	<ui:define name="main">
		<h3>Jumptrack Manual Integration</h3>
		<p>
		<c:if test="#{not empty shipManifestBean.error}" >
		#{shipManifestBean.error}
		</c:if>
		</p>
		<h:form id="jumptrackUpload">
			<div class="btn-group" layout="block">
				<h:commandLink value="Upload Manifest"
					action="#{shipManifestBean.aggregateAndUpload()}"
					styleClass="btn">
					<i class="icon-ok"></i>
				</h:commandLink>
			</div>
			<p></p>
			<div class="btn-group" layout="block">
				<h:commandLink value="Send Stop Notice Request"
					action="#{shipManifestBean.sendStopNoticeRequest()}"
					styleClass="btn">
					<i class="icon-ok"></i>
				</h:commandLink>
			</div>
			<p></p>
			<div class="btn-group" layout="block">
				<h:commandLink value="Verify Ussco Manifests"
					action="#{shipManifestBean.verifyUsscoManifests()}"
					styleClass="btn">
					<i class="icon-ok"></i>
				</h:commandLink>
			</div>
		</h:form>
	</ui:define>
</ui:composition>