<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"	
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:forgeview="http://jboss.org/forge/view"
                xmlns:apd="http://java.sun.com/jsf/composite/apd">
    <rich:popupPanel id="accountIconsModal" autosized="true" resizeable="false" moveable="false" domElementAttachment="body">

        <h:form id="accountIconsModalForm">
            <a4j:region>
                <f:facet name="header">
                    <h:outputText value="Specify Icon URL for Property or Classification" />
                </f:facet>
	
				<h:outputLabel for="iconsPropertyType" value="Item Property Type:"/>
				<h:panelGroup>
			       <h:selectOneMenu id="iconsPropertyType" value="#{accountBean.currentIcon.propertyType}"
			       		converter="#{itemPropertyTypeBean.converter}">
			       		<f:ajax event="change" listener="#{accountBean.clearIconClassification()}" render="accountIconsModalForm:iconsClassificationType" />
				    	<f:selectItem itemLabel="Select..." noSelectionOption="true"/>
			   			<f:selectItems value="#{itemPropertyTypeBean.all}"
			   				 var="type" itemValue="#{type}" itemLabel="#{type.name}" />
			   		</h:selectOneMenu>
				</h:panelGroup>
	
				<h:outputLabel for="iconsClassificationType" value="Classification Type:"/>
				<h:panelGroup>
			       <h:selectOneMenu id="iconsClassificationType" value="#{accountBean.currentIcon.classificationType}"
			       		converter="#{itemClassificationTypeBean.converter}" >
			       		<f:ajax event="change" listener="#{accountBean.clearIconProperty()}" render="accountIconsModalForm:iconsPropertyType" />
				    	<f:selectItem itemLabel="Select..." noSelectionOption="true"/>
			   			<f:selectItems value="#{itemClassificationTypeBean.all}"
			   				 var="type" itemValue="#{type}" itemLabel="#{type.name}" />
			   		</h:selectOneMenu>
				</h:panelGroup>
	
				<h:outputLabel value="Icon URL:"/>
				<h:inputText value="#{accountBean.currentIcon.overrideIconUrl}" />

                <div class="btn-group" layout="block">
					<a4j:commandLink value="Confirm" styleClass="btn btn-primary" 
						render="#{render}:accountBeanCustomerIcons" 
						execute="@region"
						action="#{bean.saveIcon()}"
						oncomplete="hidePopup('accountIconsModal');" />
					<a4j:commandLink value="Cancel"
						styleClass="btn btn-primary" 
						immediate="true"
						action="#{bean.clearFields('accountIconsModal')}"
						oncomplete="hidePopup('accountIconsModal');" />
                </div>

            </a4j:region>
        </h:form>

    </rich:popupPanel>
</ui:composition>