<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:apd="http://java.sun.com/jsf/composite/apd"
	template="/WEB-INF/layout/administrationTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="id" value="#{accountBean.account.id}" />
		<f:event type="preRenderView" listener="#{accountBean.retrieve}" />
        <f:event type="preRenderView" listener="#{accountBean.setAddingRootAccount(true)}"/>
	</f:metadata>

	<ui:param name="pageTitle" value="Create Root Account" />

	<ui:define name="header">
		Root Account
	</ui:define>

	<ui:define name="subheader" />

	<ui:define name="footer" />

	<ui:define name="main">
		<h:form id="work">
            <div id ="accountDetailsBlock">
                <ui:include src="/admin/account/accountDetails.xhtml" />
            </div>
			<div id="account-edit-btn-block" class="btn-group" layout="block">
                <a4j:commandLink value="Save" action="#{accountBean.setAddingRootAccount(true)}" oncomplete="showPopup('work:rootWarningModal');"
                    styleClass="btn btn-success" execute="@form" >
                    <i class="icon-ok"></i>
                </a4j:commandLink>
            </div>
			<rich:popupPanel id="rootWarningModal" autosized="true" resizeable="false" moveable="false" domElementAttachment="form">
				<a4j:region>
					<f:facet name="header">
						<h:outputText value="Root Account Warning" />
	    			</f:facet>
	    			<f:facet name="controls">
	    				<a href="#" style="cursor:pointer" onclick="#{rich:component('work:rootWarningModal')}.hide()">X</a>
	    			</f:facet>
					Are you sure you want to add a root account?
		      		
		      		<div class="btn-group" layout="block">
						<h:commandLink value="Confirm" styleClass="btn btn-primary" 
							action="#{accountBean.update}"
							oncomplete="hidePopup('work:rootWarningModal');" />
						<a href="#" class="btn btn-primary" onclick="#{rich:component('work:rootWarningModal')}.hide()">Cancel</a>
					</div>
				</a4j:region>
			</rich:popupPanel>	
		</h:form>
		<apd:phoneNumberModal id="sectionPhoneNumberModal" phoneNumber="#{accountBean.currentNumber}" actionBean="#{accountBean}" render="work:phoneNumberSection:phoneNumberList:phoneTable" />
		<apd:addressModal id="sectionAddressModal" address="#{accountBean.currentAddress}" actionBean="#{accountBean}" render="work:addressSection:addressList:addressTable" />
		<apd:accountSameRootModal id="sectionChildLinkModal" account="#{accountBean.currentAccount}" actionBean="#{accountBean}" render="work" />
<ui:remove>		
		<apd:processModal process="#{accountBean.currentProcess}" actionBean="#{accountBean}" render="work" />
</ui:remove>
		<ui:include src="/admin/bulletin/bulletinModal.xhtml">
			<ui:param name="bean" value="#{accountBean}" />
			<ui:param name="render" value="work" />
		</ui:include>
		<ui:include src="/admin/poNumber/poNumberModal.xhtml">
			<ui:param name="bean" value="#{accountBean}" />
			<ui:param name="render" value="work" />
		</ui:include>
		<ui:include src="/admin/property/propertyModal.xhtml">
			<ui:param name="bean" value="#{accountBean}" />
			<ui:param name="typeBean" value="#{accountPropertyTypeBean}" />
			<ui:param name="postConfirmRender" value="work:propertyList" />
		</ui:include>
		<ui:include src="/admin/credential/credentialModal.xhtml">
			<ui:param name="bean" value="#{accountBean}" />
			<ui:param name="render" value="work" />
		</ui:include>
		<ui:include src="/admin/group/groupModal.xhtml">
			<ui:param name="bean" value="#{accountBean}" />
			<ui:param name="render" value="work" />
		</ui:include>
		<ui:include src="/admin/paymentInformation/paymentInformationModal.xhtml">
			<ui:param name="bean" value="#{accountBean}" />
			<ui:param name="render" value="work" />
		</ui:include>
		<ui:include src="/admin/paymentInformation/paymentInformationPersonModal.xhtml">
			<ui:param name="bean" value="#{accountBean}" />
			<ui:param name="render" value="work" />
		</ui:include>
		<ui:include src="/admin/ipAddress/ipAddressModal.xhtml">
			<ui:param name="bean" value="#{accountBean}" />
			<ui:param name="render" value="work" />
		</ui:include>
		<ui:include src="/admin/notificationProperties/notificationModal.xhtml">
			<ui:param name="bean" value="#{accountBean}" />
			<ui:param name="render" value="work" />
		</ui:include>
		<ui:include src="/admin/notificationProperties/notificationPersonSelectionModal.xhtml">
			<ui:param name="bean" value="#{accountBean}" />
			<ui:param name="render" value="work" />
		</ui:include>
                
                
	</ui:define>

</ui:composition>