<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
				xmlns:forgeview="http://jboss.org/forge/view"
                template="/WEB-INF/templates/ecommerceCredentialSelectionTemplate.xhtml">

	<f:metadata>
		<f:event type="preRenderView" listener="#{credentialSelectionBean.trySkipSelection()}" />
	</f:metadata>
	
    <ui:define name="page_content">
            <h:form id="credentialSelectForm">
                <div id="credential">
                    <h:form id="credentialSelectForm">
                        <p>#{display['credential.instruction']}</p>
                        <div id="credential">
                            <h:selectOneMenu id="credentialSelection" immediate="true" value="#{credentialSelectionBean.currentAXCXU}"
					       		converter="#{credentialSelectionBean.credentialConverter}" required="true"
					       		requiredMessage="#{validation['credential.selection.required']}">
						    		<f:selectItem itemLabel="Select a catalog" noSelectionOption="true"/>
					   			<f:selectItems value="#{forgeview:asList(credentialSelectionBean.userCredentials)}"
					   				 var="cred" itemValue="#{cred}" itemLabel="#{cred.credential.name}" />
					   		</h:selectOneMenu>
                            <div>
                                <rich:message for="credentialSelection" />
                            </div>
                        </div>
                    </h:form>
                    <line>
                        <h:commandLink value="Continue" action="#{credentialSelectionBean.redirectToRequestedPageOrStartPage()}"
                        	styleClass="btn btn-apd" />
                        <h:commandLink value="View Tasks" action="/ecommerce/task/taskList?faces-redirect=true" 
                        	styleClass="btn" />
                    </line>
                </div>
            </h:form>
    </ui:define>






</ui:composition>
