<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                template="/WEB-INF/templates/ecommerceLoginTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="genKey" value="#{newPasswordBean.generatedKey}"/>
		<f:viewParam name="emailKey" value="#{newPasswordBean.emailKey}"/>
		<f:event type="preRenderView" listener="#{newPasswordBean.retrieve}"/>
	</f:metadata>

    <ui:define name="page_content">   
        <h:form>
            <rich:panel rendered="#{newPasswordBean.user != null}" 
            	header="#{display['newPassword.header']}" id="password_panel">
                <rich:messages for="gv" />
                <rich:messages globalOnly="true" />
                <div class="row-fluid">
					<div class="span4">
                    	<h:outputText value="Enter new password:" />
                    </div>
                    <div class="span8">
	                    <h:inputSecret value="#{newPasswordBean.password}" id ="pass"/>
	                    <rich:message for="pass" />
                    </div>
                    
                </div>
                <div class="row-fluid">
					<div class="span4">
                    	<h:outputText value="Confirm the new password:" />
                    </div>
                    <div class="span8">
	                    <h:inputSecret value="#{newPasswordBean.confirm}" id="conf"/>
	                    <rich:message for="conf" />
                    </div>

                </div>
                <h:form>
                	<h:commandButton value="Store changes" action="#{newPasswordBean.storeNewPassword()}" />
                </h:form>
            </rich:panel>
            <rich:panel rendered="#{newPasswordBean.user == null}">
            	<div>
		    #{display['newPassword.error']}
	       	</div>
			</rich:panel>
        </h:form>
        
    </ui:define>

</ui:composition>
