<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view">
	
	<h:outputLabel for="propertyList" value="Properties:"/>
	<h:panelGroup>
		<a4j:region>
		<rich:extendedDataTable id="propertyList" value="#{propertyList}" var="row">
			<rich:column>
		       <f:facet name="header">
		         <h:outputText value="Type:" />
		       </f:facet>
		       <h:outputText value="#{row.type != null ? row.type.name : ''}" />
		    </rich:column>

			<rich:column>
		       <f:facet name="header">
		         <h:outputText value="Value:" />
		       </f:facet>
			   <h:outputText value="#{forgeview:isCurrencyType(row.type) ? forgeview:toCurrency(row.value) : row.value}"/>
		    </rich:column>

                    <rich:column>
                        <f:facet name="header">
                            <h:outputText value="Action:" />
                        </f:facet>
                        <a4j:commandLink 
                            id="editProperty" 
                            value="Edit"
                            action="#{bean.setCurrentProperty(row)}" 
                            render=":propertyModal"
                            immediate="true"
                            oncomplete="showPopup('propertyModal');">
                            <a4j:param name="cid"
                                       value="#{javax.enterprise.context.conversation.id}" />
                        </a4j:commandLink>
                        
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">
                            <h:outputText value="Delete:" />
                        </f:facet>
                        <a4j:commandLink value="Delete" 
                                         immediate="true"
                                         action="#{bean.removeProperty(row)}" 
                                         render="propertyList" />
                    </rich:column>
		</rich:extendedDataTable>
		<a4j:commandLink 
				id="addProperty" 
				value="Add Property"
				styleClass="btn btn-primary"
				execute="@this"
				immediate="true"
				action="#{bean.createProperty()}"
				render=":propertyModal"
				oncomplete="showPopup('propertyModal');">
				<a4j:param name="cid"
					value="#{javax.enterprise.context.conversation.id}" />
			</a4j:commandLink>
			<h:inputHidden id="propertyValidate" validator="#{bean.validateUniqueProperties}" />
			<rich:message for="propertyValidate" styleClass="error" />
		</a4j:region>
	</h:panelGroup>
	<h:outputText/>
	
</ui:composition>