<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core">


    <ul class="nav nav-tabs nav-stacked">
        <li class="dropdown-submenu"><a href="#"><strong>Category</strong></a></li>
        <c:forEach var="level1Item"
                   items="#{searchBean.categoryMenu.topLevelCategoriesList}" varStatus="status">

            <li class="dropdown-submenu">
                <a href="#{searchBean.categoryMenu.getUrl(level1Item)}">#{level1Item}</a>
                <c:set var="maxWidth" value="4" />
                <c:set var="level1Size" value="searchBean.categoryMenu.getMenuWidth(level1Item)" />
                <ul class="dropdown-menu category-menu"
                    style="width:#{level1Size > maxWidth ? (maxWidth * 200) + 6 : level1Size * 200}px">

                    <c:forEach var="level2Item" items="#{searchBean.categoryMenu.getLevelOneMenuItems(level1Item)}" varStatus="l2status">
                        <li class="category-item"> 
                            <ul class="submenu">
                                <li>
                                    <a href="#{searchBean.categoryMenu.getUrl(level2Item, level1Item)}" class="category-header">#{level2Item}</a>
                                </li>
                            </ul>
                        </li>
                    </c:forEach>
                </ul>
            </li>
        </c:forEach>
    </ul>
</ui:composition>