<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:a4j="http://richfaces.org/a4j">

    <h:panelGroup id="manufacturerFacetList" layout="block" rendered="#{searchBean.renderManufacturerWidget()}"> 
        <ul id="manufacturerList" class="nav nav-tabs nav-stacked">
            <li>
                <a><strong>Manufacturer</strong></a>
            </li>
            <a4j:repeat rowKeyVar="index" var="manufacturer" value="#{searchBean.manufacturerWidgetKeySet}">
            	<li>
                    <a class="#{searchBean.isSelectedManufacturer(manufacturer) ? 'selected' : 'manufacturer'}" 
                    href="#{searchBean.isSelectedManufacturer(manufacturer) ? searchBean.filterOnManufacturer('') : 
                    searchBean.filterOnManufacturer(manufacturer)}">#{manufacturer} (#{searchBean.getManufacturerCountByName(manufacturer)})</a>
				</li>
            </a4j:repeat>
           <li id="showAll">
                <a><strong>Show All</strong></a>
            </li>
        </ul>
    </h:panelGroup>

</ui:composition>