<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:apd="http://java.sun.com/jsf/composite/apd">
		<rich:popupPanel id="personModal" autosized="true" resizeable="false" moveable="false" domElementAttachment="parent">
		
		<h:form id="personModalForm">
			<a4j:region>
			<f:facet name="header">
				<h:outputText value="Add Person" />
   			</f:facet>
   			<f:facet name="controls">
       			<a4j:commandLink value="X" style="cursor:pointer" onclick="#{rich:component('personModal')}.hide(); return false;" />
   			</f:facet>
   			
   			<label for="personFirstName">First Name</label>
   			<h:inputText id="personFirstName" value="#{personBean.firstName}" />
   			
   			<label for="personLastName">Last Name</label>
   			<h:inputText id="personLastName" value="#{personBean.lastName}" />
   			
   			<label for="personEmail">Email</label>
   			<h:inputText id="personEmail" value="#{personBean.email}" />
   			
   			<h:panelGroup layout="block">
            <h:outputLabel value="Phone Numbers" />
            <apd:phoneNumberSection id="personPhoneNumbers" actionBean="#{personBean}" phoneCollection="#{personBean.numbers}" modalId="personPhoneNumberModal" />
        	</h:panelGroup>
      		
      		<div class="btn-group" layout="block">
				<a4j:commandLink value="Confirm" styleClass="btn btn-primary" 
					render="#{render}:beanPersons personModalForm" 
					action="#{bean.setPerson(personBean.persistPerson())}"
					oncomplete="hidePopup('personModal');" />
				<a4j:commandLink value="Cancel" styleClass="btn btn-primary" immediate="true" 
					render="personModalForm"
					action="#{personBean.clear()}"
					oncomplete="hidePopup('personModal');" />
			</div>
			
			</a4j:region>
		</h:form>
      		
	    </rich:popupPanel>
	    <apd:phoneNumberModal id="personPhoneNumberModal" phoneNumber="#{personBean.currentNumber}" actionBean="#{personBean}" render="personModalForm:personPhoneNumbers:phoneNumberList:phoneTable" modalId="personPhoneNumberModal" />
</ui:composition>