#banner {
	padding:20px 0 20px 0;
}

#content {
    height: 400px;
}

#footer {
    height: 400px;
}
/* mockup styling */
#action  {
    border: 1px solid #CCC;
    width: 100%;
    height: 180px;
    text-align: center;
}

#credentialSelectForm{
    border: 1px solid #CCC;
    width: 100%;
    height: 180px;
    text-align: left;    
}
#credential{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
#credential .btn-large{
margin-right: 5px;
width: 120px;
}


#user_info{

}

/* mockup styling */
#logo div {
    height: 150px;
    border: 1px solid #CCC;
    width: 100%;
    text-align: center;
}