

#loginHeader{
    padding-top:20px;
    padding-left:9px;
}

#loginHomeRow{    
    margin: 0 auto; 
    text-align: center; 
    width: 945px; 
    height: 30px; 
    border: 1px solid #C0C0C0;
}

#homeLbl{
    padding-top:8px; 
    padding-left:5px; 
    float: left;
}	

#customerServiceInfo{    
    padding-top:8px; 
    padding-right:5px; 
    float: right;"
}

#loginLogoRow{
    margin: 0 auto; 
    text-align: center; 
    width: 100%; 
    padding-top: 15px;
}

#chsLogo{
    float: left; 
    visibility: hidden;
}

#apdLogo{
     float: right; 
     padding-right:10px;
}

#login-content{
    border: black;
}

#login_form{
    background:url(/shopping/resources/img/loginPageIcons/LoginFormBgrd.jpg);
    width:340px; 
    float: left; 
    margin-top: 25px; 
    padding-top: 25px; 
}

#login-field{
    width:450px;
}

#login-TabName1{
    padding-left:10px; 
    font-size:30px;
}

#login-UsernameLbl{
    padding-left: 10px; 
    font-size:25px;
}

#login-UsernameFld{
    padding-left: 10px;
}

#login-PasswordLbl{
    padding-left: 10px; 
    padding-top: 25px; 
    font-size:25px
}

#login-PasswordFld{
    padding-left: 10px;
}

#loginBtnRow{
    padding-left:10px;
    padding-top:15px;
}

#rememberLbl{
    float:right; 
    padding-left: 10px; 
    padding-right: 125px; 
    font-size:15px;
}

#rememberChk{
    float:right; 
    padding-right:50px;
}

#submit{
    float:left; 
    font-size:15px; 
    width:150px; 
    height:35px; 
    border:1px solid #C0C0C0;
}

#loginForgot{
    padding-left:10px;
    padding-top: 75px;
}

#customerReg{
    font-size:15px;
}


#loginRegistered{
    padding-left:10px;
}

#loginWelcome{
    float: right;
    margin-top: 25px;
    border: 1px solid #C0C0C0;
    width:572;
    height:390; 
    background:url(/shopping/resources/img/People2.jpg);   
}

#loginWelcomeMsg{
    width:572px; 
    height:390px;
    padding-top:5px; 
    margin-left:5px; 
    font-size:16px;
}

#loginFollowUs{
    float: left; 
    width:184px; 
    height:120px; 
    border: 1px solid #C0C0C0;
}

#followUsImages{
    float: left; 
    padding-left:10px; 
    padding-top: 5px;
}

#loginCallUs{
    float: left; 
    width:260px; 
    height:120px; 
    border: 1px solid #C0C0C0;
}

#loginEmailUs{
    float: left; 
    width:245px; 
    height: 120px;
    border: 1px solid #C0C0C0;
}

#loginVisitUs{
    float: left; 
    width:250px; 
    height: 120px;
    border: 1px solid #C0C0C0;
}
