<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:apd="http://java.sun.com/jsf/composite/apd"
                template="/WEB-INF/layout/administrationTemplate.xhtml">

	<f:metadata>
		<f:event type="preRenderView" listener="#{issueLogBean.retrieve}" />
	</f:metadata>

	<ui:define name="main">
        <div id ="issueLogInfoBlock">
            <h:form id="work">
                <div id ="searchBlock">
                    <h:outputLabel value="Ticket Number" />
					<h:inputText value="#{issueLogBean.ticketNumber}" />
                    <h:outputLabel value="Contact Name" />
					<h:inputText value="#{issueLogBean.contactName}" />
                    <h:outputLabel value="Contact Number" />
					<h:inputText value="#{issueLogBean.contactNumber}" />
                    <h:outputLabel value="Contact Email" />
					<h:inputText value="#{issueLogBean.contactEmail}" />
                    <h:outputLabel value="Department" />
					<h:inputText value="#{issueLogBean.department}" />
                </div>
                <div id ="issueLogDetailsBlock">
                    <h:outputLabel id="fromDateLabel" class="control-label" for="logStartDate" data-toggle="tooltip"
					title="the date range when the order was placed" value="From: " />
					<rich:calendar id="logStartDate" value="#{issueLogBean.startDate}" />
					<h:outputLabel class="control-label" for="logEndDate" value="To: " />
					<rich:calendar id="logEndDate" value="#{issueLogBean.endDate}" />
					
					<h:outputLabel value="Issue Category" />
					<h:selectOneMenu styleClass="span3a"
					value="#{issueLogBean.issueCategory}"
					id="issueLogCategoryMenu">
					<f:selectItem />
					<f:selectItems value="#{issueLogBean.issueCategoryList}" var="issueCat"
                    	itemValue="#{issueCat}" itemLabel="#{issueCat}" />
                    </h:selectOneMenu>
					
					<h:outputLabel value="Status" />
					<h:selectOneMenu styleClass="span3a"
					value="#{issueLogBean.ticketStatus}"
					id="issueLogTicketStatusMenu">
					<f:selectItem />
					<f:selectItems value="#{issueLogBean.ticketStatusList}" var="status"
                    	itemValue="#{status}" itemLabel="#{status}" />
                    </h:selectOneMenu>
                    
                    <h:outputLabel value="CSV Download " />
                    <h:selectBooleanCheckbox value="#{issueLogBean.csvDownload}" />
                </div>

                <div class="btn-group" layout="block">
                	<h:commandLink value="Search" action="#{issueLogBean.search}" styleClass="btn btn-apd" >
                        <i class="icon-ok"></i>
                    </h:commandLink>
                </div>
            </h:form>
            
            
        </div>
    </ui:define>

</ui:composition>