<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:apd="http://java.sun.com/jsf/composite/apd"
                template="/WEB-INF/layout/administrationTemplate.xhtml">

	<f:metadata>
		<f:event type="preRenderView" listener="#{issueLogBean.retrieve}" />
	</f:metadata>

	<ui:define name="main">
        <h:form id="issueLog-form">
			<div class="phoenix-table phoenix-table-scroll">
			<h:outputText value="No results have been returned for these criteria." rendered="#{issueLogBean.issueLogs.size() lt 1}" />
				<table class="table table-hover table-striped">
					<thead>
						<tr>
							<th class="span3">Ticket</th>
							<th class="span2">Status</th>
							<th class="span1">Contact Name</th>
							<th class="span1">Contact Phone Number</th>
							<th class="span1">Contact Email</th>
							<th class="span1">Department</th>
							<th class="span1">APD Order #</th>
							<th class="span1">Issue</th>
							<th class="span1">Description</th>
							<th class="span1">Created</th>
							<th class="span1">Follow Up Date</th>
							<th class="span1">Comments</th>
							<th class="span1">Resolve</th>
						</tr>
					</thead>
					<tbody>
						<a4j:repeat rowKeyVar="index" var="log" value="#{issueLogBean.issueLogs}">
							<tr>
								<td class="span3">
									#{log.ticketNumber}
								</td>
								<td class="span2">
									#{log.status}
								</td>
								<td class="span2">
									#{log.contactName}
								</td>
								<td class="span2">
									#{log.contactNumber}
								</td>
								<td class="span2">
									#{log.contactEmail}
								</td>
								<td class="span2">
									#{log.department}
								</td>
								<td class="span2">
									#{log.customerOrder.apdPo}
								</td>
								<td class="span2">
									#{log.issueCategory}
								</td>
								<td class="span2">
									#{log.issueDescription}
								</td>
								<td class="span2">
									#{log.openedDate}
								</td>
								<td class="span2">
									#{log.scheduledFollowUp}
								</td>
								<td class="span1 pull-right actionContainer">
							       <a4j:commandLink 
										id="commentIssueLog" 
										value="View/Add Comments"
										action="#{contactLogBean.setCurrentContactLog(log)}" 
										render="issueLog-form :contactLogCommentModal"
										immediate="true"
										oncomplete="showPopup('contactLogCommentModal');" />
								</td>
								<td class="span1 pull-right actionContainer">
							       <a4j:commandLink 
										id="resolveIssueLog" 
										value="Resolve"
										action="#{issueLogBean.setCurrentIssueLog(log)}" 
										render="issueLog-form :issueLogResolveModal"
										immediate="true"
										oncomplete="showPopup('issueLogResolveModal');" />
								</td>
							</tr>
						</a4j:repeat>
					</tbody>
				</table>
		</div>
		<apd:pagination pageDisplay="#{issueLogBean.issueLogsPagination}" render="issueLog-form" />
	</h:form>
	
	<rich:popupPanel id="issueLogResolveModal" autosized="true" resizeable="false" moveable="false" domElementAttachment="parent">
	
	<h:form id="issueLogResolveModalForm">
		<a4j:region>
		<f:facet name="header">
			<h:outputText value="Issue Log" />
  			</f:facet>
  			<f:facet name="controls">
      			<a4j:commandLink value="X" style="cursor:pointer" immediate="true"
      			render="issueLogResolveModalForm"
				action="#{issueLogBean.cancel()}"
				oncomplete="hidePopup('issueLogResolveModal');" />
  			</f:facet>
  			
            <h:outputLabel for="issueResolution" value="Resolution" />
            <h:inputTextarea id="issueResolution" value="#{issueLogBean.currentIssueLog.resolution}" 
            	required="true" requiredMessage="#{validation['contactlog.resolution.required']}" />
		
		<div class="btn-group">
			<a4j:commandLink value="Resolve" styleClass="btn btn-apd" 
				render=":issueLog-form issueLogResolveModalForm"
				action="#{issueLogBean.resolve()}"
				oncomplete="hidePopup('issueLogResolveModal');" />
			<a4j:commandLink value="Cancel" styleClass="btn" immediate="true" 
				render="issueLogResolveModalForm"
				action="#{issueLogBean.cancel()}"
				oncomplete="hidePopup('issueLogResolveModal');" />
		</div>
		
		</a4j:region>
	</h:form>
     		
    </rich:popupPanel>
	
	<ui:include src="/customerservice/contactLogComment.xhtml" />
	
    </ui:define>

</ui:composition>