#LoadModule proxy_module modules/mod_proxy.so
#LoadModule proxy_ajp_module modules/mod_proxy_ajp.so
LoadModule slotmem_module modules/mod_slotmem.so
LoadModule manager_module modules/mod_manager.so
LoadModule proxy_cluster_module modules/mod_proxy_cluster.so
LoadModule advertise_module modules/mod_advertise.so

Listen {{ mod_cluster_mgr_port }}

# workaround JBPAPP-4557
MemManagerFile /var/cache/mod_proxy/manager
Maxnode {{ mod_cluster_maxnodes }}
Maxhost {{ mod_cluster_maxhosts }}
Maxcontext {{ mod_cluster_maxcontexts }}

<VirtualHost *:{{ mod_cluster_mgr_port }}>
   <Location /mod_cluster-manager>
      SetHandler mod_cluster-manager
      Order deny,allow
      Deny from all
      Allow from 127.0.0.1
   </Location>

   <Location />
      Order deny,allow
      Deny from all
      Allow from 10.
      Allow from 127.0.0.1
   </Location>

   KeepAliveTimeout 60
   MaxKeepAliveRequests 0
   ManagerBalancerName mycluster
   ServerAdvertise Off
   EnableMCPMReceive On
</VirtualHost>
