<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:c="http://java.sun.com/jstl/core"
	template="/WEB-INF/templates/ecommerceLoginTemplate.xhtml">


	<ui:define name="page_content">
		<div id="login-header" class="row-fluid">
			<div class="span4">
				<a href="#{linksBean.home}"><img src="#{propertiesBean.get('aws.integration','content.service.secure.domain')}/images/APD-logo.png" width="201" height="50" /></a>
			</div>
		</div>
		<div id="loginContainerMain" style="border:1px solid blue;">
			<div id="login-content" style="border:1px solid red;">
				<div style="border:1px solid green;">
					<div class="span5 loginMgn-left" style="width: 850px">
						<h2>Change Location Request</h2>						
						<hr />
						<h:form id="userRequest" class="form-inline" onkeypress="return event.keyCode != 13">
                                                    <h:messages id="messages" style="color:red;"/>
                        <div style="border:1px solid #C0C0C0; padding-bottom: 10px;">
                        	<div>
								<h3>User To Change</h3>
							</div>
							<div class="login-row">
								<h:outputLabel for="userId" value="Your User ID *" />
								<h:inputText id="userId"
                                                        value="#{userMaintenanceBean.userId}" validator="matchLoginValidator" required="true" requiredMessage="The 'User ID' must be provided.">
                                                        <f:ajax event="blur" render="messages" />
                                                        </h:inputText>
							</div>                            
							<div class="login-row">
								<h:outputLabel for="first" value="First Name: *" />
								<h:inputText id="first"
									value="#{userMaintenanceBean.firstName}" required="true" requiredMessage="The 'First Name' must be provided."/>
							</div>
							<div class="login-row">
								<h:outputLabel for="last" value="Last Name: *" />
								<h:inputText id="last"
									value="#{userMaintenanceBean.lastName}" required="true" requiredMessage="The 'Last Name' must be provided."/>
							</div>
							<div class="login-row">
								<h:outputLabel for="email" value="Email Address: *" />
								<h:inputText id="email" value="#{userMaintenanceBean.email}" rendered="#{not loginBean.isWalmartSubdomain}" required="true" requiredMessage="The 'Email' must be provided."/>
								<h:inputText id="walmartEmail" value="#{userMaintenanceBean.email}" validator="walmartEmailValidator" rendered="#{loginBean.isWalmartSubdomain}" required="true" requiredMessage="The 'Email' must be provided."/>
							</div>
							<div class="login-row">
								<h:outputLabel for="phone" value="Phone: *" />
								<h:inputText id="phone" value="#{userMaintenanceBean.phone}" required="true" requiredMessage="The 'Phone Number' must be provided."
									size="10" />
								<h:outputLabel for="ext" value="Ext:" styleClass="inline-input" />
								<h:inputText id="ext" size="4"
									value="#{userMaintenanceBean.ext}" />
							</div>
						</div>
						<div style="border:1px solid #C0C0C0; margin-top: 30px;">
							<div>
								<h3>Old Location Info</h3>
							</div>

							<div class="login-row">
								<h:outputLabel value="Ship-to Address 1 *" rendered="#{not loginBean.isWalmartSubdomain}" /><h:outputLabel value="Location Address 1 *" rendered="#{loginBean.isWalmartSubdomain}" />
								<h:inputText value="#{userMaintenanceBean.SAddress1}" required="true" requiredMessage="The 'Old Address 1' must be provided."/>
							</div>
							<div class="login-row">
								<h:outputLabel value="Ship-to Address 2 " rendered="#{not loginBean.isWalmartSubdomain}" /><h:outputLabel value="Location Address 2" rendered="#{loginBean.isWalmartSubdomain}" />
								<h:inputText value="#{userMaintenanceBean.SAddress2}" />
							</div>
							<div class="login-row">
								<h:outputLabel value="Ship-to City/St/Zip *" />
								<h:inputText value="#{userMaintenanceBean.SCity}" required="true" requiredMessage="The 'Old City' must be provided."/>
								<h:inputText style="margin-left: 7px" value="#{userMaintenanceBean.SState}" size="5" required="true" requiredMessage="The 'Old State' must be provided."/>
								<h:inputText style="margin-left: 7px" value="#{userMaintenanceBean.SZip}" size="9" required="true" requiredMessage="The 'Old Zip' must be provided."/>
							</div>
							<div class="login-row">
								<h:outputLabel value="Comments" />
								<h:inputText value="#{userMaintenanceBean.SComments}" />									
							</div>															
						</div>
						<div style="border:1px solid #C0C0C0; margin-top: 30px;">
							<div>
								<h3>New Location Info</h3>
							</div>

							<div class="login-row">
								<h:outputLabel value="Ship-to Address 1 *" rendered="#{not loginBean.isWalmartSubdomain}" /><h:outputLabel value="Location Address 1 *" rendered="#{loginBean.isWalmartSubdomain}" />
								<h:inputText value="#{userMaintenanceBean.newAddress1}" required="true" requiredMessage="The 'New Address 1' must be provided."/>
							</div>
							<div class="login-row">
								<h:outputLabel value="Ship-to Address 2" rendered="#{not loginBean.isWalmartSubdomain}" /><h:outputLabel value="Location Address 1" rendered="#{loginBean.isWalmartSubdomain}" />
								<h:inputText value="#{userMaintenanceBean.newAddress2}" />
							</div>
							<div class="login-row">
								<h:outputLabel value="Ship-to City/St/Zip *" />
								<h:inputText value="#{userMaintenanceBean.newCity}" required="true" requiredMessage="The 'New City' must be provided."/>
								<h:inputText style="margin-left: 7px" value="#{userMaintenanceBean.newState}" size="5" required="true" requiredMessage="The 'New State' must be provided."/>
								<h:inputText style="margin-left: 7px" value="#{userMaintenanceBean.newZip}" size="9" required="true" requiredMessage="The 'New Zip' must be provided."/>
							</div>
							<div class="login-row">
								<h:outputLabel value="Comments" />
								<h:inputText value="#{userMaintenanceBean.newComments}" />									
							</div>															
						</div>	
						<h:panelGroup rendered="#{loginBean.isWalmartSubdomain}">
							<div class="login-row" style="border:1px solid #C0C0C0; margin-top: 30px; padding-bottom:20px;">
								<h3>Requestor</h3>									
								<div class="login-row">
									<h:outputLabel for="requestor_name" value="Requestor Name *" />
									<h:inputText id="requestor_name"
										value="#{userMaintenanceBean.RName}" />
								</div>
								<div class="login-row">
									<h:outputLabel for="requestor_email" value="Requestor Email *" />
									<h:inputText id="requestor_email"
										value="#{userMaintenanceBean.REmail}" />
								</div>
								<div class="login-row">
									<h:outputLabel for="requestor_phone" value="Requestor Phone *" />
									<h:inputText id="requestor_phone"
										value="#{userMaintenanceBean.RPhone}" />
								</div>
								<div class="login-row">
									<h:outputLabel for="requestor_mgr_emails" value="Manager Email(s) *" />
									<h:inputText id="requestor_mgr_emails"
										value="#{userMaintenanceBean.RMgrEmails}" />
								</div>
								<div class="login-row">
									<h:outputText value="(separate with commas)" escape="false" />
								</div>						
							</div>	
							</h:panelGroup>		
							<div class="submit">
								<h:commandButton id="userAccount" value="Submit Request"
									action="#{userMaintenanceBean.submitChangeLocation()}"
									styleClass="btn-primary btn-large btn-info pull-left" />
							</div>							
						</h:form>
                        <div class="submit">
                            <form action="#{loginBean.homePage}">
                                <button style="float:right; margin-top:-90px;" class="btn-primary">Go To Home Page</button>
                            </form>
                            <form action="#{userMaintenanceBean.clearAll()}">
                                <button style="float:right; margin-right: 180px; margin-top:-90px;" class="btn-primary">Clear Fields</button>
                            </form>
                        </div>
					</div>
					<div class="span6 loginMgn-right pull-right">
						<div class="logowrapper">
							<img class="logoicon" src="#{marketingImagesBean.getImageUrl('createRequest1')}" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</ui:define>

</ui:composition>