<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:c="http://java.sun.com/jstl/core"
	template="/WEB-INF/templates/ecommerceLoginTemplate.xhtml">


	<ui:define name="page_content">
            <a4j:jsFunction name="setSAddress1">
                <a4j:param name="param1" assignTo="#{userMaintenanceBean.SAddress1}" />
            </a4j:jsFunction>
            <a4j:jsFunction name="setSAddress2">
                <a4j:param name="param1" assignTo="#{userMaintenanceBean.SAddress2}" />
            </a4j:jsFunction>
            <a4j:jsFunction name="setSCity">
                <a4j:param name="param1" assignTo="#{userMaintenanceBean.SCity}" />
            </a4j:jsFunction>
            <a4j:jsFunction name="setSState">
                <a4j:param name="param1" assignTo="#{userMaintenanceBean.SState}" />
            </a4j:jsFunction>
            <a4j:jsFunction name="setSZip">
                <a4j:param name="param1" assignTo="#{userMaintenanceBean.SZip}" />
            </a4j:jsFunction>
		<div id="login-header" class="row-fluid">
			<div class="span4">
				<a href="#{linksBean.home}"><img src="#{propertiesBean.get('aws.integration','content.service.secure.domain')}/images/APD-logo.png" width="201" height="50" /></a>
			</div>
		</div>
		<div id="loginContainerMain" style="border:1px solid blue;">
			<div id="login-content" style="border:1px solid red;">
				<div style="border:1px solid green;">
					<div class="span5 loginMgn-left" style="width: 850px">
						<h2>Change/Remove User</h2>						
						<hr />
						<h:form id="userRequest" class="form-inline" onkeypress="return event.keyCode != 13">
                                                    <h:messages id="messages" style="color:red;"/>
                        <div style="border:1px solid #C0C0C0; padding-bottom: 10px;">
                        	<div class="login-row">
								<label>Request Type </label>
								<h:selectOneMenu value="#{userMaintenanceBean.requestType}" required="true" requiredMessage="The 'Request Type' must be provided.">
									<f:selectItem itemValue="Modify User" itemLabel="Modify User"/>
									<f:selectItem itemValue="Delete User" itemLabel="Delete User" />																			
								</h:selectOneMenu>
							</div>
							<div class="login-row">
								<h:outputLabel for="userId" value="Your User ID *" />
								<h:inputText id="userId"
                                                        value="#{userMaintenanceBean.userId}" validator="matchLoginValidator" required="true" requiredMessage="The 'User ID' must be provided.">
                                                        <f:ajax event="blur" render="messages" />
                                                        </h:inputText>
							</div>
							<div class="login-row">
								<h:outputLabel value="Reason for modification/deletion *" />
								<h:inputText id="reasonForModification"
									value="#{userMaintenanceBean.reason}" required="true" requiredMessage="The 'Reason for Modification/Deletion' must be provided.">
									<f:ajax event="blur" render="messages" />
									</h:inputText>
							</div>
						</div>
						<h:panelGroup rendered="#{loginBean.isWalmartSubdomain}">
								<div class="login-row" style="border:1px solid #C0C0C0; margin-top: 30px; padding-bottom:20px;">
									<h3>Requestor</h3>									
									<div class="login-row">
										<h:outputLabel for="requestor_name" value="Requestor Name *" />
										<h:inputText id="requestor_name"
											value="#{userMaintenanceBean.RName}" required="true" requiredMessage="The 'Requestor Name' is required" >
											<f:ajax event="blur" render="messages" />
											</h:inputText>
									</div>
									<div class="login-row">
										<h:outputLabel for="requestor_email" value="Requestor Email *" />
										<h:inputText id="requestor_email"
											value="#{userMaintenanceBean.REmail}" required="true" requiredMessage="The 'Requestor Email' is required">
											<f:ajax event="blur" render="messages" />
											</h:inputText>
									</div>
									<div class="login-row">
										<h:outputLabel for="requestor_phone" value="Requestor Phone *" />
										<h:inputText id="requestor_phone"
											value="#{userMaintenanceBean.RPhone}" required="true" requiredMessage="The 'Requestor Phone' is required" >
											<f:ajax event="blur" render="messages" />
											</h:inputText>
									</div>
									<div class="login-row">
										<h:outputLabel for="requestor_mgr_emails" value="Manager Email(s) *" />
										<h:inputText id="requestor_mgr_emails"
											value="#{userMaintenanceBean.RMgrEmails}" required="true" requiredMessage="The 'Manager Email(s)' is required">
											<f:ajax event="blur" render="messages" />
											</h:inputText>
									</div>
									<div class="login-row">
										<h:outputText value="(separate with commas)" escape="false" />
									</div>						
								</div>	
							</h:panelGroup>
						<div style="border:1px solid #C0C0C0; margin-top: 30px;">
							<div>
									<h3>Enter New Information</h3>
								</div>							
							<h:panelGroup rendered="#{loginBean.isCHSSubdomain}">
	                            <div class="login-row">
	                            	<h:outputLabel rendered="#{loginBean.isCHSSubdomain}" for="affiliation" value="Which Hospital/Clinic are you affiliated with? " />
									<h:inputText id="affiliation"
										value="#{userMaintenanceBean.affiliation}" />
									<h:outputText style="margin-left:15px;" value="(e.g.:Main, Univ, etc)" />
	                            </div>                            
								<div class="login-row">
									<label>Are you a PSG? (Yes/No)</label>
									<h:selectOneMenu value="#{userMaintenanceBean.isPSG}">
										<f:selectItem itemValue="No" itemLabel="No"/>
										<f:selectItem itemValue="Yes" itemLabel="Yes" />																			
									</h:selectOneMenu>
								</div>
								<div class="login-row">
									<h:outputLabel for="corpBu" value="Corp# or B.U# " />
									<h:inputText id="corpBu"
										value="#{userMaintenanceBean.corpBuNum}" />
								</div>
							</h:panelGroup>
							<div class="login-row">
								<h:outputLabel for="first" value="First Name: " />
								<h:inputText id="first"
									value="#{userMaintenanceBean.firstName}"/>
							</div>
							<div class="login-row">
								<h:outputLabel for="last" value="Last Name: " />
								<h:inputText id="last"
									value="#{userMaintenanceBean.lastName}" />
							</div>
							<div class="login-row">
								<h:outputLabel for="email" value="Email Address: " />
								<h:inputText id="email" value="#{userMaintenanceBean.email}" rendered="#{not loginBean.isWalmartSubdomain}"/>
								<h:inputText id="walmartEmail" value="#{userMaintenanceBean.email}" validator="optionalEmailValidator" rendered="#{loginBean.isWalmartSubdomain}"/>
							</div>
							<div class="login-row">
								<h:outputLabel for="phone" value="Phone: " />
								<h:inputText id="phone" value="#{userMaintenanceBean.phone}"
									size="10" />
								<h:outputLabel for="ext" value="Ext:" styleClass="inline-input" />
								<h:inputText id="ext" size="4"
									value="#{userMaintenanceBean.ext}" />
							</div>
						</div>
						
							<div style="border:1px solid #C0C0C0; margin-top: 30px;">
								<div>
									<h3><h:outputText value="Ship-to Address" rendered="#{not loginBean.isWalmartSubdomain}" /><h:outputText value="Location Address" rendered="#{loginBean.isWalmartSubdomain}" /></h3>
								</div>
								<div class="login-row">
									<h:outputLabel value="Ship-to Default Address 1 " rendered="#{not loginBean.isWalmartSubdomain}" /><h:outputLabel value="Location Default Address 1" rendered="#{loginBean.isWalmartSubdomain}" />
									<h:inputText id="sAddress1" value="#{userMaintenanceBean.SAddress1}" 
                                                                                     onblur="setSAddress1(this.value);" />
								</div>
								<div class="login-row">
									<h:outputLabel value="Ship-to Default Address 2 " rendered="#{not loginBean.isWalmartSubdomain}" /><h:outputLabel value="Location Default Address 2" rendered="#{loginBean.isWalmartSubdomain}" />
									<h:inputText id="sAddress2" value="#{userMaintenanceBean.SAddress2}" 
                                                                                     onblur="setSAddress2(this.value);" />
								</div>
								<div class="login-row">
									<h:outputLabel value="Ship-to Default City/St/Zip " />
									<h:inputText id="sCity" value="#{userMaintenanceBean.SCity}" onblur="setSCity(this.value);"/>
									<h:inputText id="sState" style="margin-left: 7px" value="#{userMaintenanceBean.SState}" onblur="setSState(this.value);" size="2" />
									<h:inputText id="sZip" style="margin-left: 7px" value="#{userMaintenanceBean.SZip}" onblur="setSZip(this.value);" size="9" />
								</div>
								<h:panelGroup rendered="#{loginBean.isCHSSubdomain}">								
									<div class="login-row">
										<h:outputLabel value="Default Desktop " />
										<h:inputText value="#{userMaintenanceBean.SDesktop}"  />
										<h:outputText style="margin-left:15px;" value="(e.g.: Bldg 100, 3rd Flr, Rm 305)" />
									</div>
									<div class="login-row">
										<h:outputLabel value="Default Department Name " />
										<h:inputText value="#{userMaintenanceBean.SDepartment}"  />
									</div>
									<div class="login-row">
										<h:outputLabel value="Default Cost Center # " />
										<h:inputText value="#{userMaintenanceBean.SCostCenter}" />
										<h:outputText style="margin-left:15px;" value="(e.g.: xxxx-xxxxxx)" />									
									</div>
								</h:panelGroup>
								<h:panelGroup rendered="#{loginBean.isWalmartSubdomain}">
									<div class="login-row">
										<h:outputLabel value="Mailstop "/>
										<h:inputText value="#{userMaintenanceBean.mailstop}" />
									</div>
									<div class="login-row">
										<h:outputLabel value="Pole " />
										<h:inputText value="#{userMaintenanceBean.pole}" />
									</div>																	
								</h:panelGroup>															
							</div>
                            <h:panelGroup rendered="#{loginBean.isCHSSubdomain}">
                                <div class="login-row" style="border:1px solid #C0C0C0; margin-top: 30px; padding-bottom:20px;">
                                    <h3>Departments</h3>
                                    <div class="login-row">
                                        <h:outputText value="To add Departments that you order for, please click the 'Add Department...' button and input all required information." escape="false" />
                                        <h:outputText value="&lt;br/&gt;" escape="false" />
                                        <h:outputText value="" escape="false" />
                                    </div>
                                    <h:panelGroup id="departmentListTablePanel">
                                        <h:dataTable id="userMaintenanceDListTable" value="#{userMaintenanceBean.departmentsList}" style="text-align:center;" var="d" border="1">
                                            <h:column>
                                                <f:facet name="header">Dept Name</f:facet>
                                                #{d.name}
                                            </h:column>
                                            <h:column>
                                                <f:facet name="header">Desktop</f:facet>
                                                #{d.desktop}
                                            </h:column>
                                            <h:column>
                                                <f:facet name="header">Cost Center</f:facet>
                                                #{d.costCenter}
                                            </h:column>
                                            <h:column>
                                                <f:facet name="header">Same Addr. as default?</f:facet>
                                                #{d.isSameAddress}
                                            </h:column>
                                            <h:column>
                                                <f:facet name="header">Ship-to Address</f:facet>
                                                #{d.shipAddress}
                                            </h:column>
                                            <h:column>
                                                <f:facet name="header">Ship-to City</f:facet>
                                                #{d.shipCity}
                                            </h:column>
                                            <h:column>
                                                <f:facet name="header">Ship-to State</f:facet>
                                                #{d.shipState}
                                            </h:column>
                                            <h:column>
                                                <f:facet name="header">Ship-to Zip</f:facet>
                                                #{d.shipZip}
                                            </h:column>
                                            <h:column>
                                                <f:facet name="header">Remove</f:facet>
                                                <h:commandLink value="Delete" action="#{userMaintenanceBean.removeDepartmentFromTable(d)}"/>

                                            </h:column>
                                        </h:dataTable>
                                    </h:panelGroup>
                                    <div style="margin-top: 25px;">
                                        <a href="#addNewDepartmentModal" data-toggle="modal">
                                            <a4j:commandButton style="font-size:15px; width:150px; height: 35px;" value="Add Department..."/>
                                        </a>
                                    </div>
                                </div>
                            </h:panelGroup>
							<h:panelGroup id="walmartDepartment" rendered="#{loginBean.isWalmartSubdomain}">								
								<div class="login-row" style="border:1px solid #C0C0C0; margin-top: 30px; padding-bottom:20px;">
									<div>
										<h3>Enter Department</h3>
										<table>
										<tr>
											<td>Div/Dept (nn-nnnn): </td>
                                                                    <td><h:inputText id="divDept" value="#{userMaintenanceBean.DDivDept}" validatorMessage="Incorrect Div/Dept format. Please use (nn-nnnn)">
                                                                    <f:validateRegex for="divDept" pattern="(..\-....)?" />
                                                                    <f:ajax event="blur" render="message" />
                                                                    </h:inputText>
                                                                    </td>
                                                                    <td>
                                                                    <h:message id="message" for="divDept" style="color:red;"/>
                                                                    </td>
										</tr>
										<tr>
											<td>Manager Name: </td>
											<td><h:inputText value="#{userMaintenanceBean.DManagerName}"/></td>
										</tr>
										<tr>
											<td>Manager Email: </td>
											<td><h:inputText value="#{userMaintenanceBean.DManagerEmail}"/></td>
										</tr>										
										</table>
									</div>
									<div style="margin-top: 25px;">
										<a4j:commandButton style="font-size:15px; width:150px; height: 35px;" value="Add Department"
											action="#{userMaintenanceBean.addDepartmentWalmart()}" render="walmartDepartment" execute="walmartDepartment"/>
									</div>
									<h3>List of Departments:</h3>									 
									<h:dataTable style="width:100%; text-align:center;" value="#{userMaintenanceBean.departmentsList}" var="d" border="1">								
									<h:column>
										<f:facet name="header">Div/Dept</f:facet>
										#{d.divDept}
									</h:column>
									<h:column>
										<f:facet name="header">Manager Name</f:facet>
										#{d.managerName}
									</h:column>
									<h:column>
										<f:facet name="header">Manager Email</f:facet>
										#{d.managerEmail}
									</h:column>									
									<h:column>
										<f:facet name="header">Remove</f:facet>
										<a4j:commandLink value="Delete" action="#{userMaintenanceBean.removeDepartmentFromTable(d)}" render="walmartDepartment"/> 
									</h:column>
									</h:dataTable>
									
								</div>
							</h:panelGroup>	
							<h:panelGroup rendered="#{loginBean.isCHSSubdomain}">						
								<div class="login-row" style="border:1px solid #C0C0C0; margin-top: 30px; padding-bottom:20px;">
									<h3>Approver</h3>
									<div class="login-row">
										<h:outputText value="Please enter in the information of the manager who needs to approve this request" escape="false" />										
										<h:outputText value="&lt;br/&gt;" escape="false" />	
									</div>
									<div class="login-row">
										<h:outputLabel for="approving_mgr_name" value="Approving Manager Name " />
										<h:inputText id="approving_mgr_name"
											value="#{userMaintenanceBean.AName}" />
									</div>
									<div class="login-row">
										<h:outputLabel for="approving_mgr_email" value="Approving Manager Email " />
										<h:inputText id="approving_mgr_email"
											value="#{userMaintenanceBean.AEmail}" />
									</div>
									<div class="login-row">
										<h:outputLabel for="approving_mgr_phone" value="Approving Manager Phone " />
										<h:inputText id="approving_mgr_phone"
											value="#{userMaintenanceBean.APhone}" />
									</div>						
								</div>
							</h:panelGroup>
							
							<h:panelGroup rendered="#{loginBean.isCHSSubdomain}">
								<div class="submit">
									<h:commandButton id="userAccount" value="Submit Request"
										action="#{userMaintenanceBean.submitModifyUser()}"
										styleClass="btn-primary btn-large btn-info pull-left" />
								</div>
							</h:panelGroup>								
							<h:panelGroup rendered="#{loginBean.isWalmartSubdomain}">
								<div class="submit">
									<h:commandButton value="Submit Request"
										action="#{userMaintenanceBean.submitModifyUserWalmart()}"
										styleClass="btn-primary btn-large btn-info pull-left" />
								</div>
							</h:panelGroup>
						</h:form>
                        <div class="submit">
                            <form action="#{loginBean.homePage}">
                                <button style="float:right; margin-top:-90px;" class="btn-primary">Go To Home Page </button>
                            </form>
                            <form action="#{userMaintenanceBean.clearAll()}">
                                <button style="float:right; margin-right: 180px; margin-top:-90px;" class="btn-primary">Clear Fields</button>
                            </form>
                        </div>
					</div>
					<div class="span6 loginMgn-right pull-right">
						<div class="logowrapper">
							<img class="logoicon" src="#{marketingImagesBean.getImageUrl('createRequest1')}" />
						</div>
					</div>
				</div>
			</div>
		</div>
        <div id="addNewDepartmentModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <h:form>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">Enter New Department</h3>
                </div>
                <div class="modal-body">
                    <h:panelGroup id="departmentModalGroup">
                        <rich:message style="color:red;" for="userMaintenanceDDesktop"/>
                        <rich:message style="color:red;" for="userMaintenanceDCostCenter"/>
                        <rich:message style="color:red;" for="userMaintenanceDAddress"/>
                        <rich:message style="color:red;" for="userMaintenanceDACity"/>
                        <rich:message style="color:red;" for="userMaintenanceDState"/>
                        <rich:message style="color:red;" for="userMaintenanceDZip"/>
                        <table>
                            <tr>
                                <td>Dept Name *: </td>
                                <td><h:inputText id="userMaintenanceDName" required="true" requiredMessage="The 'Dept Name' must be provided." value="#{userMaintenanceBean.DName}"/></td>
                            </tr>
                            <tr>
                                <td>Desktop (e.g.: Bldg 100) *: </td>
                                <td><h:inputText id="userMaintenanceDDesktop" required="true" requiredMessage="The 'Dept Desktop' must be provided." value="#{userMaintenanceBean.DDesktop}" /></td>
                            </tr>
                            <tr>
                                <td>Cost Center # (e.g.: xxxx-xxxxxx)*: </td>
                                <td><h:inputText id="userMaintenanceDCostCenter" required="true" requiredMessage="The 'Department Cost Center' must be provided." value="#{userMaintenanceBean.DCostCenter}" /></td>
                            </tr>
                            <tr>
                                <td>Same Addr as default? </td>
                                <td><h:selectOneMenu id="userMaintenanceDSameAsDefault" value="#{userMaintenanceBean.DSameAsDefault}">
                                    <f:selectItem itemValue="No" itemLabel="No"/>
                                    <f:selectItem itemValue="Yes" itemLabel="Yes" />
                                    <a4j:ajax event="change" listener="#{userMaintenanceBean.valueChangeMethod}" render="userMaintenanceDAddress userMaintenanceDACity userMaintenanceDState userMaintenanceDZip" />
                                </h:selectOneMenu>
                                </td>
                            </tr>
                            <tr>
                                <td>Address *:</td>
                                <td><h:inputText id="userMaintenanceDAddress" required="true" requiredMessage="The 'Address' must be provided." value="#{userMaintenanceBean.DAddress}"/></td>
                            </tr>
                            <tr>
                                <td>City *:</td>
                                <td><h:inputText id="userMaintenanceDACity" required="true" requiredMessage="The 'City' must be provided." value="#{userMaintenanceBean.DCity}"/></td>
                            </tr>
                            <tr>
                                <td>State *:</td>
                                <td><h:inputText id="userMaintenanceDState" required="true" requiredMessage="The 'State' must be provided." value="#{userMaintenanceBean.DState}"/></td>
                            </tr>
                            <tr>
                                <td>Zip *: </td>
                                <td><h:inputText id="userMaintenanceDZip" required="true" requiredMessage="The 'Zip' must be provided." value="#{userMaintenanceBean.DZip}"/></td>
                            </tr>
                        </table>
                    </h:panelGroup>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	                <a4j:commandLink styleClass="btn-primary btn-large btn-info pull-left" onclick="$('#addNewDepartmentModal').modal('hide');"
	                    value="Add Department" action="#{userMaintenanceBean.addDepartment()}" render="departmentListTablePanel departmentModalGroup" />
                </div>
            </h:form>
        </div>
	</ui:define>
</ui:composition>