<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:c="http://java.sun.com/jstl/core"
                template="/WEB-INF/templates/ecommerceLoginTemplate.xhtml">

    <ui:define name="page_content">
        <div>
            <h2>Error: You have not filled out all required fields for the Department. Please, fill in all fields before adding your department to the table!</h2>
            <h3><a href="#{loginBean.userRegistrationPage}"><u>Please click here to return to the user registration page.</u></a></h3>
        </div>
    </ui:define>

</ui:composition>