<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:c="http://java.sun.com/jstl/core"
	template="/WEB-INF/templates/ecommerceLoginTemplate.xhtml">


	<ui:define name="page_content">
		<div id="login-header" class="row-fluid">
			<div class="span4">
				<a href="#{linksBean.home}"><img
					src="#{propertiesBean.get('aws.integration','content.service.secure.domain')}/images/APD-logo.png" width="201" height="50" /></a>
			</div>
		</div>
		<div id="loginContainerMain">


			<div id="login-content" class="row-fluid">
				<div class="span12">
					<div class="span5 loginMgn-left">
						<h2>Change/Remove User Request</h2>
						<h:panelGroup rendered="#{not loginBean.isMarfieldSubdomain}">
							<p>#{display['userRequest.instruction']}</p>
						</h:panelGroup>
						<hr />
						<h:form id="userRequest" class="form-inline">
                                                    <h:messages style="color:red;"/>
							<div>

								<h:selectOneRadio value="#{userModificationRequestBean.requestType}"
									id="requestType" required="true" styleClass="select-action">
									<f:selectItems value="#{userModificationRequestBean.allRequestTypes}" />
								</h:selectOneRadio>
							</div>
							<div>
								<h:outputLabel for="userid" value="User ID: *" />
								<h:inputText id="userid" required="true"
									value="#{userModificationRequestBean.accountId}" required="true" requiredMessage="The 'User ID' must be provided."/>
							</div>
							<div>
								<h:outputLabel for="reason" value="Reason for Change: *" />
								<h:inputText id="reason"
									value="#{userModificationRequestBean.reason}" required="true" requiredMessage="The 'Reason for Change' must be provided."/>
							</div>
							<div>
								<h:outputLabel for="first" value="First Name: *" />
								<h:inputText id="first"
									value="#{userModificationRequestBean.firstName}" required="true" requiredMessage="The 'First Name' must be provided."/>
							</div>
							<div>
								<h:outputLabel for="last" value="Last Name: *" />
								<h:inputText id="last"
									value="#{userModificationRequestBean.lastName}" required="true" requiredMessage="The 'Last Name' must be provided."/>
							</div>
							<div>
								<h:outputLabel for="email" value="Email Address:" />
								<h:inputText id="email"
									value="#{userModificationRequestBean.email}" required="true" requiredMessage="The 'Email Address' must be provided."/>
							</div>
							<div>
								<h:outputLabel for="phone" value="Phone:" />
								<h:inputText id="phone"
									value="#{userModificationRequestBean.phone}" required="true" requiredMessage="The 'Phone' must be provided." size="10"/>
								<h:outputLabel for="ext" value="Ext:" styleClass="inline-input" />
								<h:inputText id="ext" size="4"
									value="#{userModificationRequestBean.ext}" />
							</div>

							<div>
								<div>
									<h3>Location</h3>
									<h:selectOneRadio
										value="#{userModificationRequestBean.locationAction}" styleClass="select-action">
										<f:selectItem itemLabel="Add" itemValue="add" />
										<f:selectItem itemLabel="Modify" itemValue="modify" />
										<f:selectItem itemLabel="Delete" itemValue="delete" />
									</h:selectOneRadio>
								</div>
								<strong>Old Location</strong>

								<div>
									<h:outputLabel value="Address 1:" />
									<h:inputText
										value="#{userModificationRequestBean.address1Old}" required="true" requiredMessage="The 'Address 1' must be provided."/>
								</div>
								<div>
									<h:outputLabel value="Address 2:" />
									<h:inputText
										value="#{userModificationRequestBean.address2Old}" />
								</div>
								<div>
									<h:outputLabel value="City:" />
									<h:inputText value="#{userModificationRequestBean.cityOld}" required="true" requiredMessage="The 'City' must be provided."/>
								</div>
								<div>
									<h:outputLabel value="State:" />
									<h:inputText value="#{userModificationRequestBean.stateOld}"
										size="5" required="true" requiredMessage="The 'State' must be provided."/>
									<h:outputLabel value="Zip:" styleClass="inline-input" />
									<h:inputText size="9"
										value="#{userModificationRequestBean.zipOld}" />
								</div>
								<div>
									<h:outputLabel value="Mailstop:" />
									<h:inputText
										value="#{userModificationRequestBean.mailstopOld}" required="true" requiredMessage="The 'Mailstop' must be provided."/>
								</div>
								<div>
									<h:outputLabel value="Pole:" />
									<h:inputText value="#{userModificationRequestBean.poleOld}" required="true" requiredMessage="The 'Pole' must be provided."/>
								</div>
							</div>
							<div>
								<strong>New Location</strong>

								<div>
									<h:outputLabel value="Address 1:" />
									<h:inputText
										value="#{userModificationRequestBean.address1New}" required="true" requiredMessage="The 'Address 1' must be provided."/>
								</div>
								<div>
									<h:outputLabel value="Address 2:" />
									<h:inputText
										value="#{userModificationRequestBean.address2New}" />
								</div>
								<div>
									<h:outputLabel value="City:" />
									<h:inputText value="#{userModificationRequestBean.cityNew}" required="true" requiredMessage="The 'City' must be provided."/>
								</div>
								<div>
									<h:outputLabel value="State:" />
									<h:inputText value="#{userModificationRequestBean.stateNew}"
										size="5" required="true" requiredMessage="The 'State' must be provided."/>
									<h:outputLabel value="Zip:" styleClass="inline-input" />
									<h:inputText size="9"
										value="#{userModificationRequestBean.zipNew}" required="true" requiredMessage="The 'Zip' must be provided."/>
								</div>
								<div>
									<h:outputLabel value="Mailstop:" />
									<h:inputText
										value="#{userModificationRequestBean.mailstopNew}" required="true" requiredMessage="The 'Mailstop' must be provided."/>
								</div>
								<div>
									<h:outputLabel value="Pole:" />
									<h:inputText value="#{userModificationRequestBean.poleNew}" required="true" requiredMessage="The 'Pole' must be provided."/>
								</div>
							</div>
							<div>
								<h3>Departments</h3>
								<c:forEach items="#{userModificationRequestBean.departments}"
									var="department" varStatus="status">

									<div>
										<h:outputLabel value="Div-Dept:" />
										<h:inputText value="#{department.divDept}" />
									</div>
									<div>
										<h:outputLabel value="Manager Name:" />
										<h:inputText value="#{department.managerName}" />
									</div>
									<div>
										<h:outputLabel value="Manager Email:" />
										<h:inputText value="#{department.managerEmail}" />
									</div>
									<div>
										<h:outputLabel value="Actiom:" />
										<h:inputText value="#{department.deptAction}" />
									</div>
									<h:commandLink value="Remove"
										action="#{userModificationRequestBean.removeDepartment(status.index)}" />
									<hr />
								</c:forEach>

								<div>
									<h:outputLabel for="div-dept" value="Div-Dept:" />
									<h:inputText id="div-dept"
										value="#{userModificationRequestBean.divDeptNew}" />
								</div>
								<div>
									<h:outputLabel for="dept_manager_name" value="Manager Name:" />
									<h:inputText id="dept_manager_name"
										value="#{userModificationRequestBean.deptManagerNameNew}" />
								</div>
								<div>
									<h:outputLabel for="dept_manager_email" value="Manager Email:" />
									<h:inputText id="dept_manager_email"
										value="#{userModificationRequestBean.deptManagerEmailNew}" />
								</div>
								<div>
									<h:outputLabel for="dept_action" value="Action:" />
									<h:inputText id="dept_action"
										value="#{userModificationRequestBean.deptActionNew}" />
								</div>
								<p>
									<h:commandLink value="Add More Departments"
										action="#{userModificationRequestBean.addDepartment()}" />
								</p>

							</div>

							<div>
								<h3>Requester</h3>
								<div>
									<h:outputLabel for="requester_name" value="Name:" />
									<h:inputText id="requester_name"
										value="#{userModificationRequestBean.requesterName}" required="true" requiredMessage="The 'Requestor Name' must be provided."/>
								</div>
								<div>
									<h:outputLabel for="requester_email" value="Email:" />
									<h:inputText id="requester_email"
										value="#{userModificationRequestBean.requesterEmail}" required="true" requiredMessage="The 'Requester Email' must be provided."/>
								</div>
								<div>
									<h:outputLabel for="requester_phone" value="Phone:" />
									<h:inputText id="requester_phone"
										value="#{userModificationRequestBean.requesterPhone}" required="true" requiredMessage="The 'Requester Phone' must be provided."/>
								</div>
								<div>
									<h:outputLabel for="requester_manager_email"
										value="Manager Email(s):" />
									<h:inputText id="requester_manager_email"
										value="#{userModificationRequestBean.requesterManagerEmail}" required="true" requiredMessage="The 'Requester Manager Email' must be provided."/>
								</div>
							</div>
							<div class="submit">
								<h:commandButton id="submit" value="Submit"
									action="#{userModificationRequestBean.submit()}"
									styleClass="btn-primary btn-large btn-info pull-left" />
							</div>
						</h:form>
                        <div class="submit">
                            <form action="#{loginBean.homePage}">
                                <button style="float:right; margin-top:-90px;" class="btn-primary">Go To Home Page </button>
                            </form>
                            <form action="#{userMaintenanceBean.clearAll()}">
                                <button style="float:right; margin-right: 180px; margin-top:-90px;" class="btn-primary">Clear Fields</button>
                            </form>
                        </div>
					</div>
					<div class="span6 loginMgn-right pull-right">
						<div class="logowrapper">
							<img class="logoicon" src="#{marketingImagesBean.getImageUrl('modificationRequest1')}" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>