<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:c="http://java.sun.com/jstl/core"
                template="/WEB-INF/templates/ecommerceLoginTemplateWithHeaders.xhtml">

    <ui:define name="page_content">
        <div id="novantInfo">
            <div class="info-header" style="margin-top: -20px;"><h1>Welcome <img src="#{propertiesBean.get('aws.integration','content.service.secure.domain')}/images/novant_sm.png" width="185" height="70"/> Associates</h1></div>
            <div style="padding-left: 10px; padding-right:15px; ">
                <h7> 
                    <p>As an added benefit to Novant employees, APD is also offering an Employee Discount Program whereby Novant associates can order office supplies for their personal use with Novant discounts.</p>

                    <p>To start ordering, you must fill out the self-registration form to set up your personal account. </p>

                    <p>Once completed, you will receive a unique user name and password to log into the Employee Discount ordering site. Please note: all charges made under the Employee Discount Program must be $75 dollars or more and paid with a personal credit card to complete your order. </p>

                    <p> Some of the features of the program include:</p>
                    <p>
                    <div style="font-size: .875em; margin-left:15px;">
                        <li>Access to the full APD office supplies catalog with Novant’s discounted pricing</li>
                        <li>Orders delivered to your home via UPS within 1-3 days</li>
                        <li>Novant-dedicated customer service line – available 8AM – 8PM EST</li>
                        <li>Item comparison (up to 5 products)</li>
                        <li>Sort items by price, manufacturer, SKU</li>
                        <li>Personal shopping lists – save the items you buy repeatedly in a list for easy shopping</li>
                    </div>
                    </p>
                    <p>If you need technical assistance, have questions regarding returns, products or order inquiries. Please contact APD’s dedicated Customer Service Desk at 888.245.8588 or email Novant@AmericanProduct.com. </p>
                </h7>
            </div>
            <div class="marginBottom">
                <a href="#{loginBean.homePage}" class="btn-primary btn-large btn-info pull-left info-buttons" style="background:green;border-color: green; margin-left:250px; margin-bottom:15px">Back to login page</a>            
                <a href="#{loginBean.createUserUrl}" class="btn-primary btn-large btn-info pull-right info-buttons" style="background:green;border-color: green; margin-right:250px; margin-bottom:15px">Continue to registration</a>
           </div>
        </div>
    </ui:define>

</ui:composition>