<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:c="http://java.sun.com/jstl/core"
                template="/WEB-INF/templates/ecommerceLoginTemplate.xhtml">

    <ui:define name="page_content">
        <div>
            <h2>Thank you! Your request has been submitted and will be processed by our Customer Service Team.</h2>
            <h3><a href="#{loginBean.homePage}"><u>Please click here to return to the login page.</u></a></h3>
        </div>
    </ui:define>

</ui:composition>