<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:rich="http://richfaces.org/rich" xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view"
	template="/WEB-INF/layout/administrationTemplate.xhtml">
	
<ui:define name="main">
	<h:message />
	<div class="tab-pane fade in active" id="manualOrder">
        <h:form id="checkout">
            <div class="row apdMarginTop container">
            <div class="row-fluid">
                <div class="span12 fl-wrapper">
                    <div class="span6">
                        <h3>Manual Order</h3>
                    </div>
                    <div class="clearfix"></div>
           			<h:outputLabel for="userInput" value="Input username associated with order" binding="#{manualOrderSelectionBean.userInput}"/>
					<h:inputText id="userInput" value="#{manualOrderSelectionBean.login}" immediate="true">
						<a4j:ajax event="blur" render="checkout" />
					</h:inputText>
					<br />
					<h:message id="userInputErrorMsg" class="error" for="#{manualOrderSelectionBean.userInput.clientId}" style="color:red;"/>
					<br />
            		<h:outputLabel value="Select one of the following credentials associated with this user" for="credentialSelection" />
					<h:selectOneMenu id="credentialSelection" value="#{manualOrderSelectionBean.axcxu}" 
						converter="#{manualOrderSelectionBean.axcxuConverter}" required="true" requiredMessage="#{validation['user.credential.required']}">
						<f:selectItems value="#{manualOrderSelectionBean.userAxcxus}" var="cred" itemValue="#{cred}" 
							itemLabel="#{cred.credential.name}" />
					</h:selectOneMenu>
					<br />
					<h:message id="credentialErrorMsg" class="error" for="credentialSelection" style="color:red;"/>
					<br />
					<a4j:commandLink render="checkout" value="Enter Order Details" styleClass="btn"
						action="manualOrderPlace.xhtml?faces-redirect=true" />
                </div>          
				
            </div>
           </div>
        </h:form>
	</div>
</ui:define>
</ui:composition>