<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:rich="http://richfaces.org/rich" xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view"
	template="/WEB-INF/layout/administrationTemplate.xhtml">
	
<ui:define name="main">
	<h:message />
	<div class="tab-pane fade in active" id="manualOrder">
        <h:form id="checkout">
            <div class="row apdMarginTop container">
            <div class="row-fluid">
                <div class="span12 fl-wrapper">
                    <div class="span8">
                        <h3>Manual Order: <h:outputText value="#{manualOrderBean.currentOrder.apdPo.value}"/></h3>
                    </div>
                    <!-- ==== TOP LINKS ==== --> 
                    <div class="shoppingBtns pull-right">

                        <div class="borderBottomMobile rightSideBtn">
                            <h:commandButton styleClass="btn" action="#{manualOrderBean.holdOrder()}" 
                            	value="HOLD ORDER" />
                        </div>

                        <div class="borderBottomMobile rightSideBtn mobileHide">
                            <h:commandButton styleClass="btn btn-apd" action="#{manualOrderBean.placeOrder()}" 
                            	value="PLACE ORDER" />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <span class="pull-left">
						<rich:messages />
					</span>
                    <!-- ==== TOP LINKS END ==== --> 
                    <div class="clearfix"></div>
                    <div class="accordion" id="accordion">
	                    <ui:include src="/cashout/orderBilling.xhtml">
	                        <ui:param name="order" value="#{manualOrderBean.currentOrder}" />
	                        <ui:param name="page" value="#{manualOrderBean.pageValues}" />
	                        <ui:param name="isReadOnly" value="#{false}" />
	                    </ui:include>
	                    <ui:include src="/cashout/orderShipping.xhtml">
	                        <ui:param name="order" value="#{manualOrderBean.currentOrder}" />
	                        <ui:param name="page" value="#{manualOrderBean.pageValues}" />
	                        <ui:param name="bean" value="#{manualOrderBean}" />
	                        <ui:param name="isReadOnly" value="#{false}" />
	                    </ui:include>
						<div class="accordion-group">
				            <div class="accordion-heading divInside-Fade">
				                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
				                    <h5>Order Contents<span class="text-right"><div class="arrowUp">&nbsp;</div></span></h5> 
				                </a>
				            </div>
				            <div id="collapseThree" class="accordion-body" style="height: auto;">
				            	<div class="accordion-inner">
				            		<ui:include src="/admin/manualOrder/lineItemEntry.xhtml" />
				            		<ui:include src="/admin/manualOrder/lineItemDisplay.xhtml" />
				            	</div>
				            </div>
			            </div>
		            </div>
                </div>          
				
                <div class="span12 fl-wrapper">
                    <div class="span4"></div>
                    <!-- ==== BOTTOM LINKS ==== --> 
                    <div class="shoppingBtns pull-right">

                        <div class="borderBottomMobile rightSideBtn">
                            <h:commandButton styleClass="btn" action="#{manualOrderBean.holdOrder()}" 
                            	value="HOLD ORDER" />
                        </div>

                        <div class="borderBottomMobile rightSideBtn">
                            <h:commandButton styleClass="btn btn-apd" action="#{manualOrderBean.placeOrder()}" 
                            	value="PLACE ORDER" />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- ==== BOTTOM LINKS END ==== -->  
                </div>
            </div>
           </div>
        </h:form>
	</div>
</ui:define>
</ui:composition>