<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:c="http://java.sun.com/jstl/core"
	template="/WEB-INF/templates/ecommerceLoginTemplate.xhtml">


	<ui:define name="page_content">
		<div id="login-header" class="row-fluid">
			<div class="span4">
				<a href="#{linksBean.home}"><img
					src="#{propertiesBean.get('aws.integration','content.service.secure.domain')}/images/APD-logo.png" width="201" height="50" /></a>
			</div>
		</div>
		<div id="loginContainerMain">
			<div id="login-content" class="row-fluid">
				<div class="span12">
					<div class="span5 loginMgn-left">
						<h2>#{display['userRequest.header']}</h2>
						<p>For assistance call #{cintasUserCreationRequestBean.csrPhone} or email #{cintasUserCreationRequestBean.csrEmail}</p>
						<hr />
						<h:form id="userRequest" class="form-inline">
                                                    <h:messages style="color:red;"/>
							<div>
								<h:outputLabel for="first" value="First Name:" />
								<h:inputText id="first" required="true"
									value="#{cintasUserCreationRequestBean.firstName}" />
							</div>
							<div>
								<h:outputLabel for="last" value="Last Name:" />
								<h:inputText id="last" required="true"
									value="#{cintasUserCreationRequestBean.lastName}" />
							</div>
							<div>
								<h:outputLabel for="email" value="Email Address:" />
								<h:inputText id="email" value="#{cintasUserCreationRequestBean.email}" required="true"
									validator="#{pageCssBean.validateEmailDomain}" />
							</div>
							<div>
								<h:outputLabel for="phone" value="Phone:" />
								<h:inputText id="phone" required="true" value="#{cintasUserCreationRequestBean.phone}"
									size="10" />
							</div>

							<div>
								<div>
									<h3>Billing Information:</h3>
								</div>

								<div>
									<h:outputLabel value="Company Name:" />
									<h:inputText value="#{cintasUserCreationRequestBean.companyName}" required="true" requiredMessage="Billing Company Name is required" />
								</div>
								<div>
									<h:outputLabel value="Address (line 1):" />
									<h:inputText value="#{cintasUserCreationRequestBean.billLine1}" required="true" requiredMessage="Billing Address (line 1) is required" />
								</div>
								<div>
									<h:outputLabel value="Address (line 2):" />
									<h:inputText value="#{cintasUserCreationRequestBean.billLine2}" />
								</div>
								<div>
									<h:outputLabel value="City:" />
									<h:inputText value="#{cintasUserCreationRequestBean.billCity}" required="true" requiredMessage="Billing City is required" />
								</div>
								<div>
									<h:outputLabel value="State:" />
									<h:inputText value="#{cintasUserCreationRequestBean.billState}" required="true" requiredMessage="Billing State is required" size="5"/>
									<h:outputLabel value="Zip:" styleClass="inline-input" />
									<h:inputText size="9" required="true" requiredMessage="Billing Zip is required"
										value="#{cintasUserCreationRequestBean.billZip}" />
								</div>
								<div>
									<h:outputLabel value="Billing Contact Name:" />
									<h:inputText value="#{cintasUserCreationRequestBean.billContactName}" required="true" requiredMessage="Billing Contact Name is required" />
								</div>
								<div>
									<h:outputLabel value="Billing Contact Email:" />
									<h:inputText value="#{cintasUserCreationRequestBean.billContactEmail}" required="true" requiredMessage="Billing Contact Email is required" />
								</div>
								<div>
									<h:outputLabel value="Billing Contact Phone:" />
									<h:inputText value="#{cintasUserCreationRequestBean.billContactPhone}" required="true" requiredMessage="Billing Contact Phone is required" />
								</div>
							</div>

							<div>
								<div>
									<h3>Location Information:</h3>
								</div>

								<div>
									<h:outputLabel value="Location Name:" />
									<h:inputText value="#{cintasUserCreationRequestBean.locationLocationName}" required="true" requiredMessage="Location Information Location Name is required" id="locationName" />
								</div>
								<div>
									<h:outputLabel value="Loc # / Loc-ID:" />
									<h:inputText value="#{cintasUserCreationRequestBean.locationLocationId}" required="true" requiredMessage="Location Information Loc # / Loc-ID is required" id="locationId" />
								</div>
								<div>
									<h:outputLabel value="Location Address (line 1):" />
									<h:inputText value="#{cintasUserCreationRequestBean.locationLine1}" required="true" requiredMessage="Location Address (line 1) is required" id="locationLine1" />
								</div>
								<div>
									<h:outputLabel value="Address (line 2):" />
									<h:inputText value="#{cintasUserCreationRequestBean.locationLine2}" id="locationLine2" />
								</div>
								<div>
									<h:outputLabel value="City:" />
									<h:inputText value="#{cintasUserCreationRequestBean.locationCity}" required="true" requiredMessage="Location City is required" id="locationCity" />
								</div>
								<div>
									<h:outputLabel value="State:" />
									<h:inputText value="#{cintasUserCreationRequestBean.locationState}" required="true" requiredMessage="Location State is required" size="5" id="locationState" />
									<h:outputLabel value="Zip:" styleClass="inline-input" />
									<h:inputText size="9" required="true" requiredMessage="Location Zip is required" id="locationZip"
										value="#{cintasUserCreationRequestBean.locationZip}" />
								</div>
							</div>

							<div>
								<div>
									<h3>Shipping Information: (if same as Location address, <a href="#" onclick="shippingSameAsLocation();">click here</a>)</h3>
								</div>

								<div>
									<h:outputLabel value="Location Name:" />
									<h:inputText value="#{cintasUserCreationRequestBean.shipLocationName}" required="true" requiredMessage="Shipping Information Location Name is required" id="shipName" />
								</div>
								<div>
									<h:outputLabel value="Loc # / Loc-ID:" />
									<h:inputText value="#{cintasUserCreationRequestBean.shipLocationId}" required="true" requiredMessage="Shipping Information Loc # / Loc-ID is required" id="shipId" />
								</div>
								<div>
									<h:outputLabel value="Location Address (line 1):" />
									<h:inputText value="#{cintasUserCreationRequestBean.shipLine1}" required="true" requiredMessage="Shipping Address (line 1) is required" id="shipLine1" />
								</div>
								<div>
									<h:outputLabel value="Address (line 2):" />
									<h:inputText value="#{cintasUserCreationRequestBean.shipLine2}" id="shipLine2" />
								</div>
								<div>
									<h:outputLabel value="City:" />
									<h:inputText value="#{cintasUserCreationRequestBean.shipCity}" required="true" requiredMessage="Shipping City is required" id="shipCity" />
								</div>
								<div>
									<h:outputLabel value="State:" />
									<h:inputText value="#{cintasUserCreationRequestBean.shipState}" required="true" requiredMessage="Shipping State is required" size="5" id="shipState" />
									<h:outputLabel value="Zip:" styleClass="inline-input" />
									<h:inputText size="9" required="true" requiredMessage="Shipping Zip is required" id="shipZip"
										value="#{cintasUserCreationRequestBean.shipZip}" />
								</div>
							</div>

							<div>
								<div>
									<h3>General Manager Information</h3>
								</div>
								<div>
									<h:outputLabel value="Full Name:" />
									<h:inputText value="#{cintasUserCreationRequestBean.managerName}" required="true" requiredMessage="Manager Name is required" />
								</div>
								<div>
									<h:outputLabel value="Email:" />
									<h:inputText value="#{cintasUserCreationRequestBean.managerEmail}" required="true" requiredMessage="Manager email is required" />
								</div>
								<div>
									<h:outputLabel value="Phone:" />
									<h:inputText value="#{cintasUserCreationRequestBean.managerPhone}" required="true" requiredMessage="Manager phone number is required" />
								</div>
							</div>
								
							
							<div class="submit">
								<h:commandLink id="submit" value="Submit"
									action="#{cintasUserCreationRequestBean.submit()}"
									styleClass="btn-primary btn-large btn-info pull-left" />
							</div>
							
							<script type="text/javascript">
								shippingSameAsLocation = function() {
									$('#userRequest\\:shipName').val($('#userRequest\\:locationName').val());
									$('#userRequest\\:shipId').val($('#userRequest\\:locationId').val());
									$('#userRequest\\:shipLine1').val($('#userRequest\\:locationLine1').val());
									$('#userRequest\\:shipLine2').val($('#userRequest\\:locationLine2').val());
									$('#userRequest\\:shipCity').val($('#userRequest\\:locationCity').val());
									$('#userRequest\\:shipState').val($('#userRequest\\:locationState').val());
									$('#userRequest\\:shipZip').val($('#userRequest\\:locationZip').val());
								};
							</script>
						</h:form>
					</div>
					<div class="span6 loginMgn-right pull-right">
						<div class="logowrapper">
							<img class="logoicon" src="#{marketingImagesBean.getImageUrl('createRequest1')}" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</ui:define>

</ui:composition>