<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"                
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:c="http://java.sun.com/jsp/jstl/core"	
                template="/WEB-INF/templates/ecommerceLoginTemplate.xhtml">
  
    <ui:define name="page_content">
        <div id="loginHeader" class="row-fluid" style="padding-top: 5px;">
            
            <div id="loginLogoRow"> 
	        	<h:panelGroup rendered="#{not empty pageCssBean.subDomainLogo}">
                    <img src="#{pageCssBean.subDomainLogo}" height="74px" style="float:right"/>
                </h:panelGroup>            	  
            	<a id="apdLogo" href="#{linksBean.home}"><img src="#{propertiesBean.get('aws.integration','content.service.secure.domain')}/images/APD-logo.png" width="201" height="74"/></a>          	           	 
            </div>
        </div>              
        <h:panelGroup id="loginMain">        	
        	<div id="login-content" class="row-fluid" style="font-family:Calibiri, Candara, Franklin Gothic;">
        		<form id="login_form" class="form-inline" method="post" action="j_security_check">
        		<fieldset id="login-field">
                    <h:panelGroup rendered="#{not loginBean.requiresDirectAccess}">
                        
                        <div class="loginRow">
                            <div>
                                <p id="login-TabName1">#{display['login.tab1Name']}</p>
                            </div>
                            <div id="login-UsernameLbl">
                                <h:outputLabel for="j_username" value="Username"/>
                            </div>
                            <div id="login-UsernameFld">
                                <h:inputText id="j_username"
                                     required="true" requiredMessage="#{validation['login.username.error.emptyfield']}"
                                     styleClass="#{not component.valid ? 'ui-input-invalid' : ''}"/>
                            </div>
                            <div>
                                <rich:message for="j_username" />
                            </div>
                        </div>

                        <div class="loginRow">
                            <div id="login-PasswordLbl">
                                <h:outputLabel for="j_password" value="Password"/>
                            </div>
                            <div id="login-PasswordFld">
                                <h:inputSecret id="j_password"
                                     required="true" requiredMessage="#{validation['login.password.error.emptyfield']}"
                                     styleClass="#{not component.valid ? 'ui-input-invalid' : ''}"/>
                                 <div>
                                    <rich:message for="j_password" />
                                </div>
                            </div>
                        </div>

                        <div id="loginBtnRow">
                            <h:commandButton id="submit" value="Log in" class="btnRed" />
                            <div class="rememberContainer">
                                <h:outputLabel id="rememberLbl" value="Remember Me" for="rememberChk"/>
                                <h:selectBooleanCheckbox id="rememberChk" value="Remember Me"/>
                            </div>
                        </div>                        
                        <div id="loginForgot">
                       	    <nobr>
                            	<h:panelGroup rendered="#{not loginBean.isResetPasswordLinkHidden(pageCssBean.subdomainValue)}">
                                	<p class="customerRegFont">#{display['login.forgot']} <a href="#{linksBean.publicResetPassword}"><u>click here</u></a></p>
                                </h:panelGroup>
                            </nobr>                            
                        </div>
                        <h:panelGroup rendered="#{not loginBean.requiresUserMaintenance and not loginBean.isNovantSubdomain and not loginBean.isRegistrationLinkHidden(pageCssBean.subdomainValue)}">
                            <div class="loginRegistered">
                                <nobr>
                                    <p class="customerRegFont">#{display['login.registered']} <a href="#{loginBean.createUserUrl}"><u>click here</u></a></p>
                                </nobr>
                            </div>
                        </h:panelGroup>
                        <h:panelGroup rendered="#{not loginBean.requiresUserMaintenance and loginBean.isMarfieldSubdomain}">
                            <div class="loginRegistered">
                                <nobr>
                                    <p class="customerRegFont">#{display['login.userguide']} <a href="#{propertiesBean.get('aws.integration','content.service.secure.domain')}/Marfield_UserGuide.pdf"><u>click here</u></a></p>
                                </nobr>
                            </div>
                        </h:panelGroup>
                        <h:panelGroup rendered="#{loginBean.requiresUserMaintenance and not loginBean.isNovantSubdomain and not loginBean.isRegistrationLinkHidden(pageCssBean.subdomainValue)}">
                            <nobr>
                                <a href="#userMaintenance" data-toggle="modal"><h:commandButton id="uMaintenance" value="User Maintenance..."/></a>
                            </nobr>
                        </h:panelGroup>
                        <h:panelGroup rendered="#{not loginBean.requiresUserMaintenance and loginBean.isNovantSubdomain and not loginBean.isRegistrationLinkHidden(pageCssBean.subdomainValue)}">
                            <div class="loginRegistered">
                                <nobr>
                                		<a href="#{loginBean.novantRegistrationInfoPage}" class="btn-primary btn-large btn-info" style="background:green;border-color: green;">Employee Discount Program</a>
                                </nobr>
                            </div>
                        </h:panelGroup>
                    </h:panelGroup>
                    <h:panelGroup rendered="#{loginBean.requiresDirectAccess}">
                        <div id="lgnMrktImage-Direct Access">
                            <img id="directAccessImg" src="#{propertiesBean.get('aws.integration','content.service.secure.domain')}/images/background/products.jpg" width="271px" height="320px" style="margin-left:10px;"/>
                        </div>
                        <div id="loginShopNowBtn">
                            <h:commandButton id="shopNowBtn" value="Shop Now" />
                        </div>
                    </h:panelGroup>
	                <rich:message for="resetPasswordInfo" id="resetPasswordInfo" />
	                <div style="height:5px;"></div>
	            </fieldset>                                
	            </form> 
	            <div id="loginWelcome" style="background:url(#{pageCssBean.subDomainWelcomeImage});">
	            	<!-- <p id="loginWelcomeMsg">#{display['login.welcome']}</p> -->
        		</div>    		
        	</div>
        	<div class="row-fluid loginContact" style="font-family:Calibiri, Candara, Franklin Gothic;">
        		<div id="loginFollowUs">
                    <div class="footerIcon"></div>
        			<h:outputLabel value="Follow Us" id="footerTitles" />
        			<h:panelGroup rendered="#{not empty pageCssBean.faceBook}">
        				<a href="#{pageCssBean.faceBook}" class="facebook firstSocialLink"></a>
        			</h:panelGroup>
        			<h:panelGroup rendered="#{not empty pageCssBean.linkedIn}">
        				<a href="#{pageCssBean.linkedIn}" class="linkedin"></a>
        			</h:panelGroup>
        			<h:panelGroup rendered="#{not empty pageCssBean.youTube}">
        				<a href="#{pageCssBean.youTube}" class="youtube"></a>
        			</h:panelGroup>
        			<h:panelGroup rendered="#{not empty pageCssBean.wordPress}">
        				<a href="#{pageCssBean.wordPress}" class="wordpress"></a>
        			</h:panelGroup>        			
        		</div>
        		<div id="loginCallUs">
        			<div class="footerIcon"></div>
        			<h:outputLabel value="Call Us" class="footerTitles" />
        			<p id="loginCallUsInfoPad">#{pageCssBean.callUsPhone}</p>
        			<p class="loginCallUsInfo">#{pageCssBean.callUsDays}</p>
        			<p class="loginCallUsInfo">#{pageCssBean.callUsHrs}</p>
        		</div>
        		<div id="loginEmailUs">
        			<div class="footerIcon"></div>
        			<h:outputLabel value="Email Us" class="footerTitles" />
        			<a href="mailto:#{pageCssBean.emailUsAddress}"><p style="font-size:15px; text-align:center; position:absolute; right: 5px; left:5px; ">#{pageCssBean.emailUsAddress}</p></a>
        		</div>
        		<div id="loginVisitUs">
        			<div class="footerIcon"></div>
        			<h:outputLabel value="Visit Us" class="footerTitles" />
        			<a href="#{pageCssBean.visitUsSite}"><p style="font-size:15px; text-align:left; ">#{pageCssBean.visitUsSiteToDisplay}</p></a>
        		</div>
        	</div>
        	
        	<c:if test="#{not loginBean.requiresDirectAccess and not loginBean.isResetPasswordLinkHidden(pageCssBean.subdomainValue)}">
        	<div id="passwordReset" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <h:form id="modalForm1">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h3 id="myModalLabel">Reset Password</h3>
					</div>
		            <div class="modal-body">
						<h:outputLabel value="Enter Username:" />
						<h:inputText value="#{loginBean.passResetUsername}" />
					</div>
		            <div class="modal-footer">
						<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
						<h:commandButton value="Submit" action="#{loginBean.resetPassword()}" styleClass="btn btn-primary">
							<f:ajax execute="@form" onevent="modalEventHandler"/>
						</h:commandButton>
					</div>
				</h:form>
            </div>
            </c:if>
            <c:if test="#{not loginBean.requiresDirectAccess and not loginBean.isRegistrationLinkHidden(pageCssBean.subdomainValue)}">
            <div id="userMaintenance" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            		<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h3 id="myModalLabel">User Maintenance</h3>
					</div>
		            <div class="modal-body">
		            	<form action="#{loginBean.createUserUrl}">
		            		<button class="userMaintenanceBtns">Create User</button>
		            	</form>
		            	<form action="#{loginBean.addLocationUrl}">
		            		<button style="margin-top:-20px" class="userMaintenanceBtns">Add Location</button>
		            	</form>
		            	<form action="#{loginBean.changeUserUrl}">
		            		<button style="margin-top:20px" class="userMaintenanceBtns">Change/Remove User</button>
		            	</form>
		            	<form action="#{loginBean.changeLocationUrl}">
		            		<button style="margin-top:20px" class="userMaintenanceBtns">Change/Remove Location</button>
		            	</form>
		            	
					</div>
		            <div class="modal-footer">
						<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>						
					</div>                
            </div>
            </c:if>
            <div id="bestViewingExp" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <h:form id="modalForm2">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="myModalLabel">Recommeded Browsers</h3>
                    </div>
                    <div class="modal-body">
                        <div>
                        <b>For the best shopping experience, please, use one of these recommend browsers:</b>
                        </div>
                        <div style="width: 130px;margin-top: 20px; float:left;margin-left: auto; margin-right: auto; text-align:center">
                            <img src="#{propertiesBean.get('aws.integration','content.service.secure.domain')}/images/Websites/IE.png" width="100px" height="100px"/>
                            #{display['login.ieVersion']}
                        </div>
                        <div style="width: 130px;margin-top: 20px; float:left;margin-left: auto; margin-right: auto; text-align:center">
                            <img src="#{propertiesBean.get('aws.integration','content.service.secure.domain')}/images/Websites/Chrome.png" width="100px" height="100px"/>
                            #{display['login.chromeVersion']}
                        </div>
                        <div style="width: 130px;margin-top: 20px; float:left;margin-left: auto; margin-right: auto; text-align:center">
                            <img src="#{propertiesBean.get('aws.integration','content.service.secure.domain')}/images/Websites/Firefox.png" width="100px" height="100px"/>
                            #{display['login.firefoxVersion']}
                        </div>
                        <div style="width: 130px;margin-top: 20px; float:left;margin-left: auto; margin-right: auto; text-align:center">
                            <img src="#{propertiesBean.get('aws.integration','content.service.secure.domain')}/images/Websites/Safari.png" width="100px" height="100px"/>
                            #{display['login.safariVersion']}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    </div>
                </h:form>
            </div>
        </h:panelGroup>        
    </ui:define>
</ui:composition>
