<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	template="/WEB-INF/layout/administrationTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="id" value="#{actionTypeBean.id}" />
		<f:event type="preRenderView" listener="#{actionTypeBean.retrieve}" />
	</f:metadata>

	<ui:param name="pageTitle" value="Create Catalog Item Property Type" />

	<ui:define name="header">
		Catalog Item Property Type
	</ui:define>

	<ui:define name="subheader" />

	<ui:define name="footer" />

	<ui:define name="main">
		<h:form id="actionTypeAddForm">
			<h:panelGrid border="0" cellpadding="0" cellspacing="0"
				style="width: 100%; height: 100%">
				<f:facet name="header">
					<ui:include src="/WEB-INF/layout/save.xhtml">
						<ui:param name="bean" value="#{actionTypeBean}" />
						<ui:param name="saveMethod" value="update" />
					</ui:include>
				</f:facet>
				<ui:include src="/admin/actionType/actionTypeDetails.xhtml" />
			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>