<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"	
                xmlns:forgeview="http://jboss.org/forge/view"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j">

			
		<div id="createIssueLog" class="modal hide fade" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<h:form id="createIssueLogForm">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h3 id="myModalLabel">Create a Customer Service Ticket</h3>
				</div>
	            <div class="modal-body">
					<h:outputLabel value="Schedule Follow Up Date:" />
					<rich:calendar value="#{issueLogCreationBean.scheduledFollowUp}" style="#{ component.valid ? '' : 'border-color:red;'}"
						required="true" requiredMessage="#{validation['contactlog.field.required']}" id="issueLogFollowup" />
				   	<rich:messages for="issueLogFollowup" />
					<h:outputLabel value="Expected Resolution Date:" />
					<rich:calendar value="#{issueLogCreationBean.expectedResolution}" style="#{ component.valid ? '' : 'border-color:red;'}"
						required="true" requiredMessage="#{validation['contactlog.field.required']}" id="issueLogResolutionDate" />
				   	<rich:messages for="issueLogResolutionDate" />
					<h:outputLabel value="Contact Name:" />
					<h:inputText value="#{issueLogCreationBean.contactName}" style="#{ component.valid ? '' : 'border-color:red;'}"
						required="true" requiredMessage="#{validation['contactlog.field.required']}" id="issueLogContactName" />
				   	<rich:messages for="issueLogContactName" />
					<h:outputLabel value="Contact Number:" />
					<h:inputText value="#{issueLogCreationBean.contactNumber}" style="#{ component.valid ? '' : 'border-color:red;'}"
						required="true" requiredMessage="#{validation['contactlog.field.required']}" id="issueLogContactNumber" />
				   	<rich:messages for="issueLogContactNumber" />
					<h:outputLabel value="Contact Email:" />
					<h:inputText value="#{issueLogCreationBean.contactEmail}" style="#{ component.valid ? '' : 'border-color:red;'}"
						required="true" requiredMessage="#{validation['contactlog.field.required']}" id="issueLogContactEmail" />
				   	<rich:messages for="issueLogContactEmail" />
					<h:outputLabel value="Order PO (if applicable):" />
					<h:inputText value="#{issueLogCreationBean.poNumber}" />
					<h:outputLabel value="Issue Description:" />
					<h:inputTextarea value="#{issueLogCreationBean.issueDescription}" style="#{ component.valid ? '' : 'border-color:red;'}"
						required="true" requiredMessage="#{validation['contactlog.field.required']}" id="issueLogDescription" />
				   	<rich:messages for="issueLogDescription" />
					<h:outputLabel value="Issue Category:" />
					<h:selectOneMenu id="issueCategory" value="#{issueLogCreationBean.issueCategory}" style="#{ component.valid ? '' : 'border-color:red;'}"
						required="true" requiredMessage="#{validation['contactlog.field.required']}" >
				    	<f:selectItem itemLabel="Select..." noSelectionOption="true"/>
						<f:selectItems value="#{issueLogCreationBean.issueCategories}" />
					</h:selectOneMenu>
				   	<rich:messages for="issueCategory" />
				</div>
	            <div class="modal-footer">
					<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
					<a4j:commandButton value="Submit" action="#{issueLogCreationBean.create()}" 
						render="createIssueLogConfirmForm createIssueLogForm" styleClass="btn btn-primary" 
						oncomplete="if (#{issueLogCreationBean.issueCreated}) {$('#createIssueLog').modal('hide'); $('#createIssueLogConfirm').modal('show');}" />
				</div>
			</h:form>
		</div>
		
		<div id="createIssueLogConfirm" class="modal hide fade" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<h:form id="createIssueLogConfirmForm">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h3 id="myModalLabel">Support Ticket Created</h3>
				</div>
	            <div class="modal-body">
					<h:outputLabel value="Ticket number #{issueLogCreationBean.ticketNumber} has been submitted." />
				</div>
	            <div class="modal-footer">
					<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				</div>
			</h:form>
		</div>
	   
	   <c:if test="#{credentialSelectionBean.hasPermission('shopping view issue logs')}">
			<div id="existingIssueLogs" class="modal hide fade" tabindex="-1" role="dialog"
				aria-labelledby="myModalLabel" aria-hidden="true">
				<h:form id="existingIssueLogsForm">
				<h:panelGroup id="existingIssueLogsDiv">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">×</button>
						<h3 id="myModalLabel">View Technical Support Tickets</h3>
					</div>
		            <div class="modal-body">
	                    <div class="row-fluid headerBkgrd-pd mobileHide">
	                        <div class="span3"><h4>Ticket Number</h4></div>
	                        <div class="span3"><h4>Contact Name</h4></div>
	                        <div class="span2"><h4>Issue Category</h4></div>
	                        <div class="span2"><h4>Date Created</h4></div>
	                        <div class="span2 pull-right"><h4>Comments</h4></div>
	                        <div class="clearfix"></div>
	                     </div>
	                     <a4j:repeat rowKeyVar="index" var="log" value="#{issueLogViewBean.logs}">
	                          <h:panelGroup styleClass="#{index % 2 == 0 ? 'whiteBkgrd-pd' : 'grayBkgrd-pd'} row-fluid" layout="block">
	                              <div class="span3 listNameField">
	                                  <p>
	                                      <h:outputText value="#{log.ticketNumber}" />
	                                  </p>
	                              </div>
	                              <div class="span3">
	                                  <p>
	                                      <h:outputText value="#{log.contactName}" />
	                                  </p>
	                              </div>
	                              <div class="span2">
	                                  <p>
	                                      <h:outputText value="#{log.issueCategory.label}" />
	                                  </p>
	                              </div>
	                              <div class="span2">
	                                  <p>
	                                      <h:outputText value="#{log.openedDate}" />
	                                  </p>
	                              </div>
	                              <div class="span2">
	                                  <p>
	                                      <a4j:commandButton value="View Comments" action="#{issueLogViewBean.loadComments(log)}" 
											render=":issueLogCommentsDiv" styleClass="btn" 
											oncomplete="$('#existingIssueLogs').modal('hide'); $('#issueLogComment').modal('show'); return false;" />
	                                  </p>
	                              </div>
	                          </h:panelGroup>
	                      </a4j:repeat>
					</div>
		            <div class="modal-footer">
						<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
					</div>
				</h:panelGroup>
				</h:form>
			</div>
			
			<div id="issueLogComment" class="modal hide fade" tabindex="-1" role="dialog"
				aria-labelledby="myModalLabel" aria-hidden="true">
				<h:form id="issueLogCommentForm">
				<h:panelGroup id="issueLogCommentsDiv">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">×</button>
						<h3 id="myModalLabel">View Log Comments</h3>
					</div>
		            <div class="modal-body">
	                    <div class="row-fluid headerBkgrd-pd mobileHide">
	                        <div class="span2"><h4>Date Created</h4></div>
	                        <div class="span9 pull-right"><h4>Comments</h4></div>
	                        <div class="clearfix"></div>
	                     </div>
	                     <a4j:repeat rowKeyVar="index" var="comment" value="#{issueLogViewBean.comments}">
	                          <h:panelGroup styleClass="#{index % 2 == 0 ? 'whiteBkgrd-pd' : 'grayBkgrd-pd'} row-fluid">
	                              <div class="span2">
	                                  <p>
	                                      <h:outputText value="#{comment.commentTimestamp}" />
	                                  </p>
	                              </div>
	                              <div class="span9 pull-right">
	                                  <p>
	                                      <h:outputText value="#{comment.content}" />
	                                  </p>
	                              </div>
	                          </h:panelGroup>
	                      </a4j:repeat>
	                      New comment:
	                      <h:inputText value="#{issueLogViewBean.commentText}" />
					</div>
		            <div class="modal-footer">
	                    <a4j:commandButton value="Add Comment" action="#{issueLogViewBean.addComment()}" 
											render=":issueLogCommentsDiv" styleClass="btn btn-primary" />
						<a4j:commandButton styleClass="btn" aria-hidden="true" onclick="$('#issueLogComment').modal('hide'); $('#existingIssueLogs').modal('show'); return false;" value="Close" />
					</div>
				</h:panelGroup>
				</h:form>
			</div>
		</c:if>
</ui:composition>