<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"	
                xmlns:forgeview="http://jboss.org/forge/view"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j">

    <li class="dropdown">
        <a id="#{(favoritesViewBean.isPersonalFavoritesType(favoritesType) ? 'user-fav-list' : 'comp-fav-list' )}" href="#{(favoritesViewBean.isPersonalFavoritesType(favoritesType) and credentialSelectionBean.hasPermission('shopping maintain user favorites'))
                        ? linksBean.userFavorites : ''}" class="dropdown-toggle" 
                data-hover="dropdown" data-delay="1000" data-close-others="false">
            <h:outputText value="#{favoritesType}" />
        </a>
        <h:panelGroup rendered="#{favoritesViewBean.isPersonalFavoritesType(favoritesType) ? !favoritesBean.isUserListEmpty() : !favoritesBean.isCompanyListEmpty()}">
            <ul id="#{(favoritesViewBean.isPersonalFavoritesType(favoritesType) ? 'user-fav-dd' : 'comp-fav-dd' )}" class="dropdown-menu">
                <a4j:repeat rowKeyVar="index" var="list" value="#{favoritesLists}" >
                	<h:panelGroup rendered="#{index lt 10}">
	                    <li>
	                        <h:outputLink rendered="#{(favoritesBean.getItemCount(list) > 0) or (favoritesViewBean.isPersonalFavoritesType(favoritesType) and favoritesBean.getItemCount(list) >= 0)}" value="#{favoritesBean.getViewLink(list.name, list.id, favoritesType)}" tabindex="-1">
	                            <span>#{list.name}</span>
	                        </h:outputLink>
	                    </li>
                    </h:panelGroup>
                </a4j:repeat>
            </ul>
        </h:panelGroup>
        <h:panelGroup rendered="#{favoritesViewBean.isPersonalFavoritesType(favoritesType) ? favoritesBean.isUserListEmpty() : favoritesBean.isCompanyListEmpty()}">
            <ul id="#{(favoritesViewBean.isPersonalFavoritesType(favoritesType) ? 'user-fav-dd' : 'comp-fav-dd' )}" class="dropdown-menu">
                   <li>
                       <h:outputLink>No list found</h:outputLink>
                   </li>
            </ul>
        </h:panelGroup>
    </li>

</ui:composition>