<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"	
                xmlns:forgeview="http://jboss.org/forge/view"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j">
    <div class="tab-content container">
        <div class="tab-pane active productDetails" id="tab1">
            <div class="span12">
                <h4>Specification</h4>
            </div>
            <a4j:repeat var="detail" rowKeyVar="index" value="#{detailsBean.itemSpecificationKeys}" >
                <div class="span12 #{index % 2 == 0 ? 'whiteBkgrd-pd' : 'grayBkgrd-pd'}">
                    <div class="span4 pd-headers"><p>#{detail}:</p></div>
                    <a class="span6" href="#{detail == 'MSDS URL' ? detailsBean.getItemSpecificationValue(detail) : ''}" >
                    	<h:outputText class="span6" value="#{detailsBean.getItemSpecificationValue(detail) != null ? 
                    	detailsBean.getItemSpecificationValue(detail) : ''}"/>
                    </a>
                </div>
            </a4j:repeat>            
        </div>

        <div class="tab-pane productDetails" id="tab2">
            <div class="span12">
                <h4>Product Classifications</h4>
            </div>
            <a4j:repeat var="detail" rowKeyVar="index" value="#{detailsBean.itemClassificationKeys}" >
                <div class="span12 #{index % 2 == 0 ? 'whiteBkgrd-pd' : 'grayBkgrd-pd'}">
                    <div class="span4 pd-headers"><p>#{detail}:</p></div>
                    <div class="span6"><p>#{detailsBean.getItemClassificationValue(detail) != null ? 
                    detailsBean.getItemClassificationValue(detail) : ''}</p></div>
                </div>
            </a4j:repeat>  
        </div>
    </div>
</ui:composition>
