<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:apd="http://java.sun.com/jsf/composite/apd">
    <script>
        $(document).ready(function() {addFunctionToCallAfterAjax(function() {
           addPopTriggers();
        });});
    </script>
    <div class="span12">
        <div class="mobileHide">
        	<div class="span7">
	            <div class="span6 ps-image"></div>
	            <div class="span6">
	                <h:outputText value="Product / Manufacturer"/>
	            </div>
            </div>
            <div class="span2">
                <h:outputText value="Price"/>
            </div>
            <div class="span1">
                <h:outputText value="Units"/>         
            </div>
            <div class="span3"></div>
        </div>        
        <a4j:repeat value="#{products}" var="product" rowKeyVar="index">
            <h:panelGroup rendered="#{not empty product}">
                <div class="product-wrapper">
                <div class="span7">
	                <div class="span6 ps-image mobilePicPS">
	                    <img src="#{product.mainImageUrl}" class="crop150by150"/>
	                    <div class="compare">
	                        <h:panelGroup styleClass="controls" rendered="#{allowCompare}">
	                            <label class="checkbox inline">
	                                <h:selectBooleanCheckbox value="#{productCompareSelectionBean.compareMap[product]}" />
	                                Compare
	                            </label>
	                        </h:panelGroup>
	                    </div>
	                </div>
	
	                <div class="span6 product-info"><!-- TODO: add the "popover-trigger" class to this div, to reenable the popup which was turned off per PHOEN-4430 -->
	                    <h:panelGroup layout="block" rendered="#{not empty product.name}" styleClass="title">
	                        <div onclick="$(this).children()[0].click();">
	                            <a href="#{product.detailsLink}&amp;prevPageNumber=#{parentBean== null?'1':parentBean.getPageNumber()}">#{product.name}</a>
	                        </div>
	                    </h:panelGroup>
	                    <h:panelGroup layout="block" rendered="#{not empty product.manufacturerName}" styleClass="manufacturer">
	                        #{product.manufacturerName}
	                    </h:panelGroup>
	                    <div class="sku-no-break">
		                    <h:panelGroup layout="block" rendered="#{not empty product.manufacturerSku}" styleClass="manufacturer">
		                        <strong>Mfr. SKU:</strong> 
		                        <h:outputText value="#{product.manufacturerSku}">
		                        </h:outputText>
		                    </h:panelGroup>
		
		                    <strong>SKU:</strong>#{product.customerSku}
	                    </div>
	                    <!-- div for pop-over content-->
	                    <div class="popSourceBlock" style="display:none">
	                        <div class="popTitle">
	                            Additional Information
	                        </div>
	                        <div class="popContent">
	                            <h:panelGroup rendered="#{product.apdSku != null and !addToCartBean.isSpecialOrder(product)}"><div><strong>APD Sku:</strong>#{product.apdSku}</div></h:panelGroup>
	                            <h:panelGroup rendered="#{product.vendorSku != null and !addToCartBean.isSpecialOrder(product)}"><div><strong>Vendor Sku:</strong>#{product.vendorSku}</div></h:panelGroup>
	                            <div>
	                                <h:panelGroup rendered="#{product.properties['substituteSku']!=null and product.properties['substituteVendor']!=null}">
	                                    <h:panelGroup rendered="#{addToCartBean.YES_VALUE.equals(product.properties['force substitute'])}">
	                                        <font color="red"><strong>This item must be substituted with </strong></font> 
	                                        <a4j:commandLink action="#{addToCartBean.addSingleItem(product)}" oncomplete="$cartNotify();" onclick="waitOnNextAjax();"
	                                                         render=":items-added-json :cart-dropdown-count :recently-added-container" >
	                                            #{product.properties['substituteSku']}
	                                        </a4j:commandLink>
	                                    </h:panelGroup>
	                                    <h:panelGroup rendered="#{!addToCartBean.YES_VALUE.equals(product.properties['force substitute'])}">
	                                        <font color="red"><strong>This item should be substituted with </strong></font> 
	                                        <a4j:commandLink action="#{addToCartBean.addSingleItem(product)}" oncomplete="$cartNotify();" onclick="waitOnNextAjax();"
	                                                         render=":items-added-json :cart-dropdown-count :recently-added-container" >
	                                            #{product.properties['substituteSku']}
	                                        </a4j:commandLink>
	                                    </h:panelGroup>
	                                </h:panelGroup>
	                            </div>
	                            <div>
	                                <h:panelGroup rendered="#{addToCartBean.YES_VALUE.equals(product.properties['customOrder'])}">
	                                    <font color="red"><strong>Custom</strong></font>
	                                </h:panelGroup>
	                            </div>
	                            <div>
	                                <h:panelGroup rendered="#{addToCartBean.isSpecialOrder(product)}">
	                                    <font color="red"><strong>Special Order: contact customer service at 1-877-769-5842</strong></font>
	                                </h:panelGroup>
	                            </div>
	                            <div>
	                                <h:panelGroup rendered="#{addToCartBean.YES_VALUE.equals(product.properties['customOrder'])}">
	                                    <font color="red"><strong>Custom</strong></font>
	                                </h:panelGroup>
	                            </div>
	                            <div>
	                                    <h:panelGroup rendered="#{addToCartBean.isRestricted(product)}">
	                                        <font color="red"><strong>Restricted</strong></font>
	                                    </h:panelGroup>
	                                </div>
	                            <div>
	                                <h:panelGroup rendered="#{addToCartBean.isDiscontinued(product)}">
	                                    <font color="red"><strong>Discontinued</strong></font>
	                                        <h:panelGroup rendered="#{product.replacementSku != null and product.replacementVendor != null}">
	                                            <div>
	                                                Replacement SKU: <a href="#{productBrowseBean.getReplacementProductDetailsLink(product)}">#{product.replacementSku}</a>
	                                            </div>
	                                        </h:panelGroup>
	                                </h:panelGroup>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="product-icons">
	                        <a4j:repeat rendered="#{not empty product.iconMap.keySet()}" value="#{viewUtils.mapToList(product.iconMap)}" var="entry" rowKeyVar="index">
	                            <img  src="#{credentialSelectionBean.getIconUrl(entry.key)}" alt="Product Icon Image" class="productIconImage" rel="tooltip" title="#{entry.value}" />
	                        </a4j:repeat>
	                    </div>
	                </div>
                </div>

                <div class="span2 price-per-unit">
                    <h:panelGroup rendered="#{addToCartBean.showPrice(product)}">
	                    <h:outputText value="#{product.price}">
	                        <f:convertNumber type="currency" currencySymbol="$" />
	                    </h:outputText>
                    </h:panelGroup>
                </div>

                <div class="span1 units">#{product.units}</div>
                <div class="span3 btnsPS">
                    <apd:addToCart product="#{product}" />
                </div>
                <div class="span12 clearfix borderBottomPS"></div>
                </div>
            </h:panelGroup>
        </a4j:repeat>
    </div>
</ui:composition>