<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:forgeview="http://jboss.org/forge/view">

    <div class="accordion-group">
        <div class="accordion-heading divInside-Fade">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
            	<h5>
	            	<h:outputFormat value="#{order.nonFeeItems.size() == 1 ? display['results.contents.title.oneitem'] : display['results.contents.title']}" >          
					  <f:param value="#{order.nonFeeItems.size()}" />
					</h:outputFormat>
                	<div class="arrowUp arrowDown">&nbsp;</div>
                </h5>
            </a>
        </div>
        <div id="collapseThree" class="accordion-body in collapse" style="height: auto;">
            <div class="accordion-inner">
                <!-- ====== HEADERS ===== -->    
                <div class="row-fluid">
                	<c:if test="#{!credentialSelectionBean.externalCatalog}">
	                    <!-- IMAGE -->
	                    <div class="span2 mobilePic"></div>
	                 </c:if>

                    <!-- DESC -->  
                    <div class="span4 mobileRight">
                        <h5>Product/Manufacturer</h5>
                    </div>

					<c:if test="#{!credentialSelectionBean.externalCatalog}">
	                    <!-- FEATURES -->      
	                    <div class="span2 mobileRight">
	                        <div>
	                            <h5>Features</h5>
	                        </div>
	                    </div>
	                </c:if>

                    <!-- Quanity -->    
                    <div class="span1 mobileRight">
                        <h5>Qty</h5>
                    </div>

                    <!-- UNITS -->    
                    <div class="span1 mobileRight">
                        <h5>Units</h5>
                    </div>

                    <!-- PRICE -->    
                    <div class="span1 mobileRight">
                        <h5>Price/Unit</h5>
                    </div>

                    <!-- PRICE -->    
                    <div class="span1 text-right  mobileRight">
                        <h5>Total Price</h5>
                    </div>
                    <!-- ====== HEADERS END ===== -->    
                </div>

                <a4j:repeat value="#{orderContentBean.getMerchandise(order)}" var="item">
	                <div class="row-fluid">
	                	<c:if test="#{!credentialSelectionBean.externalCatalog}">
		                    <!-- IMAGE -->
		                    <div class="span2 mobilePic">
		                        <img src="#{liToProduct != null ? liToProduct.getImageUrl(item) : 'http://placehold.it/153x153'}" 
		                        	alt="image" class="crop153by153"/>
		                    </div>
	                    </c:if>
	
	                    <!-- DESC -->  
	                    <div class="span4 mobileRight">
	                        <p class="product-title"><a>#{item.shortName != null ? item.shortName : item.description}</a></p>
	                        <p class="product-man">#{item.manufacturerName}</p>
	                        	<c:choose>
		                        	<c:when test="#{!credentialSelectionBean.externalCatalog}">
		                                <h:panelGroup rendered="#{item.apdSku != null}" layout="none">
		                                    <p class="product-sku"><strong>SKU:</strong> #{item.apdSku}</p>
		                                </h:panelGroup>
	                                </c:when>
	                                <c:otherwise>
		                                <h:panelGroup rendered="#{item.supplierPartId != null}" layout="none">
		                                    <p class="product-sku"><strong>SKU:</strong> #{item.supplierPartId}</p>
		                                </h:panelGroup>
	                                </c:otherwise>
                                </c:choose>
	                    	<c:if test="#{page.field.containsKey('line item comments')}">
		                        <h:inputText value="#{page.comment[item]}" disabled="#{!page.updatable[page.field['line item comments']] or isReadOnly}" 
		                        	required="#{page.required[page.field['line item comments']] and !isReadOnly}" 
		                        	requiredMessage="#{validation['cashout.linecomment.required']}" />
	                        </c:if>
	                        <h:outputText value="This item has been substituted for item #{item.originallyAddedSku}, #{item.originallyAddedName}, per your contract or personal selection." 
	                        	rendered="#{item.substituteForOriginal}"  />
	                    </div>
	
						<c:if test="#{!credentialSelectionBean.externalCatalog}">
		                    <!-- FEATURED -->      
		                    <div class="span2 mobileRight">
		                        <div>
		                            <a4j:repeat rendered="#{liToProduct != null and not empty liToProduct.getIconMap(item).keySet()}" 
		                            		value="#{viewUtils.mapToList(liToProduct.getIconMap(item))}" var="entry" rowKeyVar="index">
	                                        <img  src="#{entry.key}" alt="Product Icon Image" class="productIconImage" rel="tooltip" title="#{entry.value}" />
	                                    </a4j:repeat>
		                        </div>
		                    </div>
		               </c:if>
	
	                    <!-- Quanity -->    
	                    <div class="span1 mobileRight">
	                        <p class="product-units">#{item.quantity}</p>
	                    </div>
	
	                    <!-- UNITS -->    
	                    <div class="span1 mobileRight">
	                        <p class="product-units">#{item.unitOfMeasure.name}</p>
	                    </div>
	
	                    <!-- PRICE -->    
	                    <div class="span1 mobileRight">
                                <p class="product-price">
                                    <h:outputText value="#{item.unitPrice}">
                                        <f:convertNumber type="currency" currencySymbol="$" />
                                    </h:outputText>
                                </p>
	                    </div>
	
	                    <!-- PRICE -->    
	                    <div class="span1 text-right mobileRight">
                                <p class="product-Exprice">
                                    <h:outputText value="#{item.totalPrice}">
                                        <f:convertNumber type="currency" currencySymbol="$" />
                                    </h:outputText>
                                </p>
	                    </div>
	                </div>
	                <div class="row-fluid borderBottom">  	
	                	<h:outputText value="#{cashoutBean.getPriceChangeNotice(item)}"
                                		rendered="#{cashoutBean.priceChange(item)}" style="color:red"/>
                    </div>
                </a4j:repeat>
                <!-- ====== PRODUCT END ===== -->   

                <!-- ====== SUB TOTAL ===== -->
                <div class="row-fluid">
                    <div class="span10 text-right">
                        <p>Sub Total:</p>
                        <h:panelGroup rendered="#{order.estimatedShippingAmount > 0}">
                        	<p>Shipping:</p> 
                        </h:panelGroup>
                        <a4j:repeat value="#{orderContentBean.getFees(order)}" var="item">
                            <h:panelGroup>
                                <p> 
                                   <h:outputText value="#{item.description}"/>:
                                </p> 
                            </h:panelGroup>
                        </a4j:repeat>
                        <p>Sales Tax:</p>
                        <p class="totalPrice">Total:</p>
                    </div> 

                    <div class="span2 text-right">
                        <p>
                            <h:outputText value="#{order.subtotalNoFees}">
                                <f:convertNumber type="currency" currencySymbol="$" />
                            </h:outputText>
                        </p>
                        <h:panelGroup rendered="#{order.estimatedShippingAmount > 0}">
                            <p>
                                <h:outputText value="#{order.estimatedShippingAmount}">
                                    <f:convertNumber type="currency" currencySymbol="$" />
                                </h:outputText>
                            </p> 
                        </h:panelGroup>
                        <a4j:repeat value="#{orderContentBean.getFees(order)}" var="item">
                            <h:panelGroup>
                                <p> 
                                   <h:outputText value="#{item.unitPrice}">
                                        <f:convertNumber type="currency" currencySymbol="$" />
                                    </h:outputText>
                                </p> 
                            </h:panelGroup>
                        </a4j:repeat>
                        <c:choose>
                        	<c:when test="#{taxNotCalculated != null ? taxNotCalculated : false}">
                        		<p>TBD</p> 
                        	</c:when>
                        	<c:when test="#{not order.taxAssigned}">
                        		<p>
									<a href="#" data-original-title="#{validation['order.tax.notassigned']}"
										data-toggle="tooltip" class="tooltip-top" >
										<i class="icon-info-sign" />
									</a>
									<span class="error-text">$0.00</span>
								</p>
                        	</c:when>
                        	<c:otherwise>
                        		<p>
                                            <h:outputText value="#{order.maximumTaxToCharge}">
                                                <f:convertNumber type="currency" currencySymbol="$" />
                                            </h:outputText>
                                        </p> 
                        	</c:otherwise>
                        </c:choose>
                        <p class="totalPrice">
                            <h:outputText value="#{order.orderTotal}">
                                <f:convertNumber type="currency" currencySymbol="$" />
                            </h:outputText>
                        </p>
                    </div>
				</div>
                <!-- ====== SUB TOTAL END ===== --> 
            </div>

        </div>

    </div>
</ui:composition>