<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:rich="http://richfaces.org/rich" xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view" xmlns:apd="http://java.sun.com/jsf/composite/apd">

	<div class="row apdCenter container">
		<div class="row-fluid">
			<div class="fl-wrapper" > 
				<div class="fl-container">
					<div class="divInside-Fade">
						<h3>My Tasks</h3>
					</div>
                    	<h:form id="assignedTasksForm">
							<table class="table table-hover table-striped">
								<thead>
									<tr>
										<c:if test="#{not workflowTaskBean.hasPermission('customer service manager')}">
											<th class="span3">Description</th>
											<th class="span2">APD PO#</th>
										</c:if>
										<c:if test="#{workflowTaskBean.hasPermission('customer service manager')}">
											<th class="span1">Assignee</th>
											<th class="span3">Description</th>
											<th class="span1">APD PO#</th>
										</c:if>
                                                                                <th class="span2">Account</th>
										<th class="span1">Status</th>
										<th class="span2">Created On</th>
										<th class="span1">Task Id</th>
										<th class="span2">Actions</th>
									</tr>

								</thead>
								<tbody>
                                                                    <a4j:repeat
                                                                    rowKeyVar="index"
                                                                    var="assignedTask"
                                                                    value="#{workflowTaskBean.assignedTasks}">
                                                                        <tr>
																			<c:if test="#{not workflowTaskBean.hasPermission('customer service manager')}">
	                                                                            <th class="span3">#{workflowTaskBean.getTaskName(assignedTask)}</th>
	                                                                            <th class="span2">
	                                                                            	<a href="/customerservice/admin/orderSearch/order-search.xhtml?apdpo=#{workflowTaskBean.getApdPo(assignedTask)}">
	                                                                            		#{workflowTaskBean.getApdPo(assignedTask)}
	                                                                            	</a>
	                                                                            </th>
																			</c:if>
																			<c:if test="#{workflowTaskBean.hasPermission('customer service manager')}">
	                                                                            <th class="span1">#{assignedTask.actualOwner.id}</th>
	                                                                            <th class="span3">#{workflowTaskBean.getTaskName(assignedTask)}</th>
	                                                                            <th class="span1">
	                                                                            	<a href="/customerservice/admin/orderSearch/order-search.xhtml?apdpo=#{workflowTaskBean.getApdPo(assignedTask)}">
	                                                                            		#{workflowTaskBean.getApdPo(assignedTask)}
	                                                                            	</a>
	                                                                            </th>
																			</c:if>
                                                                            <th class="span2">#{workflowTaskBean.getAccountName(assignedTask)}</th>
                                                                            <th class="span1">#{workflowTaskBean.getStatus(assignedTask)}</th>
                                                                            <th class="span2">#{assignedTask.createdOn}</th>
                                                                            <th class="span2">#{assignedTask.id}</th>
                                                                            <th class="span2">
                                                                            	<h:commandButton rendered="#{workflowTaskBean.canClaim(assignedTask)}" value="Claim" action="#{workflowTaskBean.claimTask(assignedTask)}" styleClass="btn btn-apd" />
                                                                                <h:commandButton rendered="#{workflowTaskBean.canStart(assignedTask)}" value="Start" action="#{workflowTaskBean.startTask(assignedTask)}" styleClass="btn btn-apd" />
																				<h:commandButton rendered="#{workflowTaskBean.canContinue(assignedTask)}" value="Continue" action="#{workflowTaskBean.continueTask(assignedTask)}" styleClass="btn btn-apd" />
																				<h:commandButton rendered="#{workflowTaskBean.canRelease(assignedTask)}" value="Release" action="#{workflowTaskBean.releaseTask(assignedTask)}" styleClass="btn" />
																				<a4j:commandButton rendered="#{workflowTaskBean.hasPermission('customer service manager')}" value="View History" immediate="true" styleClass="btn"
																					action="#{workflowTaskBean.historyOfTask(assignedTask)}" render=":workflowHistoryModalForm" oncomplete="showPopup('workflowHistoryModal');" />
                                                                            </th> 
                                                                        </tr>
                                                                    </a4j:repeat>
								</tbody>
							</table>
						<apd:pagination pageDisplay="#{workflowTaskBean.assignedTasksPaginator}" render="assignedTasksForm" />
                	</h:form>
				</div>
			</div>
		</div>
	</div>
</ui:composition>
