<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

	<h:panelGroup id="customerServiceTabs" layout="block" styleClass="navbar span12">
		<h:form id="tabForm">
			<h:panelGrid columns="2" border="0" styleClass="span12">
				<h:link id="availableTasksLink" value="Available Tasks" outcome="/customerService/availableTasks.xhtml"
					styleClass="brand span6" />
				<h:link id="assignedTasksLink" value="My Tasks" outcome="/customerService/assignedTasks.xhtml"
					styleClass="brand span6" />
			</h:panelGrid>
		</h:form>
	</h:panelGroup>
</ui:composition>