<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                template="/WEB-INF/layout/administrationTemplate.xhtml">


        <f:metadata>
		<f:event
			type="preRenderView"
			listener="#{workflowTestBean.retrieve}" />
	</f:metadata>

	<ui:define name="main">
	<h:form id="listsForm">
				<h:outputText value="Task Id" />
                <h:inputText rendered="#{workflowTaskBean.canForceClaim()}" value="#{workflowTaskBean.taskToClaim}" /><br />
			<h:commandButton rendered="#{workflowTaskBean.canForceClaim()}" value="Force claim" action="#{workflowTaskBean.forceClaim()}" />
			<hr />

            <h:outputText value="apdPo:" /><h:inputText value="#{workflowTestBean.apdPo}" /><br />
            <h:commandButton value="Send Quick Ack" action="#{workflowTestBean.sendQuickAck}" /><br />
            <h:commandButton value="Cancel Order" action="#{workflowTestBean.cancelOrder}" /><br />
            <h:commandButton value="Send Full Ack" action="#{workflowTestBean.testFullAck}" /><br />
            <h:commandButton value="Send Full Shipment Notification" action="#{workflowTestBean.testFullShipment()}" /><br />
            <h:commandButton value="Send Full Invoice" action="#{workflowTestBean.testFullInvoice}" /><br />
            <h:outputText value="Vendor Name:" /><h:inputText value="#{workflowTestBean.vendorName}" />
            <h:commandButton value="Send Vendor Communication Failure" action="#{workflowTestBean.sendVendorComFailure()}" /><br /> <hr />
            <h:commandButton value="Exit all tasks" action="#{workflowTestBean.exitAllTasks()}" /> <hr />
            <div>
           		<h:outputLabel value="email address:" />
            	<h:inputText value="#{workflowTestBean.email}" />
            </div>
            <div>
           		<h:outputLabel value="Authority (e.g localhost:8080):" />
            	<h:inputText value="#{workflowTestBean.authority}" />
            </div>
            <div>
            	<h:commandButton value="Start order-rejected-shipto workflow" action="#{workflowTestBean.testOrderRejectedShipTo}" />
            </div>
	</h:form>
	</ui:define>
</ui:composition>
