<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	template="/WEB-INF/templates/ecommerceTaskListTemplate.xhtml">

	<f:metadata>
		<f:event
			type="preRenderView"
			listener="#{workflowTaskBean.retrieve}" />
	</f:metadata>

	<ui:define name="page_content">
            <ui:include src="/WEB-INF/layout/workflow/#{workflowTaskBean.taskToWorkName}.xhtml" />
	</ui:define>
</ui:composition>