<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:forgeview="http://jboss.org/forge/view">
		
	<h:outputLabel for="cashoutPageBeanCashoutPageName" value="Name:"/>
	<h:panelGroup>
		<h:inputText id="cashoutPageBeanCashoutPageName" value="#{cashoutPageBean.cashoutPage.name}"/>
		<h:message for="cashoutPageBeanCashoutPageName" styleClass="error"/>
	</h:panelGroup>
	<h:outputText/>
	
	<h:outputLabel for="cashoutPageBeanCashoutPageHigherPriceNotice" value="Display a higher price notice:"/>
	<h:panelGroup>
		<h:selectBooleanCheckbox id="cashoutPageBeanCashoutPageHigherPriceNotice" value="#{cashoutPageBean.cashoutPage.higherPriceNotice}" />
		<h:message for="cashoutPageBeanCashoutPageHigherPriceNotice" styleClass="error"/>
	</h:panelGroup>
	<h:outputText/>
		
	<h:outputLabel value="Action If No Card Information:"/>
	<h:panelGroup id="cashoutNoCardAction">
		On the cashout page, payment information is determined with the following steps:
		<ul>
			<li>Use the credit card information submitted on the page.</li>
			<li>If no credit card information is specified, the User's payment information is used.</li>
			<li>If the User doesn't have any payment information, then the Credential's is used.</li>
			<li>If the Credential doesn't have any payment information, the Account's is used.</li>
			<li>If the Account doesn't have any payment information, the payment is made by invoice.</li>
		</ul>
		The middle three steps will be skipped, going directly to paying by invoice if there is no submitted card 
		information, if either of these conditions are met:
		<ul>
			<li>The "payment type selection" field is on the page, and set by the user to "Invoice"</li>
			<li>The following setting is set to "Pay by invoice"</li>
		</ul>
		<br />
		<h:selectOneMenu value="#{cashoutPageBean.cashoutPage.noCardAction}">
			<f:selectItems value="#{cashoutPageBean.noCardActions}" />
		</h:selectOneMenu>
	</h:panelGroup>
	<h:outputText/>
		
	<h:outputLabel for="cashoutPageBeanCashoutPageShiptoFormat" value="Format for Shipto Address Dropdown:"/>
	<h:panelGroup>
		<h:inputText id="cashoutPageBeanCashoutPageShiptoFormat" value="#{cashoutPageBean.cashoutPage.shiptoAddressDisplayFormat}"/>
		<h:message for="cashoutPageBeanCashoutPageShiptoFormat" styleClass="error"/>
	</h:panelGroup>
	<h:outputText/>
		
	<h:outputLabel for="cashoutPageBeanCashoutPageBilltoFormat" value="Format for Billto Address Dropdown:"/>
	<h:panelGroup>
		<h:inputText id="cashoutPageBeanCashoutPageBilltoFormat" value="#{cashoutPageBean.cashoutPage.billtoAddressDisplayFormat}"/>
		<h:message for="cashoutPageBeanCashoutPageBilltoFormat" styleClass="error"/>
	</h:panelGroup>
	<h:outputText/>

</ui:composition>