<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	template="/WEB-INF/layout/administrationTemplate.xhtml"
	xmlns:apd="http://java.sun.com/jsf/composite/apd">

	<f:metadata>
		<f:event type="preRenderView" listener="#{cashoutPageBean.retrieve}"/>
	</f:metadata>

	<ui:param name="pageTitle" value="Update Cashout Page"/>

	<ui:define name="header">
		Cashout Page
	</ui:define>

	<ui:define name="subheader" />

	<ui:define name="footer"/>
	
	<ui:define name="main">
		<h:form id="work">
			<apd:search searchBean="#{cashoutPageSearchBean}" detailsRegion="work" searchRegion="searching" />
			<ui:include src="cashoutPageDetails.xhtml" />
			<div class="btn-group" layout="block">
				<h:commandLink value="Save" action="#{cashoutPageBean.update}" styleClass="btn btn-success" ><i class="icon-ok"></i></h:commandLink>
				<h:commandLink value="Delete" action="#{cashoutPageBean.delete}" styleClass="btn btn-danger"><i class="icon-trash"/></h:commandLink>
				<h:commandLink value="Clone" action="#{cashoutPageBean.cloneSelectedCashoutPage(cashoutPageBean.cashoutPage)}" styleClass="btn btn-primary" />
			</div>
		</h:form>
		<ui:include src="/admin/cashoutPageXField/cashoutPageXFieldModal.xhtml">
			<ui:param name="bean" value="#{cashoutPageBean}" />
			<ui:param name="typeBean" value="#{cashoutPageXFieldBean}" />
			<ui:param name="render" value="work" />
		</ui:include>
	</ui:define>

</ui:composition>