<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:apd="http://java.sun.com/jsf/composite/apd"
                template="/WEB-INF/templates/ecommerceHomeTemplate.xhtml">
    <f:metadata>
        <f:event type="preRenderView" listener="#{favoritesBean.refreshPage()}"  />
    </f:metadata>
    <ui:define name="page_content">
        <div class="row apdMarginTop container home">
            <div class="span2">
                <ui:include src="/WEB-INF/templates/category/categoryMenu.xhtml">
                    <ui:param name="bean" value="#{productBrowseBean}" />
                    <ui:param name="listMenuItems" value="highLevelNodes" />
                </ui:include>
                <ui:include src="/WEB-INF/components/inserts/search/inkTonerCore.xhtml" />
            </div>
            <h:form id="homePageForm">
                <div class="span10 mobileHide">
                    <div class="row-fluid FeaturedWidth">
                        <div class="span12">
                            <div id="featuredProductBlock">
                                <h2>
                                    #{display['home.featured']}
                                </h2>
                                <h:panelGroup id="coreProductWidget" layout="block" styleClass="row-fluid sectionBorders">
                                    <a4j:repeat rowKeyVar="index" var="product" value="#{homeBean.featuredProductList}">
                                        <div class="span3 featured-product">
                                            <div>
                                                <a href="#{product.detailsLink}" class="thumbnail">
                                                    <img src="#{product.mainImageUrl}" alt="Image" class="crop153by153"/>
                                                </a>
                                            </div>
                                            <div class="product-info">
                                                <div class="title" style="word-break: break-word"><a href="#{product.detailsLink}">#{product.name}</a></div>
                                                <div class="manufacturer">#{product.manufacturerName}</div>
                                                <div class="sku">
                                                    <strong>SKU:</strong>#{product.customerSku}
                                                </div>
                                                <div class="product-icons">
                                                    <a4j:repeat rendered="#{not empty product.iconMap.keySet()}" value="#{viewUtils.mapToList(product.iconMap)}" var="entry" rowKeyVar="index">
                                                        <img  src="#{credentialSelectionBean.getIconUrl(entry.key)}" alt="Product Icon Image" class="productIconImage" rel="tooltip" title="#{entry.value}" />
                                                    </a4j:repeat>
                                                </div>

                                                <div class="price-per-unit">
                            						<c:if test="#{!addToCarBean.isAddingPrevented(product)}">
	                                                    <h:outputText value="#{product.price}" >
	                                                        <f:convertNumber type="currency" currencySymbol="$" />
	                                                    </h:outputText>
                                                    </c:if>
                                                </div>
                                                <apd:addToCart product="#{product}" isHomePageWidget="true"/>
                                            </div>
                                        </div>
                                    </a4j:repeat>
                                </h:panelGroup>                                    
                                <apd:pagination pageDisplay="#{homeBean.pageDisplay}" render="homePageForm" />
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid FeaturedWidth">
                        <div class="span12">
                            <div id="featuredProductBlock">
                                <div class="row-fluid span9">
                                    <h2 class="pull-left">Favorite Lists</h2>                                        	
                                </div>
                                <div class="row-fluid">
                                    <h:panelGroup id="favoritesWidget" styleClass="span9 favoritesCon">
                                        <table class="table" id="favoritesTable">
                                            <thead>
                                                <tr class="darkBkgrd">
                                                    <th>
                                                        List Name <i class="icon-chevron-down smallIcon"></i>
                                                    </th>
                                                    <th>
                                                        Description
                                                    </th>
                                                    <th>
                                                        Action
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <a4j:repeat rowKeyVar="index" var="list" value="#{favoritesBean.userFavoritesListsPaginated}">
                                                    <h:panelGroup rendered="#{not empty list}">
                                                        <tr>
                                                            <td>
                                                            #{list.name}
                                                            </td>
                                                            <td>
                                                            #{favoritesBean.getItemCount(list)} Total Product(s)
                                                            </td>
                                                            <td>
                                                                <a href="#{homeBean.favoritesManagementLink}" onclick='setSelectedListById(${list.id});'>
                                                                    <i class="icon-pencil smallIcon" rel="tooltip" title="Edit"/>
                                                                </a>
                                                                <a href="#{favoritesBean.getViewLink(list.name, list.id, favoritesViewBean.PERSONAL_FAVORITES_TYPE)}">
                                                                    <i class="icon-view smallIcon" rel="tooltip" title="View"/>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </h:panelGroup>
                                                </a4j:repeat>
                                            </tbody>
                                        </table>
                                        <apd:pagination pageDisplay="#{favoritesBean.listPaginationWidget}" render="favoritesWidget" />
                                    </h:panelGroup>
                                    <div class="span3 pull-right"><img src="#{marketingImagesBean.getImageUrl('home1')}" />
                                    </div>

                                </div>
                            </div>

                        </div>                   
                    </div>
                </div>
            </h:form>
        </div>
        <div id="push"></div>
    </ui:define>

</ui:composition>
