<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:rich="http://richfaces.org/rich"
				xmlns:c="http://java.sun.com/jsp/jstl/core"	
                xmlns:a4j="http://richfaces.org/a4j">
    <script>
        window.onload = function() {
            if (#{bulletinDisplayBean.shouldDisplayBulletins}) {
            	$('#bulletinDisplayModal').modal('show');
            }
        }
    </script>
    <div id="bulletinDisplayModal" class="modal hide fade" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<h:form id="bulletinDisplayModalForm">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">×</button>
				<h3 id="bulletinDisplayModalLabel">Bulletins</h3>
			</div>
	        <c:if test="#{bulletinDisplayBean.shouldDisplayBulletins}">
		        <div class="modal-body">
		        	<ui:include src="/WEB-INF/layout/inserts/experience/bulletinDisplay.xhtml" />
		        </div>
	        </c:if>
            <div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			</div>
		</h:form>
	</div>
    
    <div id="notInWorkflowModal" class="modal hide fade" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<h:form id="notInWorkflowModal">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">×</button>
				<h3 id="notInWorkflowModalLabel">Order Is Not In Workflow</h3>
			</div>
	        <div class="modal-body">
	        	This order has not completed workflow processing. Most actions on the change order page 
	        	will fail, and inbound notices (such as EDI 856 shipment notices) will not trigger 
	        	their actions on the order.
	        	<br/><br/>
	        	<h:panelGroup rendered="#{orderDetailsBean.canResubmitOrder()}">
		        	To fix this issue, click the "Resubmit To Workflow" button on this page. If the order is 
		        	still not submitted to workflow after pressing that button and waiting several minutes, 
		        	please contact Tech Support.
	        	</h:panelGroup>
	        	<h:panelGroup rendered="#{!orderDetailsBean.canResubmitOrder()}">
		        	Please wait while this order is processed. This can take up to 30 minutes. If you 
		        	continue seeing this message after waiting, please contact Tech Support.
	        	</h:panelGroup>
	        </div>
            <div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			</div>
		</h:form>
	</div>
	
    <div id="errorRedirectModal" class="modal hide fade" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<h:form id="errorRedirectModalForm">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">×</button>
				<h3 id="errorRedirectModalLabel">Error Redirect</h3>
			</div>
	        <div class="modal-body">
	        	<span>An exception occurred, you have been redirected to the order search page.</span>
	        </div>
            <div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			</div>
		</h:form>
	</div>
</ui:composition>