<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:rich="http://richfaces.org/rich" xmlns:a4j="http://richfaces.org/a4j">
	<f:metadata>
            <f:event type="preRenderView" listener="#{approveOrderBean.retrieve}" />
	</f:metadata>
	<div class="container">
		<h4>Approve or Deny the following order:</h4>
		<h:form id="approveOrderForm">
			<div class="controls controls-row">
				<span class="redHeader">#{approveOrderBean.apdPo}</span>
			</div>
                    	<div class="controls controls-row">
				<label class="span2"> Order Total: </label>
                                <span class="input-medium uneditable-input span3"><h:outputText value="#{approveOrderBean.customerOrder.orderTotal}">
									<f:convertNumber currencySymbol="$" type="currency" />
								</h:outputText></span>
			</div>
                        <div class="controls controls-row">
				<label class="span2"> User: </label>
                                <span class="input-medium uneditable-input span3">#{approveOrderBean.customerOrder.user.login}</span>
			</div>
						<div class="controls controls-row">
                                <label class="span3"> Sku:</label>
                                <label class="span3"> Quantity:</label>
						</div>
                    <ui:repeat value="#{approveOrderBean.lineItems}" var="item" >
                        <div class="controls controls-row">
                                <span class="input-medium uneditable-input span3">#{item.apdSku}</span>
                                <span class="input-medium uneditable-input span3">#{item.quantity}</span>
						</div>
                    </ui:repeat>
                        <h:commandButton class="btn btn-apd" action="#{approveOrderBean.approve()}" value="Approve" />
                        <h:commandButton class="btn btn" action="#{approveOrderBean.deny()}" value="Deny" />
                        <h:commandButton class="btn btn" action="#{approveOrderBean.setToOrder()}" value="Set To Order" />
		</h:form>
	</div>
</ui:composition>