<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:rich="http://richfaces.org/rich" xmlns:a4j="http://richfaces.org/a4j">
	<f:metadata>
            <f:event type="preRenderView" listener="#{assignValidAddressBean.retrieve}" />
	</f:metadata>
	<div class="container">
		<h4>Assign Valid Address</h4>
		<h6>The following order was received with an unknown address. Please determine whether or not an existing or new
			shipping address should be used.</h6>
		<h:form id="assignValidAddressForm">
			<div class="controls controls-row">
				<span class="redHeader">#{assignValidAddressBean.apdPo}</span>
			</div>

			<div class="controls controls-row">
				<label class="span2">Requested Ship To Address for the order: </label> <br />
                                <label class="span5">
                                    <label class="span2"> Line 1: </label>
                                    <h:inputText class="span3" value="#{assignValidAddressBean.line1}" /> <br />
                                    <label class="span2"> City: </label>
                                    <h:inputText class="span3" value="#{assignValidAddressBean.city}" /> <br />
                                    <label class="span2"> State: </label>
                                    <h:inputText class="span3" value="#{assignValidAddressBean.state}" /> <br />
                                    <label class="span2"> Zip: </label>
                                    <h:inputText class="span3" value="#{assignValidAddressBean.zip}" /> <br />
                                    <label class="span2"> Desktop: </label>
                                    <h:inputText class="span3" value="#{assignValidAddressBean.desktop}" /> <br />
                                    <label class="span2"> Ussco Account Number: </label>
                                    <h:inputText class="span2" value="#{assignValidAddressBean.usscoAccountNumber}" />
                                    
                                </label>
			</div>
			<div class="controls controls-row">
	        	<label class="span2:">Use Default Ussco Account Number</label>
	            <h:selectBooleanCheckbox value="#{assignValidAddressBean.useDefaultUsscoAccountNumber}" />
            </div>
			<!-- existing addresses -->
			<div class="controls controls-row">
				<label class="span1">Ship To Addresses authorized for the Account and Customer of the order: </label>
	                <h:selectOneMenu styleClass="span3" converter="#{assignValidAddressBean.addressConverter}" 
	                	value="#{assignValidAddressBean.selectedAddress}">
	                    <f:selectItem itemLabel="Select Existing Address" noSelectionOption="true"/>
	                    <f:selectItems value="#{assignValidAddressBean.addressList}" var="address" itemValue="#{address}"
	                                   itemLabel="#{assignValidAddressBean.getLabel(address)}"/>
	                </h:selectOneMenu>
			</div>

         	<a href="/customerservice/admin/orderSearch/order-search.xhtml?apdpo=#{assignValidAddressBean.apdPo}" 
         		class="btn-link btn-default" target="_blank">
         		Order Details
         	</a>
         	<!-- On click of Use Existing button only Desktop input text will be updated -->
			<div class="btn-group">
				<h:commandButton class="btn" action="#{assignValidAddressBean.useSelectedAddress()}" value="Use Existing*" disabled="#{empty assignValidAddressBean.addressList}"/>
				<h:commandButton class="btn" action="#{assignValidAddressBean.requestNewShipTo()}" value="Request New" />
			</div>
			<div>*will update Ussco Account Number if you include one or desegate 'use default' on this form</div>
		</h:form>
	</div>
</ui:composition>