<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:rich="http://richfaces.org/rich" xmlns:a4j="http://richfaces.org/a4j">
	<f:metadata>
            <f:event type="preRenderView" listener="#{costCenterDenialBean.retrieve}" />
	</f:metadata>
	<div class="container">
		<h4>The following order failed cost center approval:</h4>
		<h:form id="approveOrderForm">
			<div class="controls controls-row">
				<span class="redHeader">#{costCenterDenialBean.apdPo}</span>
			</div>
            <div class="controls controls-row">
				<label class="span2"> Order Total: </label>
                                <span class="input-medium uneditable-input span3"><h:outputText value="#{costCenterDenialBean.customerOrder.orderTotal}">
									<f:convertNumber currencySymbol="$" type="currency" />
								</h:outputText></span>
			</div>
            <div class="controls controls-row">
				<label class="span2"> User: </label>
                                <span class="input-medium uneditable-input span3">#{costCenterDenialBean.customerOrder.user.login}</span>
			</div>
         	<a href="/customerservice/admin/orderSearch/order-search.xhtml?apdpo=#{costCenterDenialBean.apdPo}" 
         		class="btn-link btn-default" target="_blank">
         		Order Details
         	</a>
			<h:outputText value="If this order needs cancellation, call Tech Support! (id=#{costCenterDenialBean.taskId})" /> <br />
            <h:commandButton class="btn btn-apd" action="#{costCenterDenialBean.retry()}" value="Retry cost center approval" />
            <h:commandButton class="btn" rendered="#{costCenterDenialBean.canCancel()}" action="#{costCenterDenialBean.cancel()}" value="Cancel order" />
		</h:form>
	</div>
</ui:composition>