<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:rich="http://richfaces.org/rich" xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view">


	<div class="tab-pane fade in active" id="manualOrder">
		<h:form>
			<h4>Manually Order Replacement Item</h4>
                        <!-- TODO: Ensure this page has all information needed to complete manual order-->
			<div class="controls controls-row">
				<label class="span1"> Account: </label>
                                <span class="input-medium uneditable-input span3">#{orderReplacementItemBean.accountName}</span> <br />
                                <label class="span1"> Vendor: </label>
                                <span class="input-medium uneditable-input span3">#{orderReplacementItemBean.apdVendor}</span>
			</div>
			<hr />
			<div class="controls controls-row">
				<label class="span1"> APD SKU#: </label>
                                <span class="input-medium uneditable-input span2">#{orderReplacementItemBean.apdSku}</span>
				<label class="span1"> Customer SKU#: </label>
                                <span class="input-medium uneditable-input span2">#{orderReplacementItemBean.customerSku}</span>
				<label class="span1"> Mfg. Part#: </label>
                                <span class="input-medium uneditable-input span2">#{orderReplacementItemBean.manufacturerPartId}</span>
			</div>
			<br />
			<div class="controls controls-row">
				<label class="span1"> Item Description: </label>
                                <span class="input-medium uneditable-input span3">#{orderReplacementItemBean.description}</span>
			</div>
			<br />
			<div class="controls controls-row">
				<label class="span1"> Quantity: </label>
                                <span class="input-medium uneditable-input span2">#{orderReplacementItemBean.quantity}</span>
				<label class="span1"> Item Price: </label>
                                <span class="input-medium uneditable-input span2">#{orderReplacementItemBean.price}</span>
			</div>

			<br />

			<div>
                            <h:commandButton action="#{orderReplacementItemBean.complete()}" class="btn btn-apd" value="I have ordered this item"/>
			</div>
		</h:form>
	</div>
</ui:composition>