<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:rich="http://richfaces.org/rich">

<h:head></h:head>
<h:body>
	<ui:composition>
		<p>A communication error was encountered sending this order to this vendor:</p>
			<table>
				<thead>
					<tr>
						<td>
							Order Id
						</td>
						<td>
							Vendor Name
						</td>
					</tr>
				</thead>
					<tr>
						<td>
							#{resendOrderToVendorBean.apdPo}
						</td>
						<td>
							#{resendOrderToVendorBean.vendorName}
						</td>
					</tr>
			</table>
			<a4j:commandLink action="#{resendOrderToVendorBean.toChangeOrderForm()}" styleClass="btn-link btn-default">
			Order Details
			</a4j:commandLink>
		<p>Please choose an action:</p>
		<h:commandButton action="#{resendOrderToVendorBean.cancel()}" value="Cancel the Order" />
		<h:commandButton action="#{resendOrderToVendorBean.retry()}" value="Retry the Order" />
	</ui:composition>
</h:body>
</html>
