<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:rich="http://richfaces.org/rich" xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view">
	<div class="tab-pane fade in" id="lineItemRejection">
		<h:form class="form-search">
			<h4>
				This order has some rejected items, please contact the customer and resolve the rejections. 
				Click "Cancel Items" to mark the items as canceled.
			</h4>
                        <br />
			<div class="controls controls-row">
				<span class="redHeader">#{resolveItemRejectionBean.apdPo}</span>
			</div>
			<br />
			<table class="table table-hover table-striped">
					<thead>
						<tr>
						    <th class="span1">APD SKU</th>
							<th class="span2">Description</th>
							<th class="span1">Quantity Ordered</th>
							<th class="span1">Quantity Accepted</th>
							<th class="span1">Quantity NOT Accepted</th>
							<th class="span1">Status</th>
							<th class="span1">Unit Price</th>
							<th class="span3">Comments</th>
						</tr>
					</thead>
					<tbody>
			<a4j:repeat rowKeyVar="index" var="item" value="#{resolveItemRejectionBean.lineItems}">
							<tr>
								<td class="span1">
									#{item.apdSku}
								</td>
								<td class="span2">
									#{item.shortName != null ? item.shortName : item.description}
								</td>
								<td class="span1">
									#{item.originalQuantity}
								</td>
								<td class="span1">
									#{resolveItemRejectionBean.acceptedQuantityMap[item.lineNumber]}
								</td>
								<td class="span1">
									#{item.originalQuantity - resolveItemRejectionBean.acceptedQuantityMap[item.lineNumber]}
								</td>
								<td class="span1">
									#{item.status.value}
								</td>
								<td class="span1">
									#{item.unitPrice}
								</td>
								<td class="span3">
									#{item.findLogForCurrentStatus() == null ? '' : item.findLogForCurrentStatus().note}
								</td>
							</tr>
			</a4j:repeat>
			</tbody>
			</table>

         	<a href="/customerservice/admin/orderSearch/order-search.xhtml?apdpo=#{resolveItemRejectionBean.apdPo}" 
         		class="btn-link btn-default" target="_blank">
         		Order Details
         	</a>
			<h:commandLink action="#{resolveItemRejectionBean.resolved()}" class="btn btn-apd" value="Resolved"/>
			<h:commandLink action="#{resolveItemRejectionBean.cancelItems()}" class="btn btn-apd" value="Cancel Items"/>
		</h:form>
	</div>
	
	
    <rich:popupPanel id="confirmationModal" autosized="true" resizeable="false" moveable="false" domElementAttachment="parent">
        <f:facet name="controls">
            <a4j:commandLink value="X" style="cursor:pointer" onclick="#{rich:component('confirmationModal')}.hide(); return false;" />
        </f:facet>
        <div class="span3">
            <h5>Are you sure you want to cancel all of the REJECTED items on this order?</h5>
        </div>
        <div class="btn-group" layout="block">
            <h:form>
                <a4j:commandLink value="Confirm" styleClass="btn btn-apd" 
                        action="#{resolveItemRejectionBean.cancelItems()}"
                        onclick="hidePopup('confirmationModal');" 
                        render=":change-form" />
                <a4j:commandLink value="Cancel" styleClass="btn" immediate="true" 
                        onclick="hidePopup('confirmationModal');" />
            </h:form>
        </div>
    </rich:popupPanel>
</ui:composition>
