<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:rich="http://richfaces.org/rich" xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view">
	<div class="tab-pane fade in" id="lineItemRejection">
		<h:form class="form-search">
			<h4>This order request has the following invalid items.</h4>
                        <br />
			<div class="controls controls-row">
				<span class="redHeader">#{reviewOrderRequestBean.apdPo}</span>
			</div>
			<br />
			<table class="table table-hover table-striped">
					<thead>
						<tr>
						    <th class="span1">APD SKU</th>
							<th class="span2">Description</th>
							<th class="span1">Quantity</th>
							<th class="span1">Status</th>
							<th class="span1">Unit Price</th>
						</tr>
					</thead>
					<tbody>
			<a4j:repeat rowKeyVar="index" var="item" value="#{reviewOrderRequestBean.invalidItems}">
							<tr>
								<td class="span1">
									#{item.apdSku}
								</td>
								<td class="span2">
									#{item.shortName != null ? item.shortName : item.description}
								</td>
								<td class="span1">
									#{item.quantity}
								</td>
								<td class="span1">
									#{item.status.value}
								</td>
								<td class="span1">
									#{item.unitPrice}
								</td>
							</tr>
			</a4j:repeat>
			</tbody>
			</table>

         	<a href="/customerservice/admin/orderSearch/order-search.xhtml?apdpo=#{reviewOrderRequestBean.apdPo}" 
         		class="btn-link btn-default" target="_blank">
         		Order Details
         	</a>
			<h:commandButton action="#{reviewOrderRequestBean.completeTask()}" class="btn btn-apd" value="Resolved"/>
		</h:form>
	</div>
</ui:composition>
