#!/bin/bash

USER_SCRIPT=/var/cache/jboss-ec2-eap/user-script.sh
USER_CLI_COMMANDS=/var/cache/jboss-ec2-eap/user-cli-commands.cli
ANSIBLE_ENV_SETUP_SCRIPT=/tmp/ansible-env-setup.sh

set -x
exec >/tmp/eap_script.log
exec 2>&1

NOW=$(date +"%m-%d-%Y")

echo "## Ansible env setup script created on: $NOW" >> $ANSIBLE_ENV_SETUP_SCRIPT

cat >> $ANSIBLE_ENV_SETUP_SCRIPT << "SETUP_SCRIPT"

## mod cluster proxy addresses
export MOD_CLUSTER_PROXY_LIST={{ mod_cluster_proxy_list }}
echo "Setting MOD_CLUSTER_PROXY_LIST to $MOD_CLUSTER_PROXY_LIST in ansible play"

## clustering setup
export JBOSS_JGROUPS_S3_PING_ACCESS_KEY={{ jboss_jgroups_s3_ping_access_key }}
echo "Setting s3 access key: $JBOSS_JGROUPS_S3_PING_ACCESS_KEY"

export JBOSS_JGROUPS_S3_PING_SECRET_ACCESS_KEY={{ jboss_jgroups_s3_ping_secret_access_key }}
echo "Setting s3 secret key: $JBOSS_JGROUPS_S3_PING_SECRET_ACCESS_KEY"

export JBOSS_JGROUPS_S3_PING_BUCKET={{ jboss_jgroups_s3_ping_bucket }}
echo "Setting s3 bucket: $JBOSS_JGROUPS_S3_PING_BUCKET"

## profile setup
export JBOSS_DEPLOYENT_PROFILE_S3_ACCESS_KEY=$JBOSS_JGROUPS_S3_PING_ACCESS_KEY
echo "Setting deployment profile access key: $JBOSS_DEPLOYENT_PROFILE_S3_ACCESS_KEY"

export JBOSS_DEPLOYENT_PROFILE_S3_SECRET_ACCESS_KEY=$JBOSS_JGROUPS_S3_PING_SECRET_ACCESS_KEY
echo "Setting deployment profile secret key: $JBOSS_DEPLOYENT_PROFILE_S3_SECRET_ACCESS_KEY"

export JBOSS_DEPLOYENT_PROFILE_S3_BUCKET={{ jboss_configs_s3_bucket }}
echo "Setting deployment profile bucket: $JBOSS_DEPLOYENT_PROFILE_S3_BUCKET"

## password to access admin console
export JBOSSAS_ADMIN_PASSWORD={{ jbossas_admin_pw }}
echo "Setting jboss admin password: $JBOSSAS_ADMIN_PASSWORD"

# Set the Heap Size and MaxPermSize 
export JAVA_OPTS='$JAVA_OPTS -Xms2606m -Xmx2606m -XX:MaxPermSize=512m'
echo "Setting JAVA_OPTS to $JAVA_OPTS in ansible play"

## subnet prefix this machine is connected to
export SUBNET={{ private_subnet_prefix }}
echo "Setting subnet: $SUBNET"

#### to run the example no modifications below should be needed ####
export PORTS_ALLOWED="{{ jboss_ports_allowed }}"
echo "Setting ports allowed: $PORTS_ALLOWED"

export JBOSS_IP=`hostname | sed -e 's/ip-//' -e 'y/-/./'` #listen on public/private EC2 IP address
echo "Setting jboss ip: $JBOSS_IP"

SETUP_SCRIPT

cat > "$USER_SCRIPT" << "EOF"

## DNS server for VPC hostname resolution
# sed -i '1inameserver {{ public_subnet_prefix }}{{ nat_dns_ip_suffix }}' /etc/resolv.conf
echo "Running user script"
## Install Oracle JDBC Module
sudo rm -r -f /usr/share/jbossas/modules/com/oracle/main
mkdir -p /usr/share/jbossas/modules/com/oracle/main
cp -v /usr/share/java/ojdbc6.jar /usr/share/jbossas/modules/com/oracle/main/ojdbc6.jar

cat > /usr/share/jbossas/modules/com/oracle/main/module.xml << "EOM"
 <module xmlns="urn:jboss:module:1.0" name="com.oracle">
   <resources>
      <resource-root path="ojdbc6.jar"/>
   </resources>
   <dependencies>
      <module name="javax.api"/>
      <module name="javax.transaction.api"/>
   </dependencies>
</module>
EOM

## Download and explode JBoss BRMS war to deploy
cd /usr/share/java/jboss-ec2-eap-applications
rm -r -f jboss-brms.war*
unzip jboss-brms-5.3.1.BRMS.war -d jboss-brms.war.exploded
mv jboss-brms-5.3.1.BRMS.war ~

## Download and explode Designer war to deploy
cd /usr/share/java/jboss-ec2-eap-applications
rm -r -f designer.war*
unzip designer-5.3.1.BRMS.war -d designer.war.exploded
mv designer-5.3.1.BRMS.war ~
sudo chown -R jboss:jboss *

## Change jboss.bind.address to ip address of machine

## BRMS Users and Roles
echo 'admin={{ jbossas_admin_pw }}' > /usr/share/jbossas/standalone/configuration/brms-users.properties
echo 'admin=JBossAdmin,httpInvoker,user,administrator' > /usr/share/jbossas/standalone/configuration/brms-roles.properties

## update admin password in jbpm profile of designer war
sed -i 's/pwd="admin"/pwd="{{ jbossas_admin_pw }}"/' /usr/share/java/jboss-ec2-eap-applications/designer.war.exploded/profiles/jbpm.xml

## update jaas security domain in jboss brms war
sed -i 's/jaas-config-name="jmx-console"/jaas-config-name="brms"/' /usr/share/java/jboss-ec2-eap-applications/jboss-brms.war.exploded/WEB-INF/components.xml

## Deploy exploded BRMS wars
cd /usr/share/java/jboss-ec2-eap-applications
mv jboss-brms.war.exploded /usr/share/jbossas/standalone/deployments/jboss-brms.war
touch /usr/share/jbossas/standalone/deployments/jboss-brms.war.dodeploy
mv designer.war.exploded /usr/share/jbossas/standalone/deployments/designer.war
touch /usr/share/jbossas/standalone/deployments/designer.war.dodeploy

cd /usr/share/jbossas/standalone
sudo chown -R jboss:jboss *

## Retrieve the Guvnor repository configuration

cat > "$USER_CLI_COMMANDS" << "EOC"

## Install module for Oracle jdbc driver
/subsystem=datasources/jdbc-driver=oracle:add(driver-xa-datasource-class-name=oracle.jdbc.OracleDriver,driver-module-name=com.oracle,driver-name=oracle)

## Remove ExampleDS configuration
data-source remove --name=ExampleDS

## GuvnorDS configuration for Oracle database
/subsystem=datasources/data-source=GuvnorDS:add(jta=true,jndi-name=java:jboss/datasources/GuvnorDS,use-ccm=true,connection-url=jdbc:oracle:thin:@{{ db_hostname }}:1521:{{ db_sid }}, driver-name=oracle,transaction-isolation=TRANSACTION_READ_COMMITTED,pool-prefill=true,pool-use-strict-min=false,flush-strategy=FailingConnectionOnly,user-name=GUVNOR,password={{ guvnor_db_password }},valid-connection-checker-class-name=org.jboss.jca.adapters.jdbc.extensions.oracle.OracleValidConnectionChecker,stale-connection-checker-class-name=org.jboss.jca.adapters.jdbc.extensions.oracle.OracleStaleConnectionChecker, exception-sorter-class-name=org.jboss.jca.adapters.jdbc.eensions.oracle.OracleExceptionSorter)
/subsystem=datasources/data-source=GuvnorDS:enable

## org.jboss.netty global module
/subsystem=ee:write-attribute(name=global-modules,value=[{name=org.jboss.netty,slot=main}])

## BRMS security domain
/subsystem=security/security-domain=brms:add(cache-type="default")
/subsystem=security/security-domain=brms/authentication=classic:add(login-modules=[{"code" => "UsersRoles", "flag" => "required", "module-options" => [("usersProperties"=>"$\{jboss.server.config.dir\}/brms-users.properties"),("rolesProperties"=>"$\{jboss.server.config.dir\}/brms-roles.properties")]}])

:reload

EOC

export USER_CLI_COMMANDS=$USER_CLI_COMMANDS

## this will workaround the problem that in a VPC, instance hostnames are not resolvable
echo -e "127.0.0.1\tlocalhost.localdomain localhost" > /etc/hosts
echo -e "::1\tlocalhost6.localdomain6 localhost6" >> /etc/hosts
for (( i=1 ; i<255 ; i++ )); do
   echo -e "$SUBNET$i\tip-${SUBNET//./-}$i" ;
done >> /etc/hosts

EOF
export USER_SCRIPT=$USER_SCRIPT

