# Service-specific configuration file for tomcat6. This will be sourced by
# the SysV init script after the global configuration file
# /etc/tomcat6/tomcat6.conf, thus allowing values to be overridden in
# a per-service manner.
#
# NEVER change the init script itself. To change values for all services make
# your changes in /etc/tomcat6/tomcat6.conf
#
# To change values for a specific service make your edits here.
# To create a new service create a link from /etc/init.d/<your new service> to
# /etc/init.d/tomcat6 (do not copy the init script) and make a copy of the
# /etc/sysconfig/tomcat6 file to /etc/sysconfig/<your new service> and change
# the property values so the two services won't conflict. Register the new
# service in the system as usual (see chkconfig and similars).
#

# Where your java installation lives
#JAVA_HOME="/usr/lib/jvm/java"

# Where your tomcat installation lives
#CATALINA_BASE="/usr/share/tomcat6"
#CATALINA_HOME="/usr/share/tomcat6"
#JASPER_HOME="/usr/share/tomcat6"
#CATALINA_TMPDIR="/var/cache/tomcat6/temp"

# You can pass some parameters to java here if you wish to
#JAVA_OPTS="-Xminf0.1 -Xmaxf0.3"

# Use JAVA_OPTS to set java.library.path for libtcnative.so
#JAVA_OPTS="-Djava.library.path=/usr/lib"

# What user should run tomcat
#TOMCAT_USER="tomcat"

# You can change your tomcat locale here
#LANG="en_US"

# Run tomcat under the Java Security Manager
#SECURITY_MANAGER="false"

# Time to wait in seconds, before killing process
#SHUTDOWN_WAIT="30"

# Whether to annoy the user with "attempting to shut down" messages or not
#SHUTDOWN_VERBOSE="false"

# Set the TOMCAT_PID location
#CATALINA_PID="/var/run/tomcat6.pid"

# Connector port is 8080 for this tomcat6 instance
#CONNECTOR_PORT="8080"

# If you wish to further customize your tomcat environment,
# put your own definitions here
# (i.e. LD_LIBRARY_PATH for some jdbc drivers)

JAVA_OPTS="$JAVA_OPTS -Xmx3g -Dlog4j.configuration=file:///{{ solr_prefix }}/tomcat/conf/log4j.properties"
JAVA_OPTS="$JAVA_OPTS -Dzookeeper_host={{ zookeeper_host1 }}:2181,{{ zookeeper_host2 }}:2181,{{ zookeeper_host3 }}:2181"
