<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich" xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:apd="http://java.sun.com/jsf/composite/apd">

<ui:composition>
	<div class="tab-pane fade in" id="orderFiles">
		<h:form id="files-form">
			<div class="phoenix-table phoenix-table-scroll">
				<table class="table table-hover table-striped">
					<thead>
						<tr>
							<th class="span2">Upload Date</th>
							<th class="span3">User Name</th>
							<th class="span5">File Name</th>
							<th class="span2">Action</th>
						</tr>
					</thead>
					<a4j:region>
						<tbody>
							<a4j:repeat rowKeyVar="index" var="file" value="#{forgeview:asList(orderDetailsBean.order.attachments)}">
								<tr>
									<td class="span2">
										#{file.attachmentTimestamp}
									</td>
									<td class="span3">
										<h:outputText value="#{file.user.login}" />
									</td>
									<td class="span5">
										<h:outputText value="#{file.fileName}" />
									</td>
									<td class="span2 pull-right actionContainer">
										<h:commandButton styleClass="btn"
											id="download-message" action="#{orderDetailsBean.fileUploadBean.downloadFile(file)}"
											value="Download" immediate="true" />
									</td>
								</tr>
							</a4j:repeat>
						</tbody>
					</a4j:region>
				</table>
			</div>
			<a4j:commandButton
				id="add-file" styleClass="btn"
				value="Upload File"
				action="#{orderDetailsBean.fileUploadBean.preUploadFile()}"
				render="files-form :viewMessageModal"
				immediate="true"
				oncomplete="showPopup('addFileModal');" /> 
		</h:form>
	</div>
	
	
	<rich:popupPanel id="addFileModal" height="750" width="750" moveable="false" domElementAttachment="parent">
   		<f:facet name="header">
			<h:outputText value="Add File" />
 		</f:facet>
		<f:facet name="controls">
   			<a4j:commandLink value="X" style="cursor:pointer" onclick="#{rich:component('addFileModal')}.hide(); return false;" />
		</f:facet>
			<h:form>
			<div>
        		<rich:fileUpload fileUploadListener="#{orderDetailsBean.fileUploadBean.fileUploadListener}"
                         id="upload" addLabel="File Upload" listHeight="50px"
                         maxFilesQuantity="1"/>
                <br />
                <div>Select the files to upload and then click the Upload button before hitting confirm.</div>
				<a4j:commandLink value="Confirm" styleClass="btn btn-apd" 
					render=":files-form" 
					action="#{orderDetailsBean.saveUploadedFile()}"
					oncomplete="hidePopup('addFileModal');" />
				<a4j:commandLink value="Cancel" styleClass="btn" immediate="true" 
					render="addFileModal"
					oncomplete="hidePopup('addFileModal');" />
	 		</div>
	 		</h:form>
	</rich:popupPanel>
	
        
</ui:composition>
</html>