<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:rich="http://richfaces.org/rich" xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:apd="http://java.sun.com/jsf/composite/apd">
	<div class="tab-pane fade in" id="orderTasks">
	    <rich:messages />
		<h:form id="workflowTaskForm">
							<table class="table table-hover table-striped">
								<thead>
									<tr>
										<th class="span3">Description</th>
										<th class="span2">APD PO#</th>
                                                                                <th class="span2">Account</th>
										<th class="span1">Status</th>
										<th class="span2">Created On</th>
										<th class="span1">Task Id</th>
										<th class="span1">Owner</th>
										<th class="span2">Actions</th>
									</tr>

								</thead>
								<tbody>
                                                                    
                                        <a4j:repeat
                                        rowKeyVar="index"
                                        var="availableTask"
                                        value="#{orderDetailsBean.tasks}">
                                           <tr>
                                             <th class="span3">#{workflowTaskBean.getTaskName(availableTask)}</th>
                                             <th class="span2">
                                             	<a href="/customerservice/admin/orderSearch/order-search.xhtml?apdpo=#{workflowTaskBean.getApdPo(availableTask)}">
                                             		#{workflowTaskBean.getApdPo(availableTask)}
                                             	</a>
                                             </th>
                                             <th class="span2">#{workflowTaskBean.getAccountName(availableTask)}</th>
                                             <th class="span1">#{workflowTaskBean.getStatus(availableTask)}</th>
                                             <th class="span7">#{availableTask.createdOn}</th>
                                             <th class="span2">#{availableTask.id}</th>
                                             <th class="span2"><h:outputText rendered="#{availableTask.actualOwner != null}" value="#{availableTask.actualOwner.id}"/></th>
                                             <th class="span2">
                                                   	<a4j:commandLink rendered="#{workflowTaskBean.canClaim(availableTask)}" value="Claim" action="#{workflowTaskBean.claimTask(availableTask)}"
                                                   		styleClass="btn btn-apd" render="workflowTaskForm"/>
													<a4j:commandButton rendered="#{workflowTaskBean.hasPermission('customer service manager')}" value="View History" immediate="true"
														action="#{workflowTaskBean.historyOfTask(availableTask)}" render=":workflowHistoryModalForm" oncomplete="showPopup('workflowHistoryModal');"
														styleClass="btn" />
                                              </th>
                                            </tr>
                                          </a4j:repeat>

								</tbody>
							</table>
	</h:form>
	</div>
	
</ui:composition>
