<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:apd="http://java.sun.com/jsf/composite/apd">

<ui:composition>
	<div class="tab-pane fade in" id="orderNotifications">
		<h:form id="notifications-form">
			<div class="phoenix-table phoenix-table-scroll">
				<table class="table table-hover table-striped">
					<thead>
						<tr>
							<th class="span2">Date</th>
							<th class="span4">Recipients</th>
							<th class="span5">Event</th>
							<th class="span6">Communication Type / Attachment Name</th>
							<th class="span1">Action <a id="apdOrderNumTip" href="#" class="btn-link btn-default" data-toggle="tooltip"
									data-placement="bottom" title="return the order with the assigned APD Order # in this search field">
									<i class="icon-info-sign" style="margin: 3px 5px 5px 5px;" />
								</a></th>
						</tr>
					</thead>
					<a4j:region>
						<tbody>
							<a4j:repeat rowKeyVar="index" var="notification" value="#{orderDetailsBean.orderNotifications}">
								<tr>
									<td class="span2">
										#{notification.updateTimestamp != null ? notification.updateTimestamp : notification.messageMetadata.messageDate}
									</td>
									<td class="span4">
										#{notification.messageMetadata.destination}
										<h:panelGroup layout="none" rendered="#{notification.messageMetadata.ccRecipients != null and notification.messageMetadata.ccRecipients != ''}">
											<br/>
											<h:outputText value="CC: #{notification.messageMetadata.ccRecipients}" />
										</h:panelGroup>
										<h:panelGroup layout="none" rendered="#{notification.messageMetadata.bccRecipients != null and notification.messageMetadata.bccRecipients != ''}">
											<br/>
											<h:outputText value="BCC: #{notification.messageMetadata.bccRecipients}" />
										</h:panelGroup>
									</td>
									<td class="span5">
										<h:outputText rendered="#{notification.eventType != null}" value="#{notification.eventType.label}" />
									</td>
									<td class="span6">
										#{notification.messageMetadata.communicationType}
										<br />
										#{orderDetailsBean.getAttachmentName(notification)}
									</td>
									<td class="span1 pull-right actionContainer">
										<h:panelGroup rendered="#{orderDetailsBean.canViewNotification(notification)}">
									        <a4j:commandButton 
									       		title="Send to same or different destination"
									       		rendered="#{orderDetailsBean.isOutboundNotification(notification) and orderDetailsBean.isNotEdi(notification)}"
												id="resend-notification" 
												value="Resend"
												action="#{orderDetailsBean.setCurrentNotification(notification)}" 
												render="notifications-form :resendModal"
												immediate="true"
												oncomplete="showPopup('resendModal');" /> <br/>
											<a4j:commandButton
												id="view-message"
												value="View Raw Message"
												action="#{orderDetailsBean.setCurrentNotification(notification)}"
												render="notifications-form :viewMessageModal"
												immediate="true" rendered="#{orderDetailsBean.shouldShowViewRawMessage(notification)}"
												oncomplete="showPopup('viewMessageModal');" /> <br/>
	                                        <h:commandButton
												id="download-message" action="#{orderDetailsBean.downloadMessageAttachment(notification)}"
												value="Download Attachment" rendered="#{orderDetailsBean.shouldShowDownloadAttachment(notification)}"
												immediate="true" /> <br/>
										</h:panelGroup>

									</td>
								</tr>
							</a4j:repeat>
						</tbody>
					</a4j:region>
				</table>
			</div>
		<apd:pagination pageDisplay="#{orderDetailsBean.notificationsPagination}" render="notifications-form" />
	</h:form>
	</div>
	
	<rich:popupPanel id="resendModal" autosized="true" resizeable="false" moveable="false" domElementAttachment="parent">
	<h:form id="resendModalForm">
		<a4j:region>
		<f:facet name="header">
			<h:outputText value="Comment" />
  			</f:facet>
  			<f:facet name="controls">
      			<a4j:commandLink value="X" 
      				style="cursor:pointer" 
      				render="resendModalForm"
					action="#{orderDetailsBean.discardCurrentNotification()}"
					oncomplete="hidePopup('resendModal');" />
  			</f:facet>
  			
  			<h:outputLabel value="#{orderDetailsBean.currentNotification.messageMetadata.objectsWrapper != null ? 'Regenerate and ' : ''}Send To:" />
  			<h:inputText value="#{orderDetailsBean.resendEmailRecipient}"/>
  			<h:panelGroup layout="none" rendered="#{orderDetailsBean.currentNotification.messageMetadata.ccRecipients != null and orderDetailsBean.currentNotification.messageMetadata.ccRecipients != ''}">
  				<br/>
  				<h:outputText value="Send to CC Recipients"/>
	  			<h:selectBooleanCheckbox value="#{orderDetailsBean.resendEmailIncludeOriginalCC}" /> 
  				<h:outputText value="${orderDetailsBean.currentNotification.messageMetadata.ccRecipients}"/>
  			</h:panelGroup>
  			<h:panelGroup layout="none" rendered="#{orderDetailsBean.currentNotification.messageMetadata.bccRecipients != null and orderDetailsBean.currentNotification.messageMetadata.bccRecipients != ''}">
  				<br/>
  				<h:outputText value="Send to BCC Recipients"/>
  				<h:selectBooleanCheckbox value="#{orderDetailsBean.resendEmailIncludeOriginalBCC}" />
				<h:outputText value="${orderDetailsBean.currentNotification.messageMetadata.bccRecipients}"/>
			</h:panelGroup>
		
		<div class="btn-group" layout="block">
			<a4j:commandLink value="Confirm" styleClass="btn btn-apd" 
				render=":notifications-form resendModalForm" 
				action="#{orderDetailsBean.sendCurrentNotification()}"
				oncomplete="hidePopup('resendModal');" />
			<a4j:commandLink value="Cancel" styleClass="btn" immediate="true" 
				render="resendModalForm"
				action="#{orderDetailsBean.discardCurrentNotification()}"
				oncomplete="hidePopup('resendModal');" />
		</div>
		</a4j:region>
	</h:form>
    </rich:popupPanel>
        
    <rich:popupPanel id="viewMessageModal" height="500" width="500" moveable="false" domElementAttachment="parent">
   		<f:facet name="header">
			<h:outputText value="Message" />
 			</f:facet>
 			<f:facet name="controls">
     			<a4j:commandLink value="X" style="cursor:pointer" onclick="#{rich:component('viewMessageModal')}.hide(); return false;" />
 			</f:facet>
 		<h:graphicImage value="#{orderDetailsBean.currentMessage}" rendered="#{!orderDetailsBean.currentMessageText}" styleClass="notifications-image"/>
   		<pre>
   			<h:outputText value="#{orderDetailsBean.currentMessage}" rendered="#{orderDetailsBean.currentMessageText}"/>
   		</pre>
    </rich:popupPanel>
        
</ui:composition>
</html>