<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:rich="http://richfaces.org/rich" xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:apd="http://java.sun.com/jsf/composite/apd">
	
	<div class="tab-pane fade in" id="serviceLogs">
	    <h:form id="serviceLog-form">
		
	    	<ui:include src="/customerservice/serviceLogList.xhtml">
				<ui:param name="render" value="serviceLog-form" />
		    </ui:include>
	    
	    </h:form>
    </div>
    
    <ui:include src="/customerservice/serviceLogModals.xhtml">
		<ui:param name="render" value="serviceLog-form" />
    </ui:include>
	
</ui:composition>