<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:apd="http://java.sun.com/jsf/composite/apd">

<ui:composition>
	<div class="tab-pane fade in" id="orderResendEdi">
		<h:form id="notifications-resend-edi-form">
			<h:panelGroup>
		        <a4j:commandButton 
		       		title="Regenerate and Resend 855"
					id="resend-855" 
					value="Regenerate and Resend 855"
					action="#{orderDetailsBean.setupResend855()}"
					render="resendEDIModal"
					immediate="true"
					oncomplete="showPopup('resendEDIModal');" 
					styleClass="resendButton"
					rendered="#{orderDetailsBean.isAckEdi()}"/> <br/>
				<a4j:commandButton 
		       		title="Regenerate and Resend 856"
					id="resend-856" 
					value="Regenerate and Resend 856"
					action="#{orderDetailsBean.setupResend856()}"
					render="resendEDIModal"
					immediate="true"
					oncomplete="showPopup('resendEDIModal');" 
					styleClass="resendButton"
					rendered="#{orderDetailsBean.isShipmentNoticeEdi()}" /> <br/>
				<a4j:commandButton 
		       		title="Regenerate and Resend 810"
					id="resend-810" 
					value="Regenerate and Resend 810"
					action="#{orderDetailsBean.setupResend810()}"
					render="resendEDIModal"
					immediate="true"
					oncomplete="showPopup('resendEDIModal');" 
					styleClass="resendButton"
					rendered="#{orderDetailsBean.isInvoiceEdi()}" /> <br/>
				<a4j:commandButton 
		       		title="Regenerate and Resend 810 Credit"
					id="resend-810-credit" 
					value="Regenerate and Resend 810 Credit"
					action="#{orderDetailsBean.setupResend810Credit()}"
					render="resendEDIModal"
					immediate="true"
					oncomplete="showPopup('resendEDIModal');" 
					styleClass="resendButton"
					rendered="#{orderDetailsBean.isCreditInvoiceEdi()}" /> <br/>
			</h:panelGroup>
		</h:form>
	</div>

	<rich:popupPanel id="resendEDIModal" height="500" width="500"
		moveable="false" domElementAttachment="parent">
		<f:facet name="header">
			<h:outputText value="Resend #{orderDetailsBean.resendEdiType.label}" />
		</f:facet>
		<f:facet name="controls">

			<a4j:commandLink value="X" style="cursor:pointer"
				onclick="#{rich:component('resendEDIModal')}.hide(); return false;" />
		</f:facet>
		<h:form id="resendEDIModalForm">
			<a4j:region>
				<h:outputLabel value="Regenerate and resend #{orderDetailsBean.resendEdiType.label}" />
				<h:selectOneMenu value="#{orderDetailsBean.selectedResendDropdownNumber}" rendered="#{orderDetailsBean.renderResendEdiDropdown()}">
						<f:selectItem itemLabel="#{orderDetailsBean.generateDefaultResendEdiDropdownLabel()}" noSelectionOption="true"/>
						<f:selectItems value="#{orderDetailsBean.resendEdiDropdownNumbers}"
							var="number" itemValue="#{number}" itemLabel="#{number}" />
				</h:selectOneMenu>
				<a4j:commandLink value="Confirm" styleClass="btn btn-apd"
					render=":notifications-form resendModalForm"
					action="#{orderDetailsBean.resendDocument()}"
					oncomplete="hidePopup('resendEDIModal');" />
			</a4j:region>
		</h:form>
	</rich:popupPanel>
</ui:composition>
</html>