<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"  xmlns:a4j="http://richfaces.org/a4j"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/WEB-INF/layout/customerServiceTemplate.xhtml"
    xmlns:f="http://java.sun.com/jsf/core">

    <f:metadata>
        <f:viewParam name="apdpo" value="#{orderSearchBean.quickSearchPo}" required="false" />
        <f:viewParam name="errorRedirect" value="#{orderSearchBean.errorRedirect}" required="false" />
		<f:event type="preRenderView" listener="#{serviceLogBean.setCustomerOrder(orderDetailsBean.order)}" />
    </f:metadata>
    
	<ui:define name="main">
		<a4j:jsFunction name="renderOrderDetails" render=":order-view-panel" oncomplete="selectTab();"/>
	    <script>
	        window.onload = function() {
	            if (#{orderSearchBean.quickSearchPo != null}) {
	            	renderOrderDetails();
	            }
	            if (#{orderDetailsBean.inWorkflowLimbo}) {
	            	$('#notInWorkflowModal').modal('show');
	            }
	            if (#{orderSearchBean.errorRedirect}) {
	            	$('#errorRedirectModal').modal('show');
	            }
	        }
	        $(document).ready(function() {
	            selectTab();
	            return $('a[data-toggle="tab"]').on('shown', function(e) {
	              return location.hash = $(e.target).attr('href').substr(1);
	            });
	        });
	        function selectTab() {
	            if (location.hash !== '') {
		            $('a[href="' + location.hash + '"]').tab('show');
	            } else {
	            	$('a[href="#orderInfo"]').tab('show');
	            }
	        }
	    </script>
		<div id="orderViewNavigation" class="tabbable">
			<ul class="nav nav-tabs hide" data-tabs="tabs">
				<li class="active">
					<a id="generalOrderLink" href="#orderSearchTab" data-toggle="tab"/>
				</li>
				<li>
					<a id="historyLink" href="#orderViewTab" data-toggle="tab"/>
				</li>
			</ul>
			<div class="tab-content container-fluid">
				<div class="tab-pane fade in #{orderSearchBean.quickSearchPo == null ? 'active' : ''}" id="orderSearchTab">
					<ui:include src="orderSearchFields.xhtml" />
					<ui:include src="orderSearchResults.xhtml" />
				</div>
				<div class="tab-pane fade in #{orderSearchBean.quickSearchPo == null ? '' : 'active'}" id="orderViewTab">
					<a4j:outputPanel id="order-view-panel">
						<div class="container-fluid">
							<ui:include src="order-view.xhtml" />
						</div>
					</a4j:outputPanel>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>