<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:apd="http://java.sun.com/jsf/composite/apd">
	<div class="row">
		<h:form id="orderSearchFieldForm">
		<!--  column 1  of fields -->
			<h:head><style>
				#para1{background-color:#b0c4de; width:340px; padding:5px; border:2px solid black; margin:5px; margin-left:0px}
			</style></h:head>
			<div id="para1" class=" span4 controls controls-row">
				<label id="changeStatusLabel" class="control-label" for="orderSearchBeanChangeStatus"
					data-toggle="tooltip" title="order status to search for.">Action</label>
				<h:selectOneMenu styleClass="span3a"
					converter="#{orderSearchBean.statusConverter}"
					value="#{orderSearchBean.changeStatus}"
					id="orderSearchBeanChangeStatus">
					<f:selectItem />
					<f:selectItems value="#{orderSearchBean.statusList}" var="status"
                                                       itemValue="#{status}" itemLabel="#{status.description}" />
				</h:selectOneMenu>
				<label id="odTLabel" class="control-label" for="orderStartDate"
					data-toggle="tooltip"
					title="the date range when the order was placed">Occurred between</label>
				<rich:calendar id="orderStartDate" value="#{orderSearchBean.startDate}" inputStyle="color: #AA1111" showWeeksBar="false"/>
				<label class="control-label" for="orderEndDate">and</label>
				<rich:calendar id="orderEndDate" value="#{orderSearchBean.endDate}" inputStyle="color: #AA1111" showWeeksBar="false"/>
			</div>
			<!--  column  2 of fields -->
			<div class=" span3 controls controls-row">


				<label id="currentStatusLabel" class="control-label" for="orderSearchBeanCurrentStatus"
					data-toggle="tooltip" title="order status to search for.">Current Status</label>
				<h:selectOneMenu styleClass="span3"
					converter="#{orderSearchBean.statusConverter}"
					value="#{orderSearchBean.currentStatus}"
					id="orderSearchBeanCurrentStatus">
					<f:selectItem />
					<f:selectItems value="#{orderSearchBean.statusList}" var="status"
                                                       itemValue="#{status}" itemLabel="#{status.value}" />
				</h:selectOneMenu>
				
				<label id="lineItemStatusLabel" class="control-label" for="orderSearchBeanLineItemStatus"
					data-toggle="tooltip" title="Line item status to search for.">Line Item Status</label>
				<h:selectOneMenu styleClass="span3"
					converter="#{orderSearchBean.lineItemStatusConverter}"
					value="#{orderSearchBean.currentLineItemStatus}"
					id="orderSearchBeanLineItemStatus">
					<f:selectItem />
					<f:selectItems value="#{orderSearchBean.lineItemStatusList}" var="lineItemStatus"
                                                       itemValue="#{lineItemStatus}" itemLabel="#{lineItemStatus.value}" />
				</h:selectOneMenu>
				
				<label id="paymentTypeLabel" class="control-label" for="orderSearchPaymentType"
					data-toggle="tooltip" title="Payment Type to search for (Invoice or Credit Card).">Payment Type</label>
				<h:selectOneMenu styleClass="span3"
					converter="#{orderSearchBean.paymentTypeConverter}"
					value="#{orderSearchBean.paymentType}"
					id="orderSearchPaymentType">
					<f:selectItem />
					<f:selectItems value="#{orderSearchBean.paymentTypeList}" var="paymentType"
                                                       itemValue="#{paymentType}" itemLabel="#{paymentType.name}" />
				</h:selectOneMenu>

					<label id="popocprLabel"
					class="control-label" for="popcoprNum" data-toggle="tooltip"
					title="if this search field is not blank, the results will be the
						orders whose customer PO number, APD order number, or PR number matches the search field. PO means APD order
						number or customer PO number. PCO is customer PO number when using ARIBA; PR is the purchase requisition number,
						also used with ARIBA.">PO/PCO/PR
					# </label> <h:inputText id="popcoprNum" value="#{orderSearchBean.customerNumber}"
					styleClass="search-query">PO/PCO/PR</h:inputText>
			</div>
			<!--  column 3 of fields -->
			<div class=" span3 controls controls-row">
				<label id="unLabel" class="control-label" for="userName"
					data-toggle="tooltip"
					title="Returns orders placed by the user whose User ID matches
						this field">User
					Name:</label>
				<h:inputText id="userName" class="search-query"
					value="#{orderSearchBean.username}">username</h:inputText>
				<label id="emailLabel" class="control-label"
					style="word-break: break-all; word-wrap: break-word;"
					for="emailAddress" data-toggle="tooltip"
					title="returns orders placed by the user whose email address
						matches this search field">Requester
					Email Address:</label>
				<h:inputText id="emailAddress" value="#{orderSearchBean.email}"
					type="email" class="search-query">jsmith@apd.com</h:inputText>
				<label id="skuLabel" class="control-label" for="sku"
					data-toggle="tooltip"
					title="returns orders that include items with a SKU that matches
						this search field">SKU
					#:</label>
				<h:inputText value="#{orderSearchBean.sku}" id="sku" type="text"
					class="search-query">sku</h:inputText>
				<br /><h:outputText value="(Provide as many fields as possible to narrow down results)"/><br />
				<a4j:commandButton action="#{orderSearchBean.retrieveOrderHistory}"
					styleClass="btn btn-apd" render=":order-results-form" value="Search" />
				<a4j:commandLink action="#{orderSearchBean.clearSearchFields}"
					styleClass="btn" render=":orderSearchFieldForm">
					Clear Fields
				</a4j:commandLink>
               	
			</div>
			<div class=" span3 controls controls-row">
				<label id="mpLabel" class="control-label" for="matchPrice"
					data-toggle="tooltip"
					title="returns orders that have a total price or shipment
						matches this search field">Match Charge
					Total:</label>
				$<h:inputText id="matchPrice" value="#{orderSearchBean.matchPrice}"
					type="text" class="search-query" />
				<label id="accountNameLabel" class="control-label" for="accountName"
					data-toggle="tooltip"
					title="returns orders that were placed under this account">Account:</label>
				<h:outputText value="#{orderSearchBean.account != null ? orderSearchBean.account.name : 'None selected'}" 
					id="accountName" /><br />
				<a4j:commandLink action="#{orderSearchBean.clearAccount()}" oncomplete="showPopup('accountSearchPane')"
					styleClass="btn" render=":order-results-form">
					Select Account
				</a4j:commandLink>
				<a4j:commandLink action="#{orderSearchBean.clearAccount()}"
					styleClass="btn" render="orderSearchFieldForm:accountName">
					Clear Account
				</a4j:commandLink>
			</div>
		</h:form>
		
		
		<rich:popupPanel id="accountSearchPane" autosized="true" resizeable="false" moveable="false" domElementAttachment="parent">
		
		<h:form id="accountSearchPaneForm">
			<a4j:region>
			<f:facet name="header">
				<h:outputText value="Select Account" />
   			</f:facet>
   			<f:facet name="controls">
       			<a4j:commandLink value="Cancel" styleClass="btn" immediate="true" 
					render="accountSearchPaneForm"
					action="#{accountSearchBean.clearSelection()}"
					oncomplete="hidePopup('accountSearchPane');" />
   			</f:facet>
   			
   			<a4j:outputPanel id="accountSearchRegion">
				<apd:search searchBean="#{accountSearchBean}" detailsRegion="accountSearchPaneForm" 
						searchRegion="accountSearch" requireSelection="true" />
      		</a4j:outputPanel>
			
			<div class="btn-group" layout="block">
				<a4j:commandLink value="Confirm" styleClass="btn btn-apd" 
					render="orderSearchFieldForm:accountName accountSearchPaneForm" 
					action="#{orderSearchBean.setAccount(accountSearchBean.clearSelection())}"
					oncomplete="hidePopup('accountSearchPane');" />
				<a4j:commandLink value="Cancel" styleClass="btn" immediate="true" 
					render="accountSearchPaneForm"
					action="#{accountSearchBean.clearSelection()}"
					oncomplete="hidePopup('accountSearchPane');" />
			</div>
			
			</a4j:region>
		</h:form>
      		
	    </rich:popupPanel>
	    
	</div>
	<script type="text/javascript">
	$(function ()  
	{ $('#apdOrderNumLabel').tooltip({placement: 'bottom'});
	$('#popocprLabel').tooltip({placement: 'bottom'});
	$('#emailLabel').tooltip({placement: 'bottom'});
	$('#unLabel').tooltip({placement: 'bottom'});
	$('#skuLabel').tooltip({placement: 'bottom'});
	$('#osLabel').tooltip({placement: 'bottom'});
	$('#mpLabel').tooltip({placement: 'bottom'});
	$('#iooLabel').tooltip({placement: 'bottom'});
	$('#odTLabel').tooltip({placement: 'bottom'});
		});
	</script>
</ui:composition>
