<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:rich="http://richfaces.org/rich" xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view">	
	<div id="orderView" class="tabbable">
		<a href="#orderSearchTab" data-toggle="tab" id="searchResults-return-tab-link">
			Return to search results
		</a>
		<br />
		<h:panelGroup id="overview-form">
			<span class="redHeader">#{orderDetailsBean.order.apdPo.value} : #{orderSearchBean.getDisplayStatus(orderDetailsBean.order)}</span>
		</h:panelGroup>	
		<hr />
		<div id="orderViewNavigation" class="tabbable tabs-left">
			<ul class="nav nav-tabs" data-tabs="tabs">
				<li>
					<a id="generalOrderLink" href="#orderInfo" data-toggle="tab"> General </a>
				</li>
				<li>
					<a id="notificationsLink" href="#orderNotifications" data-toggle="tab"> Notifications </a>
				</li>
				<li>
					<a id="commentsLink" href="#orderFiles" data-toggle="tab"> Files </a>
				</li>
				<li>
					<a id="commentsLink" href="#orderChange" data-toggle="tab"> Change Order </a>
				</li>
				<li>
					<a id="commentsLink" href="#orderTasks" data-toggle="tab"> Tasks </a>
				</li>
				<li>
					<a id="serviceLogLink" href="#serviceLogs" data-toggle="tab"> Service Log </a>
				</li>
				<c:if test="#{orderDetailsBean.isTechSupport() and orderDetailsBean.isAnyNotificationEdi()}">
					<li>
						<a id="serviceLogLink" href="#orderResendEdi" data-toggle="tab"> Resend EDI Documents </a>
					</li>
				</c:if>
			</ul>
			<div class="tab-content">
				<ui:include src="order-general-info.xhtml" />
				<ui:include src="order-notifications.xhtml" />
				<ui:include src="order-files.xhtml" />
				<ui:include src="order-change.xhtml" />
				<ui:include src="order-tasks.xhtml" />
				<ui:include src="order-service-log.xhtml" />
				<c:if test="#{orderDetailsBean.isTechSupport() and orderDetailsBean.isAnyNotificationEdi() }">
					<ui:include src="order-resend-edi.xhtml"/>
				</c:if>
			</div>
		</div>
	</div>	
</ui:composition>
