<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

	<div class="tab-pane fade in" id="orderHistory">
		<table class="table table-hover table-striped">
			<thead>
				<tr>
					<th class="span1">A</th>
					<th class="span1">Customer Order #</th>
					<th class="span2">Placed On</th>
					<th class="span2">Placed By</th>
					<th class="span2">Status</th>
					<th class="span1 pull-right">Actions</th>

				</tr>
			</thead>
			<tbody>
				<a4j:repeat rowKeyVar="index" var="assignedTask">
					<tr class="#{index % 2 == 0 ? 'whiteBkgrd-pd' : 'grayBkgrd-pd'}">
						<td class="span1 pull-right actionContainer"><a4j:commandLink render="listsForm">
								<!-- This needs to be the eye icon -->
								<i class="icon-pencil smallIcon"></i>
							</a4j:commandLink></td>
					</tr>
				</a4j:repeat>
			</tbody>
		</table>
	</div>
	<div class="pagination">
		<ul>
			<li>
				<a href="#">
					<i class="icon-chevron-left"></i>
				</a>
			</li>

			<li>
				<a href="#"> 1</a>
			</li>

			<li>
				<a href="#"> 2</a>
			</li>

			<li>
				<a href="#"> 3</a>
			</li>

			<li>
				<a href="#">
					<i class="icon-chevron-right"></i>
				</a>
			</li>
		</ul>
	</div>
</ui:composition>