<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:rich="http://richfaces.org/rich" xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view" xmlns:apd="http://java.sun.com/jsf/composite/apd">

	<div class="row">
		<h:form id="order-results-form">
			<h:panelGroup rendered="#{orderSearchBean.orderList.size() gt 0}">
				<div class="span4 offset1">
				<i class="icon-file"></i>
					<h:commandLink id="getCsvBtn" class="checkoutBtn" action="#{orderSearchBean.downloadCustomerOrderList()}" value="Export to CSV" />
				</div>
			</h:panelGroup>
			<div class="span12 phoenix-table-scroll">
			<h:outputText value="No orders found that meet the selected criteria." rendered="#{orderSearchBean.orderList.size() lt 1 and orderSearchBean.displayNoResultsMessage eq 'true'}" />
				<table class="table table-hover table-striped">
					<thead class="phoenix-table-header">
						<tr>
							<th>Account Name</th>
							<th>APD Order #</th>
							<th>Customer Order #</th>
							<th>Open Tasks?</th>
							<th>Placed On</th>
							<th>Placed By</th>
							<th>Order Status</th>
							<th>Order Total</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<a4j:repeat rowKeyVar="index" var="order" value="#{orderSearchBean.orderList}">
							<tr>
								<td>
									<h:outputText rendered="#{order.account.name != null}" value="#{order.account.name}" />
								</td>
								<td>
									<h:outputText rendered="#{order.apdPo != null}" value="#{order.apdPo.value}" />
								</td>
								<td>
									<h:outputText rendered="#{order.customerPo != null}" value="#{order.customerPo.value}" />
									<h:outputText rendered="#{order.customerPo == null and order.blanketPo != null}" 
										value="#{order.blanketPo.value}" />
								</td>
								<td>
								    <a href="/customerservice/admin/orderSearch/order-search.xhtml?apdpo=#{order.apdPo.value}#orderTasks" target="_blank">#{orderSearchBean.hasOpenTasks(order)}</a>
								</td>
								<td>
									<h:outputText value="#{order.orderDate}" />
								</td>
								<td>
									<h:outputText value="#{order.user.login}" />
								</td>
								<td>
									<h:outputText value="#{orderSearchBean.getDisplayStatus(order)}" />
								</td>
								<td>
									<h:outputText value="#{forgeview:toCurrency(order.orderTotal)}" />
								</td>
								<td class="span1 pull-right actionContainer">
									<a4j:commandLink action="#{orderDetailsBean.setOrder(order)}" styleClass="btn-link btn-default"
										oncomplete="$( '#change-tab-link' ).click()" render=":order-view-panel" value="Details" />
								</td>
							</tr>
						</a4j:repeat>
					</tbody>
				</table>
			</div>
			<div class="span12 pagination pull-left">
				<apd:pagination pageDisplay="#{orderSearchBean.pageDisplay}" render="order-results-form" />
			</div>
		</h:form>
		<a href="#orderViewTab" class="hide" data-toggle="tab" id="change-tab-link">
			<!-- This needs to be the eye icon. just copy the entire <a> tag from above and paste it here-->
			<i class="icon-eye-open" />
		</a>
	</div>
</ui:composition>