<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:apd="http://java.sun.com/jsf/composite/apd"
	xmlns:a4j="http://richfaces.org/a4j">

	<h:panelGrid columnClasses="label,component,required" columns="3">

		<ui:include src="/userAdmin/userInfo.xhtml" />
		
		
	<h:outputLabel for="systemUserBeanSystemUserPassword" value="Password:" />
	<h:panelGroup>
		<a4j:region>
			<a4j:commandLink id="systemUserBeanSystemUserPassword"
				value="Set New Password" styleClass="btn btn-primary"
				execute="@this" immediate="true"
				action="#{systemUserBean.getPlaintextPassword()}"
				render=":userPasswordModal :userPasswordModalForm"
				oncomplete="showPopup('userPasswordModal');">
				<a4j:param name="cid"
					value="#{javax.enterprise.context.conversation.id}" />
			</a4j:commandLink>
		</a4j:region>
	</h:panelGroup>
	<h:outputText />

		<h:outputLabel value="Phone Numbers" />
		<apd:phoneNumberSection id="phoneNumberSection" actionBean="#{systemUserBean}" phoneCollection="#{systemUserBean.systemUser.person.phoneNumbers}"/>
		<h:outputText />
		
		<h:outputLabel value="Addresses" />
		<apd:addressSection id="addressSection" actionBean="#{systemUserBean}" addressCollection="#{systemUserBean.systemUser.person.addresses}"/>
		<h:outputText />
		
		<ui:include src="/userAdmin/userAccountAssociation.xhtml" />
		
		<ui:include src="/userAdmin/userCredentialAssociation.xhtml" />

		<ui:include src="/userAdmin/roleRelation.xhtml">
			<ui:param name="bean" value="#{systemUserBean}" />
			<ui:param name="roleList" value="#{forgeview:asList(bean.systemUser.roleXUsers)}" />
			<ui:param name="render" value="work" />
		</ui:include>

		<ui:include src="/userAdmin/permissionRelation.xhtml">
			<ui:param name="bean" value="#{systemUserBean}" />
			<ui:param name="permissionList" value="#{forgeview:asList(bean.systemUser.permissionXUsers)}" />
			<ui:param name="render" value="work" />
		</ui:include>

		<ui:include src="/userAdmin/userPaymentInfo.xhtml" />
		
		<ui:include src="/admin/bulletin/bulletinRelation.xhtml">
			<ui:param name="bean" value="#{systemUserBean}" />
			<ui:param name="bulletinList" value="#{forgeview:asList(bean.systemUser.bulletins)}" />
			<ui:param name="render" value="work" />
		</ui:include>

	</h:panelGrid>

</ui:composition>
