<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:apd="http://java.sun.com/jsf/composite/apd"
	template="/WEB-INF/layout/administrationTemplate.xhtml">

	<f:metadata>
		<f:event type="preRenderView" listener="#{systemUserBean.retrieve}"/>
	</f:metadata>

	<ui:param name="pageTitle" value="Add User"/>

	<ui:define name="header">
		User
	</ui:define>

	<ui:define name="subheader" />

	<ui:define name="footer" />

	<ui:define name="main">
		<h:form id="work">
			<a4j:commandLink value="Set Default Password For ALL Users" action="#{accountSearchBean.clearSelection()}" 
				oncomplete="showPopup('confirmationModal');" styleClass="btn btn-info" immediate="true"/>
		</h:form>
		<rich:popupPanel id="confirmationModal" autosized="true" resizeable="false" moveable="false" domElementAttachment="parent">
		
		<h:form id="confirmationModalForm">
			<a4j:region>
			<f:facet name="header">
				<h:outputText value="Confirmation" />
   			</f:facet>
   			<f:facet name="controls">
       			<a4j:commandLink value="Cancel" styleClass="btn btn-primary" immediate="true" 
					render="confirmationModalForm"
					action="#{accountSearchBean.clearSelection()}"
					oncomplete="hidePopup('confirmationModal');" />
   			</f:facet>
   			
   			Are you sure you want to do this? This will set a password for ALL users with no password, and will prompt you to download a CSV of the results. This can a long time, depending on the number of users with null passwords. 
   			
   			<br /><br />
   			
   			The downloaded CSV will have the passwords of the users set. Make SURE to get rid of the CSV when you're done with it, or force the users to change their passwords.
   			
   			<br /><br />
   			
   			If you're just browsing the Administration app, or you're not sure what this page does, don't click the "Confirm" button. This action cannot be reversed.
			
			<br /><br />
			
			<div class="btn-group" layout="block">
				<h:commandLink value="Confirm (cannot be reversed)" styleClass="btn btn-danger" 
					render="work confirmationModalForm" 
					action="#{systemUserBean.setPasswordForAllUsers()}"
					oncomplete="hidePopup('confirmationModal');" />
				<a4j:commandLink value="Cancel" styleClass="btn btn-primary" immediate="true" 
					render="confirmationModalForm"
					action="#{accountSearchBean.clearSelection()}"
					oncomplete="hidePopup('confirmationModal');" />
			</div>
			
			</a4j:region>
		</h:form>
      		
	    </rich:popupPanel>
	</ui:define>
</ui:composition>