<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/WEB-INF/layout/administrationTemplate.xhtml"
	xmlns:apd="http://java.sun.com/jsf/composite/apd">

	<f:metadata>
		<f:event type="preRenderView" listener="#{systemUserBean.retrieve}"/>
	</f:metadata>

	<ui:define name="header">
		User
	</ui:define>

	<ui:define name="subheader" />

	<ui:define name="footer"/>

	<ui:define name="main">
		<h:form id="work">
			<apd:search searchBean="#{userSearchBean}" detailsRegion="work" searchRegion="searching" />
			<ui:include src="userDetails.xhtml" />
			<div class="btn-group" layout="block">
				<h:commandLink value="Save" action="#{systemUserBean.update}" styleClass="btn btn-success"/>
				<h:commandLink value="Delete" action="#{systemUserBean.delete}" styleClass="btn btn-danger"><i class="icon-trash"/>                     </h:commandLink>
			</div>
		</h:form>
		<apd:phoneNumberModal id="sectionPhoneNumberModal" phoneNumber="#{systemUserBean.currentNumber}" actionBean="#{systemUserBean}" render="work:phoneNumberSection:phoneNumberList:phoneTable" />
		<apd:addressModal  id="sectionAddressModal" address="#{systemUserBean.currentAddress}" actionBean="#{systemUserBean}" render="work:addressSection:addressList:addressTable" />
		<ui:include src="/userAdmin/userAccountModal.xhtml" />
		<ui:include src="/userAdmin/userAccountCredentialModal.xhtml" />
		<ui:include src="/paymentInformationAdmin/paymentInformationModal.xhtml">
			<ui:param name="bean" value="#{systemUserBean}" />
			<ui:param name="render" value="work" />
		</ui:include>
		<ui:include src="/userAdmin/permissionModal.xhtml">
			<ui:param name="bean" value="#{systemUserBean}" />
			<ui:param name="render" value="work" />
		</ui:include>
		<ui:include src="/userAdmin/roleModal.xhtml">
			<ui:param name="bean" value="#{systemUserBean}" />
			<ui:param name="render" value="work" />
		</ui:include>
		<ui:include src="/userAdmin/userPasswordModal.xhtml">
			<ui:param name="bean" value="#{systemUserBean}" />
			<ui:param name="render" value="work" />
		</ui:include>
		<ui:include src="/paymentInformationAdmin/paymentInformationPersonModal.xhtml">
			<ui:param name="bean" value="#{systemUserBean}" />
			<ui:param name="render" value="work" />
		</ui:include>
        <ui:include src="/admin/bulletin/bulletinModal.xhtml">
            <ui:param name="bean" value="#{systemUserBean}" />
            <ui:param name="render" value="work" />
        </ui:include>
		<ui:include src="/userAdmin/accXCredXUserEditModal.xhtml"/>
		<ui:include src="/userAdmin/assignCostCenterModal.xhtml"/>
		<ui:include src="/userAdmin/assignDepartmentModal.xhtml"/>
		<ui:include src="/userAdmin/desktopSelectionModal.xhtml"/>
		<ui:include src="/userAdmin/costCenterSelectionModal.xhtml"/>
		<ui:include src="/userAdmin/departmentSelectionModal.xhtml"/>
		<ui:include src="/userAdmin/limitApprovalEditModal.xhtml"/>
		<ui:include src="/userAdmin/approverUserModal.xhtml"/>
	</ui:define>

</ui:composition>