<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:composite="http://java.sun.com/jsf/composite">

    <composite:interface>
        <composite:attribute name="product" required="true" />
        <composite:attribute name="showPrice" default="false" />
        <composite:attribute name="isProductDetailsPage" default="false" />
        <composite:attribute name="isHomePageWidget" default="false" />
        <composite:attribute name="render" default="qtyBox" />
    </composite:interface>

    <composite:implementation>
    	<h:panelGroup id="addToCartSpan">
		<h:outputScript name="js/spinner.js" target="head" />
		<script type="text/javascript">
        	init("#{cc.clientId}","1");
    	</script>
        <div class="#{cc.attrs.isHomePageWidget ? 'qtyContainer pull-right' : 'qtyContainer'}" style="#{cc.attrs.isHomePageWidget ? 'width:50%' : ''}">
            <label class="text inline qty pull-left">
                Qty <h:inputText rendered="#{!addToCartBean.isAddingPrevented(cc.attrs.product)}"
                	id="qtyBox" value="#{addToCartBean.displayQuantity[cc.attrs.product]}"
                	styleClass="positive-integer" /> 
                	<h:inputText rendered="#{addToCartBean.isAddingPrevented(cc.attrs.product)}"
                	id="qtyBoxDisabled" disabled="true" styleClass="positive-integer" />
            </label>
            <div class="#{cc.attrs.isHomePageWidget ? 'pull-right' : 'pull-left'}">
                <div class="qtyBtn qtyPlus">
                    <img src="#{propertiesBean.get('aws.integration','content.service.secure.domain')}/images/btnPlus.png" alt="Add Quantity" onclick="return changeNumber('#{cc.clientId}',1);" /></div>
                <div class="qtyBtn qtyMinus"><img src="#{propertiesBean.get('aws.integration','content.service.secure.domain')}/images/btnMinus.png" alt="Remove Quantity" onclick="return changeNumber('#{cc.clientId}',-1);" /></div>
            </div>
        </div>
        <div class="pull-right">
            <a4j:commandLink value="#{addToCartBean.getAddToCartButtonText(cc.attrs.product, cc.attrs.isProductDetailsPage)}"
                             styleClass="#{cc.attrs.isProductDetailsPage ? 'btn btn-primary addToCartBtn' : 'smallBtn'}"
                             rendered="#{!addToCartBean.isAddingPrevented(cc.attrs.product)}" action="#{addToCartBean.addSingleItem(cc.attrs.product)}"
                             render="#{cc.attrs.render} :items-added-json :cart-dropdown-count :recently-added-container" 
                             oncomplete="$cartNotify();" onclick="waitOnNextAjax();">
            </a4j:commandLink>
            <h:panelGroup rendered="#{addToCartBean.isAddingPrevented(cc.attrs.product)}">
            	<a href="#" class="#{cc.attrs.isProductDetailsPage ? 'btn-primaryDisabled' : 'smallBtnDisabled'} btn disabled">
            		#{addToCartBean.getAddToCartButtonText(cc.attrs.product, cc.attrs.isProductDetailsPage)}
            	</a>
            </h:panelGroup>
            <div>
              <h:panelGroup rendered="#{(product.minimum != null and product.minimum gt 1) and (product.multiple == null or product.multiple le 1)}">
                 <p class="product-sku">Minimum of = #{product.minimum}</p>
              </h:panelGroup>
              <h:panelGroup rendered="#{(product.minimum != null and product.minimum gt 1) and (product.multiple != null and product.multiple gt 1)}">
                 <p class="product-sku">Minimum of = #{product.minimum}</p>
              </h:panelGroup>
               <h:panelGroup rendered="#{(product.minimum == null or product.minimum le 1) and (product.multiple != null and product.multiple gt 1)}">
                <p class="product-sku">Multiple of = #{product.multiple}</p>
              </h:panelGroup>
         	</div>
        </div>
        <!-- 
	        <rich:tooltip rendered="#{(product.minimum == null or product.minimum le 1) and (product.multiple != null and product.multiple gt 1)}" for="addToCartSpan">
	        	Multiple QTY = #{product.multiple}
	        </rich:tooltip>
	        <rich:tooltip rendered="#{(product.minimum != null and product.minimum gt 1) and (product.multiple == null or product.multiple le 1)}" for="addToCartSpan">
	        	Min QTY = #{product.minimum}
	        </rich:tooltip>
	        <rich:tooltip rendered="#{(product.minimum != null and product.minimum gt 1) and (product.multiple != null and product.multiple gt 1)}" for="addToCartSpan">
	        	Min QTY = #{product.minimum}, Multiple QTY = #{product.multiple}
	        </rich:tooltip>
	     -->
        </h:panelGroup>
    </composite:implementation>

</ui:composition>