<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:rich="http://richfaces.org/rich" xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:apd="http://java.sun.com/jsf/composite/apd">

        <div id ="issueLogInfoBlock">
                <div id ="issueLogDetailsBlock">
                	<h:outputLabel value="Ticket Number: " />
                	<h:outputText value="#{issueLogBean.currentIssueLog.ticketNumber}" />
                	
                	<h:outputLabel value="Status: " />
                	<h:outputText value="#{issueLogBean.currentIssueLog.status}" />
                	
                	<h:outputLabel value="Contact Name: " />
                	<h:outputText value="#{issueLogBean.currentIssueLog.contactName}" />
                	
                	<h:outputLabel value="Contact Number: " />
                	<h:outputText value="#{issueLogBean.currentIssueLog.contactNumber}" />
                	
                	<h:outputLabel value="Contact Email: " />
                	<h:outputText value="#{issueLogBean.currentIssueLog.contactEmail}" />
                	
                	<h:outputLabel value="Created: " />
                	<h:outputText value="#{issueLogBean.currentIssueLog.openedDate}" />
                	
                	<h:outputLabel value="Unit: " />
                	<h:outputText value="#{issueLogBean.currentIssueLog.department}" />
                	
                	<h:outputLabel value="Issue: " />
                	<h:outputText value="#{issueLogBean.currentIssueLog.issueCategory}" />
                    
                    <h:outputLabel value="PO #" />
                    <h:outputText value="#{issueLogBean.currentIssueLog.customerOrder.apdPo}" />
                    
                    <h:outputLabel for="issueDescription" value="Issue Description" />
                    <h:outputText id="issueDescription" value="#{issueLogBean.currentIssueLog.issueDescription}" />
                    
                    <h:outputLabel class="control-label" for="followupDate" value="Followup Date " />
					<rich:calendar id="followupDate" value="#{issueLogBean.currentIssueLog.scheduledFollowUp}" />
					
					<h:outputLabel class="control-label" for="expectedResDate" value="Expected Resolution Date " />
					<rich:calendar id="expectedResDate" value="#{issueLogBean.currentIssueLog.expectedResolution}" />
                    
                    <h:outputLabel for="serviceResolution" value="Resolution" />
                    <h:inputTextarea id="serviceResolution" value="#{issueLogBean.currentIssueLog.resolution}" />
                    
                </div>
        </div>

</ui:composition>