<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                template="/WEB-INF/layout/administrationTemplate.xhtml">
                
	<ui:define name="main">
		<h:form id="orderSearch">
			<div class="span12 orderReportContainer">
                <div class="span12">
                    <h4>Please provide your search criteria in one or more of the fields below to locate your past orders.</h4>  
                </div>	

                <div class="span12">
                    <!-- ==== CAL 1  ==== -->
                    <div class="span2"><p>Order Date Range</p></div>
                    <div id="dp1" class="input-append date span3" data-date-format="mm-dd-yyyy" data-date="07-15-2013">
                        <h:inputText class="span6" id="orderStartDate" value='#{orderSearchBean.selectedStartDate}'>
                            <f:convertDateTime pattern="MM-dd-yyyy" />
                        </h:inputText>
                        <span class="add-on">
                            <i class="icon-calendar"></i>
                        </span>
                    </div>
                    <!-- ==== CAL 1  ==== -->    
                    <div class="span1 text-to">to</div>
                    <!-- ==== CAL 2  ==== -->
                    <div class="span2"><p>Order Date Range</p></div>
                    <div id="dp2" class="input-append date span3" data-date-format="mm-dd-yyyy" data-date="dateValue: Customer.DateOfBirth">
                        <h:inputText class="span6" id="orderEndDate" value='#{orderSearchBean.selectedEndDate}'>
                            <f:convertDateTime pattern="MM-dd-yyyy" />
                        </h:inputText>
                        <span class="add-on">
                            <i class="icon-calendar"></i>
                        </span>
                    </div>                              
                    <!-- ==== CAL 2  ==== -->    
                </div> 
                <div class="span12">
                    <div class="span2"><p>PO #</p></div>
                    <div id="dp1" class="input-append date span6">
                        <h:inputText class="span12" id="inputPO" converter="#{orderSearchBean.poConverter}" value="#{orderSearchBean.selectedPO}" />
                    </div>
                </div>
                <div class="span12"><hr/></div>
                <div class="span12">
                    <div class="span2"><p>Report Type</p></div>
                    <div class="input-append date span6">
                        <h:selectOneMenu styleClass="span6" converter="#{orderSearchBean.statusConverter}" value="#{orderSearchBean.selectedStatus}" id="orderSearchBeanSelectedStatus">
                            <f:selectItem/>
                            <f:selectItems value="#{orderSearchBean.statusList}" 
                                           var="status" itemValue="#{status}" itemLabel="#{status.value}" />
                        </h:selectOneMenu>
                    </div> 
                </div>
                <div class="span12">
                    <div class="span2 orderBtn"></div>
                    <div class="span2 orderBtn">
                        <h:commandButton id="findOrderBtn" styleClass="checkoutBtn" action="#{orderSearchBean.retrieveOrderHistory()}" value="Generate Report" />
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
		</h:form>
	</ui:define>
                
</ui:composition>