<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:rich="http://richfaces.org/rich" xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:apd="http://java.sun.com/jsf/composite/apd">

        <div id ="serviceLogInfoBlock">
                <div id ="serviceLogDetailsBlock">
                    
                    <h:outputLabel for="contactName" value="contactName" />
                    <h:inputText id="contactName" value="#{serviceLogBean.currentServiceLog.contactName}" />
                    
                    <h:outputLabel for="contactNumber" value="contactNumber" />
                    <h:inputText id="contactNumber" value="#{serviceLogBean.currentServiceLog.contactNumber}" />
                    
                    <h:outputLabel for="contactEmail" value="contactEmail" />
                    <h:inputText id="contactEmail" value="#{serviceLogBean.currentServiceLog.contactEmail}" />
                    
                    <h:outputLabel for="department" value="department" />
                    <h:inputText id="department" value="#{serviceLogBean.currentServiceLog.department}" />
                    
                	<h:outputLabel for="contactMethodMenu" value="Method of Contact" />
                    <h:selectOneMenu styleClass="span3a"
					converter="#{serviceLogBean.contactMethodConverter}"
					value="#{serviceLogBean.currentServiceLog.contactMethod}"
					id="contactMethodMenu">
					<f:selectItem />
					<f:selectItems value="#{serviceLogBean.contactMethodList}" var="method"
                    	itemValue="#{method}" itemLabel="#{method.name}" />
                    </h:selectOneMenu>
                    
                    <h:outputLabel for="serviceReasonMenu" value="Reason" />
                    <h:selectOneMenu styleClass="span3a"
					converter="#{serviceLogBean.serviceReasonConverter}"
					value="#{serviceLogBean.currentServiceLog.serviceReason}"
					id="serviceReasonMenu">
					<f:selectItem />
					<f:selectItems value="#{serviceLogBean.serviceReasonList}" var="reason"
                    	itemValue="#{reason}" itemLabel="#{reason.name}" />
                    </h:selectOneMenu>
                    
                    <h:outputLabel for="callDetails" value="Details" />
                    <h:inputTextarea id="callDetails" value="#{serviceLogBean.currentServiceLog.serviceDetails}" />
                    
                    <h:outputLabel for="logAttatchmentUpload" value="Attachment" />
                    <div>When uploading a file be sure that you've selected a file and clicked upload before clicking save below.</div>
					<div>
		        		<rich:fileUpload fileUploadListener="#{serviceLogBean.fileUploadBean.fileUploadListener}"
		                         id="logAttatchmentUpload" addLabel="File Upload" listHeight="50px"
		                         maxFilesQuantity="1"/>
		                <br />
			 		</div>
			        </div>
			   </div>

</ui:composition>