<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:apd="http://java.sun.com/jsf/composite/apd"
				xmlns:forgeview="http://jboss.org/forge/view">
	
	
	
	<rich:popupPanel id="serviceLogModal" autosized="true" resizeable="false" moveable="false" domElementAttachment="parent">
	
	<h:form id="serviceLogModalForm">
		<a4j:region>
		<f:facet name="header">
			<h:outputText value="Service Log" />
  			</f:facet>
  			<f:facet name="controls">
      			<a4j:commandLink value="X" style="cursor:pointer" immediate="true"
      			render="serviceLogModalForm"
				action="#{serviceLogBean.cancel()}"
				oncomplete="hidePopup('serviceLogModal');" />
  			</f:facet>
  			
  			<ui:include src="/customerservice/serviceLog.xhtml" >
  				<ui:param name="render" value="serviceLogModalForm" />
  			</ui:include>
  			<div class="btn-group">
			
			<a4j:commandLink value="Save" styleClass="btn btn-apd" 
				render=":#{render} serviceLogModalForm" 
				action="#{serviceLogBean.save()}"
				oncomplete="hidePopup('serviceLogModal');" />
			<a4j:commandLink value="Cancel" styleClass="btn" immediate="true" 
				render="serviceLogModalForm"
				action="#{serviceLogBean.cancel()}"
				oncomplete="hidePopup('serviceLogModal');" />
		</div>
		
		</a4j:region>
	</h:form>
     		
    </rich:popupPanel>
	
	<rich:popupPanel id="serviceLogResolveModal" autosized="true" resizeable="false" moveable="false" domElementAttachment="parent">
	
	<h:form id="serviceLogResolveModalForm">
		<a4j:region>
		<f:facet name="header">
			<h:outputText value="Service Log" />
  			</f:facet>
  			<f:facet name="controls">
      			<a4j:commandLink value="X" style="cursor:pointer" immediate="true"
      			render="serviceLogResolveModalForm"
				action="#{serviceLogBean.cancel()}"
				oncomplete="hidePopup('serviceLogResolveModal');" />
  			</f:facet>
  			
            <h:outputLabel for="serviceResolution" value="Resolution" />
            <h:inputTextarea id="serviceResolution" value="#{serviceLogBean.currentServiceLog.resolution}" />
		
		<div class="btn-group">
			<a4j:commandLink value="Resolve" styleClass="btn btn-apd" 
				render=":#{render} serviceLogResolveModalForm"
				action="#{serviceLogBean.resolve()}"
				oncomplete="hidePopup('serviceLogResolveModal');" />
			<a4j:commandLink value="Cancel" styleClass="btn" immediate="true" 
				render="serviceLogResolveModalForm"
				action="#{serviceLogBean.cancel()}"
				oncomplete="hidePopup('serviceLogResolveModal');" />
		</div>
		
		</a4j:region>
	</h:form>
     		
    </rich:popupPanel>
	
	<ui:include src="/customerservice/contactLogComment.xhtml" />
	

</ui:composition>