<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:rich="http://richfaces.org/rich" xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view">
	<div>
		<h3>New Address</h3>
		<div class="control-group">
			<label class="control-label" for="line1">Line 1:</label>
			<div class="controls">
				<input type="text" id="line1" placeholder="100 Main St" />
			</div>
			<label class="control-label" for="line2">Line 2:</label>
			<div class="controls">
				<input type="text" id="line2" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="city">City:</label>
			<div class="controls">
				<input type="text" id="city" placeholder="Winchestertonfieldville" />
			</div>
			<!-- should this be a dropdown? -->
			<label class="control-label" for="state" placeholder="IA">State</label>
			<div class="controls">
				<input type="text" id="state" />
			</div>
			<label class="control-label" for="zip">Zip:</label>
			<div class="controls">
				<input type="text" id="zip" placeholder="zip" />
			</div>
		</div>
	</div>
</ui:composition>