<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

	<div id="reportNavigation" layout="block" style="">
		<h:form id="reportsNavigationForm">
			<ul class="nav nav-pills nav-stacked">
				<li>
					<a href="/customerservice/admin/reports/shipmasterReport.xhtml" class="left-navigation"> Shipmaster Report </a>
				</li>
				<h:panelGroup rendered="#{workflowTaskBean.hasPermission('view data for all accounts')}">
					<li>
						<a href="/customerservice/admin/reports/apReport.xhtml" class="left-navigation"> AP Invoice Report </a>
					</li>
				</h:panelGroup>
				<li>
					<a href="/customerservice/admin/reports/arReport.xhtml" class="left-navigation"> AR Invoice Report </a>
				</li>
				<li>
					<a href="/customerservice/reports/dailyChargeReport.xhtml" class="left-navigation"> Daily Charge Report </a>
				</li>
                                <li>
                                    <a href="/customerservice/admin/reports/transactionHistories.xhtml" class="left-navigation"> Credit Card Transaction History </a>
                                </li>
				<li>
					<a href="/customerservice/admin/return/return-reconcile.xhtml" class="left-navigation"> Returns Report </a>
				</li>

			</ul>
		</h:form>
	</div>
</ui:composition>
