<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a4j="http://richfaces.org/a4j" xmlns:rich="http://richfaces.org/rich" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:c="http://java.sun.com/jsp/jstl/core">

	<!-- Need to include the c:if tag around each of the  navigation options -->
	<div class="navbar navbar-inverse navbar-fixed-top phoenix-nav">
		<div class="navbar-inner">
			<div class="container">
				<h:link id="phoenixHomeLink" value="Administration" outcome="/index.xhtml" styleClass="brand navbar-brand" />
				<c:if test="#{not empty request.remoteUser}">
					<ul class="nav">
<!-- 						<li>
							this is temporary so that the task screens can be seen
							<a id="workflow" href="/administration/admin/customerservice/workflow/workflow_prototype.xhtml">Workflow </a>
						</li>
						<li>
							<a href="/administration/admin/customerService/customer-service.xhtml">
								Tasks
								 the "42" needs to be replaced with a bean value for the number of assigned tasks
								<span class="badge">#{workflowTaskBean.numberOfAssignedTasks}</span>
							</a>
						</li> -->
						<li>
							<a id="reportsLink" href="/administration/admin/reports/reports.xhtml"> Reports </a>
						</li>
						<li>
							<a id="auditLink" href="/administration/audit/auditReport.xhtml"> Data Auditing </a>
						</li>
						<li>
							<a id="dataAdministrationLink" href="/administration/index.xhtml"> Data Administration </a>
						</li>
					</ul>
					<p class="navbar-text pull-right">
						Hello, #{request.remoteUser}
						<h:form id="logoutLinkForm">
							<h:commandLink id="logoutLink" styleClass="navbar-link" action="#{userManager.logout()}">
								<i class="icon-share-alt icon-white" />
							</h:commandLink>
						</h:form>
					</p>
				</c:if>
			</div>
		</div>
	</div>
</ui:composition>
