<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich" xmlns:c="http://java.sun.com/jsp/jstl/core">
	<h:form id="navigationForm">
		<ul class="nav nav-pills nav-stacked">
			<li class="dropdown">
				<a id="accountMenu" class="dropdown-toggle" data-toggle="dropdown" href="#">
					Account
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu rightMenu">
					<li>
						<a href="/administration/admin/account/rootAccountAdd.xhtml"> Add Root Account </a>
						<a href="/administration/admin/account/accountAdd.xhtml"> Add </a>
						<a href="/administration/admin/account/accountEdit.xhtml"> Edit </a>

					</li>
				</ul>
			</li>
			<li class="dropdown">
				<a id="cashoutPageMenu" class="dropdown-toggle" data-toggle="dropdown" href="#">
					Cashout Page
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu rightMenu">
					<li>
						<a href="/administration/admin/cashoutPage/cashoutPageAdd.xhtml"> Add </a>
						<a href="/administration/admin/cashoutPage/cashoutPageEdit.xhtml"> Edit </a>

					</li>
				</ul>
                        </li>
                        <li class="dropdown">
                            <a id="cXMLConfigurationMenu" class="dropdown-toggle" data-toggle="dropdown" href="#">
                                cXML Configuration Page
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu rightMenu">
                                <li>
                                    <a href="/administration/admin/cxml/cxmlConfigurationAdd.xhtml"> Add </a>
                                    <a href="/administration/admin/cxml/cxmlConfigurationEdit.xhtml"> Edit </a>

                                </li>
                            </ul>
                        </li>
			<li class="dropdown">
				<a id="credentialMenu" class="dropdown-toggle" data-toggle="dropdown" href="#">
					Credential
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu rightMenu">
					<li>
						<a href="/administration/admin/credential/credentialAdd.xhtml"> Add </a>
						<a href="/administration/admin/credential/credentialEdit.xhtml"> Edit </a>
					</li>
				</ul>
			</li>
                    <li class="dropdown">
                        <a id="customerCatalog" class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Customer Catalog
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu rightMenu">
                            <li>
                                <a href="/administration/admin/catalog/customerCatalogAdd.xhtml"> Add </a>
                                <a href="/administration/admin/catalog/customerCatalogEdit.xhtml"> Edit </a>
                                <a href="/administration/admin/catalog/customerCatalogReplace.xhtml"> Replace </a>
                                <a href="/administration/admin/catalog/customerCatalogChild.xhtml"> Add Child </a>

                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                            <a id="vendorCatalog" class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Vendor Catalog
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu rightMenu">
                                <li>
                                    <a href="/administration/admin/catalog/vendorCatalogAdd.xhtml"> Add </a>
                                    <a href="/administration/admin/catalog/vendorCatalogEdit.xhtml"> Edit </a>
                                    <a href="/administration/admin/catalog/vendorCatalogReplace.xhtml"> Replace </a>
                                </li>
                            </ul>
                    </li>

			<li class="dropdown">
				<a id="vendorCatalogItem" class="dropdown-toggle" data-toggle="dropdown" href="#">
					Vendor Catalog Item
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu rightMenu">
					<li>
						<a href="/administration/admin/item/itemEdit.xhtml"> Edit </a>
					</li>
				</ul>
			</li>

			<li class="dropdown">
				<a id="customerCatalogItem" class="dropdown-toggle" data-toggle="dropdown" href="#">
					Customer Catalog Item
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu rightMenu">
					<li>
						<a href="/administration/admin/catalogXItem/catalogXItemAdd.xhtml"> Add </a>
						<a href="/administration/admin/catalogXItem/catalogXItemEdit.xhtml"> Edit </a>
					</li>
				</ul>
			</li>

			<li class="dropdown">
				<a id="manufacturer" class="dropdown-toggle" data-toggle="dropdown" href="#">
					Manufacturer
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu rightMenu">
					<li>
						<a href="/administration/admin/manufacturer/manufacturerAdd.xhtml"> Add </a>
						<a href="/administration/admin/manufacturer/manufacturerEdit.xhtml"> Edit </a>
					</li>
				</ul>
			</li>

			<li class="dropdown">
				<a id="role" class="dropdown-toggle" data-toggle="dropdown" href="#">
					Role
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu rightMenu">
					<li>
						<a href="/administration/admin/role/roleAdd.xhtml"> Add </a>
						<a href="/administration/admin/role/roleEdit.xhtml"> Edit </a>
					</li>
				</ul>
			</li>

			<li class="dropdown">
				<a id="user" class="dropdown-toggle" data-toggle="dropdown" href="#">
					User
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu rightMenu">
					<li>
						<a href="/administration/admin/user/userAdd.xhtml"> Add
						</a>
						<a href="/administration/admin/user/userEdit.xhtml">Edit
						</a>
						<a href="/administration/admin/user/userUpload.xhtml">
							Upload
						</a>
						<a href="/administration/admin/user/userPasswordSet.xhtml">
							Set Default Password
						</a>
					</li>
				</ul>
			</li>

			<li class="dropdown">
				<a id="vendor" class="dropdown-toggle" data-toggle="dropdown" href="#">
					Vendor
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu rightMenu">
					<li>
						<a href="/administration/admin/vendor/vendorAdd.xhtml"> Add </a>
						<a href="/administration/admin/vendor/vendorEdit.xhtml"> Edit </a>
					</li>
				</ul>
			</li>
                    <hr />
			<ui:include src="systemData.xhtml"/>
		</ul>


		<ui:remove>
			<!-- Modal -->
			<div id="customerPnl" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
				aria-hidden="true">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3 id="myModalLabel">Customer Catalog Instructions</h3>
				</div>
				<div class="modal-body">
				</div>
				<div class="modal-footer" />
			</div>

			<div id="vendorPnl" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
				aria-hidden="true">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="myModalLabel">Vendor Catalog Instructions</h3>
				</div>
				<div class="modal-body">
					<ui:include src="/admin/catalog/instructions.xhtml" />
				</div>
				<div class="modal-footer" />
			</div>
		</ui:remove>
	</h:form>
</ui:composition>
