<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich" xmlns:c="http://java.sun.com/jsp/jstl/core">
	<h:form id="navigationForm">
		<ul class="nav nav-pills nav-stacked">
		<!--  ************************* Account Property Type *************************  -->
			<li class="dropdown">
				<a id="accountPropertyMenu" class="dropdown-toggle" data-toggle="dropdown" href="#">
					Account Property 
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu rightMenu">
					<li>
						<a href="/administration/admin/accountPropertyType/accountPropertyTypeAdd.xhtml"> Add </a>
						<a href="/administration/admin/accountPropertyType/accountPropertyTypeEdit.xhtml"> Edit </a>

					</li>
				</ul>
			</li>
		<!--  ************************* Action Type *************************  -->
                	<li class="dropdown">
				<a id="actionTypeMenu" class="dropdown-toggle" data-toggle="dropdown" href="#">
					Action Type
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu rightMenu">
					<li>
						<a href="/administration/admin/actionType/actionTypeAdd.xhtml"> Add </a>
						<a href="/administration/admin/actionType/actionTypeEdit.xhtml"> Edit </a>

					</li>
				</ul>
			</li>
		<!--  ************************* Address Type *************************  -->
                        <li class="dropdown">
				<a id="addressTypeMenu" class="dropdown-toggle" data-toggle="dropdown" href="#">
					Address Type
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu rightMenu">
					<li>
						<a href="/administration/admin/addressType/addressTypeAdd.xhtml"> Add </a>
						<a href="/administration/admin/addressType/addressTypeEdit.xhtml"> Edit </a>

					</li>
				</ul>
			</li>
		<!--  ************************* Bulletin *************************  -->
                        <li class="dropdown">
				<a id="bulletinMenu" class="dropdown-toggle" data-toggle="dropdown" href="#">
					Bulletins
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu rightMenu">
					<li>
						<a href="/administration/admin/bulletin/globalBulletinEdit.xhtml"> Global Bulletins </a>
					</li>
				</ul>
			</li>
		<!-- ************************* Communication Method  *************************-->
                        <li class="dropdown">
				<a id="communicationMethodMenu" class="dropdown-toggle" data-toggle="dropdown" href="#">
					Communication Method
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu rightMenu">
					<li>
						<a href="/administration/admin/communicationMethod/communicationMethodAdd.xhtml"> Add </a>
						<a href="/administration/admin/communicationMethod/communicationMethodEdit.xhtml"> Edit </a>

					</li>
				</ul>
			</li>
		<!-- ************************* Cost Center  *************************-->
                        <li class="dropdown">
				<a id="costCenterMenu" class="dropdown-toggle" data-toggle="dropdown" href="#">
					Cost Center
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu rightMenu">
					<li>
						<a href="/administration/admin/costCenter/costCenterAdd.xhtml"> Add </a>
						<a href="/administration/admin/costCenter/costCenterEdit.xhtml"> Edit </a>

					</li>
				</ul>
			</li>
		<!-- ************************* Credential Property Type ************************* -->
                        <li class="dropdown">
				<a id="credentialPropertyMenu" class="dropdown-toggle" data-toggle="dropdown" href="#">
					Credential Property
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu rightMenu">
					<li>
						<a href="/administration/admin/credentialPropertyType/credentialPropertyTypeAdd.xhtml"> Add </a>
						<a href="/administration/admin/credentialPropertyType/credentialPropertyTypeEdit.xhtml"> Edit </a>

					</li>
				</ul>
			</li>
		<!-- ************************* Department ************************* -->
                        <li class="dropdown">
				<a id="credentialPropertyMenu" class="dropdown-toggle" data-toggle="dropdown" href="#">
					Department
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu rightMenu">
					<li>
						<a href="/administration/admin/department/departmentAdd.xhtml"> Add </a>
						<a href="/administration/admin/department/departmentEdit.xhtml"> Edit </a>

					</li>
				</ul>
			</li>
		<!-- ************************* Desktop ************************* -->
                        <li class="dropdown">
				<a id="credentialPropertyMenu" class="dropdown-toggle" data-toggle="dropdown" href="#">
					Desktop
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu rightMenu">
					<li>
						<a href="/administration/admin/desktop/desktopAdd.xhtml"> Add </a>
						<a href="/administration/admin/desktop/desktopEdit.xhtml"> Edit </a>

					</li>
				</ul>
			</li>                
		<!--  ************************* Field *************************  -->
                        <li class="dropdown">
				<a id="fieldMenu" class="dropdown-toggle" data-toggle="dropdown" href="#">
					Field
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu rightMenu">
					<li>
						<a href="/administration/admin/field/fieldAdd.xhtml"> Add </a>
						<a href="/administration/admin/field/fieldEdit.xhtml"> Edit </a>

					</li>
				</ul>
			</li>
		<!--  ************************* Field Type *************************  -->
                        <li class="dropdown">
				<a id="fieldTypeMenu" class="dropdown-toggle" data-toggle="dropdown" href="#">
					Field Type
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu rightMenu">
					<li>
						<a href="/administration/admin/fieldType/fieldTypeAdd.xhtml"> Add </a>
						<a href="/administration/admin/fieldType/fieldTypeEdit.xhtml"> Edit </a>

					</li>
				</ul>
			</li>
		<!--  ************************* Group *************************  -->
                        <li class="dropdown">
				<a id="groupMenu" class="dropdown-toggle" data-toggle="dropdown" href="#">
					Group
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu rightMenu">
					<li>
						<a href="/administration/admin/group/groupAdd.xhtml"> Add </a>
						<a href="/administration/admin/group/groupEdit.xhtml"> Edit </a>

					</li>
				</ul>
			</li>
		<!--  ************************* HierarchyNode *************************  -->
                       <li class="dropdown">
			<a id="hierarchyMenu" class="dropdown-toggle" data-toggle="dropdown" href="#">
				Hierarchy
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu rightMenu">
				<li>
					<a href="/administration/admin/hierarchyNode/hierarchyNodeAdd.xhtml"> Add </a>
					<a href="/administration/admin/hierarchyNode/hierarchyNodeEdit.xhtml"> Edit </a>

				</li>
			</ul>
		</li>
		<!--  ************************* Image Type *************************  -->
                        <li class="dropdown">
				<a id="imageTypeMenu" class="dropdown-toggle" data-toggle="dropdown" href="#">
					Image Type
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu rightMenu">
					<li>
						<a href="/administration/admin/imageType/imageTypeAdd.xhtml"> Add </a>
						<a href="/administration/admin/imageType/imageTypeEdit.xhtml"> Edit </a>

					</li>
				</ul>
			</li>
		<!--  ************************* Invoice Send Method *************************  -->
                        <li class="dropdown">
				<a id="invoiceSendMethodMenu" class="dropdown-toggle" data-toggle="dropdown" href="#">
					Invoice Send Method
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu rightMenu">
					<li>
						<a href="/administration/admin/invoiceSendMethod/invoiceSendMethodAdd.xhtml"> Add </a>
						<a href="/administration/admin/invoiceSendMethod/invoiceSendMethodEdit.xhtml"> Edit </a>

					</li>
				</ul>
			</li>
		<!-- ************************* Item Category  *************************-->
                        <li class="dropdown">
				<a id="itemCategoryMenu" class="dropdown-toggle" data-toggle="dropdown" href="#">
					Item Category
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu rightMenu">
					<li>
						<a href="/administration/admin/itemCategory/itemCategoryAdd.xhtml"> Add </a>
						<a href="/administration/admin/itemCategory/itemCategoryEdit.xhtml"> Edit </a>

					</li>
				</ul>
			</li>
		<!-- ************************* Item Classification Type  *************************-->
                        <li class="dropdown">
				<a id="itemClassificationTypeMenu" class="dropdown-toggle" data-toggle="dropdown" href="#">
					Item Classification Type
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu rightMenu">
					<li>
						<a href="/administration/admin/itemClassificationType/itemClassificationTypeAdd.xhtml"> Add </a>
						<a href="/administration/admin/itemClassificationType/itemClassificationTypeEdit.xhtml"> Edit </a>

					</li>
				</ul>
			</li>
		<!-- ************************* Item Identifier Type  *************************-->
                        <li class="dropdown">
				<a id="itemIdentifierTypeMenu" class="dropdown-toggle" data-toggle="dropdown" href="#">
					Item Identifier Type
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu rightMenu">
					<li>
						<a href="/administration/admin/itemIdentifierType/itemIdentifierTypeAdd.xhtml"> Add </a>
						<a href="/administration/admin/itemIdentifierType/itemIdentifierTypeEdit.xhtml"> Edit </a>

					</li>
				</ul>
			</li>                
		<!-- ************************* (Catalog) Item Property Type  *************************-->
                        <li class="dropdown">
				<a id="itemPropertyTypeMenu" class="dropdown-toggle" data-toggle="dropdown" href="#">
					Item Property Type
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu rightMenu">
					<li>
						<a href="/administration/admin/itemPropertyType/itemPropertyTypeAdd.xhtml"> Add </a>
						<a href="/administration/admin/itemPropertyType/itemPropertyTypeEdit.xhtml"> Edit </a>

					</li>
				</ul>
			</li>                
		<!-- ************************* Jumptrack Stop Configuration  *************************-->
                        <li class="dropdown">
				<a id="jumptrackStopConfigurationMenu" class="dropdown-toggle" data-toggle="dropdown" href="#">
					Jumptrack Stop Configuration
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu rightMenu">
					<li>
						<a href="/administration/admin/jumptrackStopConfiguration/jumptrackStopConfigurationAdd.xhtml"> Add </a>
						<a href="/administration/admin/jumptrackStopConfiguration/jumptrackStopConfigurationEdit.xhtml"> Edit </a>

					</li>
				</ul>
			</li>
		<!-- ************************* Message Mapping  *************************-->
                        <li class="dropdown">
				<a id="messageMappingMenu" class="dropdown-toggle" data-toggle="dropdown" href="#">
					Message Mapping
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu rightMenu">
					<li>
						<a href="/administration/admin/messageMapping/messageMappingAdd.xhtml"> Add </a>
						<a href="/administration/admin/messageMapping/messageMappingEdit.xhtml"> Edit </a>

					</li>
				</ul>
			</li>                
		<!-- ************************* (Item Classification) Note Type  *************************-->
                        <li class="dropdown">
				<a id="noteTypeMenu" class="dropdown-toggle" data-toggle="dropdown" href="#">
					Note Type
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu rightMenu">
					<li>
						<a href="/administration/admin/noteType/noteTypeAdd.xhtml"> Add </a>
						<a href="/administration/admin/noteType/noteTypeEdit.xhtml"> Edit </a>

					</li>
				</ul>
			</li>                
		<!-- ************************* Packaging Type  *************************-->
                        <li class="dropdown">
				<a id="packagingTypeMenu" class="dropdown-toggle" data-toggle="dropdown" href="#">
					Packaging Type
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu rightMenu">
					<li>
						<a href="/administration/admin/packagingType/packagingTypeAdd.xhtml"> Add </a>
						<a href="/administration/admin/packagingType/packagingTypeEdit.xhtml"> Edit </a>

					</li>
				</ul>
			</li>                
		<!-- ************************* Payment Type  *************************-->
                        <li class="dropdown">
				<a id="paymentTypeMenu" class="dropdown-toggle" data-toggle="dropdown" href="#">
					Payment Type
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu rightMenu">
					<li>
						<a href="/administration/admin/paymentType/paymentTypeAdd.xhtml"> Add </a>
						<a href="/administration/admin/paymentType/paymentTypeEdit.xhtml"> Edit </a>

					</li>
				</ul>
			</li>                
		<!-- ************************* Period Type  *************************-->
                        <li class="dropdown">
				<a id="periodTypeMenu" class="dropdown-toggle" data-toggle="dropdown" href="#">
					Period Type
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu rightMenu">
					<li>
						<a href="/administration/admin/periodType/periodTypeAdd.xhtml"> Add </a>
						<a href="/administration/admin/periodType/periodTypeEdit.xhtml"> Edit </a>

					</li>
				</ul>
			</li>                
		<!-- ************************* Phone Number Type  *************************-->
                        <li class="dropdown">
				<a id="phoneNumberTypeMenu" class="dropdown-toggle" data-toggle="dropdown" href="#">
					Phone Number Type
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu rightMenu">
					<li>
						<a href="/administration/admin/phoneNumberType/phoneNumberTypeAdd.xhtml"> Add </a>
						<a href="/administration/admin/phoneNumberType/phoneNumberTypeEdit.xhtml"> Edit </a>

					</li>
				</ul>
			</li>                
		<!-- ************************* PO Number Type  *************************-->
                        <li class="dropdown">
				<a id="poNumberTypeMenu" class="dropdown-toggle" data-toggle="dropdown" href="#">
					PO Number Type
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu rightMenu">
					<li>
						<a href="/administration/admin/poNumberType/poNumberTypeAdd.xhtml"> Add </a>
						<a href="/administration/admin/poNumberType/poNumberTypeEdit.xhtml"> Edit </a>

					</li>
				</ul>
			</li>                
		<!-- ************************* Process Variable ************************* -->
                        <li class="dropdown">
				<a id="processVariableMenu" class="dropdown-toggle" data-toggle="dropdown" href="#">
					Process Variable
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu rightMenu">
					<li>
						<a href="/administration/admin/processVariable/processVariableAdd.xhtml"> Add </a>
						<a href="/administration/admin/processVariable/processVariableEdit.xhtml"> Edit </a>

					</li>
				</ul>
			</li>                
		<!-- ************************* Shipping Partner  *************************-->
                        <li class="dropdown">
				<a id="shippingPartnerMenu" class="dropdown-toggle" data-toggle="dropdown" href="#">
					Shipping Partner
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu rightMenu">
					<li>
						<a href="/administration/admin/shippingPartner/shippingPartnerAdd.xhtml"> Add </a>
						<a href="/administration/admin/shippingPartner/shippingPartnerEdit.xhtml"> Edit </a>

					</li>
				</ul>
			</li>                
		<!-- ************************* SKU Type  *************************-->
                        <li class="dropdown">
				<a id="skuTypeMenu" class="dropdown-toggle" data-toggle="dropdown" href="#">
					SKU Type
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu rightMenu">
					<li>
						<a href="/administration/admin/skuType/skuTypeAdd.xhtml"> Add </a>
						<a href="/administration/admin/skuType/skuTypeEdit.xhtml"> Edit </a>

					</li>
				</ul>
			</li>                
		<!-- ************************* Unit of Measure  *************************-->
                        <li class="dropdown">
				<a id="unitOfMeasureMenu" class="dropdown-toggle" data-toggle="dropdown" href="#">
					Unit of Measure
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu rightMenu">
					<li>
						<a href="/administration/admin/unitOfMeasure/unitOfMeasureAdd.xhtml"> Add </a>
						<a href="/administration/admin/unitOfMeasure/unitOfMeasureEdit.xhtml"> Edit </a>

					</li>
				</ul>
			</li>                
		<!-- ************************* Vendor Property Type  *************************-->
                        <li class="dropdown">
				<a id="vendorTypeMenu" class="dropdown-toggle" data-toggle="dropdown" href="#">
					Vendor Property Type
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu rightMenu">
					<li>
						<a href="/administration/admin/vendorPropertyType/vendorPropertyTypeAdd.xhtml"> Add </a>
						<a href="/administration/admin/vendorPropertyType/vendorPropertyTypeEdit.xhtml"> Edit </a>

					</li>
				</ul>
			</li>                
                </ul>


		<ui:remove>
			<!-- Modal -->
			<div id="customerPnl" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
				aria-hidden="true">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3 id="myModalLabel">Customer Catalog Instructions</h3>
				</div>
				<div class="modal-body">
					<p>One fine body…</p>
				</div>
				<div class="modal-footer" />
			</div>

			<div id="vendorPnl" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
				aria-hidden="true">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="myModalLabel">Vendor Catalog Instructions</h3>
				</div>
				<div class="modal-body">
					<ui:include src="/administration/admin/catalog/instructions.xhtml" />
				</div>
				<div class="modal-footer" />
			</div>
		</ui:remove>
	</h:form>
</ui:composition>