<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:apd="http://java.sun.com/jsf/composite/apd">
		<rich:popupPanel id="accXCredXUserEditModal" autosized="true" resizeable="false" moveable="false" domElementAttachment="parent">
		
		<h:form id="accXCredXUserEditModalForm">
			<a4j:region>
			<f:facet name="header">
				<h:outputText value="Edit Credential Relationship" />
   			</f:facet>
   			<f:facet name="controls">
       			<a4j:commandLink value="X" style="cursor:pointer" action="#{systemUserBean.clearFields('accXCredXUserEditModalForm')}" 
       				oncomplete="hidePopup('accXCredXUserEditModal');" immediate="true" />
   			</f:facet>
   			
				<h:outputLabel value="Punch Level:"/>
				<h:inputText value="#{systemUserBean.currentAccXCredXUser.punchLevel}" />
				<h:outputText/>
   			
				<h:outputLabel value="US Account #:"/>
				<h:inputText value="#{systemUserBean.currentAccXCredXUser.usAccountNumber}" />
				<h:outputText/>
				
				<h:panelGroup>
					<rich:dataTable id="axcxuLimitApprovals" value="#{forgeview:asList(systemUserBean.currentAccXCredXUser.limitApprovals)}" var="row" >
						<rich:column>
					       <f:facet name="header">
					         <h:outputText value="Type:" />
					       </f:facet>
					       <h:outputText value="#{row.type.type}" />
					    </rich:column>
					    
					    <rich:column>
					       <f:facet name="header">
					         <h:outputText value="Value:" />
					       </f:facet>
					       <h:outputText value="#{row.value}" />
					    </rich:column>
					    
					    <rich:column>
					       <f:facet name="header">
					         <h:outputText value="Limit:" />
					       </f:facet>
					       <h:outputText value="#{row.limit}" />
					    </rich:column>
				
						<rich:column>
					       <f:facet name="header">
					         <h:outputText value="Action:" />
					       </f:facet>
					       <a4j:commandLink value="Remove" action="#{systemUserBean.currentAccXCredXUser.limitApprovals.remove(row)}" render="axcxuLimitApprovals" />
					    </rich:column>
					</rich:dataTable>
				
				
				
					<a4j:commandLink value="Add Limit Approval" styleClass="btn btn-primary" immediate="true" 
       					action="#{systemUserBean.createLimitApproval()}"
       					render="limitApprovalEditModalForm"
       					oncomplete="hidePopup('accXCredXUserEditModal'); showPopup('limitApprovalEditModal');" />
				</h:panelGroup>
				<h:outputText/>
   			
				<h:outputLabel value="Cost Centers:"/>
				<h:panelGroup id="axcxuCostCentersPanel">
					<rich:dataTable id="axcxuCostCenters" value="#{forgeview:asList(systemUserBean.sortedCostCenters)}" var="row" rows="10" >
						<rich:column>
					       <f:facet name="header">
					         <h:outputText value="Name:" />
					       </f:facet>
					       <h:outputText style="#{row.active ? '' : 'text-decoration:line-through'}" value="#{row.costCenter.name}" />
					    </rich:column>
                        <rich:column>
                            <f:facet name="header">
                                <h:outputText value="Action:" />
                            </f:facet>                                                
                            <a4j:commandLink value="Edit" immediate="true" 
                                             action="#{systemUserBean.setCurrentCostCenter(row)}" render="assignCostCenterModalForm"
                                             oncomplete="hidePopup('accXCredXUserEditModal'); showPopup('assignCostCenterModal');" />
					    </rich:column>
                        <rich:column>
                            <f:facet name="header">
                                <h:outputText value="Enabled:" />
                            </f:facet>       
                            <a4j:commandLink value="Disable" action="#{row.setActive(false)}" rendered="#{row.active}" immediate="true" render="axcxuCostCenters" />
                            <a4j:commandLink value="Enable" action="#{row.setActive(true)}" rendered="#{!row.active}" immediate="true" render="axcxuCostCenters" />
                        </rich:column>
					</rich:dataTable>
					<rich:dataScroller for="axcxuCostCenters" maxPages="10">
						<f:facet name="first">
							<h:outputText value="First"/>
						</f:facet>
						<f:facet name="last">
								<h:outputText value="Last"/>
						</f:facet>
					</rich:dataScroller>
				
       			<a4j:commandLink value="Add Cost Center" styleClass="btn btn-primary" immediate="true" 
       				action="#{systemUserBean.clearCurrentCostCenter()}" render="assignCostCenterModalForm"
       				oncomplete="hidePopup('accXCredXUserEditModal'); showPopup('assignCostCenterModal');" />
				</h:panelGroup>
				<h:outputText/>
   			
				<h:outputLabel value="Departments:"/>
				<h:panelGroup id="axcxuDepartmentsPanel">
					<rich:dataTable id="axcxuDepartments" value="#{forgeview:asList(systemUserBean.sortedDepartments)}" var="row" rows="10" >
						<rich:column>
					       <f:facet name="header">
					         <h:outputText value="Name:" />
					       </f:facet>
					       <h:outputText value="#{row.department.name}" />
					    </rich:column>
				
						<rich:column>
					       <f:facet name="header">
					         <h:outputText value="Edit:" />
					       </f:facet>
								<a4j:commandLink value="Edit" immediate="true" 
                                    action="#{systemUserBean.setCurrentDepartment(row)}" render="assignDepartmentModalForm"
                                    oncomplete="hidePopup('accXCredXUserEditModal'); showPopup('assignDepartmentModal');" />
					    </rich:column>
				
						<rich:column>
							<f:facet name="header">
                                <h:outputText value="Enabled:" />
                            </f:facet>
							<a4j:commandLink value="Disable" action="#{row.setActive(false)}" rendered="#{row.active}" immediate="true" render="axcxuDepartments" />
                            <a4j:commandLink value="Enable" action="#{row.setActive(true)}" rendered="#{!row.active}" immediate="true" render="axcxuDepartments" />	
					    </rich:column>
					</rich:dataTable>
					<rich:dataScroller for="axcxuDepartments" maxPages="10">
						<f:facet name="first">
							<h:outputText value="First"/>
						</f:facet>
						<f:facet name="last">
								<h:outputText value="Last"/>
						</f:facet>
					</rich:dataScroller>
				
       			<a4j:commandLink value="Add Department" styleClass="btn btn-primary" immediate="true" 
       				action="#{systemUserBean.clearCurrentDepartment()}" render="assignDepartmentModalForm"
       				oncomplete="hidePopup('accXCredXUserEditModal'); showPopup('assignDepartmentModal');" />
				</h:panelGroup>
				<h:outputText/>
   			
   			<br />
                        <h:outputLabel value="Desktops:"/>
                        <h:panelGroup>
                            <rich:dataTable id="axcxuDesktops" value="#{forgeview:asList(systemUserBean.sortedDeskTops)}" var="row" >
                                <rich:column>
                                   <f:facet name="header">
                                     <h:outputText value="Name:" />
                                   </f:facet>
                                   <h:outputText value="#{row.name}" />
                                </rich:column>

                                <rich:column>
                                   <f:facet name="header">
                                     <h:outputText value="Action:" />
                                   </f:facet>
                                   <a4j:commandLink value="Remove" action="#{systemUserBean.currentAccXCredXUser.desktops.remove(row)}" render="axcxuDesktops" />
                                </rich:column>
                            </rich:dataTable>

                            <a4j:commandLink value="Add Desktop" styleClass="btn btn-primary" immediate="true" 
                                action="#{systemUserBean.clearFields('desktopSelectionModalForm')}"
                                oncomplete="hidePopup('accXCredXUserEditModal'); showPopup('desktopSelectionModal');" />
                        </h:panelGroup>
                        <h:outputText/>
   			<br />
			<h:outputLabel value="Approver:"/>
			<h:panelGroup>
			<a4j:outputPanel id="axcxuApproverUser">
				<h:outputText value="#{systemUserBean.currentAccXCredXUser.approverUser.person.firstName} #{systemUserBean.currentAccXCredXUser.approverUser.person.lastName}" 
					rendered="#{systemUserBean.currentAccXCredXUser.approverUser != null}" />
				<h:outputText value="None Selected" 
					rendered="#{systemUserBean.currentAccXCredXUser.approverUser == null}" />
			</a4j:outputPanel>
			<a4j:commandLink value="Set Approver" styleClass="btn btn-primary" 
					onclick="#{rich:component('accXCredXUserEditModal')}.hide(); #{rich:component('approverUserModal')}.show(); return false;" />
			<a4j:commandLink value="Set to Default Approver" styleClass="btn btn-primary" render="accXCredXUserEditModalForm:axcxuApproverUser approverUserModalForm" 
					action="#{systemUserBean.setApproverToDefault()}" />
			<a4j:commandLink value="Clear Approver" styleClass="btn btn-primary" render="accXCredXUserEditModalForm:axcxuApproverUser approverUserModalForm" 
					action="#{systemUserBean.clearApprover()}" />
			</h:panelGroup>
			<h:outputText/>
   			
   			<br />
      		
      		<div class="btn-group" layout="block">
				<a4j:commandLink value="Confirm" styleClass="btn btn-primary" 
					render="work:systemUserBeanSystemUserAccountCredentials" 
					action="#{systemUserBean.saveAccXCredXUser()}"
					oncomplete="hidePopup('accXCredXUserEditModal');" />
       			<a4j:commandLink value="Cancel" styleClass="btn btn-primary" action="#{systemUserBean.clearFields('accXCredXUserEditModalForm')}" 
       				oncomplete="hidePopup('accXCredXUserEditModal');" immediate="true" />
			</div>
			
			</a4j:region>
		</h:form>
      		
	    </rich:popupPanel>
</ui:composition>