<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:apd="http://java.sun.com/jsf/composite/apd">
		<rich:popupPanel id="assignDepartmentModal" autosized="true" resizeable="false" moveable="false" domElementAttachment="parent">
		
		<h:form id="assignDepartmentModalForm">
			<a4j:region>
			<f:facet name="header">
				<h:outputText value="Edit Department Relationship" />
   			</f:facet>
   			<f:facet name="controls">
       			<a4j:commandLink value="X" style="cursor:pointer" action="#{systemUserBean.clearFields('assignDepartmentModalForm')}" 
       				oncomplete="hidePopup('assignDepartmentModal'); showPopup('accXCredXUserEditModal');" immediate="true" />
   			</f:facet>
   			
				<h:outputLabel value="Departments:"/>
				<h:panelGroup>
					<h:panelGroup rendered="#{systemUserBean.currentDepartment.department != null}">
						<h:outputText value="#{systemUserBean.currentDepartment.department.name}" />
					</h:panelGroup>
					<h:panelGroup rendered="#{systemUserBean.currentDepartment.department == null}">
						<h:outputText value="None Selected" />
					</h:panelGroup>
				
	       			<a4j:commandLink value="Set Department" styleClass="btn btn-primary" immediate="true" 
	       				action="#{systemUserBean.clearFields('departmentSelectionModalForm')}"
	       				oncomplete="hidePopup('assignDepartmentModal'); showPopup('departmentSelectionModal');" />
				</h:panelGroup>
				<h:outputText/>
   			
				<h:outputLabel value="Recipient Emails:"/>
				<h:inputText value="#{systemUserBean.currentDepartment.recipientsEmails}" />
				<h:outputText/>
   			
				<h:outputLabel value="Recipient Names (for reference only):"/>
				<h:inputText value="#{systemUserBean.currentDepartment.recipientsNames}" />
				<h:outputText/>
				
   			
   			<br />
      		
      		<div class="btn-group" layout="block">
				<a4j:commandLink value="Confirm" styleClass="btn btn-primary" 
					render="accXCredXUserEditModalForm:axcxuDepartmentsPanel assignDepartmentModalForm" 
					action="#{systemUserBean.currentAccXCredXUser.departments.add(systemUserBean.currentDepartment)}"
					oncomplete="hidePopup('assignDepartmentModal'); showPopup('accXCredXUserEditModal');" />
       			<a4j:commandLink value="Cancel" styleClass="btn btn-primary" action="#{systemUserBean.clearFields('assignDepartmentModalForm')}" 
       				oncomplete="hidePopup('assignDepartmentModal'); showPopup('accXCredXUserEditModal');" immediate="true" />
			</div>
			
			</a4j:region>
		</h:form>
      		
	    </rich:popupPanel>
</ui:composition>