<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:apd="http://java.sun.com/jsf/composite/apd">

		<rich:popupPanel id="limitApprovalEditModal" autosized="true" resizeable="false" moveable="false" domElementAttachment="parent">
		
		<h:form id="limitApprovalEditModalForm">
			<a4j:region>
			<f:facet name="header">
				<h:outputText value="Edit Limit Approval" />
   			</f:facet>
   			<f:facet name="controls">
       			<a4j:commandLink value="X" style="cursor:pointer" action="#{systemUserBean.clearFields('limitApprovalEditModalForm')}" 
       				oncomplete="hidePopup('limitApprovalEditModal'); showPopup('accXCredXUserEditModal');" immediate="true" />
   			</f:facet>
   			
				<h:outputLabel value="Approval Type:"/>
				<h:selectOneMenu id="limitApprovalType" value="#{systemUserBean.currentLimitApproval.type}">
					<f:selectItems value="#{systemUserBean.currentLimitApproval.types}" />
				</h:selectOneMenu>
				<h:outputText/>
					
				<h:outputLabel value="Approval Limit:"/>
				<h:inputText value="#{systemUserBean.currentLimitApproval.limit}" >
					<f:validateDoubleRange minimum="0.0" />
				</h:inputText>
				<h:outputText/>
				
				<h:outputLabel value="SKU:"/>
				<h:inputText value="#{systemUserBean.currentLimitApproval.value}" >
				</h:inputText>
				<h:outputText/>

   			<br />
      		
      		<div class="btn-group" layout="block">
				<a4j:commandLink value="Confirm" styleClass="btn btn-primary" 
					render="axcxuLimitApprovals" 
					action="#{systemUserBean.saveLimitApproval()}"
					oncomplete="hidePopup('limitApprovalEditModal'); showPopup('accXCredXUserEditModal');" />
       			<a4j:commandLink value="Cancel" styleClass="btn btn-primary" action="#{systemUserBean.clearFields('limitApprovalEditModalForm')}" 
       				oncomplete="hidePopup('limitApprovalEditModal'); showPopup('accXCredXUserEditModal');" immediate="true" />
			</div>
			
			</a4j:region>
		</h:form>
      		
	    </rich:popupPanel>
</ui:composition>