<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:apd="http://java.sun.com/jsf/composite/apd">
		<rich:popupPanel id="roleModal" autosized="true" resizeable="false" moveable="false" domElementAttachment="parent">
		
		<h:form id="roleModalForm">
			<a4j:region>
			<f:facet name="header">
				<h:outputText value="Add Role" />
   			</f:facet>
   			<f:facet name="controls">
       			<a4j:commandLink value="X" style="cursor:pointer" onclick="#{rich:component('roleModal')}.hide(); return false;" />
   			</f:facet>
   			
   			<a4j:outputPanel id="roleSearchRegion">
				<apd:search searchBean="#{roleSearchBean}" detailsRegion="roleModalForm" 
						searchRegion="roleSearch" requireSelection="true" />
      		</a4j:outputPanel>
			<h:panelGrid columns="3">
				<h:outputLabel for="roleStartDate" value="Start Date:"/>
				<h:panelGroup>
					<rich:calendar id="roleStartDate" value="#{bean.currentRole.startDate}" />
					<h:message for="roleStartDate" styleClass="error"/>
				</h:panelGroup>
				<h:outputText/>
		
				<h:outputLabel for="roleExpirationDate" value="Expiration Date:"/>
				<h:panelGroup>
					<rich:calendar id="roleExpirationDate" value="#{bean.currentRole.expirationDate}" />
					<h:message for="roleExpirationDate" styleClass="error"/>
				</h:panelGroup>
				<h:outputText/>
			</h:panelGrid>
			<div class="btn-group" layout="block">
				<a4j:commandLink value="Confirm" styleClass="btn btn-primary" 
					render="#{render}:roleDisplay roleModalForm" 
					action="#{bean.addRole()}"
					oncomplete="hidePopup('roleModal');" />
				<a4j:commandLink value="Cancel" styleClass="btn btn-primary" immediate="true" 
					render="roleModalForm"
					action="#{bean.createRole()}"
					oncomplete="hidePopup('roleModal');" />
			</div>
			
			</a4j:region>
		</h:form>
      		
	    </rich:popupPanel>
</ui:composition>