<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view">
	
	<h:outputLabel for="roleDisplay" value="Roles:"/>
	<h:panelGroup>
		<a4j:region>
		<rich:extendedDataTable id="roleDisplay" value="#{roleList}" var="row" >
			<rich:column>
		       <f:facet name="header">
		         <h:outputText value="Name:" />
		       </f:facet>
		       <h:outputText value="#{row.role.name}" />
		    </rich:column>

			<rich:column>
		       <f:facet name="header">
		         <h:outputText value="Start Date:" />
		       </f:facet>
		       <h:outputText value="#{row.startDate}" />
		    </rich:column>


			<rich:column>
		       <f:facet name="header">
		         <h:outputText value="Expiration Date:" />
		       </f:facet>
		       <h:outputText value="#{row.expirationDate}" />
		    </rich:column>

                    <rich:column>
                        <f:facet name="header">
                            <h:outputText value="Edit:" />
                        </f:facet>
                        <a4j:commandLink 
                            id="editRole" 
                            value="Edit"
                            execute="@this"
                            immediate="true"
                            action="#{bean.setCurrentRole(row)}"
                            render=":roleModal :roleModalForm"
                            oncomplete="showPopup('roleModal');">
                            <a4j:param name="cid"
                                       value="#{javax.enterprise.context.conversation.id}" />
                        </a4j:commandLink>
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">
                            <h:outputText value="Delete:" />
                        </f:facet>
                        <a4j:commandLink value="Delete" action="#{bean.removeRole(row)}" render="#{render}:roleDisplay" />
                    </rich:column>

		</rich:extendedDataTable>
		</a4j:region>
			
		
		<a4j:region>
			<a4j:commandLink 
				id="addRole" 
				value="Add Role"
				styleClass="btn btn-primary"
				execute="@this"
				immediate="true"
				action="#{bean.createRole()}"
				render=":roleModal :roleModalForm"
				oncomplete="showPopup('roleModal');">
				<a4j:param name="cid"
					value="#{javax.enterprise.context.conversation.id}" />
			</a4j:commandLink>
		</a4j:region>
		
	</h:panelGroup>
	<h:outputText/>
	
</ui:composition>