<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:apd="http://java.sun.com/jsf/composite/apd">

	<a4j:region>
		<a4j:outputPanel ajaxRendered="true" id="severityPanel">
		 <h:form style="display:none" prependId="false">
		 <h:inputHidden id="maximumSeverity" value="#{facesContext.maximumSeverity}"/>
	 	 </h:form>
	 	</a4j:outputPanel>
		<rich:messages ajaxRendered="true" for="userAccountCredentialPane" styleClass="error" />
      	<rich:popupPanel id="userAccountCredentialPane" modal="true" autosized="false" minHeight="550" minWidth="350"
      					binding="#{systemUserBean.component}" domElementAttachment="parent">
			<h:form id="userCredentialModalForm">
				   	<h:panelGroup id="credentialPanel">
				   		<h:outputLabel value="Account" />
						<h:selectOneMenu converter="#{systemUserBean.accountConverter}" value="#{systemUserBean.account}" id="systemUserBeanSelectAccount">
							<f:selectItem/>
							<f:selectItems value="#{systemUserBean.systemUser.accounts}" 
								var="account" itemValue="#{account}" itemLabel="#{account.name}" />
							<f:ajax event="change" execute="@this userCredentialModalForm:credentialPanel userCredentialModalForm:credentialModalSearchForAccount" render="@this userCredentialModalForm:credentialPanel userCredentialModalForm:credentialModalSearchForAccount" />
						</h:selectOneMenu>
						<h:outputText/>
						<h:panelGroup id="credentialModalSearchForAccount" rendered="#{systemUserBean.account != null}" >
						<rich:dataTable value="#{systemUserBean.credential}" var="row">
							<rich:column>
								<h:outputText value="Credential" />
							</rich:column>
							<rich:column>
								<h:inputText id="axcxuCredentialSearch" value="#{row.name}" />
								<rich:messages for="axcxuCredentialSearch" />
							</rich:column>
					        <f:facet name="footer">
								<a4j:commandLink value="Search" render="credentialPanel" 
									action="#{systemUserBean.findAccountCredentials}" />
					        </f:facet>
						</rich:dataTable>
						<rich:extendedDataTable id="systemUserBeanCredential" 
								value="#{forgeview:asList(systemUserBean.accountCredentials)}" 
								var="row" style="height:300px;">
							<rich:column>
						       <f:facet name="header">
						         <h:outputText value="Account" />
						       </f:facet>
						       <h:outputText value="#{row.rootAccount.name}" />
						    </rich:column>
							<rich:column>
						       <f:facet name="header">
						         <h:outputText value="Credential" />
						       </f:facet>
						       <h:outputText value="#{row.name}" />
						    </rich:column>
							<rich:column>
						       <f:facet name="header">
						         <h:outputText value="Action" />
						       </f:facet>
						       
						       <h:panelGroup rendered="#{systemUserBean.canAddCredential(row)}">
							       <a4j:commandLink value="Add"
							       		action="#{systemUserBean.addAccountXCredential(row)}" 
							       		oncomplete="if (#{empty facesContext.maximumSeverity}) #{rich:component('userAccountCredentialPane')}.hide()"
							       		render="systemUserBeanSystemUserAccountCredentials" />
						       	</h:panelGroup>
						       <h:panelGroup rendered="#{not systemUserBean.canAddCredential(row)}">
							       <h:outputText value="#{systemUserBean.cantAddCredentialMessage(row)}"/>
						       	</h:panelGroup>
						    </rich:column>
						</rich:extendedDataTable>
						</h:panelGroup>
		    		</h:panelGroup>
				       <a4j:commandLink value="Cancel" styleClass="btn btn-primary" 
				       	onclick="#{rich:component('userAccountCredentialPane')}.hide()" />
			</h:form>
		</rich:popupPanel>
    </a4j:region>
</ui:composition>