<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:apd="http://java.sun.com/jsf/composite/apd">
		<rich:popupPanel id="userPasswordModal" autosized="true" resizeable="false" moveable="false" domElementAttachment="parent">
		
		<h:form id="userPasswordModalForm">
			<a4j:region>
			<f:facet name="header">
				<h:outputText value="Change Password" />
   			</f:facet>
   			<f:facet name="controls">
       			<a4j:commandLink value="X" style="cursor:pointer" onclick="#{rich:component('userPasswordModal')}.hide(); return false;" />
   			</f:facet>

			<div class="row-fluid">
				<div class="span4">
					<h:outputLabel for="newPasswordBox" value="New Password:"/>
				</div>
				<div class="span8">
					<h:inputSecret id="newPasswordBox" value="#{bean.plaintextPassword}"
						required="true" requiredMessage="Please enter a password." />
					<h:message for="newPasswordBox" styleClass="error" style="color:red" />
				</div>
				<h:outputText/>
			</div>
			<div class="row-fluid">
				<div class="span4">
					<h:outputLabel for="confirmBox" value="Confirm Password:"/>
				</div>
				<div class="span8">
					<h:inputSecret id="confirmBox" value="#{bean.confirmPassword}"
						required="true" requiredMessage="Please enter the password again." />
					<h:message for="confirmBox" styleClass="error" style="color:red" />
				</div>
				<h:outputText/>
			</div>
			<div class="btn-group" layout="block">
				<a4j:commandLink value="Confirm" styleClass="btn btn-primary" 
					render="userPasswordModalForm :systemUserBeanSystemUserChangePassword" 
					execute="@region"
					action="#{bean.storeNewPassword('userPasswordModalForm:confirmBox')}"
					oncomplete="hidePopup('userPasswordModal');" />
				<a4j:commandLink value="Cancel" styleClass="btn btn-primary" immediate="true" 
					render="userPasswordModalForm"
					action="#{bean.getPlaintextPassword()}"
					oncomplete="hidePopup('userPasswordModal');" />
			</div>
			
			</a4j:region>
		</h:form>
      		
	    </rich:popupPanel>
</ui:composition>