<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">

			<h:outputLabel for="systemUserBeanSystemUserAccountCredentials" value="Credentials:"/>
			<ui:param name="credentialCollection" value="#{systemUserBean.existingAccountXCredential}"/>
			<h:panelGroup id="panelGroup_2">
				<rich:dataTable id="systemUserBeanSystemUserAccountCredentials" styleClass="data-table" value="#{forgeview:asList(systemUserBean.existingAccountXCredentialXUser)}" var="credentialItem">
					<rich:column>
						<f:facet name="header">Account</f:facet>
						<h:outputText style="#{credentialItem.active ? '' : 'text-decoration:line-through'}" value="#{credentialItem.account.name}"/>
					</rich:column>
					<rich:column>
						<f:facet name="header">Credential</f:facet>
						<h:outputText style="#{credentialItem.active ? '' : 'text-decoration:line-through'}" value="#{credentialItem.credential.name}">
						</h:outputText>
					</rich:column>
                                    <rich:column>
                                        <f:facet name="header">
                                            <h:outputText value="Edit" />
                                        </f:facet>
                                        <a4j:commandLink value="Edit" action="#{systemUserBean.setCurrentAccXCredXUser(credentialItem)}"
                                                         oncomplete="showPopup('accXCredXUserEditModal');" immediate="true"
                                                         render=":accXCredXUserEditModal :accXCredXUserEditModalForm" />
                                    </rich:column>
                                    <rich:column>
                                        <f:facet name="header">
                                            <h:outputText value="Enabled" />
                                        </f:facet>
                                        <a4j:commandLink value="Disable" rendered="#{credentialItem.active}" action="#{credentialItem.setActive(false)}" 
                                                         render="systemUserBeanSystemUserAccountCredentials" immediate="true" />
                                        <a4j:commandLink value="Enable" rendered="#{not credentialItem.active}" action="#{credentialItem.setActive(true)}" 
                                                         render="systemUserBeanSystemUserAccountCredentials" immediate="true" />
                                    </rich:column>
				</rich:dataTable>
		        <a4j:commandLink value ="Add Credential" styleClass="btn btn-primary" render="userAccountCredentialPane" oncomplete="#{rich:component('userAccountCredentialPane')}.show()"></a4j:commandLink>
			</h:panelGroup>
			<h:outputText/>

</ui:composition>