<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:rich="http://richfaces.org/rich" xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view"
	template="/WEB-INF/layout/administrationTemplate.xhtml">
	
<ui:define name="main">
	<h:message />
	<div class="tab-pane fade in active" id="bulkPOs">
        <h:form id="bulk" rendered="#{orderDetailsBean.isTechSupport()}">
            <div class="row apdMarginTop container">
            <div class="row-fluid">
                <div class="span12 fl-wrapper">
                    <div class="clearfix"></div>
           			<h:outputLabel for="userInput" value="APD POs (maximum recommended is 25)"/>
					<h:inputText id="userInput" value="#{orderDetailsBean.bulkUpdateApdPos}" immediate="true" />
					<br />
					<a4j:commandLink render="checkout" value="Submit" styleClass="btn"
						action="#{orderDetailsBean.submitBulkPos()}" />
					<a4j:commandLink render="checkout" value="Resend Bulk POs" styleClass="btn"
						action="#{orderDetailsBean.resendBulkPoAcks()}" />
                </div>          
				
            </div>
           </div>
        </h:form>
	</div>
	<div class="tab-pane fade in active" id="bulkInvoices">
        <h:form id="bulkInvoiceForm" rendered="#{orderDetailsBean.isTechSupport()}">
            <div class="row apdMarginTop container">
            <div class="row-fluid">
                <div class="span12 fl-wrapper">
                    <div class="clearfix"></div>
           			<h:outputLabel for="userInvoiceInput" value="Invoice Numbers to Regenerate and Resend (maximum recommended is 25)"/>
					<h:inputText id="userInvoiceInput" value="#{orderDetailsBean.bulkUpdateInvoiceNumbers}" immediate="true" />
					<br />
					<a4j:commandLink value="Submit" styleClass="btn"
						action="#{orderDetailsBean.resendBulkInvoices()}"
						render="bulkInvoiceErrorMessage" />
                </div>
                <h:outputText id="bulkInvoiceErrorMessage" value="#{orderDetailsBean.displayBulkInvoiceErrorMessages()}" />
            </div>
           </div>
        </h:form>
	</div>
</ui:define>
</ui:composition>