<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
				
			<c:if test="#{propertiesBean.get('project.state', 'isPreRelease', 'false') eq 'true'}">
				<h:outputLabel for="costCenterBeanCostCenterId" value="System ID:"/>
				<h:outputText id="costCenterBeanCostCenterId" value="#{costCenterBean.costCenter.id}"/>
				<h:outputText/>
			</c:if>

			<h:outputLabel for="costCenterBeanCostCenterName" value="Name:"/>
			<h:panelGroup>
				<h:inputText id="costCenterBeanCostCenterName" value="#{costCenterBean.costCenter.name}"
					required="true" requiredMessage="#{validation['field.name.required']}"/>
				<rich:message for="costCenterBeanCostCenterName" styleClass="error"/>
			</h:panelGroup>
			<h:outputText/>
			
			<h:outputLabel for="costCenterBeanCostCenterNumber" value="Number:"/>
			<h:panelGroup>
				<h:inputText id="costCenterBeanCostCenterNumber" value="#{costCenterBean.costCenter.number}"
					required="true" requiredMessage="Number is a required field. "/>
				<rich:message for="costCenterBeanCostCenterNumber" styleClass="error"/>
			</h:panelGroup>
			<h:outputText/>
			
			<h:outputLabel for="costCenterBeanCostCenterDescription" value="Description:"/>
			<h:panelGroup>
				<h:inputText id="costCenterBeanCostCenterDescription" value="#{costCenterBean.costCenter.description}"/>
				<rich:message for="costCenterBeanCostCenterDescription" styleClass="error"/>
			</h:panelGroup>
			<h:outputText/>
	
			<h:outputLabel for="costCenterBeanCostCenterSpendingLimit" value="Spending Limit:"/>
			<h:panelGroup>
				<h:inputText id="costCenterBeanCostCenterSpendingLimit" value="#{costCenterBean.costCenter.spendingLimit}"
                                             validatorMessage="Please enter a valid number."
                                             converterMessage="Please enter a valid number.">
                                    <f:converter converterId="javax.faces.Double" />
                                    <f:validateDoubleRange minimum="0"/>
                                </h:inputText> 
				<rich:message for="costCenterBeanCostCenterSpendingLimit" styleClass="error"/>
			</h:panelGroup>
			<h:outputText/>
	
			<h:outputLabel for="costCenterBeanCostCenterTotalSpent" value="Total Spent:"/>
			<h:panelGroup>
				<h:inputText id="costCenterBeanCostCenterTotalSpent" value="#{costCenterBean.costCenter.totalSpent}"
                                             validatorMessage="Please enter a valid number."
                                             converterMessage="Please enter a valid number.">
                                    <f:converter converterId="javax.faces.Double" />
                                    <f:validateDoubleRange minimum="0"/>
                                </h:inputText>
				<rich:message for="costCenterBeanCostCenterTotalSpent" styleClass="error"/>
			</h:panelGroup>
			<h:outputText/>
	
			<h:outputLabel for="costCenterBeanCostCenterPeriodType" value="Spending Period:"/>
			<h:panelGroup>
		       <h:selectOneMenu id="costCenterBeanCostCenterPeriodType" value="#{costCenterBean.costCenter.period}"
		       		converter="#{periodTypeBean.converter}">
			    		<f:selectItem itemLabel="Select..." noSelectionOption="true"/>
		   			<f:selectItems value="#{periodTypeBean.all}"
		   				 var="type" itemValue="#{type}" itemLabel="#{type.name}" />
		   		</h:selectOneMenu>
			</h:panelGroup>
			<h:outputText/>

</ui:composition>