
#productAction {
    min-height:100px;
    max-height:100px;
    height:100px; 
    line-height:100px;
}
#productAction a:visited {
    color: #FFF;
}



#result-table .actions .qty-label {
	width:40px;
}

.qty input {
	width:25px;
	margin: 2px 5px 2px 0px;
}

.actions button {
	margin: 20px 0 0 5px;
}

#result-table .qty {
	width:65px;
}

#result-table .actions > * {
	float:left;
}

.qty > * {
	float:left;
}

.product-info {
	width:60%;
	float:left;
}

.price-per-unit {
	width:20%;
	float:left;
}

.units {
	width:20%;
	float:left;
}

.row-fluid.item {
	border-bottom: 1px solid #CCC;
	margin: 0 0 20px 0;
	padding: 0 0 20px 0;
}

.row-fluid.item img {
	display:block;
	margin:auto;
}

.header {
	font-size: 16px;
	font-weight: bold;
}

.item .title {
	font-weight:bold;
	font-size:16px;
}