#ink-toner-container, .ink-toner-menu {
    width: 100%;
}

#ink-toner-container h3 {
    margin-bottom: 15px;
    line-height: 1em;
    font-size: 18.5px;
}

#ink-toner-container .smallBtn {
    margin: 0px 0;
}

#ink-toner-container {
    padding: 8px;
}

#brandSelectForm {
    margin: 0 0 0px;
}