<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/WEB-INF/layout/logs/logsTemplate.xhtml">
	<ui:define name="logsMain">
		<ui:include src="/WEB-INF/layout/defaultWorkArea.xhtml" />
	</ui:define>
</ui:composition>