<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:apd="http://java.sun.com/jsf/composite/apd">

	<div class="row-fluid"  style="width: 1500px;">
	       <div class="span1">
	           <label>Vendor</label>
	       </div>
	       <div class="span1">
	           <label>SKU</label>
	       </div>
	       <div class="span1">
	           <label>Category</label>
	       </div>
	       <div class="span1">
	           <label>Description</label>
	       </div>
	       <div class="span1">
	           <label>UNSPSC</label>
	       </div>
	       <div class="span1">
	           <label>Quantity</label>
	       </div>
	       <div class="span1">
	           <label>UOM</label>
	       </div>
	       <div class="span1">
	           <label>Unit Price</label>
	       </div>
                <div class="span1">
	           <label>Unit Cost</label>
	       </div>
	       <div class="span1">
	           <label>Merch Total</label>
	       </div>
	       <div class="span1">
	           <label>Shipping</label>
	       </div>
	       <div class="span1">
	           <label>Taxable</label>
	       </div>
	       <div class="span1">  
	       	<label>Actions</label>
	       </div>
   	</div>
	<h:panelGroup id="orderItems">
		<a4j:repeat value="#{forgeview:asList(manualOrderBean.currentOrder.items)}" var="item">
 		<div class="row-fluid" style="width: 1500px;">
          <div class="span1">
              <h:outputText value="#{item.vendor.name}" />
          </div>
          <div class="span1">
              <h:outputText value="#{item.supplierPartId}" />
          </div>
          <div class="span1">
              <h:outputText value="#{item.category.name}" />
          </div>
          <div class="span1">
              <h:outputText value="#{item.description}" />
          </div>
          <div class="span1">
              <h:outputText value="#{item.unspscClassification}" />
          </div>
          <div class="span1">
              <h:outputText value="#{item.quantity}" />
          </div>
          <div class="span1">
              <h:outputText value="#{item.unitOfMeasure.name}" />
          </div>
          <div class="span1">
              <h:outputText value="#{item.unitPrice}">
                  <f:convertNumber type="currency" currencySymbol="$" />
              </h:outputText>
          </div>
          <div class="span1">
              <h:outputText value="#{item.cost}">
                  <f:convertNumber type="currency" currencySymbol="$" />
              </h:outputText>
          </div>
          <div class="span1">
              <h:outputText value="#{item.totalPrice}">
                  <f:convertNumber type="currency" currencySymbol="$" />
              </h:outputText>
          </div>
          <div class="span1">
	          <h:outputText value="#{item.estimatedShippingAmount}">
	              <f:convertNumber type="currency" currencySymbol="$" />
	          </h:outputText>
          </div>
          <div class="span1">
              <h:outputText value="#{item.taxable ? 'yes' : 'no'}" />
          </div>
          <div class="span1">  
          	<a4j:commandLink immediate="true" value="Remove" render="orderItems"
          		styleClass="btn" action="#{manualOrderBean.removeLineItem(item)}" />
           </div>
        </div>
		</a4j:repeat>
	</h:panelGroup>
	<script>
	// 	not sure why this isn't working; element resolves to null
		function resetForm() {
			document.getElementById("checkout:itemForm").reset();
	
		}
	</script>
</ui:composition>