<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:apd="http://java.sun.com/jsf/composite/apd">
	
	<f:metadata>
		<f:event listener="#{manualOrderBean.newItem()}" type="postAddToView"></f:event>
	</f:metadata>
		<h:panelGroup id="itemForm">
			<a4j:region>
			<f:facet name="header">
				<h:outputText value="Add Item" />
   			</f:facet>
   			<f:facet name="controls">
       			<a4j:commandLink value="X" style="cursor:pointer" onclick="hidePopup('itemModal');" immediate="true" />
   			</f:facet>
   			
   			<div class="row-fluid" style="width: 1500px;">
   				<div class="span1">
   					<label>Vendor</label>
					<h:selectOneMenu id="lineItemVendor" value="#{manualOrderBean.currentItem.vendor}"
						converter="#{manualOrderBean.vendorConverter}" styleClass="span12">
							<f:selectItem itemLabel="Select..." noSelectionOption="true"/>
						<f:selectItems value="#{manualOrderBean.allVendors}"
							var="vendor" itemValue="#{vendor}" itemLabel="#{vendor.name}" />
					</h:selectOneMenu>
   				</div>
   				<div class="span1">
   					<label>SKU</label>
   					<h:inputText value="#{manualOrderBean.currentItem.supplierPartId}" styleClass="span12" />
   				</div>
   				<div class="span1">
   					<label>Category</label>
					<h:selectOneMenu id="lineItemCategory" value="#{manualOrderBean.currentItem.category}"
						converter="#{manualOrderBean.categoryConverter}" styleClass="span12">
							<f:selectItem itemLabel="Select..." noSelectionOption="true"/>
						<f:selectItems value="#{manualOrderBean.allCategories}"
							var="category" itemValue="#{category}" itemLabel="#{category.name}" />
					</h:selectOneMenu>	
   				</div>
   				<div class="span2">
   					<label>Description</label>
   					<h:inputText id="descriptionInput" value="#{manualOrderBean.currentItem.description}" styleClass="span12">
   					</h:inputText>
   					<rich:message for="descriptionInput"></rich:message>
   				</div>
   				<div class="span2">
   					<label>UNSPSC Code</label>
   					<h:inputText id="unspscInput" value="#{manualOrderBean.currentItem.unspscClassification}" styleClass="span12">
   					</h:inputText>
   					<rich:message for="unspscInput"></rich:message>
   				</div>
   				<div class="span1">
   					<label>Quantity</label>
   					<h:inputText value="#{manualOrderBean.currentItem.quantity}" styleClass="span12" />
   				</div>
   				<div class="span1">
   					<label>UOM</label>
					<h:selectOneMenu id="lineItemUom" value="#{manualOrderBean.currentItem.unitOfMeasure}"
						converter="#{manualOrderBean.unitOfMeasureConverter}" styleClass="span12">
							<f:selectItem itemLabel="Select..." noSelectionOption="true"/>
						<f:selectItems value="#{manualOrderBean.allUnitsOfMeasure}"
							var="uom" itemValue="#{uom}" itemLabel="#{uom.name}" />
					</h:selectOneMenu>
					<rich:message for="lineItemUom"></rich:message>
   				</div>
   				<div class="span1">
   					<label>Unit Price</label>
   					$<h:inputText id="unitPriceInput" value="#{manualOrderBean.currentItem.unitPrice}" styleClass="span9" />
   					<rich:message for="unitPriceInput"></rich:message>
   				</div>
                                <div class="span1">
   					<label>Unit Cost</label>
   					$<h:inputText id="unitCostInput" value="#{manualOrderBean.currentItem.cost}" styleClass="span9" required="true" />
   					<rich:message for="unitCostInput"></rich:message>
   				</div>
   				<div class="span1">
   					<label>Shipping</label>
   					$<h:inputText value="#{manualOrderBean.currentItem.estimatedShippingAmount}" styleClass="span9" />
   				</div>
   				<div class="span1">
   					<label>Taxable</label>
					<h:selectOneMenu id="lineItemTaxable" value="#{manualOrderBean.itemTaxable}" required="true"
						requiredMessage="Taxable status is required" >
						<f:selectItems value="#{manualOrderBean.taxableTypes}" />
					</h:selectOneMenu>
   				</div>
   			</div>
			
			<div class="btn-group" layout="block">
				<a4j:commandLink value="Add to Order" styleClass="btn btn-apd" 
					render=":checkout:orderItems :checkout:itemForm" 
					action="#{manualOrderBean.addItemToOrder(manualOrderBean.currentItem)}" />
			</div>
			
			</a4j:region>
		</h:panelGroup>
</ui:composition>