<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:apd="http://java.sun.com/jsf/composite/apd">
	
		
           		<div class="row-fluid">
                    <div class="span6">
                        <label>Line 1</label>
                        <h:inputText value="#{manualOrderBean.order.address.line1}" />
                    </div>
                    <div class="span6">  
                    </div>
           		</div>
           		<div class="row-fluid">
                    <div class="span6">
                        <label>Line 2</label>
                        <h:inputText value="#{manualOrderBean.order.address.line2}" />
                    </div>
                    <div class="span6">  
                    </div>
           		</div>
           		<div class="row-fluid">
                    <div class="span6">
                        <label>City</label>
                        <h:inputText value="#{manualOrderBean.order.address.city}" />
                    </div>
                    <div class="span6">  
                        <label>State</label>
                        <h:inputText value="#{manualOrderBean.order.address.state}" />
                    </div>
           		</div>
           		<div class="row-fluid">
                    <div class="span6">
                        <label>Zip</label>
                        <h:inputText value="#{manualOrderBean.order.address.zip}" />
                    </div>
                    <div class="span6">  
                        <label>Country</label>
                        <h:inputText value="#{manualOrderBean.order.address.country}" />
                    </div>
           		</div>
           		<h:panelGroup id="extraAddressFields">
            		<a4j:repeat value="#{forgeview:asList(manualOrderBean.order.address.fields)}" var="field">
	            		<div class="row-fluid">
	            			<div class="span12"><hr/></div>
	            		</div>
	            		<div class="row-fluid">
		                    <div class="span6">
		                        <label>#{field.type.name}</label>
		                        <h:inputText value="#{field.value}" immediate="true" />
		                    </div>
		                    <div class="span6">  
		                    	<a4j:commandLink immediate="true" value="Remove" render="extraAddressFields"
		                    		action="#{manualOrderBean.order.address.fields.remove(field)}" />
		                    </div>
	            		</div>
            		</a4j:repeat>
            		<div class="row-fluid">
            			<div class="span12"><hr/></div>
            		</div>
            		<div class="row-fluid">
            			<a4j:commandLink 
							id="addField" 
							value="Add Field"
							styleClass="btn btn-apd"
							execute="@this"
							immediate="true"
							action="#{manualOrderBean.clearSelectedField()}"
							render=":fieldModal :fieldModalForm"
							oncomplete="showPopup('fieldModal');">
						</a4j:commandLink>
            		</div>
           		</h:panelGroup>
	
</ui:composition>