<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                template="ecommerceMainTemplate.xhtml">

   
    <ui:define name="template-js">
    	<script>
                $.idleTimeout('#idletimeout', '#idletimeout a', {
                idleAfter: 1200,
                pollingInterval: 240,
                keepAliveURL: '/shopping/poll',
                serverResponseEquals: 'OK',
                onTimeout: function(){
                $(this).slideUp();
                logoutUser();
                },
                onIdle: function(){
                $(this).slideDown(); // show the warning bar
                },
                onCountdown: function( counter ){
                $(this).find("span").html( counter ); // update the counter
                },
                onResume: function(){
                $(this).slideUp(); // hide the warning bar
                }
                });
            </script>
    </ui:define>
</ui:composition>