<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <h:head>
        <title>#{display['error.title']}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <h:outputStylesheet name="css/bootstrap/bootstrap.css" />
        <h:outputStylesheet name="css/bootstrap/bootstrap-responsive.css" />
        <h:outputStylesheet name="css/main/ecommerce.css" />
        <h:outputStylesheet name="css/main/ecommerce-responsive.css" />
		<h:outputStylesheet name="css/fonts/stylesheet.css" />
		<ui:include src="../../WEB-INF/templates/dynamicCss.xhtml" />
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width"/>
    </h:head>
    <h:body>
    <div id="bodyWrapper">
        <div class="containerFull">
            <div class="apd-container">  
                <div id="header" class="navbar navbar-fluid container">
                    <a href="#{linksBean.home}"><img height="50" src="#{propertiesBean.get('aws.integration','content.service.secure.domain')}/images/APD-logo.png" width="201"/></a>
                </div>
		    	<script type="text/javascript">
					function dateTime() {
						var currentdate = new Date();
						return "" + currentdate.getFullYear() + "-" + (currentdate.getMonth() + 1) + "-" + currentdate.getDate() 
						+ " " + currentdate.getHours() + ":" + currentdate.getMinutes() + ":" + currentdate.getSeconds();
					}
		    	</script>
                <h2>#{display['error.header']}</h2>
                <h3 style="color: #555555"><strong>#{display['error.body']}</strong></h3>

                <div id="header" class="navbar navbar-fluid container">
                    		<a href="#{linksBean.home}" class="errorLink">Click Here for Login Page</a>
                </div>

		        <h3 style="color: #555555"><strong>#{display['error.timestamp']} 
		        	<script type="text/javascript">
					    document.write(dateTime())
					</script>
				</strong></h3>
				<h4>
					#{linksBean.hostName}
				</h4>
            </div>
        </div>
	</div>
    </h:body>
    <h:outputScript library="js" name="jquery-2.0.2.min.js" />
    <h:outputScript library="js" name="bootstrap.js" />
    <h:outputScript library="js" name="jquery.backstretch.min.js" />
    <!--          [if lt IE 9]>
                            <script src="/shopping/resources/js/html5shiv.js"></script>
                            <script src="/shopping/resources/js/html5shiv-printshiv.js"></script>
                    <![endif]
              
              [if lte IE 8]>
              <link rel="stylesheet" href="/shopping/resources/css/ie8_below.css">
              <![endif]-->
    <script>
        $.backstretch("#{propertiesBean.get('aws.integration','content.service.secure.domain')}/images/background/apd-Background.jpg");
    </script>
    <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	 
	  ga('create', 'UA-53858657-1', 'auto');
	  ga('send', 'pageview');
		 
	</script>
</html>
