<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"	
                xmlns:forgeview="http://jboss.org/forge/view"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:apd="http://java.sun.com/jsf/composite/apd"
                template="/WEB-INF/templates/ecommerceCashoutTemplate.xhtml">

    <f:metadata>
        <f:event type="preRenderView" listener="#{cashoutBeanRetrieveWrapper.retrieve}">
        </f:event>
    </f:metadata>

    <ui:define name="page_content">
        <h:form id="checkout">
            <div class="row apdMarginTop container">
            <div class="row-fluid">
                <div class="span12 fl-wrapper">
                    <div class="span6">
                        <h3>#{display['checkout.title']}#{cashoutBean.currentOrder.apdPo.value}</h3>
                    </div>

                    <div class="shoppingBtns pull-right">

                        <div class="borderBottomMobile rightSideBtn">
                        	<c:if test="#{!credentialSelectionBean.isExternalCatalog()}">
                            	<a href="#{linksBean.cart}"><i class="icon-returnAPD"></i>#{display['checkout.return']}</a>
                            </c:if>
                            <c:if test="#{credentialSelectionBean.isExternalCatalog() and !credentialSelectionBean.punchoutSession}">
	                            <a href="#{linksBean.punchoutContinueShopping}" target="#{credentialSelectionBean.isExternalCatalog() ? '_parent' : '_self'}"><i class="icon-returnAPD"></i>#{cashoutBean.generatePunchoutContinueLabel()}</a>
	                            <ui:remove><a href="#{linksBean.punchoutEditOrder}" target="#{credentialSelectionBean.isExternalCatalog() ? '_parent' : '_self'}"><i class="icon-returnAPD"></i>#{cashoutBean.generatePunchoutEditLabel()}</a></ui:remove>
                            </c:if>
                        </div>
                        <div class="borderBottomMobile rightSideBtn mobileHide">
                            <c:if test="#{!loginBean.isPunchout()}">
                                <h:commandLink value="PLACE ORDER" 
                                	action="#{cashoutBean.placeOrder()}" 
                                	disabled="#{!cashoutBean.placeOrderAllowed}"
                            		styleClass="#{cashoutBean.placeOrderAllowed ? 'placeOrderBtn' : 'placeOrderBtn btn disabled'}" 
                            		target="#{credentialSelectionBean.isExternalCatalog() ? '_parent' : '_self'}"/>
                            </c:if>
                            <c:if test="#{loginBean.isPunchout() and cashoutBean.placeOrderAllowed}">
                                <a class="placeOrderBtn" 
                                		href="#{linksBean.returnCart}" 
                                		target="#{credentialSelectionBean.isExternalCatalog() ? '_parent' : '_self'}">#{cashoutBean.generatePunchoutReturnCartLabel()}</a>
                            </c:if>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <span class="pull-left">
                        <c:if test="#{cashoutBean.placeOrderAllowed}">
                        	<rich:messages style="color:red"/>
                        </c:if>
                        
                       	<h:panelGroup layout="block" rendered="#{not cashoutBean.placeOrderAllowed}" style="color:red">
                       		<h:outputText value="#{cashoutBean.placeOrderDisallowedMessage}" />
                       	</h:panelGroup>
                       	
                       	<h:panelGroup layout="block" rendered="#{cashoutBean.minimumOrderFeeApplies}" style="color:red">
                       		<h:outputText value="#{cashoutBean.minimumOrderFeeMessage}" />
                       	</h:panelGroup>
                    </span>                 
                    <div class="clearfix"></div>
                    <div class="accordion" id="accordion">
                    	<c:if test="#{!loginBean.isPunchout()}">
	                        <ui:include src="/cashout/orderBilling.xhtml">
	                            <ui:param name="order" value="#{cashoutBean.currentOrder}" />
	                            <ui:param name="page" value="#{cashoutBean.pageValues}" />
	                            <ui:param name="isReadOnly" value="#{false}" />
	                        </ui:include>
                        </c:if>
                        <c:if test="#{!loginBean.isPunchout()}">
	                        <ui:include src="/cashout/orderShipping.xhtml">
	                            <ui:param name="order" value="#{cashoutBean.currentOrder}" />
	                            <ui:param name="page" value="#{cashoutBean.pageValues}" />
	                        	<ui:param name="bean" value="#{cashoutBean}" />	
	                            <ui:param name="isReadOnly" value="#{false}" />
	                        </ui:include>
                        </c:if>
                        <ui:include src="/cashout/orderContent.xhtml">
                            <ui:param name="page" value="#{cashoutBean.pageValues}" />
                            <ui:param name="order" value="#{cashoutBean.currentOrder}" />
                            <ui:param name="liToProduct" value="#{lineItemToProduct}" />
                            <ui:param name="isReadOnly" value="#{false}" />
                            <ui:param name="taxNotCalculated" value="#{true}" />
                        </ui:include>
                    </div>
                   	<h:panelGroup layout="block" rendered="#{cashoutBean.upsShippingInfo}">
                   		<h:outputText value="All orders will be shipped UPS Ground. If you require your order to be shipped Next Day or 2nd Day please call 877.245.9122." />
                   	</h:panelGroup>
                </div>
                <div class="span12 fl-wrapper">
                    <div class="span4"></div>
                    <!-- ==== BOTTOM LINKS ==== --> 
                    <div class="shoppingBtns pull-right">

                       	<h:panelGroup layout="block" rendered="#{not cashoutBean.placeOrderAllowed}" style="color:red">
                       		<h:outputText value="#{cashoutBean.placeOrderDisallowedMessage}" />
                       	</h:panelGroup>
                       	
                       	<h:panelGroup layout="block" rendered="#{cashoutBean.minimumOrderFeeApplies}" style="color:red">
                       		<h:outputText value="#{cashoutBean.minimumOrderFeeMessage}" />
                       	</h:panelGroup>
                        
                        <div class="borderBottomMobile rightSideBtn">
                        	<c:if test="#{!credentialSelectionBean.isExternalCatalog()}">
                            	<a href="#{linksBean.cart}" 
                            		target="#{credentialSelectionBean.isExternalCatalog() ? '_parent' : '_self'}"><i class="icon-returnAPD"></i>#{display['checkout.return']}</a>
                            </c:if>
                            <c:if test="#{credentialSelectionBean.isExternalCatalog() and !credentialSelectionBean.punchoutSession}">
	                            <a href="#{linksBean.punchoutContinueShopping}"
	                            	target="#{credentialSelectionBean.isExternalCatalog() ? '_parent' : '_self'}">
	                            	<i class="icon-returnAPD"></i>#{cashoutBean.generatePunchoutContinueLabel()}</a>
	                            <ui:remove><a href="#{linksBean.punchoutEditOrder}" target="#{credentialSelectionBean.isExternalCatalog() ? '_parent' : '_self'}">
	                            	<i class="icon-returnAPD"></i>#{cashoutBean.generatePunchoutEditLabel()}</a></ui:remove>
                            </c:if>
                        </div>
                        <div class="borderBottomMobile rightSideBtn mobileHide">
                            <c:if test="#{!loginBean.isPunchout()}">
                                <h:commandLink 
                                	value="PLACE ORDER" 
                                	action="#{cashoutBean.placeOrder()}" 
                                	disabled="#{!cashoutBean.placeOrderAllowed}"
                                	target="#{credentialSelectionBean.isExternalCatalog() ? '_parent' : '_self'}"
                            		styleClass="#{cashoutBean.placeOrderAllowed ? 'placeOrderBtn' : 'placeOrderBtn btn disabled'}" />
                            </c:if>
                            <c:if test="#{loginBean.isPunchout() and cashoutBean.placeOrderAllowed}">
                                <a class="placeOrderBtn" 
                                	href="#{linksBean.punchout}"
                                	target="#{credentialSelectionBean.isExternalCatalog() ? '_parent' : '_self'}">#{cashoutBean.generatePunchoutReturnCartLabel()}</a>
                            </c:if>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
           </div>
        </h:form>
    </ui:define>
</ui:composition>
