<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:a4j="http://richfaces.org/a4j"
                template="/WEB-INF/templates/ecommerceConfirmationTemplate.xhtml">

    <ui:define name="page_content">

        <h:form id="confirmation">
        
            <div class="row apdMarginTop container">
            <div class="row-fluid">
                <div class="span12 fl-wrapper">
                    <div class="span6">
                        <h3>Order Confirmation : #{cashoutBean.currentOrder.apdPo.value}</h3>
                    </div>
                    <!-- ==== TOP LINKS ==== --> 
                    <div class="shoppingBtns pull-right">

                        <div class="borderBottomMobile rightSideBtn mobileHide">
                        	<a href="#{credentialSelectionBean.isExternalCatalog() ? linksBean.punchoutContinueShopping : linksBean.home}" class="btn btn-primary">
                        	#{credentialSelectionBean.isExternalCatalog() ? cashoutBean.generatePunchoutContinueLabel() : display['cart.continue']}
                        	</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- ==== TOP LINKS END ==== --> 
                    <div class="clearfix"></div>
                    <div class="accordion" id="accordion">
                        <ui:include src="/cashout/orderBilling.xhtml">
                            <ui:param name="page" value="#{confirmationBean.pageValues}" />
                            <ui:param name="isReadOnly" value="#{true}" />
                        </ui:include>
                        <ui:include src="/cashout/orderShipping.xhtml">
                            <ui:param name="page" value="#{confirmationBean.pageValues}" />
                            <ui:param name="isReadOnly" value="#{true}" />
                        </ui:include>
                        <ui:include src="/cashout/orderContent.xhtml">
                            <ui:param name="page" value="#{confirmationBean.pageValues}" />
                            <ui:param name="order" value="#{confirmationBean.currentOrder}" />
                            <ui:param name="liToProduct" value="#{lineItemToProduct}" />
                            <ui:param name="isReadOnly" value="#{true}" />
                        </ui:include>
                    </div>
                </div>
                <div class="span12 fl-wrapper">
                    <div class="span4"></div>
                    <!-- ==== BOTTOM LINKS ==== --> 
                    <div class="shoppingBtns pull-right">

                        <div class="borderBottomMobile rightSideBtn mobileHide">
                        	<a href="#{credentialSelectionBean.isExternalCatalog() ? linksBean.punchoutContinueShopping : linksBean.home}" class="btn btn-primary">
							#{credentialSelectionBean.isExternalCatalog() ? cashoutBean.generatePunchoutContinueLabel() : display['cart.continue']}
							</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- ==== BOTTOM LINKS END ==== -->  
                </div>
            </div>
           </div>
        </h:form>
    </ui:define>
</ui:composition>
