<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">

	<h:form id="linkRoleModalForm" >
		<rich:popupPanel id="linkRoleModal" autosized="true" resizeable="false" moveable="false">
				<f:facet name="header">
					<h:outputText value="Link Role" />
    			</f:facet>
    			<f:facet name="controls">
        			<h:commandLink value="X" style="cursor:pointer">
        				<rich:componentControl target="linkRoleModal" operation="hide" />
        			</h:commandLink>
    			</f:facet>
				
    			<ui:include src="/admin/role/roleSearch.xhtml" >
    				<ui:param name="currentRole" value="#{currentRole}" />
    				<ui:param name="renderArea" value="linkRoleModalForm work" />
    			</ui:include>
    			
    			<div class="btn-group" layout="block">
					<h:commandLink value="Confirm" action="#{roleBean.addChildRole()}" styleClass="btn btn-primary"/>
				</div>
				
		</rich:popupPanel>
	</h:form>
</ui:composition>