<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:apd="http://java.sun.com/jsf/composite/apd">
		<rich:popupPanel id="linkPermissionModal" autosized="true" resizeable="false" moveable="false" domElementAttachment="form">
			<h:form id="linkPermissionModalForm" >
				<a4j:region>
					<f:facet name="header">
						<h:outputText value="Link Permission" />
	    			</f:facet>
	    			<f:facet name="controls">
	        			<h:commandLink value="X" style="cursor:pointer">
	        				<rich:componentControl target="linkPermissionModal" operation="hide" />
	        			</h:commandLink>
	    			</f:facet>
					
	    			<apd:search searchBean="#{permissionSearchBean}" detailsRegion="linkPermissionModalForm" searchRegion="searchingPermission" />
	    			
	    			<div class="btn-group" layout="block">
						<a4j:commandLink value="Confirm" styleClass="btn btn-primary" 
							render="work:linkedPermissionsTable linkPermissionModalForm" 
							action="#{roleBean.setPermission(permissionSearchBean.clearSelection())}"
							oncomplete="hidePopup('linkPermissionModal');" />
						<a4j:commandLink value="Cancel" styleClass="btn btn-primary" 
							action="#{permissionSearchBean.clearSelection()}"
							render="linkPermissionModalForm" 
							oncomplete="hidePopup('linkPermissionModal');" />
					</div>
				</a4j:region>
			</h:form>
		</rich:popupPanel>
</ui:composition>