<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	template="/WEB-INF/layout/administrationTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="id" value="#{roleBean.role.id}"/>
		<f:event type="preRenderView" listener="#{roleBean.retrieve}"/>
	</f:metadata>

	<ui:param name="pageTitle" value="Create Role"/>

	<ui:define name="header">
		Role
	</ui:define>

	<ui:define name="subheader" />

	<ui:define name="footer"/>
	
	<ui:define name="main">
		<h:form id="work">
			<ui:include src="/admin/role/roleDetails.xhtml" />

			<div class="btn-group" layout="block">
				<h:commandLink value="Save" action="#{roleBean.update}" styleClass="btn btn-success" ><i class="icon-ok"></i></h:commandLink>
				
				<h:commandLink value="Link Permission" styleClass="btn btn-primary">
					<rich:componentControl target="linkPermissionModal" operation="show" />
				</h:commandLink>
			</div>

		</h:form>
		
		<ui:include src="/admin/role/linkPermissionModal.xhtml" />
	</ui:define>

</ui:composition>