<!DOCTYPE html>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:a4j="http://richfaces.org/a4j"
				xmlns:rich="http://richfaces.org/rich"
                template="/WEB-INF/templates/main/ecommerceExternalPageTemplate.xhtml">
    <ui:define name="styles">

    </ui:define>

    <ui:define name="page_title">#{display['login.template.title']}</ui:define>
    <ui:define name="page_body">
        <div id="loginHeader" class="row-fluid" style="padding-top: 5px;">
            <div id="loginHomeRow">
            	<p id="customerServiceInfo">#{pageCssBean.customerServiceInfo}</p>   
            </div>
            <div id="loginLogoRow"> 
	        	<h:panelGroup rendered="#{not empty pageCssBean.subDomainLogo}">
                    <img src="#{pageCssBean.subDomainLogo}" width="350px" height="74px" style="float:right"/>
                </h:panelGroup>            	  
            	<a id="apdLogo" href="#{linksBean.home}"><img src="#{propertiesBean.get('aws.integration','content.service.secure.domain')}/images/APD-logo.png" width="201" height="74"/></a>          	           	 
            </div>
        </div>
        <div id="top-container" class="container">
            <ui:insert name="page_content"></ui:insert>
        </div>
        <div class="row-fluid" style="font-family:Calibiri, Candara, Franklin Gothic;">
        		<div id="loginFollowUs">
        			<h:outputLabel value="FOLLOW US" id="footerTitles" />
        			<a href="http://www.facebook.com/americanproduct"><img class="followUsImages" src="#{propertiesBean.get('aws.integration','content.service.secure.domain')}/images/loginPageIcons/Facebook.jpg" width="35px" height="35px" /></a>
        			<a href="http://www.linkedin.com/company/american-product-distributors-inc-"><img class="followUsImages" src="#{propertiesBean.get('aws.integration','content.service.secure.domain')}/images/loginPageIcons/LinkedIn.jpg" width="35px" height="35px" /></a>
        			<a href="http://www.youtube.com/user/TheAPDStory"><img class="followUsImages" src="#{propertiesBean.get('aws.integration','content.service.secure.domain')}/images/loginPageIcons/YouTube.jpg" width="35px" height="35px" /></a>
        			<a href="http://americanproduct.wordpress.com/"><img class="followUsImages" src="#{propertiesBean.get('aws.integration','content.service.secure.domain')}/images/loginPageIcons/WordPress.jpg" width="35px" height="35px"/></a>
        		</div>
        		<div id="loginCallUs">
        			<img src="#{propertiesBean.get('aws.integration','content.service.secure.domain')}/images/loginPageIcons/CallUs.jpg" width="30px" height="30px" style="float: left; padding-left:20px; padding-top:10px; padding-right:5px"/>
        			<h:outputLabel value="CALL US" style="font-size:20px; text-align:left; padding-top: 15px; color: DarkBlue;"/>
        			<p id="loginCallUsInfoPad">#{pageCssBean.callUsPhone}</p>
        			<p class="loginCallUsInfo">#{pageCssBean.callUsDays}</p>
        			<p class="loginCallUsInfo">#{pageCssBean.callUsHrs}</p>
        		</div>
        		<div id="loginEmailUs">
        			<img src="#{propertiesBean.get('aws.integration','content.service.secure.domain')}/images/loginPageIcons/EmailUs.jpg" width="30px" height="30px" style="float: left; padding-left:20px; padding-top:10px; padding-right:5px"/>
        			<h:outputLabel value="EMAIL US" style="font-size:20px; text-align:left; padding-top: 15px; color: DarkBlue;"/>
        			<a href="mailto:#{pageCssBean.emailUsAddress}"><p style="font-size:15px; padding-top:15px">#{pageCssBean.emailUsAddress}</p></a>
        		</div>
        		<div id="loginVisitUs">
        			<img src="#{propertiesBean.get('aws.integration','content.service.secure.domain')}/images/loginPageIcons/VisitUs.jpg" width="30px" height="30px" style="float: left; padding-left:20px; padding-top:10px; padding-right:5px"/>
        			<h:outputLabel value="VISIT US" style="font-size:20px; text-align:left; padding-top: 15px; color: DarkBlue;"/>
        			<a href="http://www.americanproduct.com"><p style="font-size:15px; text-align:left; padding-top:15px">#{display['login.visitUsSite']}</p></a>
        		</div>
        	</div>
        	<div id="trailInfo" style="margin-top: 5px; border-top: 2px solid blue; padding-top: 5px; font-family:Calibiri, Candara, Franklin Gothic;">
                <a href="#bestViewingExp" data-toggle="modal" style="float: right; padding-left: 2px">Recommended Browsers</a>
                <h:outputLabel value="|" style="float: right; padding-left: 2px"/>
        		<a href="#security" data-toggle="modal" style="float: right; padding-left:2px">Security</a> 
        		<h:outputLabel value="|" style="float: right; padding-left:2px"/>        		 
        		<a href="#privacyStatement" data-toggle="modal" style="float: right; padding-left:2px">Privacy Statement</a>
        		<h:outputLabel value="|" style="float: right; padding-left: 2px"/>  
        		<a href="#termsOfUse" data-toggle="modal" style="float: right; padding-left: 2px">Terms of Use</a>
        	</div>
        	<div id="passwordReset" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <h:form id="modalForm1">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h3 id="myModalLabel">Reset Password</h3>
					</div>
		            <div class="modal-body">
						<h:outputLabel value="Enter Username:" />
						<h:inputText value="#{loginBean.passResetUsername}" />
					</div>
		            <div class="modal-footer">
						<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
						<h:commandButton value="Submit" action="#{loginBean.resetPassword()}" styleClass="btn btn-primary">
							<f:ajax execute="@form" onevent="modalEventHandler"/>
						</h:commandButton>
					</div>
				</h:form>
            </div>
            <div id="userMaintenance" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            		<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h3 id="myModalLabel">User Maintenance</h3>
					</div>
		            <div class="modal-body">
		            	<form action="#{loginBean.createUserUrl}">
		            		<button class="userMaintenanceBtns">Create User</button>
		            	</form>
		            	<form action="#{loginBean.changeUserUrl}">
		            		<button style="margin-top:-20px" class="userMaintenanceBtns">Change/Remove User or Location</button>
		            	</form>
					</div>
		            <div class="modal-footer">
						<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>						
					</div>                
            </div>
            <div id="bestViewingExp" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <h:form id="modalForm2">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="myModalLabel">Recommeded Browsers</h3>
                    </div>
                    <div class="modal-body">
                        <div>
                        <b>For the best shopping experience, please, use one of these recommend browsers:</b>
                        </div>
                        <div style="width: 130px;margin-top: 20px; float:left;margin-left: auto; margin-right: auto; text-align:center">
                            <img src="#{propertiesBean.get('aws.integration','content.service.secure.domain')}/images/Websites/IE.png" width="100px" height="100px"/>
                            #{display['login.ieVersion']}
                        </div>
                        <div style="width: 130px;margin-top: 20px; float:left;margin-left: auto; margin-right: auto; text-align:center">
                            <img src="#{propertiesBean.get('aws.integration','content.service.secure.domain')}/images/Websites/Chrome.png" width="100px" height="100px"/>
                            #{display['login.chromeVersion']}
                        </div>
                        <div style="width: 130px;margin-top: 20px; float:left;margin-left: auto; margin-right: auto; text-align:center">
                            <img src="#{propertiesBean.get('aws.integration','content.service.secure.domain')}/images/Websites/Firefox.png" width="100px" height="100px"/>
                            #{display['login.firefoxVersion']}
                        </div>
                        <div style="width: 130px;margin-top: 20px; float:left;margin-left: auto; margin-right: auto; text-align:center">
                            <img src="#{propertiesBean.get('aws.integration','content.service.secure.domain')}/images/Websites/Safari.png" width="100px" height="100px"/>
                            #{display['login.safariVersion']}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    </div>
                    </h:form>
            </div>

    </ui:define>
    <a4j:outputPanel ajaxRendered="true">
        <h:form style="display:none" prependId="false">
            <h:inputHidden id="maximumErrorSeverity" value="#{facesContext.maximumSeverity.ordinal}"/>
        </h:form>
    </a4j:outputPanel>

</ui:composition>
