<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                template="/WEB-INF/templates/main/ecommerceInternalPageTemplate.xhtml">

    <ui:insert name="page_title"/>    
    <ui:define name="page_body">
        <ui:include src="./topNavBar.xhtml" />
        <div id="top-container" class="container">
   			<c:if test="#{credentialSelectionBean.currentCredential != null}">
            	<ui:include src="./mainNavBar.xhtml" />
            </c:if>
            <ui:insert name="page_content"></ui:insert>
        </div>
    </ui:define>
</ui:composition>