<!DOCTYPE html>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="/WEB-INF/templates/main/ecommerceExternalPageTemplate.xhtml">
    <ui:define name="styles">
        <title>#{display['details.product.title']}</title>
    </ui:define>
    <ui:define name="page_body">
        <div id="top-container" class="container">
        	<ui:insert name="page_content"/>
        </div>
    </ui:define>
</ui:composition>

