<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/WEB-INF/templates/main/ecommerceInternalPageTemplate.xhtml">

    <ui:define name="styles">

    </ui:define>
    <ui:define name="page_title">#{display['compare.title']}</ui:define>
    <ui:define name="page_body">
        <ui:include src="./topNavBar.xhtml" />
        <div id="top-container" class="container">
            <ui:include src="./mainNavBar.xhtml" />
            <ui:insert name="page_content"/>
        </div>
    </ui:define>
    <ui:define name="inserted-js">
    </ui:define>
</ui:composition>