<footer class="footer large-12 row" xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets">
    <div class="container">
    	<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		 
		  ga('create', 'UA-53858657-1', 'auto');
		  ga('send', 'pageview');
		 
		</script>
        <div class="row-fluid show-grid">
            
            <div class="span4">
                 <span>               
                    <img id="hpbadge" src="#{propertiesBean.get('aws.integration','content.service.secure.domain')}/images/hpbadge.gif" border="0"/>
                </span>
                <span>               
                    <img id="trustwaveSealImage" src="https://sealserver.trustkeeper.net/seal_image.php?customerId=w6oj3BWieJra4gUsmKaQ7dOFyrcgvC&amp;size=105x54&amp;style=" style="cursor:pointer; padding-right: 10px;" onclick="javascript:window.open('https://sealserver.trustkeeper.net/cert.php?customerId=w6oj3BWieJra4gUsmKaQ7dOFyrcgvC&amp;size=105x54&amp;style=', 'c_TW', 'location=no, toolbar=no, resizable=yes, scrollbars=yes, directories=no, status=no, width=615, height=720'); return false;" oncontextmenu="javascript:alert('Copying Prohibited by Law - Trusted Commerce is a Service Mark of TrustWave Holdings, Inc.'); return false;" alt="This site protected by Trustwave's Trusted Commerce program" title="This site protected by Trustwave's Trusted Commerce program" border="0"/>
                </span>
               
            </div>
            
            <c:if test="#{view.viewId != '/ecommerce/login/login.xhtml'}">
	            <div class="span8">
	                <nav class="footer-nav">
	                    <ul class="pull-right">
	                    	<h:panelGroup rendered="#{loginBean.isApdTenant}">                            
		                        <li>
		                        	<h:outputLink value="#{propertiesBean.get('aws.integration','content.service.secure.domain')}/AboutAPD.pdf"> #{display['template.about']} </h:outputLink>
		                        </li>
		                     </h:panelGroup>
		                     <h:panelGroup rendered="#{not loginBean.isCincinnatiSubdomain}">
		                        <li>
		                        	<h:panelGroup rendered="#{loginBean.isMarfieldSubdomain}">
		                        		<a href="/shopping/ecommerce/information/marfieldReturns.xhtml">#{display['template.return']}</a>
		                        	</h:panelGroup>
		                        	<h:panelGroup rendered="#{not loginBean.isMarfieldSubdomain }">
		                        		<a href="/shopping/ecommerce/information/returns.xhtml">#{display['template.return']}</a>
		                        	</h:panelGroup>
		                        </li>
		                    </h:panelGroup>
	                        <li>
	                        	<a href="/shopping/ecommerce/information/termsOfUse.xhtml">#{display['template.terms']}</a>
	                        </li>
	                        <li>
	                        	<a href="/shopping/ecommerce/information/security.xhtml">#{display['template.security']}</a>
	                        </li>
	                        <li>
	                        	<a href="/shopping/ecommerce/information/privacy.xhtml">#{display['template.privacy']}</a>
	                        </li>
	                    </ul>
	                </nav>	                
	            </div>
	    	</c:if>
	    	</div>
            <div>
            	<span> 
        			 <h6>#{display['login.powered']} | <h:panelGroup rendered="#{not empty pageCssBean.copyRight}"> #{pageCssBean.copyRight} </h:panelGroup> | <h:outputText value="#{pageCssBean.customerServiceInfo}" /> </h6>                  
            	</span>
            </div>
        
    </div>
</footer>
