<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core" 
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core" 
                xmlns:forgeview="http://jboss.org/forge/view" 
                xmlns:rich="http://richfaces.org/rich" 
                xmlns:a4j="http://richfaces.org/a4j">

	<c:if test="#{!credentialSelectionBean.isExternalCatalog()}">
	    <a4j:jsFunction name="initSearch" action="#{searchBean.solrProductSearchInit()}" >                
	        <a4j:param name="searchTerm" assignTo="#{searchBean.queryData.searchString}" /> 
	        <a4j:param name="hierarchyPath" assignTo="#{searchBean.queryData.hierarchyPath}" /> 
	    </a4j:jsFunction>
		<script type="text/javascript">
		    $(document).ready(function() {
			    addFunctionToCallAfterAjax(function() {
		    		setupSearchTypeahead(#{searchBean.getSearchTermsJson()});
		    	});
	            setSearchDropdownValue('#{searchBean.previousQueryData.hierarchyPath}');
			});
		</script>	
	</c:if>
	<h:panelGroup class="navMain" id="blue-navbar">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar padHide" data-toggle="collapse" data-target=".nav-collapse" label="">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span style="float:left; margin-top:-15px; margin-left:25px; color:#555555">MENU</span>
                    </button>
                    <div class="nav-collapse collapse">
                    	
                        <ul class="nav nav-pills">
                        	<c:if test="#{!credentialSelectionBean.isExternalCatalog()}">
                            	<li class="mobileHide"><a href="#{linksBean.browse}">#{display['nav.main.browse']}</a></li>
                            </c:if>
                            <c:if test="#{!loginBean.isPunchout()}">
                            	<li class="mobileHide"><a href="#{linksBean.orderHistory}">#{display['nav.main.history']}</a></li>
                            </c:if>
                            <c:if test="#{!credentialSelectionBean.isExternalCatalog()}">
	                            <ui:include src="/WEB-INF/components/inserts/product/favoritesDropdown.xhtml">
	                                <ui:param name="actionBean" value="#{favoritesBean}" />
	                                <ui:param name="favoritesLists" value="#{favoritesBean.allUserFavoritesLists}" />
	                                <ui:param name="favoritesType" value="#{favoritesViewBean.PERSONAL_FAVORITES_TYPE}" />
	                            </ui:include>
	                            <ui:include src="/WEB-INF/components/inserts/product/favoritesDropdown.xhtml">
	                                <ui:param name="actionBean" value="#{favoritesBean}" />
	                                <ui:param name="favoritesLists" value="#{favoritesBean.companyFavoritesLists}" />
	                                <ui:param name="favoritesType" value="#{favoritesViewBean.COMPANY_FAVORITES_TYPE}" />
	                            </ui:include>
                            </c:if>
                        </ul>
                        
                    </div>
                    <c:if test="#{!credentialSelectionBean.isExternalCatalog()}">
                    <!-- SEARCH -->
                    <div class="searchContainer">
                        <div class="topSearch">
                            <form id="search-form">
                                <div class="searchBoxWrapper">
                                    <div class="searchBoxContainerInner">
                                        <div class="dropdownSelectContainer">
                                            <select class="selectpicker animateDD">
                                                <a4j:repeat rowKeyVar="index" var="category" value="#{searchBean.getCategories()}">
                                                    <option class="topLevelOptionSelect" value="!#{category}">#{category}</option>
	                                                <a4j:repeat rowKeyVar="subIndex" var="subCategory" value="#{searchBean.categoryMenu.getLevelOneMenuItems(category)}">
	                                                    <option value="!#{category}!#{subCategory}">&#160;&#160;&#160;#{subCategory}</option>
	                                                </a4j:repeat>
                                                </a4j:repeat>
                                            </select>
                                        </div>
                                        <div id="searchOuterBox" class="listInput searchSelectContainer">
                                            <h:inputText id="search-input" styleClass="addtoListInput typeahead" value="#{searchBean.queryData.searchString}" title="Enter search term"/>
                                        </div>
                                    </div>
                                    <i id="search-icon" class="icon-search"></i>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- END SEARCH--> 
                    </c:if>
                </div>
            </div>
        </div>
    </h:panelGroup>
    <c:if test="#{!credentialSelectionBean.isExternalCatalog()}">
	    <div class="row pull-right expressOrder">
	        <label class="checkbox">
	            <h:outputLink styleClass="expressOrderLink" value="#{expressOrderBean.orderPageLink}">#{display['nav.main.express']}</h:outputLink>
	        </label>
	    </div>
	</c:if>
</ui:composition>
