<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"	
                xmlns:forgeview="http://jboss.org/forge/view"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j">
    
    <div id="header" class="navbar navbar-fluid container">
        <a href="#{linksBean.home}"><img height="50" src="#{propertiesBean.get('aws.integration','content.service.secure.domain')}/images/APD-logo.png" width="201"/></a>
        <a4j:outputPanel ajaxRendered="true" id="shoppingCartForReRender">
	        <ul class="nav pull-right navTopLinks">
	        	<ui:include src="./topNavBarAccountLogout.xhtml">
	        		<ui:param name="hideAccountMenu" value="#{hideAccountMenu}" />
	        	</ui:include>
	        	<c:if test="#{credentialSelectionBean.shoppingCartDisplayed}">
					<ui:include src="./topNavBarCart.xhtml" />
				</c:if>
	        </ul>
        </a4j:outputPanel>
        <c:if test="#{credentialSelectionBean.hasPermission('shopping show open market label')}">
        	<div class="pull-right">
        		<h2>
        			#{display['nav.top.market']}
        		</h2>
        	</div>
        </c:if>
        <c:if test="#{not credentialSelectionBean.hasPermission('shopping add to cart') and credentialSelectionBean.currentCredential != null}">
        	<div class="pull-right">
        		<h2>
        			#{display['nav.top.browse-only']}
        		</h2>
        	</div>
        </c:if>
    </div>
    <div class="modalContainer">
        <rich:popupPanel id="emptyCartModal" style="background:white;" height="42" width="305" resizeable="false" moveable="false" domElementAttachment="parent">
            <f:facet name="controls">
                <a4j:commandLink value="X" style="cursor:pointer" onclick="#{rich:component('emptyCartModal')}.hide(); return false;" />
            </f:facet>
            <h:outputText value="#{validation['cashout.cart.empty']}" style="color:red;"/>
        </rich:popupPanel>
    </div>
    <div class="modalContainer">
        <rich:popupPanel id="waitModal" height="52" width="52" resizeable="false" moveable="false" domElementAttachment="parent" zindex="200">
            <img id="ajaxloader"  src="#{propertiesBean.get('aws.integration','content.service.secure.domain')}/images/ajax-loader.gif" />
        </rich:popupPanel>
    </div>
    <a4j:status onstart="ajaxStartWait();" onstop="ajaxStopWait();"/>
    <h:outputText id="items-added-json" value="#{addToCartBean.jsonData}" escape="false" />
    
    <c:if test="#{(hideBulletinsForMultipleCredential == null or !hideBulletinsForMultipleCredential)}">
    	<ui:include src="/WEB-INF/components/modals/bulletinDisplayModal.xhtml" />
    </c:if>

</ui:composition>
