<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"	
                xmlns:forgeview="http://jboss.org/forge/view"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j">

		<c:if test="#{!loginBean.isPunchout() and (hideAccountMenu == null or !hideAccountMenu)}">
		<li class="dropdown mobileHide accountDD">
                    <a href="#{not loginBean.systemUser.concurrentAccess ? linksBean.resetPassword : '#'}" class="dropdown-toggle" 
                    		data-hover="dropdown" data-delay="1000" data-close-others="false">
                        #{display['nav.top.account']}
                    </a>
                    <ul class="dropdown-menu">
                    	<c:if test="#{!credentialSelectionBean.isExternalCatalog() and credentialSelectionBean.currentAXCXU != null}">
                        	<li><a href="#{linksBean.requestItem}">Request Item</a></li>
                        </c:if>
                        <c:if test="#{not loginBean.systemUser.concurrentAccess}">
                            <li><a href="#{linksBean.resetPassword}">Reset Password</a></li>
                        </c:if>
                        <c:if test="#{credentialSelectionBean.hasPermission('shopping view tasks') and credentialSelectionBean.currentAXCXU != null}">
                        	<li><a href="/shopping/ecommerce/task/taskList.xhtml">Tasks</a></li>
			      		</c:if>
		      			<li class="divider"/>
		      			<li>
		      				<a href="#createIssueLog" data-toggle="modal">#{display['nav.top.issue']}</a>
		           		</li>
			           	<c:if test="#{credentialSelectionBean.hasPermission('shopping view issue logs')}">
				      		<li>
				      			<a href="#existingIssueLogs" onclick="loadExistingIssues();" data-toggle="modal">#{display['nav.top.issue.view']}</a>
				           	</li>
			           	</c:if>
                   </ul>
                    
		</li>
       <li class="divider-vertical mobileHide"> </li>
       </c:if>
       <!-- ====== ABOUT DROP DOWN ===== -->
       <c:if test="#{!credentialSelectionBean.isExternalCatalog()}">
       <li class="dropdown mobileHide accountDD">
           <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="false">
               Help Center
           </a>
           <ul class="dropdown-menu">               
               <c:if test="#{credentialSelectionBean.hasPermission('shopping view rebate center')}">       
	               	<li>
	                    <a href="/shopping/ecommerce/information/rebateCenter.xhtml" target="_blank">#{display['nav.top.rebate']}</a>
	                </li>	
	           </c:if> 
	           <c:if test="#{credentialSelectionBean.hasPermission('shopping view returns guide')}">     
	            <li>
                	<h:outputLink value="#{propertiesBean.get('aws.integration','content.service.secure.domain')}/returns_278.pdf" target="_blank">
         				#{display['nav.top.returns']}
         	   		</h:outputLink>
                </li>
                </c:if>
                <c:if test="#{credentialSelectionBean.hasPermission('shopping view user guide')}">
                <li>
                    <h:outputLink value="#{propertiesBean.get('aws.integration','content.service.secure.domain')}/#{credentialSelectionBean.userGuideName}" target="_blank">
              			#{display['nav.top.user']}
              	   	</h:outputLink>
	            </li>
	            </c:if>
	            <c:if test="#{credentialSelectionBean.hasPermission('shopping view special order form')}">
                	<li>
                            <h:outputLink value="#{propertiesBean.get('aws.integration','content.service.secure.domain')}/#{credentialSelectionBean.specialOrderGuideName}" target="_blank">
          				#{display['nav.top.special']}
          	   			</h:outputLink>
                 	</li>
                </c:if>
               <c:if test="#{credentialSelectionBean.hasPermission('shopping view custom order form')}">
                  	<li>
                            <h:outputLink value="#{propertiesBean.get('aws.integration','content.service.secure.domain')}/#{credentialSelectionBean.customOrderGuideName}" target="_blank">
           					#{display['nav.top.custom']}
           	   			</h:outputLink>
     				</li>
    			</c:if>
    			<c:if test="#{credentialSelectionBean.hasPermission('shopping view toner recycle form')}">
               <li>
                   <h:outputLink value="#{propertiesBean.get('aws.integration','content.service.secure.domain')}/TonerRecycle_278.pdf" target="_blank">
                       #{display['nav.top.toner']}
                   </h:outputLink>
               </li>
               </c:if>
           </ul>
       </li>
       </c:if>
       <!-- ======  ABOUT DROP DOWN END ===== -->
       <c:if test="#{!loginBean.isPunchout()}">
	       <li class="divider-vertical mobileHide">
	       </li>
	       <li class="mobileHide">
				<a href="#" onclick="logoutUser();" style="logOutBtn" id="shoppingLogout">#{display['nav.top.logout']}</a>
	       </li>
	   </c:if>
	   
	   <c:if test="#{!loginBean.isPunchout() and (hideAccountMenu == null or !hideAccountMenu)}">
		   <ui:include src="/WEB-INF/components/inserts/experience/serviceLogModals.xhtml" />
	   </c:if>

</ui:composition>
