<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"	
                xmlns:forgeview="http://jboss.org/forge/view"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j">

       <li class="divider-vertical mobileHide"/>
       <li class="dropdown mobileHide" id="shopping-cart-dropdown">
           <a id="cart-dropdown-text" href="#{linksBean.cart}" class="dropdown-toggle" data-hover="dropdown" data-delay="1000" data-close-others="false">
               #{display['nav.top.cart']}
           </a>
           <h:panelGroup id="cart-dropdown-count" styleClass="pull-right">
           	(#{shoppingCartBean.getCartList().size()})#{display['nav.top.items']}
        	<h:inputHidden value="#{shoppingCartBean.cartList.isEmpty()}" id="cartIsEmpty" />
           </h:panelGroup>
           <ul class="dropdown-menu shopping-dd">
               <li>
               	<h:panelGroup id="recently-added-container" styleClass="shopping-container" layout="block">
                       <div class="header">
                           <p>Recently Added Items</p>
                       </div>
                       <ul class="dropdown-menuShopingCart">
                           <a4j:repeat id="shopping-cart-list" rowKeyVar="index" var="item" value="#{shoppingCartBean.lastItemsAdded}">
                               <li>
                                   <a href="#{item.detailsLink}"
                                      tabindex="-1">

                                       <span class="shoppingCart-dd-itemPic">
                                           <img src="#{item.mainImageUrl}" width="64" height="64" /></span> <span class="pull-right">
                                       </span>
                                       <div class="shoppingCart-dd-item">
                                           <div id="dd-item-name">#{item.name}</div>
                                           <div id="dd-item-qty">#{display['nav.top.quantity']}#{shoppingCartBean.cartQuantity[item]}</div>
                                           <div id="dd-item-price">
                                               Price: 
                                               <h:outputText value="#{item.price}">
                                                   <f:convertNumber type="currency" currencySymbol="$" />
                                               </h:outputText>
                                           </div>
                                       </div>

                                       <div class="clearfix"></div>
                                   </a>
                               </li>
                           </a4j:repeat>
                           <li>
                               <a href="#{linksBean.cart}" tabindex="-1">
                                   <div class="clearfix">
                                       <span class="pull-right shoppingCart-total">
                                           Total: 
                                           <h:outputText value="#{shoppingCartBean.subtotal}">
                                               <f:convertNumber type="currency" currencySymbol="$" />
                                           </h:outputText>
                                       </span>
                                   </div>
                               </a>
                           </li>
                           <li>

                               <div class="pull-right">

                                   <a class="btn-primary dd-checkout cashout" href="#{linksBean.cashout}">#{display['nav.top.checkout']}</a>
                               </div>
                           </li>
                       </ul>
                   </h:panelGroup>
               </li>
           </ul>
       </li>

</ui:composition>
