<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                template="/WEB-INF/templates/ecommerceExpressOrderTemplate.xhtml">
    
    <f:metadata>
        <f:viewParam name="sku" value="#{expressOrderBean.sku}"/>
        <f:event type="preRenderView" listener="#{addToCartBean.preRender()}" />
    </f:metadata>

    <ui:define name="page_content">
        <div class="row apdCenter container">	
            <div class="span6 shoppoingCart-Header">
                <h3>#{display['express.header']}</h3>
            </div>
        </div>
        <h:form id="expressOrderForm">
            <a4j:status startText="" stopText="" onstart="showAjaxActive();" onstop="hideAjaxActive();"/>
            <div class="row apdCenter container">
                <div class="row-fluid">
                    <div class="span10">
                        <table id="expressOrdertable" class="offset1 table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>SKU/Item #</th>
                                    <th>Name</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th>Units</th>
                                </tr>
                            </thead>                            
                            <tr>                        
                                <td>
                                    <span class="help-inline sortByLabel">
                                        #{status.index}.
                                    </span>                                            
                                    <h:inputText id="skuInput" value="#{expressOrderBean.sku}" styleClass="input-medium">
                                        <a4j:param name="sku" value="#{expressOrderBean.sku}" />                                    
                                        <a4j:param name="qty" value="#{expressOrderBean.qty}" />                                    
                                        <a4j:ajax  event="blur" listener="#{expressOrderBean.populateProductData()}" render="expressOrderForm" oncomplete="document.getElementById('expressOrderForm:qtyBox').focus();"/>
                                    </h:inputText>
                                    <h:panelGroup rendered="#{not empty expressOrderBean.errorMessage}">
                                        <span class="help-inline sortByLabel">
                                            <i class="icon-info-sign" rel="tooltip" title="Error"/>
                                            <h:outputText class="error-text"
                                                          value="#{expressOrderBean.errorMessage}"/>
                                        </span>
                                    </h:panelGroup>
                                </td>
                                <td>
                                    <div>
                                        #{expressOrderBean.name}
                                    </div>
                                </td>
                                <td>
                                    <div id="qty1">
                                        <h:inputText id="qtyBox" value="#{expressOrderBean.qty}" styleClass="positive-integer" onfocus="updateNumericInputs();">
                                            <a4j:param name="sku" value="#{expressOrderBean.sku}" />                                            
                                            <a4j:param name="qty" value="#{expressOrderBean.qty}" />                                            
                                            <a4j:ajax event="blur" listener="#{expressOrderBean.setQuantity()}"/> 
                                        </h:inputText>

                                    </div>
                                </td>
                                <td>
                                    <div class="expressOrderPrice">
                                        #{expressOrderBean.price}
                                        <img id="ajaxloader"  src="#{propertiesBean.get('aws.integration','content.service.secure.domain')}/images/ajax-loader.gif" style="display: none;"/>
                                    </div>
                                </td>
                                <td>
                                    <div class="expressOrderUnits">
                                        #{expressOrderBean.units}
                                        <img id="ajaxloader"  src="#{propertiesBean.get('aws.integration','content.service.secure.domain')}/images/ajax-loader.gif" style="display: none;"/>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="6">
    								<h:panelGroup id="addToCartSpan">
		                        	<a4j:commandLink styleClass="btn btn-primary pull-right" 
		                        		value="#{display['express.add']}" oncomplete="$cartNotify(); $clearFields();" 
										render=":items-added-json :cart-dropdown-count :recently-added-container :expressOrderForm"
		                        		action="#{expressOrderBean.addToCart()}" onclick="waitOnNextAjax();" />
		                        		
								        <rich:tooltip rendered="#{(expressOrderBean.product.minimum == null or expressOrderBean.product.minimum le 1) and (expressOrderBean.product.multiple != null and expressOrderBean.product.multiple gt 1)}" for=":addToCartSpan">
								        	Multiple QTY = #{expressOrderBean.product.multiple}
								        </rich:tooltip>
								        <rich:tooltip rendered="#{(expressOrderBean.product.minimum != null and expressOrderBean.product.minimum gt 1) and (expressOrderBean.product.multiple == null or expressOrderBean.product.multiple le 1)}" for=":addToCartSpan">
								        	Min QTY = #{expressOrderBean.product.minimum}
								        </rich:tooltip>
								        <rich:tooltip rendered="#{(expressOrderBean.product.minimum != null and expressOrderBean.product.minimum gt 1) and (expressOrderBean.product.multiple != null and expressOrderBean.product.multiple gt 1)}" for=":addToCartSpan">
								        	Min QTY = #{expressOrderBean.product.minimum}, Multiple QTY = #{expressOrderBean.product.multiple}
								        </rich:tooltip>
		                        	</h:panelGroup>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>           
        </h:form>
        <div id="push"></div>
    </ui:define>
</ui:composition>