<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view">
		<rich:popupPanel id="poNumberModal" autosized="true" resizeable="false" moveable="false" domElementAttachment="parent">
			<h:form id="poNumberModalForm">
				<a4j:region>
					<f:facet name="header">
						<h:outputText value="Create PO Number" />
	    			</f:facet>
	    			<f:facet name="controls">
	        			<a4j:commandLink value="X" style="cursor:pointer" 
	        				onclick="#{rich:component('poNumberModal')}.hide(); return false;" />
	    			</f:facet>
					<ui:include src="/admin/poNumber/poNumberEdit.xhtml">
						<ui:param name="poNumber" value="#{bean.currentPoNumber}" />
					</ui:include>
		      		
		      		<div class="btn-group" layout="block">
						<a4j:commandLink value="Confirm" styleClass="btn btn-primary" 
							render="#{render}:beanPoNumbers" 
							execute="@region"
							action="#{bean.savePoNumber()}"
							oncomplete="hidePopup('poNumberModal');" />
						<a4j:commandLink value="Cancel" styleClass="btn btn-primary" 
							immediate="true"
							action="#{bean.clearFields('poNumberModal')}" 
							oncomplete="hidePopup('poNumberModal');" />
					</div>
				</a4j:region>
			</h:form>
		</rich:popupPanel>	
</ui:composition>