<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view">
	<div>
		<h:outputLabel value="Type:"/>
	    <h:selectOneMenu id="poNumType" value="#{poNumber.type}"
	    		converter="#{poNumberTypeBean.converter}"
				required="true" requiredMessage="#{validation['poNumber.field.type.required']}">
				<f:selectItems value="#{poNumberTypeBean.blanket}"
					 var="type" itemValue="#{type}" itemLabel="#{type.name}" />
		</h:selectOneMenu>
		<rich:message for="poNumType" styleClass="error" />
		<h:outputText/>
	</div>
	<div>		
		<h:outputLabel value="Value:"/>
		<h:inputText id="poNumVal" value="#{poNumber.value}" required="true" requiredMessage="#{validation['poNumber.field.value.required']}" />
		<rich:message for="poNumVal" styleClass="error" />
		<h:outputText/>
	</div>
	<div>	
		<h:outputLabel value="Start Date:"/>
		<rich:calendar value="#{poNumber.startDate}" />
		<h:outputText/>
	</div>
	<div>	
		<h:outputLabel value="Expiration Date:"/>
		<rich:calendar value="#{poNumber.expirationDate}" />
		<h:outputText/>
    </div>  		
</ui:composition>