#account-edit-btn-block {
	margin-top: 50px;
}

.btn-black[class*='a'] {
	color: Black;
}

.btn[class*='a'] {
	color: white;
}

.btn-primary[class*='a'] {
	color: white;
}

.btn-info[class*='a'] {
	color: white;
}

.btn-warning[class*='a'] {
	color: white;
}

.btn-info[class*='a'] {
	color: white;
}

.btn-group>.btn {
	color: white;
}

#search-container {
	overflow: hidden;
}

.apdCenter {
	margin: 0 auto;
}

.fl-wrapper {
	padding: 0 20px 0 20px !important;
}

.divInside-Fade h5,.divInside-Fade p {
	display: inline-block
}

.divInside-Fade h5 {
	margin: 5px 0 0 10px
}

.headerBkgrd-pd {
	background-color: #e5e5e5;
	line-height: 30px
}


#idletimeout {
	background: #CC5100;
	border: 3px solid #FF6500;
	color: #fff;
	font-family: arial, sans-serif;
	text-align: center;
	font-size: 12px;
	padding: 10px;
	position: relative;
	top: 0px;
	left: 0;
	right: 0;
	z-index: 100000;
	display: none;
}

#idletimeout a {
	color: #fff;
	font-weight: bold
}

#idletimeout span {
	font-weight: bold
}

.whiteBkgrd-pd {
	background-color: #fff;
	line-height: 30px
}

.grayBkgrd-pd {
	background-color: #f2f2f2;
	line-height: 30px
}

.actionContainer {
	padding-left: 10px
}

/* ==================================== */
/*   PAGINATION			                    */
/* ==================================== */
.pagination {
	margin: 20px 0;
}

.pagination ul>li {
	display: inline;
}

.pagination ul>li>a,.pagination ul>li>span {
	float: left;
	padding: 4px 12px;
	line-height: 20px;
	text-decoration: none;
	color: #10165d;
	border: none;
	border-left-width: 0;
}

.pagination ul>li>a:hover,.pagination ul>li>a:focus,.pagination ul>.active>a,.pagination ul>.active>span
	{
	color: #555555;
	text-decoration: underline;
	background-color: transparent;
}

.pagination ul>.active>a,.pagination ul>.active>span {
	color: #555555;
	cursor: default;
}

.pagination ul>.disabled>span,.pagination ul>.disabled>a,.pagination ul>.disabled>a:hover,.pagination ul>.disabled>a:focus
	{
	color: #555555;
	cursor: default;
	background-color: transparent;
}

.pagination ul {
	border-radius: 4px 4px 4px 4px;
	box-shadow: none;
	display: inline-block;
	margin-bottom: 0;
	margin-left: 0;
}

.rightMenu {
	text-align: center;
	position: absolute;
	float: right;
	z-index: 1000;
	overflow: visible;
}

.rightMenu li {
	display: inline-block;
}

.right {
	float: right;
}

/** Taken from bootstrap3 **/
.btn-group-vertical>.btn,.btn-group-vertical>.btn-group {
	display: block;
	float: none;
	width: 100%;
	max-width: 100%;
}

.btn-group-vertical>.btn-group:before,.btn-group-vertical>.btn-group:after
	{
	display: table;
	content: " ";
}

.btn-group-vertical>.btn-group:after {
	clear: both;
}

.btn-group-vertical>.btn-group:before,.btn-group-vertical>.btn-group:after
	{
	display: table;
	content: " ";
}

.btn-group-vertical>.btn-group:after {
	clear: both;
}

.btn-group-vertical>.btn-group>.btn {
	float: none;
}

.btn-group-vertical>.btn+.btn,.btn-group-vertical>.btn+.btn-group,.btn-group-vertical>.btn-group+.btn,.btn-group-vertical>.btn-group+.btn-group
	{
	margin-top: -1px;
	margin-left: 0;
}

.btn-group-vertical
>
.btn


:not

 

(
:first-child

 

)
:not

 

(
:last-child

 

){
border-radius


:

 

0;
}
.btn-group-vertical
>
.btn


:first-child


:not

 

(
:last-child

 

){
border-top-right-radius


:

 

4
px


;
border-bottom-right-radius


:

 

0;
border-bottom-left-radius


:

 

0;
}
.btn-group-vertical
>
.btn


:last-child


:not

 

(
:first-child

 

){
border-top-right-radius


:

 

0;
border-bottom-left-radius


:

 

4
px


;
border-top-left-radius


:

 

0;
}
.btn-group-vertical>.btn-group:not        (:first-child        ):not      
	 (:last-child 
	      ) >.btn {
	border-radius: 0;
}

.btn-group-vertical>.btn-group:first-child>.btn:last-child,.btn-group-vertical>.btn-group:first-child>.dropdown-toggle
	{
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.btn-group-vertical>.btn-group:last-child>.btn:first-child {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.btn-group-justified {
	display: table;
	width: 100%;
	border-collapse: separate;
	table-layout: fixed;
}

.btn-group-justified .btn {
	display: table-cell;
	float: none;
	width: 1%;
}

.informationButton {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-top: 1px;
	*margin-right: .3em;
	line-height: 14px;
	vertical-align: text-top;
	background-position: 14px 14px;
	background-repeat: no-repeat;
	margin: 3px 5px 5px 5px;
	background-image: url(/administration/resources/img/info.png);
}

.icon-childCatalog {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-top: 1px;
	*margin-right: .3em;
	line-height: 14px;
	vertical-align: text-top;
	background-position: 14px 14px;
	background-repeat: no-repeat;
	margin: 3px 5px 5px 5px;
	background-image: url(/administration/resources/img/childCatalog.png);
}

.navbar-menu-text {
	font-weight: bold;
	text-shadow: 0 1px 0 #000;
	text-decoration: none;
}

.phoenix-table {
	height: 187px !important;
	overflow: scroll;
}

.phoenix-table-scroll {
	height: 187px !important;
	overflow: scroll;
}

.phoenix-table-header {
	background-color: #95A5A6;
}

.container,.navbar-static-top .container,.navbar-fixed-top .container,.navbar-fixed-bottom .container
	{
	width: 1170px;
}

.navbar-static-top .container,.navbar-fixed-top .container,.navbar-fixed-bottom .container
	{
	width: 1170px;
}

.row {
	margin-left: -15px;
}

.phoenix-container {
	margin-top: 50px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	background-color: #eeeeee;
	padding: 15px 15px 15px 15px;
}

.container-fluid {
	padding-right: 15px;
	padding-left: 15px;
}

/*override bootstrap */
.span12 {
	width: 1170px;
}

.span11 {
	width: 1072px;
}

.span10 {
	width: 974px;
}

.span9 {
	width: 876px;
}

.span8 {
	width: 778px;
}

.span7 {
	width: 680px;
}

.span6 {
	width: 582px;
}

.span5 {
	width: 484px;
}

.span4 {
	width: 386px;
}

.span3 {
	width: 288px;
}

.span2 {
	width: 190px;
}

.span1 {
	width: 92px;
}

.offset12 {
	margin-left: 1200px;
}

.offset11 {
	margin-left: 1093px;
}

.offset10 {
	margin-left: 986px;
}

.offset9 {
	margin-left: 879px;
}

.offset8 {
	margin-left: 772px;
}

.offset7 {
	margin-left: 665px;
}

.offset6 {
	margin-left: 558px;
}

.offset5 {
	margin-left: 451px;
}

.offset4 {
	margin-left: 344px;
}

.offset3 {
	margin-left: 237px;
}

.offset2 {
	margin-left: 130px;
}

.offset1 {
	margin-left: 23px;
}

.noTransition {
	background-image: none !important ;
}