textarea.message-content {
	width: 100%;
}

.order-log .action {
	padding-right: 10px;
}

.order-log {
	background-color: #E8E8E8;
	border: #CCC 1px solid;
	margin: 5px;
	padding: 10px 0 10px 0;
}

.content.container {
	margin-top:50px;
}

input.search {
	margin-left: 10px;
}