<!--  **Config file created on: 10-31-2013** -->
<beans
  xmlns="http://www.springframework.org/schema/beans"
  xmlns:amq="http://activemq.apache.org/schema/core"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
  http://activemq.apache.org/schema/core http://activemq.apache.org/schema/core/activemq-core.xsd">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <value>file:${activemq.home}/conf/aws-activemq.properties</value>
        </property>
    </bean>

    <broker xmlns="http://activemq.apache.org/schema/core" brokerName="${amq.catalog.brokerName}" dataDirectory="${activemq.data}" schedulerSupport="true">

        <destinationPolicy>
            <policyMap>
              <policyEntries>
                <policyEntry topic=">" producerFlowControl="true">
                  <pendingMessageLimitStrategy>
                    <constantPendingMessageLimitStrategy limit="10000"/>
                  </pendingMessageLimitStrategy>
                </policyEntry>
                <policyEntry queue=">" maxPageSize="5000" producerFlowControl="false" memoryLimit="${amq.destinationPolicy.memoryLimit.size}" enableAudit="false">
                </policyEntry>
              </policyEntries>
            </policyMap>
        </destinationPolicy>

        <managementContext>
            <managementContext connectorPort="1199" createConnector="true"/>
        </managementContext>

        <networkConnectors>
		  <networkConnector duplex="true" uri="${amq.catalog.brokerUris}"/>
		</networkConnectors>

		<persistenceAdapter>
		   <kahaDB directory="${activemq.data}/kahadb" />
		</persistenceAdapter>
		
          <systemUsage>
            <systemUsage>
                <memoryUsage>
                    <memoryUsage limit="${amq.memoryUsage.limitSize}"/>
                </memoryUsage>
                <storeUsage>
                    <storeUsage limit="${amq.catalog.storeUsage.limitSize}"/>
                </storeUsage>
                <tempUsage>
                    <tempUsage limit="${amq.tempUsage.limitSize}"/>
                </tempUsage>
            </systemUsage>
        </systemUsage>

        <transportConnectors>
            <transportConnector name="openwire" uri="${amq.catalog.openwire.connector}"/>
            <transportConnector name="amqp" uri="${amq.catalog.amqp.connector}"/>
        </transportConnectors>

        <shutdownHooks>
            <bean xmlns="http://www.springframework.org/schema/beans" class="org.apache.activemq.hooks.SpringContextHook" />
        </shutdownHooks>

    </broker>
	  
    <import resource="jetty.xml"/>
</beans>

