<!--  **Config file created on: 10-31-2013** -->
<beans
  xmlns="http://www.springframework.org/schema/beans"
  xmlns:amq="http://activemq.apache.org/schema/core"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
  http://activemq.apache.org/schema/core http://activemq.apache.org/schema/core/activemq-core.xsd">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <value>file:${activemq.conf}/aws-activemq.properties</value>
        </property>
    </bean>

    <broker xmlns="http://activemq.apache.org/schema/core" brokerName="${amq.brokerName}" dataDirectory="${activemq.data}" schedulerSupport="true">

        <destinationPolicy>
            <policyMap>
              <policyEntries>
                <policyEntry topic=">" producerFlowControl="true">
                  <pendingMessageLimitStrategy>
                    <constantPendingMessageLimitStrategy limit="10000"/>
                  </pendingMessageLimitStrategy>
                </policyEntry>
                <policyEntry queue=">" maxPageSize="5000" producerFlowControl="false" memoryLimit="${amq.destinationPolicy.memoryLimit.size}" enableAudit="false">
                </policyEntry>
              </policyEntries>
            </policyMap>
        </destinationPolicy>

        <managementContext>
            <managementContext createConnector="true"/>
        </managementContext>

		<persistenceAdapter>
		   <jdbcPersistenceAdapter dataDirectory="${activemq.data}" dataSource="#oracle-ds"/>
		</persistenceAdapter>
		
          <systemUsage>
            <systemUsage>
                <tempUsage>
                    <tempUsage limit="${amq.tempUsage.limitSize}"/>
                </tempUsage>
                <memoryUsage>
                    <memoryUsage limit="${amq.memoryUsage.limitSize}"/>
                </memoryUsage>
            </systemUsage>
        </systemUsage>

        <transportConnectors>
            <transportConnector name="openwire" uri="${amq.openwire.connector}"/>
            <transportConnector name="amqp" uri="${amq.amqp.connector}"/>
        </transportConnectors>

        <shutdownHooks>
            <bean xmlns="http://www.springframework.org/schema/beans" class="org.apache.activemq.hooks.SpringContextHook" />
        </shutdownHooks>

    </broker>
    
      <bean id="oracle-ds" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
		<property name="url" value="${db.url}"/>
		<property name="username" value="${db.username}"/>
		<property name="password" value="${db.password}"/>
		<property name="maxActive" value="${db.maxActive}"/>
		<property name="poolPreparedStatements" value="${db.poolPreparedStatements}"/>
	  </bean>
	  
    <import resource="jetty.xml"/>
</beans>

