<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
		
		<h:panelGrid columnClasses="label,component,required" columns="3">
		<h:outputLabel id="addressPropertyTypeSearchName" value="Search:" />
		<h:panelGroup>
			<rich:autocomplete id="addressPropertyTypeSearchAutocomplete" minChars="1" autocompleteMethod="#{addressPropertyTypeBean.searchByString}" var="result" fetchValue="#{result.name}" value="#{addressPropertyTypeBean.addressPropertyType.name}"
				onselectitem="updateVal(#{rich:element('resultId')}.value, #{rich:element('resultName')}.value);" validator="#{addressPropertyTypeBean.validateSelection}" >
			<rich:column>
	                <h:outputText value="#{result.name}" id="nameInput" />
	                <h:inputHidden value="#{result.name}" id="resultName"  />
	                <h:inputHidden value="#{result.id}" id="resultId" />
	            </rich:column>
		        <a4j:jsFunction name="updateVal" render="work">
		            <a4j:param name="param1" assignTo="#{addressPropertyTypeBean.addressPropertyType.id}"  />  
		            <a4j:param name="param2" assignTo="#{addressPropertyTypeBean.addressPropertyType.name}"  />                 
		        </a4j:jsFunction>
			</rich:autocomplete>
			<rich:message for="addressPropertyTypeSearchAutocomplete" styleClass="error"/>
		</h:panelGroup>
		</h:panelGrid>

</ui:composition>