<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:rich="http://richfaces.org/rich" xmlns:a4j="http://richfaces.org/a4j">
	<f:metadata>
            <f:event type="preRenderView" listener="#{approveOrderBean.retrieve}" />
	</f:metadata>
	<div class="container">
		<h4>Approve or Deny the following order:</h4>
		<h:form id="approveOrderForm">
			<div class="controls controls-row">
				<label class="span2"> APD Order #: </label>
                                <span class="input-medium uneditable-input span3">#{approveOrderBean.apdPo}</span>
			</div>
			<h:panelGroup rendered="#{approveOrderBean.canEditCustomerPo()}">
				<div class="controls controls-row">
					<label class="span2"> Customer Order #: </label>
                                <h:inputText class="input-medium uneditable-input span3" value="#{approveOrderBean.customerPo}" />
				</div>		
			</h:panelGroup>	
			
                    	<div class="controls controls-row">
				<label class="span2"> Order Total: </label>
                                <span class="input-medium uneditable-input span3"><h:outputText value="#{approveOrderBean.customerOrder.orderTotal}">
									<f:convertNumber currencySymbol="$" type="currency" />
								</h:outputText></span>
			</div>
                        <div class="controls controls-row">
				<label class="span2"> User: </label>
                                <span class="input-medium uneditable-input span3">#{approveOrderBean.customerOrder.user.login}</span>
			</div>
                        <div class="controls controls-row">
				<label class="span2"> Comments: </label>
                                <h:inputTextarea value="#{approveOrderBean.customerOrder.approvalComment}" />
			</div>
			
                        <h:commandButton class="btn btn-success" action="#{approveOrderBean.approve()}" value="Approve" />
                                <h:commandButton class="btn btn-success" action="#{approveOrderBean.deny()}" value="Deny" />
		</h:form>
		
		            <ui:include src="/cashout/orderBilling.xhtml">
                        <ui:param name="page" value="#{approveOrderBean.pageValues}" />
                        <ui:param name="isReadOnly" value="#{true}" />
                    </ui:include>
                    <ui:include src="/cashout/orderShipping.xhtml">
                        <ui:param name="page" value="#{approveOrderBean.pageValues}" />
                        <ui:param name="isReadOnly" value="#{true}" />
                    </ui:include>
                    <ui:include src="/cashout/orderContent.xhtml">
                           <ui:param name="page" value="#{approveOrderBean.pageValues}" />
                           <ui:param name="liToProduct" value="#{lineItemToProduct}" />
                           <ui:param name="order" value="#{approveOrderBean.customerOrder}" />
                           <ui:param name="isReadOnly" value="#{true}" />
                    </ui:include>
	</div>
</ui:composition>