<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"	
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j">
    <h:outputStylesheet library="css" name="override-styling.css" />
	
    <h:panelGroup styleClass="accordion-group" layout="block">
        <div class="accordion-heading divInside-Fade">
            <a class="accordion-toggle collapsed" data-toggle="collapse" href="#collapseProcessing">
                <h5>Catalog Processing Schedule<div class="arrowUp arrowDown">&nbsp;</div></h5></a>

        </div>
        <div id="collapseProcessing" class="accordion-body collapse in" style="height: auto;">
        <h:panelGroup styleClass="accordion-inner" layout="block">
        
        <div class="row-fluid">
        	<div class="span2">
        		Event
        	</div>
        	<div class="span3">
        		Process Every Night?
        	</div>
        	<div class="span4">
        		Process on a single day?
        	</div>
        	<div class="span3">
        		Process immediately when you click the "save" button?
        	</div>
        </div>
        
        <div class="row-fluid">
        	<div class="span2">
        		CSV Upload
        	</div>
        	<div class="span3">
				(Can't process every night, this is a one-time event)
        	</div>
        	<div class="span4">
	            <rich:calendar id="catalogChangeDate" value="#{catalogBean.catalog.changeDate}" disabled="#{catalogBean.changeImmediate}" />
	            <h:message for="catalogChangeDate" styleClass="error"/>
        	</div>
        	<div class="span3">
		        <h:selectBooleanCheckbox id="catalogChangeImmediate" value="#{catalogBean.changeImmediate}">
		        	<f:ajax event="change" render="catalogChangeDate" />
		        </h:selectBooleanCheckbox>
        	</div>
        </div>
        
        <div class="row-fluid">
        	<div class="span2">
        		Catalog CSV Generation
        	</div>
        	<div class="span3">
		        <h:selectBooleanCheckbox id="catalogRegenerateNightly" value="#{catalogBean.catalog.regenerateCsvNightly}">
		        	<f:ajax event="change" render="catalogRegenerateOneTime" />
		        </h:selectBooleanCheckbox>
        	</div>
        	<div class="span4">
            	<rich:calendar id="catalogRegenerateOneTime" value="#{catalogBean.catalog.regenerateCsvDate}" 
            		disabled="#{catalogBean.catalog.regenerateCsvNightly}" />
        	</div>
        	<div class="span3">
		        <h:selectBooleanCheckbox id="catalogRegenerateOnSave" value="#{catalogBean.generateCsvOnSave}" />
        	</div>
        </div>
        
        <div class="row-fluid">
        	<div class="span2">
        		Catalog Reindex
        	</div>
        	<div class="span3">
		        <h:selectBooleanCheckbox id="catalogReindexNightly" value="#{catalogBean.catalog.reindexNightly}">
		        	<f:ajax event="change" render="catalogReindexOneTime" />
		        </h:selectBooleanCheckbox>
        	</div>
        	<div class="span4">
            	<rich:calendar id="catalogReindexOneTime" value="#{catalogBean.catalog.reindexDate}" 
            		disabled="#{catalogBean.catalog.reindexNightly}" />
        	</div>
        	<div class="span3">
		        <h:selectBooleanCheckbox id="catalogReindexOnSave" value="#{catalogBean.reindexOnSave}" />
        	</div>
        </div>
        <h:panelGroup rendered="#{!catalogBean.isVendorCatalog()}">
         <div class="row-fluid">
        	<div class="span2">
        		Smart OCI Generation
        	</div>
        	<div class="span3">
				(Can't process every night, this is a one-time event)
        	</div>
        	<div class="span4">
	            <rich:calendar id="smartOciChangeDate" value="#{catalogBean.catalog.regenerateSmartOciDate}" disabled="#{catalogBean.generateSmartOciOnSave}" />
	            <h:message for="smartOciChangeDate" styleClass="error"/>
        	</div>
        	<div class="span3">
		        <h:selectBooleanCheckbox id="smartOciChangeImmediate" value="#{catalogBean.generateSmartOciOnSave}">
		        	<f:ajax event="change" render="smartOciChangeDate" />
		        </h:selectBooleanCheckbox>
        	</div>
        </div>
        </h:panelGroup>
	
	</h:panelGroup>
	</div>
	</h:panelGroup>
	
</ui:composition>
