<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"	
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j">
    <h:outputStylesheet library="css" name="override-styling.css" />
	
    <h:panelGroup styleClass="accordion-group" layout="block">
        <div class="accordion-heading divInside-Fade">
            <a class="accordion-toggle collapsed" data-toggle="collapse" href="#collapseShipping">
                <h5>Catalog Shipping<div class="arrowUp arrowDown">&nbsp;</div></h5></a>

        </div>
        <div id="collapseShipping" class="accordion-body collapse in" style="height: auto;">
        <h:panelGroup styleClass="accordion-inner" layout="block">
        
        <div class="row-fluid">
        	<div class="span2">
        		UPSable?
        	</div>
        	<div class="span4">
        		Shipping
        	</div>
        	<div class="span3">
        		Minimum
        	</div>
        	<div class="span3">
        		Maximum
        	</div>
        </div>
        
        <div class="row-fluid">
        	<div class="span2">
        		Yes
        	</div>
        	<div class="span4">
				<h:inputText value="#{catalogBean.catalog.upsableShippingRate}" id="catalogUpsRate" styleClass="span8" />
				<h:selectOneMenu id="upsablePricingUnit" value="#{catalogBean.catalog.upsableShippingRatePercent}" styleClass="span4">
					<f:selectItem id="upsablePercent" itemLabel="%" itemValue="#{true}" />
					<f:selectItem id="upsableDollar" itemLabel="$" itemValue="#{false}" />
				</h:selectOneMenu>
        	</div>
        	<div class="span3">
        		$<h:inputText value="#{catalogBean.catalog.upsableShippingMinimum}" id="catalogUpsMin" styleClass="span10" />
        	</div>
        	<div class="span3">
        		$<h:inputText value="#{catalogBean.catalog.upsableShippingMaximum}" id="catalogUpsMax" styleClass="span10" />
        	</div>
        </div>
        
        <div class="row-fluid">
        	<div class="span2">
        		No
        	</div>
        	<div class="span4">
				<h:inputText value="#{catalogBean.catalog.nonUpsableShippingRate}" id="catalogNonUpsRate" styleClass="span8" />
				<h:selectOneMenu id="nonUpsablePricingUnit" value="#{catalogBean.catalog.nonUpsableShippingRatePercent}" styleClass="span4">
					<f:selectItem id="nonUpsablePercent" itemLabel="%" itemValue="#{true}" />
					<f:selectItem id="nonUpsableDollar" itemLabel="$" itemValue="#{false}" />
				</h:selectOneMenu>
        	</div>
        	<div class="span3">
        		$<h:inputText value="#{catalogBean.catalog.nonUpsableShippingMinimum}" id="catalogNonUpsMin" styleClass="span10" />
        	</div>
        	<div class="span3">
        		$<h:inputText value="#{catalogBean.catalog.nonUpsableShippingMaximum}" id="catalogNonUpsMax" styleClass="span10" />
        	</div>
        </div>
	
	</h:panelGroup>
	</div>
	</h:panelGroup>
	
</ui:composition>
