<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"	
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j">
    <h:outputStylesheet library="css" name="override-styling.css" />

	<a4j:jsFunction name="removeTempCsv" action="#{catalogBean.removeTempCsv()}" />  

    <h:panelGrid columnClasses="label,component,required" columns="3">

        <ui:remove>
            The different sections should be collapsible, as per PHOEN-973.
        </ui:remove>
				
		<c:if test="#{propertiesBean.get('project.state', 'isPreRelease', 'false') eq 'true'}">
			<h:outputLabel for="catalogBeanCatalogId" value="System ID:"/>
			<h:outputText id="catalogBeanCatalogId" value="#{catalogBean.catalog.id}"/>
			<h:outputText/>
		</c:if>

        <h:outputLabel for="catalogName" value="Name:"/>
        <h:panelGroup>
            <h:inputText id="catalogName" value="#{catalogBean.catalog.name}" required="true"
                         requiredMessage="#{validation['field.name.required']}"/>
            <rich:message for="catalogName" styleClass="error" />
        </h:panelGroup>
        <h:outputText/>

        <h:outputLabel for="catalogStartDate" value="Activation Date:"/>
        <h:panelGroup>
            <rich:calendar id="catalogStartDate" value="#{catalogBean.catalog.startDate}" />
            <h:message for="catalogStartDate" styleClass="error"/>
        </h:panelGroup>
        <h:outputText/>

        <h:outputLabel for="catalogExpirationDate" value="Expiration Date:"/>
        <h:panelGroup>
            <rich:calendar id="catalogExpirationDate" value="#{catalogBean.catalog.expirationDate}" />
            <h:message for="catalogExpirationDate" styleClass="error"/>
        </h:panelGroup>
        <h:outputText/>
        
        <ui:include src="catalogParentChildRelationships.xhtml" />

        <h:outputLabel value="Upload Files:"/>
        <rich:fileUpload fileUploadListener="#{catalogBean.productUploadListener}" onclear="removeTempCsv();"
                         id="upload" addLabel="Products File Upload" acceptedTypes="csv" listHeight="50px"
                         ontyperejected="alert('Only CSV files are accepted');" 
                         maxFilesQuantity="1" />
       	<h:outputText />
		
    </h:panelGrid>
    
    <h:panelGroup rendered="#{catalogBean.catalog.id != null}">
    	<ui:include src="catalogCsvDownloads.xhtml" />
    </h:panelGroup>
        
    <ui:include src="catalogProcessingSchedule.xhtml" />
        
    <ui:include src="catalogCategoryPricing.xhtml" />
    
    <ui:include src="catalogShippingVariables.xhtml" />

</ui:composition>
