<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"	
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j">
    <h:outputStylesheet library="css" name="override-styling.css" />


	<h:panelGrid columnClasses="label,component,required" columns="3">
	
		<ui:remove>
			The different sections should be collapsible, as per PHOEN-973.
		</ui:remove>
		
		<h:outputLabel for="catalogItems" value="Products:"/>
		<h:panelGroup id="catalogItems">
			<p>
				<h:outputLabel value="Number of items: " />
				<h:outputText value="#{catalogBean.catalogSize}" />
			</p>
		</h:panelGroup>
		<h:outputText/>
       	
	</h:panelGrid>
	
</ui:composition>
