<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"	
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j">
    
       	<h:outputLabel for="parentLink" value="Parent Catalog:" 
                       rendered="#{catalogBean.catalog.parent != null}"/>
        <h:commandLink id="parentLink" value="#{catalogBean.catalog.parent.name}" immediate="true" 
        	rendered="#{catalogBean.catalog.parent != null}" action="#{catalogSearchBean.setSelection(catalogBean.catalog.parent)}"
        	render="work" />
        <h:outputText rendered="#{catalogBean.catalog.parent != null}"/>
    
       	<h:outputLabel for="childTable" value="Child Catalogs:" 
                       rendered="#{not catalogBean.catalog.children.isEmpty()}"/>
        <rich:dataTable id="childTable" rendered="#{not catalogBean.catalog.children.isEmpty()}"
						value="#{forgeview:asList(catalogBean.catalog.children)}"
						var="childCatalog">
			<rich:column>
				<f:facet name="header">
					<h:outputText value="Child Catalog" />
				</f:facet>
				<h:commandLink action="#{catalogSearchBean.setSelection(childCatalog)}" 
					render="work" value="#{childCatalog.name}" />
			</rich:column>
        </rich:dataTable>
        <h:outputText rendered="#{not catalogBean.catalog.children.isEmpty()}"/>

</ui:composition>
