<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"	
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                template="/WEB-INF/layout/administrationTemplate.xhtml"
                xmlns:apd="http://java.sun.com/jsf/composite/apd">

    <f:metadata>
        <f:event type="preRenderView" listener="#{catalogBean.retrieve}"/>
        <f:event type="preRenderView" listener="#{catalogBean.setActionName('CREATE_DIFF')}"/>
        <f:event type="preRenderView" listener="#{catalogBean.setVendorCatalog(false)}"/>
    </f:metadata>

    <ui:param name="pageTitle" value="Create Child Catalog"/>

    <ui:define name="header">
        Catalog
        <h:outputStylesheet library="css" name="override-styling.css" />
    </ui:define>

    <ui:define name="subheader" />

    <ui:define name="footer"/>

    <ui:define name="main">
        <h:form id="work">
            <div id="vendorBlock">
				<ui:include src="customerDisplay.xhtml" />
				<ui:include src="parentSelection.xhtml" />
            	<h:panelGroup rendered="#{catalogBean.isUpdatable(catalogBean.parentCatalog)}">
					<ui:include src="catalogDetails.xhtml" />
	                <div class="btn-group" layout="block">
	                    <h:commandLink value="Save" action="#{catalogBean.update}" styleClass="btn btn-success" ><i class="icon-ok"></i></h:commandLink>
	                </div>
				</h:panelGroup>
				<ui:include src="preventEdit.xhtml">
					<ui:param name="catalog" value="#{catalogBean.parentCatalog}" />
				</ui:include>
            </div>
        </h:form>
		<ui:include src="/admin/catalog/parentCatalogModal.xhtml">
			<ui:param name="bean" value="#{catalogBean}" />
			<ui:param name="render" value="work" />
		</ui:include>
		<ui:include src="/admin/catalogXItem/catalogXItemModal.xhtml">
			<ui:param name="catalogXItem" value="#{catalogBean.currentCatalogXItem}" />
		</ui:include>
    </ui:define>

</ui:composition>