<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	template="/WEB-INF/layout/administrationTemplate.xhtml">

	<f:metadata>
		<f:event type="preRenderView" listener="#{catalogBean.retrieve}"/>
	</f:metadata>

	<ui:param name="pageTitle" value="Catalog Instructions"/>

	<ui:define name="header">
		Catalog Maintenance Instructions
	</ui:define>
	
	<ui:define name="main">
		<p>
			This page explains how to use the Catalog Maintenance administration section. 
		</p>
		<p>
			First, you need to create a vendor catalog. To do this, on the navigation bar, click "Catalog," then "Vendor Catalog," 
			then "Add." On this screen, you can enter a name for the catalog, select the which vendor the catalog is for, 
			set a start and end date for the catalog, and upload a CSV file containing the items in the catalog.
		</p>
		<p>
			Once you have created a vendor catalog, you can modify it, by clicking either the "Edit" or "Replace" links 
			under "Vendor Catalog." Under either of these links, you can change the name of the catalog, as well as its 
			start and end dates. You can also upload CSV files, but the two pages do different things when CSV files 
			are uploaded. In the "Edit" page, differences are saved, and you can change the SKU of an item; if an item 
			isn't listed in the CSV file, it is left unchanged. In the "Replace" page, any items not listed in the CSV 
			file are discontinued.
		</p>
		<p>
			When you have one or more vendor catalogs with items, you can create a customer catalog. Click "Catalog," 
			then "Customer Catalog," then "Add." Like with the vendor catalog, you can set the name, start and end 
			date, and the customer of the new catalog, as well as upload a CSV. 
		</p>
		<p>
			Once you have a customer catalog, you can modify it, by clicking the "Edit" or "Replace" links under 
			"Customer Catalog." These work similarly to the ones under "Vendor Catalog," with one main difference: 
			changes made in customer catalog maintenance don't affect other catalogs. So, items are not discontinued 
			or created, and changed property values only affect the customer catalog being edited. 
		</p>
		<p>
			You can also make a customer catalog into a child catalog. A child catalog has all of the same information 
			of a parent catalog, except for any differences that you specify with a CSV. This lets you create a 
			template customer file, that you can use to create multiple different catalogs with, for example, a few 
			pricing changes. To do this, click the "Child Catalog" link under "Customer Catalog," select the catalog 
			that will be the child and select its parent, and upload the CSV specifying how the child catalog is 
			different from the parent.
		</p>
		<p>
			At any point, once you've uploaded a CSV, you can run a "dry run report" to see whether the CSV can be 
			processed. On a catalog, once you've uploaded the CSV and pressed the "save" button, go to the edit page. 
			Search for the catalog you updated, and once you've selected it, click the "Dry Run Report" link. This 
			will prompt you to download a report, listing warnings, errors, item updates, additions, and discontinues 
			that will occur when the CSV is processed.
		</p>
		<p>
			Click the following links for templates of Vendor and Customer Catalogs:
			<h:form id="work">
				<div class="buttons">
					<h:commandLink value="Vendor Catalog Template" immediate="true" action="#{catalogBean.vendorTemplate()}" />
					<h:commandLink value="Customer Catalog Template" immediate="true" action="#{catalogBean.customerTemplate()}" />
				</div>
			</h:form>
		</p>
	</ui:define>

</ui:composition>