<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">

	<h:panelGroup rendered="#{not catalogBean.isUpdatable(catalog)}">
		<h:outputText value="Processing for this catalog was started at #{catalog.lastProcessStart}, and hasn't yet completed. Are you sure you want to edit it?" />
		<br />
		
		<h:outputText value="Items processed:" />
		<rich:progressBar value="#{catalogBean.processedItems(catalog)}" minValue="0" maxValue="#{catalogBean.totalItems(catalog)}" interval="1000" enabled="true">
        	<h:outputText value="#{catalogBean.processedItems(catalog)}/#{catalogBean.totalItems(catalog)}"/>
		</rich:progressBar> 
		<br />
		
		<h:outputText value="Csv Creation progress:" />
		<rich:progressBar value="#{catalogBean.processedRows(catalog)}" minValue="0" maxValue="#{catalogBean.totalRows(catalog)}" interval="1000" enabled="true">
        	<h:outputText value="#{catalogBean.processedRows(catalog)}/#{catalogBean.totalRows(catalog)}"/>
		</rich:progressBar> 
		<br />		
		<a4j:commandLink value="Terminate Processing, Create CSV" action="#{catalogBean.createCSV(catalog)}" styleClass="btn btn-success" rendered="#{catalogBean.canCreateCSV(catalog)}" />
		<br />
		<a4j:commandLink value="FORCE Terminate Processing, Create CSV" action="#{catalogBean.createCSV(catalog)}" styleClass="btn btn-danger" rendered="#{!catalogBean.canCreateCSV(catalog)}" />
		<br />
		<h:commandLink value="Edit In-flight Catalog (could terminate the CSV)" action="#{catalogBean.forceEdit()}" styleClass="btn btn-success" />
		
	</h:panelGroup>

</ui:composition>