<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:apd="http://java.sun.com/jsf/composite/apd"
	xmlns:a4j="http://richfaces.org/a4j">

	<h:panelGrid columnClasses="label,component,required" columns="3">

		<ui:include src="/userAdmin/userInfo.xhtml" />
		
		<h:outputLabel for="systemUserBeanSystemUserPassword" value="Send Password Reset Email:" />
		<a4j:commandLink value="Submit" styleClass="btn btn-apd" id="systemUserBeanSystemUserPassword"
	                            	action="#{systemUserBean.resetPassword()}"/>
		<h:outputText />
	
		<h:outputLabel value="Phone Numbers" />
		<apd:phoneNumberSection id="phoneNumberSection" actionBean="#{systemUserBean}" phoneCollection="#{systemUserBean.systemUser.person.phoneNumbers}"/>
		<h:outputText />
		
		<h:outputLabel value="Addresses" />
		<apd:addressSection id="addressSection" actionBean="#{systemUserBean}" addressCollection="#{systemUserBean.systemUser.person.addresses}"/>
		<h:outputText />
		
		<ui:include src="/userAdmin/userAccountAssociation.xhtml" />
		
		<ui:include src="/userAdmin/userCredentialAssociation.xhtml" />

		<ui:include src="/userAdmin/userPaymentInfo.xhtml" />

	</h:panelGrid>

</ui:composition>
