<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/WEB-INF/layout/data/dataTemplate.xhtml"
	xmlns:apd="http://java.sun.com/jsf/composite/apd">

	<f:metadata>
		<f:event type="preRenderView" listener="#{accountViewBean.retrieve}"/>
	</f:metadata>

	<ui:define name="header">
		Account
	</ui:define>

	<ui:define name="subheader" />

	<ui:define name="footer"/>

	<ui:define name="dataMain">
		<h:form id="work">
			<apd:search searchBean="#{accountSearchBean}" detailsRegion="work" searchRegion="searching" />
			<ui:include src="accountDetails.xhtml" />
		</h:form>
		<ui:include src="/customerservice/serviceLogModals.xhtml">
			<ui:param name="render" value="work work" />
	    </ui:include>
	
	</ui:define>

</ui:composition>