<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"	
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:apd="http://java.sun.com/jsf/composite/apd"
                template="/WEB-INF/templates/ecommerceShoppingCartTemplate.xhtml">

    <f:metadata>
        <f:event type="preRenderView" listener="#{shoppingCartBean.retrieve}"/>
    </f:metadata>

    <ui:define name="page_content">   
        <h:form id="shoppingCart">
            <div class="row apdMarginTop container">
                <div class="span12 fl-wrapper">
                    <div class="span2">
                        <h3>#{display['cart.title']}</h3>
                    </div>
                  
                    <div class="shoppingBtns pull-right">
                    

                        <h:panelGroup styleClass="borderBottomMobile rightSideBtn" 
                        	rendered="#{!loginBean.isPunchout() and not loginBean.systemUser.concurrentAccess}">
                            <a4j:commandLink action="#{shoppingCartBean.saveCart()}" oncomplete="showPopup('cartSavedModal')" >
                                <i class="icon-starAPD"></i> Save Cart for Later
                            </a4j:commandLink>
                        </h:panelGroup>

                        <h:panelGroup styleClass="borderBottomMobile rightSideBtn" rendered="#{!loginBean.isPunchout()}">
                            <a href="/shopping/ecommerce/product/browse.xhtml"><i class="icon-cartAPD"></i>#{display['cart.continue']}</a>
                        </h:panelGroup>

                        <h:panelGroup styleClass="borderBottomMobile rightSideBtn" rendered="#{!loginBean.isPunchout()}">
                            <a4j:commandLink action="#{shoppingCartBean.clearCart()}" 
                                             render="shoppingCart subtotal-Price">
                                <i class="icon-emptyAPD"></i>#{display['cart.empty']}
                            </a4j:commandLink>
                        </h:panelGroup>
                        <div class="borderBottomMobile rightSideBtn mobileHide">
                        	<a class="checkoutBtn cashout" href="#{linksBean.getCashout()}">
                        	#{loginBean.isPunchout() ? shoppingCartBean.generatePunchoutCheckoutLabel() : display['cart.checkout']}
                        	</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    
                    <h:panelGroup id="minimumMessage">
                        <span class="pull-left">

	                       	<h:panelGroup layout="block" rendered="#{not cashoutBean.placeOrderAllowed}" style="color:red">
	                       		<h:outputText value="#{cashoutBean.placeOrderDisallowedMessage}" />
	                       	</h:panelGroup>
	                       	
	                       	<h:panelGroup layout="block" rendered="#{cashoutBean.minimumOrderFeeApplies}" style="color:red">
	                       		<h:outputText value="#{cashoutBean.minimumOrderFeeMessage}" />
	                       	</h:panelGroup>

                        </span>
                    </h:panelGroup>
                   
                    <div class="span12 mobileHide">
                    <div class="row-fluid">
                        <div class="span2"></div>
                        <div class="span2"><h5>Product/Manufacturer</h5></div>
                        <div class="span2 productFeature"><h5>Features</h5></div>
                        <div class="span2"></div>
                        <div class="span1"><h5>Units</h5></div>
                        <div class="span1"><h5>Price/Unit</h5></div>
                        <div class="span2 product-ExpriceHeader podRemove"><h5>Extended Price</h5></div>
                        <div class="span1 podRemove"><h5>Remove</h5></div>
					</div>
                    </div>

                    
                    <h:panelGroup id="cartTable">
                        <a4j:repeat value="#{shoppingCartBean.cartList}" var="cartProduct">
                            <div class="span12 borderBottomPro">
                            <div class="row-fluid">
                                <!-- IMAGE -->
                                <div class="span2 mobilePic ps-image mobilePicPS">
                                    <a href="#{cartProduct.detailsLink}">
                                    	<img src="#{cartProduct.mainImageUrl}" width="128" height="128"/>
                                    </a>
                                </div>

                                <div class="span2 mobileRight">
                                    <p class="product-title"><a href="#{cartProduct.detailsLink}">#{cartProduct.name}</a></p>
                                    <p class="product-man">#{cartProduct.manufacturerName}</p>
                                    <p class="product-sku"><strong>SKU:</strong> #{cartProduct.customerSku}</p>
                                </div>
                                    
                                <div class="span2 productFeature mobileRight">
                                    <div>
                                        <a4j:repeat rendered="#{not empty cartProduct.iconMap.keySet()}" value="#{viewUtils.mapToList(cartProduct.iconMap)}" var="entry" rowKeyVar="index">
                                            <img  src="#{credentialSelectionBean.getIconUrl(entry.key)}" alt="Product Icon Image" class="productIconImage" rel="tooltip" title="#{entry.value}" />
                                        </a4j:repeat>
                                    </div>
                                </div>                               
                               
                                <div class="span2 pQuantity-Container">
                                	<apd:addToCart product="#{cartProduct}" render="qtyBox subtotal-Price cartTable minimumMessage" />
                                </div>

                             
                                <div class="span1 mobileRight">
                                    <p class="product-units">#{cartProduct.units}</p>
                                </div>

                                
                                <div class="span1 mobileRight">
                                    <p class="product-price">
                                        <h:outputText value="#{shoppingCartBean.getPromisedPriceFromProduct(cartProduct)}">
                                            <f:convertNumber type="currency" currencySymbol="$" />
                                        </h:outputText>
                                    </p>
                                </div>

                                 
                                <div class="span2 podRemove mobileHide">
                                    <p class="product-Exprice">
                                        <h:outputText value="#{shoppingCartBean.getPromisedPriceFromProduct(cartProduct) * addToCartBean.displayQuantity[cartProduct]}">
                                            <f:convertNumber type="currency" currencySymbol="$" />
                                        </h:outputText>
                                    </p>
                                </div>

                             
                                <div class="span1 mobileRight">
                                    <span class="mobileText">Remove&#160;&#160;</span> 
                                    <h:commandLink styleClass="btn btn-small btnRed btnRemove" action="#{shoppingCartBean.remove(cartProduct)}" >
                                        <i class="icon-remove icon-white"></i>
                                    </h:commandLink>
                                </div> 

                                <div class="clearfix"></div>
                                <div class="span9" style="position:relative; left:140px">
                                	<h:outputText
                                		value="This item has been substituted for item #{shoppingCartBean.subsToOriginals.get(cartProduct).apdSku}, #{shoppingCartBean.subsToOriginals.get(cartProduct).name}, per your contract or personal selection." 
	                        			rendered="#{shoppingCartBean.subsToOriginals.get(cartProduct) != null}"  />
                       			</div>
                            </div>
                            </div>
                        </a4j:repeat>
                    </h:panelGroup>
               
                    <div class="row-fluid fl-wrapper similar-ItemsWrapper">
                        <div class="span12 fl-wrapper">
                            <div class="span12 subtotalBox text-right">
                                <p class="subtotal-Header"><strong>SUB-TOTAL</strong>&#160;&#160;&#160;&#160;
                                    <a4j:outputPanel ajaxRendered="true" id="subtotal-Price">
                                    <span class="subtotal-Price">
	                                    <h:outputText value="#{shoppingCartBean.subtotal}">
                                                <f:convertNumber type="currency" currencySymbol="$" />
                                            </h:outputText>
                                    </span>
                                    </a4j:outputPanel>
                                </p>

                            </div>
                        </div>
                    </div>

                   
                    <div class="shoppingBtns pull-right">    
                        <div class="borderBottomMobile rightSideBtn">
                        	<a4j:commandLink render="cartTable" action="#{shoppingCartBean.clearCart()}" >
                                    <i class="icon-emptyAPD"></i>#{display['cart.empty']}
                            </a4j:commandLink>
                        </div>

                        <div class="borderBottomMobile rightSideBtn">
                        	
                        	<a class="checkoutBtn cashout" 
                        	href="#{linksBean.getCashout()}">
                        	#{loginBean.isPunchout() ? shoppingCartBean.generatePunchoutCheckoutLabel() : display['cart.checkout']}</a>
                        </div>
                        <div class="clearfix marginBottom"></div>
                    </div>
                    <div class="clearfix"></div>
                     

                <!-- =====  SIMILAR ====== -->
                    <div class="span12 pd-sim-container">
                        <div class="row-fluid">
                            <div class="span9 divInside-Fade seeMoreHeader">
                                <div class="span9">
                                    <h5>#{display['cart.similar']}</h5>
                                </div>
                            </div>
                        </div>
                        <a4j:repeat value="#{shoppingCartBean.similarItemList}" var="product">
                            <div class="row-fluid">
                                <div class="span9 pd-productContainer">
                                    <div class="span2"><img src="#{productDetailsBean.getURLString(product.imageUrls)}"/></div>
                                    <div class="span4 product-info">
                                        <p class="title">
                                            <a href="#{product.detailsLink}">#{product.name}</a>
                                        </p>
                                        <p class="manu">#{product.manufacturerName}</p>
                                        <p class="sku"><strong>SKU:</strong>#{product.customerSku}</p>
                                        <p>
                                            <a4j:repeat rendered="#{not empty product.iconMap.keySet()}" value="#{viewUtils.mapToList(product.iconMap)}" var="entry" rowKeyVar="index">
                                                <img  src="#{credentialSelectionBean.getIconUrl(entry.key)}" alt="Product Icon Image" class="productIconImage" rel="tooltip" title="#{entry.value}" />
                                            </a4j:repeat>
                                        </p>
                                    </div>
                                    <div class="span3 product-info">
                                        <p>
                                            <c:if test="#{!addToCarBean.isAddingPrevented(product)}">
                                                <h:outputText value="#{product.price}" >
                                                    <f:convertNumber currencySymbol="$" groupingUsed="true" maxFractionDigits="2" type="currency" />
                                                </h:outputText>
                                            </c:if>
                                        </p>
                                    </div>
                                    <div class="span2 product-info"><p>#{product.units}</p></div>

                                    <div class="span2 padding-right pull-right product-info">  
                                    </div>
                                    <div style="clear:both"></div>
                                </div>
                            </div>
                            <!--End of Item 1 -->
                        </a4j:repeat>
                    </div>
                </div>
            </div>
        </h:form>
        <div id="push"></div>
        <div class="modalContainer">
            <rich:popupPanel id="cartSavedModal" style="background:white;" autosized="true" resizeable="false" moveable="false" domElementAttachment="parent">
                <f:facet name="controls">
                    <a4j:commandLink value="X" style="cursor:pointer" onclick="#{rich:component('cartSavedModal')}.hide(); return false;" />
                </f:facet>
                <h:outputText value="#{display['cashout.cart.saved']}" style="color:black;padding:5px;" />
            </rich:popupPanel>
        </div>
    </ui:define>

</ui:composition>

