<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
	template="/WEB-INF/layout/customerServiceTemplate.xhtml">
	<ui:define name="main">
		<div id="returnViewNavigation" class="tabbable">
			<ul class="nav nav-tabs hide" data-tabs="tabs">
				<li class="active">
					<a id="generalReturnLink" href="#returnSearchTab" data-toggle="tab"/>
				</li>
				<li>
					<a id="historyLink" href="#returnViewTab" data-toggle="tab"/>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane fade in active" id="returnSearchTab">
					<ui:include src="returnSearchFields.xhtml" />
					<ui:include src="returnSearchResults.xhtml" />
				</div>
				<div class="tab-pane fade in" id="returnViewTab">
					<a4j:outputPanel id="return-view-panel">
						<div class="container-fluid">
							<ui:include src="return-general-info.xhtml" />
						</div>
					</a4j:outputPanel>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>