<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:rich="http://richfaces.org/rich" xmlns:a4j="http://richfaces.org/a4j"
	xmlns:forgeview="http://jboss.org/forge/view" xmlns:apd="http://java.sun.com/jsf/composite/apd">

	<div class="row">
		<h:form id="return-results-form">
			<div class="span12 phoenix-table-scroll">
				<table class="table table-hover table-striped">
					<thead class="phoenix-table-header">
						<tr>
							<th>RA Number</th>
							<th>Status</th>
							<th>Created Date</th>
							<th>APD Order #</th>
							<th>Customer Order #</th>
							<th>User</th>
							<th>Actions</th>

						</tr>
					</thead>
					<tbody>
						<a4j:repeat rowKeyVar="index" var="return" value="#{returnSearchBean.returnList}">
							<tr>
								<td>
									<h:outputText value="#{return.raNumber}" />
								</td>
								<td>
									<h:outputText value="#{return.status.toString()}" />
								</td>
								<td>
									<h:outputText value="#{return.createdDate}" />
								</td>
								<td>
									<h:outputText rendered="#{return.order.apdPo != null}" value="#{return.order.apdPo.value}" />
								</td>
								<td>
									<h:outputText rendered="#{return.order.customerPo != null}" value="#{return.order.customerPo.value}" />
									<h:outputText rendered="#{return.order.customerPo == null and return.order.blanketPo != null}" 
										value="#{return.order.blanketPo.value}" />
								</td>
								<td>
									<h:outputText value="#{return.order.user.login}" />
								</td>
								<td class="span1 pull-right actionContainer">
									<a4j:commandLink action="#{returnDetailsBean.setReturn(return)}" styleClass="btn-link btn"
										oncomplete="$( '#change-tab-link' ).click()" render=":return-view-panel">
										View
									</a4j:commandLink>
								</td>
							</tr>
						</a4j:repeat>
					</tbody>
				</table>
			</div>
			<div class="span12 pagination pull-left">
				<apd:pagination pageDisplay="#{returnSearchBean.pageDisplay}" render="return-results-form" />
			</div>
		</h:form>
		<a href="#returnViewTab" class="hide" data-toggle="tab" id="change-tab-link">
			<i class="icon-eye-open" />
		</a>
	</div>
</ui:composition>