<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich" xmlns:forgeview="http://jboss.org/forge/view">

	<div class="tab-pane fade in active" id="orderInfo">
		<h:form>
			<a href="#returnSearchTab" data-toggle="tab" id="searchResults-return-tab-link">
				Return to search results
			</a>
			<label for="apdPoDisplay">APD PO Number</label>
			<h:outputText id="apdPoDisplay" value="#{returnDetailsBean.return.order.apdPo.value}" />
			<label for="raNumberDisplay">RA Number</label>
			<h:outputText id="raNumberDisplay" value="#{returnDetailsBean.return.raNumber}" />
			<label for="statusDisplay">Return Status</label>
			<h:outputText id="statusDisplay" value="#{returnDetailsBean.return.status.toString()}" />
			<table class="table table-hover table-striped">
				<thead class="phoenix-table-header">
					<tr>
						<th>APD SKU</th>
						<th>Short Name</th>
						<th>Unit Price</th>
						<th>Quantity</th>
						<th>Shipping Returned</th>
	
					</tr>
				</thead>
				<tbody>
					<a4j:repeat var="item" value="#{forgeview:asList(returnDetailsBean.return.items)}">
						<tr>
							<td>
								<h:outputText value="#{item.lineItem.apdSku}" />
							</td>
							<td>
								<h:outputText value="#{item.lineItem.shortName != null ? item.lineItem.shortName : item.lineItem.description}" />
							</td>
							<td>
								<h:outputText value="#{forgeview:toCurrency(item.lineItem.unitPrice)}" />
							</td>
							<td>
								<h:outputText value="#{item.quantity}" />
							</td>
							<td>
								<h:outputText value="#{item.getReturnShippingAmount()}"/>
							</td>
						</tr>
					</a4j:repeat>
				</tbody>
			</table>
			<label for="restockingFee">Restocking Fee</label>
			<h:inputText id="restockingFee" value="#{returnDetailsBean.restockingFee}" 
				disabled="#{not returnDetailsBean.editable}" />
			<a4j:commandLink value="Reconcile Return" rendered="#{returnDetailsBean.editable}" render=":confirmationModalForm"
				styleClass="btn btn-apd" oncomplete="showPopup('confirmationModal');" />
			<a4j:commandLink value="Close Return" rendered="#{returnDetailsBean.editable}" render=":closeReturnModalForm"
				styleClass="btn btn-apd" oncomplete="showPopup('closeReturnModal');" />
		</h:form>
    
	    <rich:popupPanel id="confirmationModal" autosized="true" resizeable="false" moveable="false" domElementAttachment="parent">
	        <f:facet name="controls">
	            <a4j:commandLink value="X" style="cursor:pointer" onclick="hidePopup('confirmationModal');" immediate="true" />
	        </f:facet>
	        <h:form id="confirmationModalForm">
		        <div class="span3">
		            <h5>Are you sure you want to credit the customer <h:outputText value="#{forgeview:toCurrency(returnDetailsBean.returnTotal)}" />?</h5>
		        </div>
		        <div class="btn-group" layout="block">
	                <h:commandLink value="Confirm" styleClass="btn btn-apd" 
	                        action="#{returnDetailsBean.reconcileReturn()}" render=":change-form" />
	                <a4j:commandLink value="Cancel" styleClass="btn" immediate="true" 
	                        onclick="hidePopup('confirmationModal');" />
		        </div>
	        </h:form>
	    </rich:popupPanel>
    
	    <rich:popupPanel id="closeReturnModal" autosized="true" resizeable="false" moveable="false" domElementAttachment="parent">
	        <f:facet name="controls">
	            <a4j:commandLink value="X" style="cursor:pointer" onclick="hidePopup('closeReturnModal');" immediate="true" />
	        </f:facet>
	        <h:form id="closeReturnModalForm">
		        <div class="span3">
		            <h5>Are you sure you want to close this return?</h5>
		        </div>
		        <div class="btn-group" layout="block">
	                <h:commandLink value="Confirm" styleClass="btn btn-apd" 
	                        action="#{returnDetailsBean.closeReturn()}" render=":change-form" />
	                <a4j:commandLink value="Cancel" styleClass="btn" immediate="true" 
	                        onclick="hidePopup('closeReturnModal');" />
		        </div>
	        </h:form>
	    </rich:popupPanel>
	</div>
</ui:composition>