<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a4j="http://richfaces.org/a4j" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:rich="http://richfaces.org/rich">

	<!-- Need to include the c:if tag around each of the  navigation options -->
	<div class="navbar navbar-fixed-top phoenix-nav">
		<div class="navbar-inner">
			<div class="container">
				<h:link id="phoenixHomeLink" value="Customer Service" outcome="/index.xhtml" styleClass="brand navbar-brand" />
				<c:if test="#{not empty request.remoteUser}">
					<ul class="nav">
						<li>
							<a href="/customerservice/admin/customerService/customer-service.xhtml">
								Tasks
								<span class="badge">#{workflowTaskBean.numberOfAssignedTasks}</span>
							</a>
						</li>
						<li>
							<a id="orderLink" href="/customerservice/admin/order/order.xhtml"> Orders </a>
						</li>
						<li>
							<a id="reportsLink" href="/customerservice/admin/reports/reports.xhtml"> Reports </a>
						</li>
						<li>
							<h:panelGroup rendered="#{workflowTaskBean.hasPermission('customer service view dynamics/jumptrack')}">
								<a id="solomonLink" href="/customerservice/admin/solomon/solomon.xhtml"> Dynamics </a>
							</h:panelGroup>
						</li>
						<li>
							<a id="dataAdministrationLink" href="/customerservice/admin/data/data.xhtml"> Data </a>
						</li>
						<li>
							<h:panelGroup rendered="#{workflowTaskBean.hasPermission('customer service view dynamics/jumptrack')}">
								<a id="dataAdministrationLink" href="/customerservice/admin/shipManifest/jumptrack.xhtml"> Jumptrack </a>
							</h:panelGroup>
						</li>
						<li>
							<a id="logLink" href="/customerservice/admin/logs/logs.xhtml"> Contact Logs </a>
						</li>
						<li>
							<input type="text" id="poQuickSearchField" placeholder="APD PO Quick Lookup" 
								onkeypress="if (event.keyCode == 13) {location.href = '/customerservice/admin/orderSearch/order-search.xhtml?apdpo=' + $('#poQuickSearchField').val();}" />
						</li>
					</ul>
					<h:form id="logoutLinkForm">
					<ul class="nav pull-right">
						<li>
							<span class="navbar-text">Hello, #{request.remoteUser}</span>
						</li>
						<li>
							<h:commandLink id="logoutLink" styleClass="navbar-link" action="#{userManager.logout()}">
								Logout
							</h:commandLink>
						</li>
					</ul>
					</h:form>
				</c:if>
			</div>
		</div>
	</div>
	
	<a4j:status onstart="if (RichFaces) { RichFaces.$('waitModal').show(); } return false;" onstop="if (RichFaces) { RichFaces.$('waitModal').hide(); } return false;"/>
	
    <rich:popupPanel id="waitModal" height="52" width="52" resizeable="false" moveable="false" domElementAttachment="parent" zindex="200">
        <img id="ajaxloader"  src="/customerservice/resources/img/ajax-loader.gif" />
    </rich:popupPanel>
    
    <script type="text/javascript">

    // Ajax convenience functions
    
    if (!window["busystatus"]) {
            var busystatus = {};
    }

    busystatus.onStatusChange = function onStatusChange(data) {
            var status = data.status;

            if (status === "begin") { // turn on busy indicator
                    document.body.style.cursor = 'wait';
            } else { // turn off busy indicator, on either "complete" or "success"
                    document.body.style.cursor = 'auto';
            }
    };

    jsf.ajax.addOnEvent(busystatus.onStatusChange);
    function isAjaxEvent(data, ajaxEvent) {
        if (data) {
            return data.status == ajaxEvent;
        }
    }
    </script>
	<c:if test="#{not empty request.remoteUser}">
		<ui:include src="/WEB-INF/layout/modals/bulletinDisplayModal.xhtml" />
	</c:if>
</ui:composition>
