<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:a4j="http://richfaces.org/a4j">
    <div class="btn-group">
        <a4j:commandLink id="deleteButton" value="Delete"
                         styleClass="btn btn-danger" action="#{bean[deleteMethod]}"> 
            <i class="icon-trash"/>
        </a4j:commandLink>
        <ui:include src="save.xhtml" />
    </div>
</ui:composition>
