<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich" xmlns:c="http://java.sun.com/jsp/jstl/core">
		<h:form id="navigationForm">
			<ul class="nav nav-pills nav-stacked">
				<li class="dropdown">
					<a id="user" class="dropdown-toggle left-navigation" data-toggle="dropdown" href="#">
						User
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu rightMenu">
						<li>
							<a href="/customerservice/admin/user/userAdd.xhtml" class="left-navigation">
								<i class="icon-plus" style="margin: 3px 5px 5px 5px;" />
							</a>
							<a href="/customerservice/admin/user/userEdit.xhtml" class="right left-navigation">
								<i class="icon-pencil" style="margin: 3px 5px 5px 5px;" />
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</h:form>
</ui:composition>
