<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:a4j="http://richfaces.org/a4j">

    <a4j:commandLink id="save" value="Save"
                     styleClass="btn btn-apd" action="#{bean[saveMethod]}">
        <i class="icon-ok"/>
    </a4j:commandLink>
</ui:composition>




