<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:apd="http://java.sun.com/jsf/composite/apd"
                template="/WEB-INF/templates/ecommerceProductBrowseTemplate.xhtml">

	<f:metadata>
        <f:viewParam name="searchString"
                     value="#{searchBean.queryData.searchString}" />
        <f:viewParam name="selectedManufacturer"
                     value="#{searchBean.queryData.selectedManufacturer}" />
        <f:viewParam name="filters"
                     value="#{searchBean.queryData.activeFiltersString}" />
        <f:viewParam name="hierarchyPath"
                     value="#{searchBean.queryData.hierarchyPath}" />
        <f:viewParam name="lowPrice" value="#{searchBean.queryData.lowPrice}"/>
        <f:viewParam name="highPrice" value="#{searchBean.queryData.highPrice}"/>
        <f:viewParam name="start" value="#{searchBean.queryData.start}"/>
        <f:viewParam name="favoritesId" value="#{searchBean.queryData.companyFavoritesId}"/>
        <f:viewParam name="favoritesListName" value="#{favoritesBean.favoritesListName}"/>
        <f:viewParam name="mb" value="#{searchBean.queryData.matchbookId}" />
        <f:viewParam name="inkTonerManufacturer" value="#{searchBean.inkTonerManufacturer}" />
        <f:viewParam name="inkTonerModel" value="#{searchBean.inkTonerModel}" />
        <f:viewParam name="page" value="#{searchBean.pageViewParam}" />
        <f:event type="preRenderView" listener="#{searchBean.solrProductSearch()}"/>
        </f:metadata>
	<ui:define name="page_content">        
            <a4j:jsFunction name="applyFilter" action="#{searchBean.applyFilter()}">                
                <a4j:param name="arg1" assignTo="#{searchBean.queryData.selectedFilterName}" />
            </a4j:jsFunction>
            <a4j:jsFunction name="pageSizeValueChanged" action="#{searchBean.refreshPage}">                
                <a4j:param name="param1" assignTo="#{searchBean.pageSizeIndex}" /> 
            </a4j:jsFunction>
            <a4j:jsFunction name="sortByValueChanged" action="#{searchBean.refreshPage}">                
                <a4j:param name="param1" assignTo="#{searchBean.productSort.selectedSortByIndex}" /> 
            </a4j:jsFunction>
            <a4j:jsFunction render="@none" name="deactivateFilter" action="#{searchBean.deactivateFilter()}">
                <a4j:param name="arg1" assignTo="#{searchBean.queryData.selectedFilterName}" />
            </a4j:jsFunction>
            <a4j:jsFunction name="initRefineSearch" action="#{searchBean.solrProductRefineSearchInit()}">                
                <a4j:param name="searchTerm" assignTo="#{searchBean.queryData.refineSearchString}" /> 
            </a4j:jsFunction>
				<div class="row apdMarginTop container productSearch apdMarginTop"> 
					<div class="span2 mobileHide">
						<ui:include src="/WEB-INF/templates/category/categoryMenu.xhtml">
							<ui:param name="bean" value="#{productBrowseBean}" />
							<ui:param name="listMenuItems" value="highLevelNodes" />
						</ui:include>
                                                <ui:include src="/WEB-INF/components/inserts/search/inkTonerCore.xhtml" />
						<ui:include src="/WEB-INF/templates/category/manufacturerMenu.xhtml"/>
                        <h:panelGroup id="price-range-widget" layout="block" rendered="#{searchBean.shouldRenderPriceFilters()}"> 
                            <ul class="nav nav-tabs nav-stacked">
                                <li class="dropdown-submenu"><a href="#"><strong>Price</strong></a></li>
                                <li>
                                    <a class="#{searchBean.priceFilterIsApplied(0.00,24.99) ? 'selected' : ''}"
                                    href="#{searchBean.priceFilterIsApplied(0.00,24.99) ? searchBean.getPriceUrl(0.0,0.0) : searchBean.getPriceUrl(0.00,24.99)}">Under $25</a>
                                </li>
                                <li>
                                    <a class="#{searchBean.priceFilterIsApplied(25.00,50.00) ? 'selected' : ''}"
                                    href="#{searchBean.priceFilterIsApplied(25.00,50.00) ? searchBean.getPriceUrl(0.0,0.0) : searchBean.getPriceUrl(25.00,50.00)}">$25 to $50</a>
                                </li>
                                <li>
                                    <a class="#{searchBean.priceFilterIsApplied(50.00,100.00) ? 'selected' : ''}"
                                    href="#{searchBean.priceFilterIsApplied(50.00,100.00) ? searchBean.getPriceUrl(0.0,0.0) : searchBean.getPriceUrl(50.00,100.00)}">$50 to $100</a>
                                </li>
                                <li>
                                    <a class="#{searchBean.priceFilterIsApplied(100.00,200.00) ? 'selected' : ''}"
                                    href="#{searchBean.priceFilterIsApplied(100.00,200.00) ? searchBean.getPriceUrl(0.0,0.0) : searchBean.getPriceUrl(100.00,200.00)}">$100 to $200</a>
                                </li>
                                <li>
                                    <a class="#{searchBean.priceFilterIsApplied(200.00,Float.MAX_VALUE) ? 'selected' : ''}"
                                    href="#{searchBean.priceFilterIsApplied(200.00,Float.MAX_VALUE) ? searchBean.getPriceUrl(0.0,0.0) : searchBean.getPriceUrl(200.00, Float.MAX_VALUE)}">Over $200</a>
                                </li>
                            </ul>
                        </h:panelGroup>
					</div>	
                        <h:form id="browse-form">
                        <h:panelGroup  styleClass="span10">
                            <div class="row apdMarginTop container">
                                <div class="span12">
                                    <ul class="breadcrumb">
                                        <a4j:repeat value="#{searchBean.breadcrumb.crumbs}"
                                                    var="breadcrumb">
                                            <li>
                                                <a href="#{searchBean.breadcrumb.getCrumbURL(breadcrumb)}">#{breadcrumb}</a> 
                                                <span class="divider"> > </span></li>
                                        </a4j:repeat>                                                            
                                    </ul>
                                </div>
                                <div class="span5 main-Header">
                                    <h:panelGroup rendered="#{not empty searchBean.breadcrumb.tail}">
                                        <h3>#{searchBean.breadcrumb.tail}</h3>
                                    </h:panelGroup>
                                    <h:panelGroup rendered="#{empty searchBean.breadcrumb.tail}">
                                        <table style="width:100%">
                                            <tr>
                                                <td>
                                                    <h:panelGroup rendered="#{empty searchBean.products}" styleClass="span10">
                                                        <h:panelGroup rendered="#{not empty searchBean.previousQueryData.searchString}" styleClass="span5 main-Header">
                                                            <h3>#{searchBean.buildResultsTitle()}</h3>
                                                            <p>Browse the Catalog using the Category Menu or Enter a new Search Term</p>
                                                        </h:panelGroup>
                                                    </h:panelGroup>
                                                    <h:panelGroup rendered="#{not empty searchBean.products 
                                                                              and not empty searchBean.previousQueryData.searchString and not searchBean.inkTonerSearch}">
                                                        <h3>#{searchBean.buildResultsTitle()}</h3>
                                                    </h:panelGroup>
                                                    <h:panelGroup rendered="#{not empty searchBean.products 
                                                                              and searchBean.inkTonerSearch}">
                                                        <h3>Results for Brand: '#{searchBean.inkTonerManufacturer}'</h3>
                                                         <h3>Model: '#{searchBean.inkTonerModel}'</h3>
                                                    </h:panelGroup>
                                                    <h:panelGroup rendered="#{not empty searchBean.products 
                                                                              and empty searchBean.previousQueryData.searchString 
                                                                              and not empty searchBean.previousQueryData.companyFavoritesId}">
                                                        <h3>#{favoritesBean.favoritesListName}</h3>
                                                    </h:panelGroup>
                                                </td>
                                                <td>
                                                    <div class="searchContainer pull-right" style="margin-right:10px">
                                                        <div class="topSearch">
                                                            <div class="searchBoxWrapper">
                                                                <div class="searchBoxContainerInner">
                                                                    <div class="searchSelectContainer">
                                                                        <h:inputText id="refine-search-input" styleClass="search-input span2" value="#{searchBean.queryData.refineSearchString}" 
                                                                                     style="position:relative;"/>
                                                                    </div>
                                                                </div>
                                                                <i id="refine-search-icon" class="icon-search"></i>
                                                            </div>
                                                        </div>
                                                    </div>    
                                                </td>
                                            </tr>
                                        </table>
                                    </h:panelGroup>
                                </div>                                            
                            </div>
                            <div class="marginLeft25">
                                <!-- ======  BREADCRUMBS 2nd ===== -->           
                                <div class="search-header clearfix">
                                    <ul class="breadcrumb pull-left">
                                        <h:panelGroup rendered="#{searchBean.subCategoryMenu.extendedList.size() > 0}">
                                            <li class="dropdown pull-right">
                                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Expand<i class="icon-chevron-down"></i></a>
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="display: none;">
                                                    <a4j:repeat value="#{searchBean.subCategoryMenu.extendedList}"
                                                                var="nextNode" rowKeyVar="index">
                                                        <li>
                                                            <a href="#{searchBean.subCategoryMenu.getUrl(nextNode)}">#{nextNode}</a>
                                                        </li>
                                                    </a4j:repeat>
                                                </ul>
                                            </li>
                                        </h:panelGroup>
                                        <a4j:repeat value="#{searchBean.subCategoryMenu.subList}"
                                                    var="nextNode" rowKeyVar="index">
                                            <li>
                                                <a href="#{searchBean.subCategoryMenu.getUrl(nextNode)}">#{nextNode}</a>
                                            </li>
                                            <li>
                                                <h:outputText value="|"
                                                              rendered="#{index != searchBean.subCategoryMenu.subList.size() - 1
                                                                or searchBean.subCategoryMenu.subList.size() != 0}"
                                                              styleClass="divider" />
                                            </li>
                                        </a4j:repeat>
                                    </ul>
                                </div>
                                <!-- ======  BREADCRUMBS 2nd END ===== --> 
                            </div>
                            <h:panelGroup id="no-search-results" styleClass="row-fluid marginLeft25" layout="block" rendered="#{empty searchBean.products}">
                            	<div><h3>NO PRODUCTS FOUND THAT MATCH THE SELECTED FILTER</h3></div>
                            </h:panelGroup>
                            <h:panelGroup id="search-results" styleClass="row-fluid marginLeft25" layout="block" rendered="#{not empty searchBean.products}">
                                    <div class="span9 productContainer">
                                         <h:panelGroup id="productListBlock" layout="block">
                                             <div class="span12">
                                                 <div class="rightLinkPS">
                                                     <span class="help-inline sortByLabel">Sort By</span>
                                                     <h:selectOneMenu id="sorByMenu"
                                                                      value="#{searchBean.productSort.selectedSortBy}"
                                                                      onchange="sortByValueChanged(getComboboxIndex('browse-form:sorByMenu'))"
                                                                      style="width: 170px;">
                                                         <f:selectItems value="#{searchBean.productSort.sortByOptions}" />
                                                     </h:selectOneMenu>
                                                     <div class="pull-right mobileHide">
                                                         <span class="help-inline sortByLabel">Products per page</span>
                                                         <h:selectOneMenu id="page-size-selection"
                                                                          value="#{searchBean.pageSize}"
                                                                          onchange="pageSizeValueChanged(getComboboxIndex('browse-form:page-size-selection'))"
                                                                          style="width: 48px;">
                                                             <f:selectItems value="#{searchBean.pageDisplay.sizes}" />
                                                         </h:selectOneMenu>
                                                     </div>
                                                 </div>                                           
                                                     
                                             </div>
                                             <h:panelGroup id="searchResultsInformation" rendered="#{credentialSelectionBean.propertyMap['show search results summary'] != 'false'}">
                                        <div class="span12">
                                            <span>#{searchBean.resultInformationString} for #{searchBean.isSearchByString ? searchBean.previousQueryData.searchString : searchBean.breadcrumb.tail} 
                                            </span>
                                        </div>
                                        </h:panelGroup>
						                <span class="pull-left">
											<rich:messages />
										</span>
                                            <ui:include src="/WEB-INF/components/inserts/product/productList.xhtml">
                                                <ui:param name="products" value="#{searchBean.products}" />
                                                <ui:param name="allowCompare" value="true" />
                                                <ui:param name="parentBean" value="#{searchBean}"/>
                                            </ui:include>                                                    
                                             <h:panelGroup rendered="#{not empty searchBean.products}" styleClass="span12">
                                                 <div class="span6">
                                                     <a4j:commandLink value="Compare Selected Items" styleClass="smallBtn" 
                                                                      action="#{productCompareBean.init()}" render="browse-form" />
                                                 </div>
                                                 
                                                 <div class="span6 pull-right">
                                                     <a4j:commandLink value="Add All To Cart" styleClass="smallBtn pull-right" 
                                                     					rendered="#{not addToCartBean.isAllAddingPrevented(searchBean.products)}"
                                                                                        action="#{addToCartBean.addAllToCart(searchBean.products)}"
                                                                      oncomplete="$cartNotify();" render=":items-added-json :cart-dropdown-count :recently-added-container" 
                                                                       onclick="waitOnNextAjax();"/>
									            <h:panelGroup rendered="#{addToCartBean.isAllAddingPrevented(searchBean.products)}">
									            	<a href="#" class="smallBtnDisabled btn disabled pull-right">
									            		Add All To Cart
									            	</a>
									            </h:panelGroup>
                                                 </div>
                                                 <div class="span12 clearfix borderBottomPS">
                                                 </div>
                                             </h:panelGroup>
                                             <div class="span12">
                                                 <apd:pagination pageDisplay="#{searchBean.pageDisplay}" render="productListBlock" forceDisplay="true"/>
                                             </div>
                                         </h:panelGroup>
                                    </div>
                                    <h:panelGroup styleClass="span3 mobileHide">
                                        <div class="span12 clearfix"></div>
                                        <div class="filterContainer span12">
                                            <strong>Filters</strong>
                                            <h:panelGroup rendered="#{searchBean.renderCategoryFilters()}">
                                                <div class="dropdown pull-right">
                                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-chevron-down"></i></a>
                                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="display: none;">
                                                        <li>
                                                            <a4j:commandLink value="Show all filters" action="#{productBrowseBean.setShowAllFilters()}" oncomplete="expandAllFilters();" onclick="waitOnNextAjax();" render="browse-form:filter-wrapper"/>
                                                        </li>
                                                        <li>
                                                            <a4j:commandLink value="Hide all filters" onclick="waitOnNextAjax();" oncomplete="collapseAllFilters()" render="browse-form:filter-wrapper"/>
                                                        </li>
                                                        <li>
                                                            <h:commandLink action="#{searchBean.clearAllFilters()}" value="Uncheck all filters" />
                                                        </li>                                                    
                                                    </ul>
                                                </div>
                                            </h:panelGroup>
                                        </div>
                                        <h:panelGroup rendered="#{!searchBean.renderCategoryFilters()}">
                                            <div>
                                                <br/>
                                                No filters available for these search results
                                            </div>
                                        </h:panelGroup>
                                    </h:panelGroup>
                                    <!--Might consume a lot of memory-->
                                    <h:panelGroup id="filter-wrapper" styleClass="span3 mobileHide" rendered="#{searchBean.renderCategoryFilters()}">
                                        <a4j:repeat rowKeyVar="filterCategoryIndex" var="filterCategoryName" value="#{searchBean.getFilterCategoryNames()}">
                                            <h:panelGroup styleClass="filterContainer span12" rendered="#{filterCategoryIndex lt productBrowseBean.defaultFiltersToShow or productBrowseBean.showAllFilters}">
                                                <div class="row-fluid">
                                                    <div class="span11" onclick="toggleShowFilters('#{filterCategoryName}');" style="cursor: pointer">
                                                        <h5><h:outputText value="#{filterCategoryName.toUpperCase()}" styleClass="filterCategoryName" /></h5>
                                                    </div>
                                                    <div id="#{filterCategoryName}collapsed" >
                                                        <div class="span1">
                                                            <div class="pull-right">
                                                                    <i class="icon-chevron-right filterChevron" style="cursor: pointer" onclick="toggleShowFilters('#{filterCategoryName}');"/>
                                                            </div>
                                                        </div>    
                                                    </div>
                                                    <div id="#{filterCategoryName}expanded" style="display:none;">
                                                        <div class="span1">
                                                            <div class="pull-right">
                                                                    <i class="icon-chevron-down filterChevron" style="cursor: pointer" onclick="toggleShowFilters('#{filterCategoryName}');"/>
                                                            </div>
                                                        </div>       
                                                        <a4j:repeat rowKeyVar="attrIndex" var="filterCategoryChild" value="#{searchBean.getFilterAttributeList(filterCategoryName)}" >
                                                            <div class="row-fluid">                                                                
                                                                <h:panelGroup rendered="#{!filterCategoryChild.split(' ')[0].equals('null')}">
                                                                    <label class="checkbox inline">
                                                                    #{filterCategoryChild}<input type="checkbox" id="#{filterCategoryName}| #{filterCategoryChild}" 
                                                                           checked="#{searchBean.isFilterActive(filterCategoryName,filterCategoryChild) ? 'checked' : ''}" 
                                                                           onclick="filterOn('#{filterCategoryName}', '#{filterCategoryChild}');" 
                                                                           render="browse-form:filter-wrapper"/>       
                                                                    </label>
                                                                </h:panelGroup>
                                                            </div>
                                                        </a4j:repeat>
                                                    </div>
                                                </div>
                                            </h:panelGroup>
                                        </a4j:repeat>
                                        <h:panelGroup layout="block" styleClass="row-fluid" rendered="#{!productBrowseBean.showAllFilters and searchBean.getFilterCategoryNames().size() > productBrowseBean.defaultFiltersToShow}">
                                            <div class="span12">
                                                <a4j:commandLink value="More" render="browse-form:filter-wrapper" action="#{productBrowseBean.setShowAllFilters()}" styleClass="filter-show-all" onclick="waitOnNextAjax()"/>
                                            </div>                                                       
                                        </h:panelGroup>        
                                        <h:panelGroup layout="block" styleClass="row-fluid" rendered="#{!(!productBrowseBean.showAllFilters and searchBean.getFilterCategoryNames().size() > productBrowseBean.defaultFiltersToShow) and !(productBrowseBean.defaultFiltersToShow > searchBean.getFilterCategoryNames().size())}">
                                            <div class="span12">
                                                <a4j:commandLink value="Less" render="browse-form:filter-wrapper" styleClass="filter-show-all" onclick="waitOnNextAjax()"/>
                                            </div>                                                       
                                        </h:panelGroup>
                                        <span class="span12" />
                                    </h:panelGroup>
                            </h:panelGroup>                                       
                        </h:panelGroup>
                        </h:form>
                     </div>
	</ui:define>
    <ui:define name="inserted-js">
        <script>    
            $(document).ready(function() {addFunctionToCallAfterAjax(function() {
              
                if (document.getElementById("browse-form:refine-search-input") != null) {
                    handleDefaultInputValue("browse-form:refine-search-input", "#{searchBean.defaultRefineSearchString}", true);
                    document.getElementById("browse-form:refine-search-input").onkeypress = function(event) {
                    if (event.which === 13) {
                        $handleRefineSearchRedirect();
                        }
                    };
                    $("#browse-form\\:refine-search-input").blur(function() {
                        if (this.value == '') {
                            handleDefaultInputValue("browse-form:refine-search-input", "#{searchBean.defaultRefineSearchString}", true);                       
                        }
                    });
                }
                validateFilters();
            });
            expandCheckedFilters();
            
            });
           
            $(document).ready(function() {
                
                size_li = $("#manufacturerList li").size();
                if(size_li &gt; 6) {
                	$('#manufacturerList li:lt(6)').show();
                	 $('#manufacturerList li:nth-child('+size_li+')').show();
                	
                } 

                if (size_li &lt;= 6) {                    
                	$('#manufacturerList li:lt('+size_li+')').show();
                    $('#manufacturerList li:nth-child('+size_li+')').hide();
                }
                
                $('#showAll').click(function () {
                    
                    $('#manufacturerList li:lt('+size_li+')').show();
                    $('#manufacturerList li:nth-child('+size_li+')').hide();
                });
                
            });
            
        </script>
    </ui:define>
</ui:composition>
