<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                template="/WEB-INF/templates/ecommerceFavoriteViewTemplate.xhtml"
                xmlns:apd="http://java.sun.com/jsf/composite/apd">
    <f:metadata>
        <f:viewParam name="page" value="#{favoritesViewBean.pageViewParam}" />
        <f:viewParam name="favoritesListName"
                     value="#{favoritesViewBean.listName}" />
        <f:viewParam name="favoritesType"
                     value="#{favoritesViewBean.listType}" />
        <f:event type="preRenderView" listener="#{favoritesViewBean.init()}"  />
    </f:metadata>
    <ui:define name="page_content">
        <a4j:jsFunction name="pageSizeValueChanged" action="#{favoritesViewBean.refreshPage}">                
            <a4j:param name="param1" assignTo="#{favoritesViewBean.pageSizeIndex}" /> 
        </a4j:jsFunction>
        <h:form id="favoritesViewForm">
            <div class="row apdMarginTop container productSearch apdMarginTop">
                <div class="span2 mobileHide">
                    <ui:include src="/WEB-INF/templates/category/categoryMenu.xhtml">
                        <ui:param name="bean" value="#{productBrowseBean}" />
                        <ui:param name="listMenuItems" value="highLevelNodes" />
                    </ui:include>
                </div>
                <div class="span10">
                    <h:panelGroup rendered="#{not empty favoritesViewBean.listName}" layout="block" styleClass="row marginLeft25">	
                        <div class="span6 shoppoingCart-Header">
                            <ul class="breadcrumb">
                                <li>
                                    <h:outputText value="#{favoritesViewBean.listType}"/>
                                    <span class="divider">/</span>
                                </li>
                            </ul>
                            <h3><h:outputText value="#{favoritesViewBean.listName.toUpperCase()}"/></h3>
                        </div>
                    </h:panelGroup>
                    <h:panelGroup id="productListBlock" rendered="#{not empty favoritesViewBean.products}" layout="block" styleClass="row-fluid productContainer marginLeft25">
                        <div class="span9 marginLeft25">
                            <div class="pull-right mobileHide">
                                <span class="help-inline sortByLabel">Products per page</span>
                                <h:selectOneMenu id="page-size-selection"
                                                 value="#{favoritesViewBean.pageSize}"
                                                 onchange="pageSizeValueChanged(getComboboxIndex('favoritesViewForm:page-size-selection'))"
                                                 style="width: 48px;">
                                    <f:selectItems value="#{favoritesViewBean.pageDisplay.sizes}" />
                                </h:selectOneMenu>
                            </div>
                            <ui:include src="/WEB-INF/components/inserts/product/productList.xhtml">
                                <ui:param name="products" value="#{favoritesViewBean.products}" />
                                <ui:param name="allowCompare" value="false" />
                                <ui:param name="parentBean" value="#{favoritesViewBean}"/>
                            </ui:include>
                            <div class="pull-right">
                                <a4j:commandLink value="Add All To Cart" styleClass="smallBtn pull-right" 
                                                rendered="#{not addToCartBean.isAllAddingPrevented(favoritesViewBean.products)}"
                                                action="#{addToCartBean.addAllToCart(favoritesViewBean.products)}"
                                                oncomplete="$cartNotify();" render=":items-added-json :cart-dropdown-count :recently-added-container" 
                                                onclick="waitOnNextAjax();"/>
                                <h:panelGroup rendered="#{addToCartBean.isAllAddingPrevented(favoritesViewBean.products)}">
                                    <a href="#" class="smallBtnDisabled btn disabled pull-right">
                                            Add All To Cart
                                    </a>
                                </h:panelGroup>
                            </div>
                        </div>
                    </h:panelGroup>
                    <apd:pagination pageDisplay="#{favoritesViewBean.pageDisplay}" render="favoritesViewForm"  forceDisplay="true"/>
                </div>
            </div>
        </h:form>
        <div class="push"/>
    </ui:define>

</ui:composition>