<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:apd="http://java.sun.com/jsf/composite/apd"
                template="/WEB-INF/templates/ecommerceProductDetailsTemplate.xhtml">

    <f:metadata>
        <f:viewParam name="vendorName" value="#{productDetailsBean.vendorName}" required="true" />
        <f:viewParam name="apdSku"
                     value="#{productDetailsBean.apdSku}" required="true" />        
        <f:viewParam name="displayFavs" required="false" />
        <f:viewParam name="prevPageNumber" required = "false"/>
         <f:viewParam name="productAddedToList" value="#{productDetailsBean.productAddedToList}" required = "false"/>
         <f:viewParam name="displayFavoritesListName" value="#{productDetailsBean.displayFavoritesListName}" required = "false"/>
        <f:event type="preRenderView" listener="#{productDetailsBean.retrieve}"/>
    </f:metadata>

    <ui:define name="page_content">
        <script type="text/javascript">
            $(document).ready(function() {addFunctionToCallAfterAjax(function() {
               if ('#{displayFavs}' == 'true') {
                   document.getElementById("user-fav-dd").style.display='block';
                   hovering = false;
                   $("#user-fav-dd").hover(function() {
                       hovering = true;
                   });
                   setTimeout(function() {
                       if (!hovering) {
                           document.getElementById("user-fav-dd").style.display='none';
                       }
                   }, 3000);
                }               
            });
            showAddedToListModal();
            });
            function showAddedToListModal() {
                if ('#{productDetailsBean.productAddedToList}' == 'true') {
             	   showPopup('item-added-to-list-modal');
                }
            }
        </script>
        <h:outputScript library="js" name="setGetParameter.js" />
        <div class="row apdMarginTop container">
            <h:form id="productDetailsForm">
                <div class="row-fluid">
                	<div class="span12">
                         <ul class="breadcrumb">
                             <a4j:repeat value="#{searchBean.breadcrumb.crumbs}"
                                         var="breadcrumb">
                                 <li>
                                     <a href="#{searchBean.breadcrumb.getCrumbURL(breadcrumb)}">#{breadcrumb}</a> 
                                     <span class="divider"> > </span></li>
                             </a4j:repeat>                                                            
                         </ul>
                    </div>
                	<div class="span4">
                        <!-- Slider -->
                        <!-- Top part of the slider -->
                        <div class="span12 returnLink">
                            <p>                
                                <a href="#" onclick="setGetParameter('page','#{prevPageNumber}',document.referrer);">
                                    <em class="icon-backward"/>
                                    #{display['details.product.return']}
                                </a>
                            </p>
                        </div>

                        <div class="span12" id="carousel-bounding-box">
                            <div class="carousel slide" id="myCarousel">
                                <!-- Carousel items -->
                                <div class="carousel-inner">
                                    <a4j:repeat var="image" value="#{productDetailsBean.itemImages}" rowKeyVar="i">
                                        <h:panelGroup rendered="#{i lt 4}">
                                            <h:panelGroup rendered="#{i==0}">
                                                <div class="active item" data-slide-number="#{i}"><img src="#{image.imageUrl}" class="crop250by250"/>                                                                                                                                           
													<a href="#{image.imageUrl}" target="_blank"> <img src="#{propertiesBean.get('aws.integration','content.service.secure.domain')}/images/btnPlus.png"/> View Larger Image</a>
												</div>
                                            </h:panelGroup>
                                            <h:panelGroup rendered="#{i!=0}">
                                                <div class="item" data-slide-number="#{i}"><img src="#{image.imageUrl}" class="crop250by250"/>                                                                                            
													<a href="#{image.imageUrl}" target="_blank"> <img src="#{propertiesBean.get('aws.integration','content.service.secure.domain')}/images/btnPlus.png"/>View Larger Image</a>
												</div>
                                            </h:panelGroup>
                                        </h:panelGroup>
                                    </a4j:repeat>
                                </div>                                
                            </div>
                        </div><!-- Bottom switcher of slider -->
                        <ul class="thumbnails mobileHide">
                            <a4j:repeat var="image" value="#{productDetailsBean.itemImages}" rowKeyVar="i">
                                <h:panelGroup rendered="#{i lt 4}">
                                    <li class="span3">
                                        <a class="thumbnail" id="carousel-selector-#{i}"><img src="#{image.imageUrl}" class="crop60by60"/></a>
                                    </li>         
                                </h:panelGroup>
                            </a4j:repeat>
                        </ul>
                    </div> 
                    <!-- ======= DESCRIPTION ======== -->			
                    <div class="span6 productContent">
                        <div class="span12 product-Title">
                            <h3 class="text-left">#{productDetailsBean.productName}</h3>
                            <p class="product-sku">Mfr. SKU: #{productDetailsBean.productManufacturer}</p>
                            <p class="product-sku">Vendor SKU: #{productDetailsBean.vendorSku}</p>
                            <p class="product-sku">APD SKU: #{productDetailsBean.apdSku}</p>
                            <p class="product-sku">SKU: #{productDetailsBean.productSku} </p>

                            <div class="span12 product-features">
                                <a4j:repeat rendered="#{not empty productDetailsBean.product.iconMap.keySet()}" value="#{viewUtils.mapToList(productDetailsBean.product.iconMap)}" var="entry" rowKeyVar="index">
                                    <img  src="#{credentialSelectionBean.getIconUrl(entry.key)}" alt="Product Icon Image" class="productIconImage" rel="tooltip" title="#{entry.value}" />
                                </a4j:repeat>
                            </div>

                            <p class="product-price-pd">
                                PRICE:
								<c:if test="#{addToCartBean.showPrice(productDetailsBean.product)}">
	                                <h:outputText value="#{productDetailsBean.productPriceDecimal}">
	                                    <f:convertNumber currencySymbol="$" groupingUsed="true" maxFractionDigits="2" type="currency" />
	                                </h:outputText>
                			    </c:if>
                            </p>
                            <p class="product-unit">
                                <h:outputText value="/#{productDetailsBean.product.units}" rendered ="#{productDetailsBean.product.units!=null and addToCartBean.showPrice(productDetailsBean.product)}"/>
                            </p>                          
                            <div>                            
                                <h:panelGroup rendered="#{addToCartBean.isDiscontinued(productDetailsBean.product)}">                               
                                    <font color="red"><strong>Discontinued</strong></font>
                                        <h:panelGroup rendered="#{productDetailsBean.product.replacementSku != null and productDetailsBean.product.replacementVendor != null}">                                        
                                            <div>
                                                Replacement SKU: <a href="#{productBrowseBean.getReplacementProductDetailsLink(productDetailsBean.product)}">#{productDetailsBean.product.replacementSku}</a>
                                            </div>
                                        </h:panelGroup>
                                </h:panelGroup>                                
                            </div>
                                                                                 
                            <hr/>
                            <div class="span12 product-desc">
                                <h5 class="text-left">#{display['details.product.description']}</h5>
                                <p><h:outputText value="#{productDetailsBean.safeProductDescription}"/></p>
                                <h:panelGroup rendered="#{!productDetailsBean.sellingPoints.isEmpty()}">
                                	<ul class="descBullet">
                                		<a4j:repeat value="#{productDetailsBean.sellingPoints}" var="sellingPoint">
											<li><p><h:outputText value="#{sellingPoint.value}" /></p></li>
										</a4j:repeat>
									</ul>
								</h:panelGroup>
                            </div>
                        </div>
                    </div>
                    <!-- ======= DESCRIPTION END ======== -->
                    <h:outputScript name="js/spinner.js" target="head" />
                            <script type="text/javascript">
                            init("productDetailsForm","1");
                    </script>
                    <div class="span2">
                     <div class="qtyContainer" id="add">
                     <h:panelGroup layout="block" id="addToCartSpan" style="overflow:hidden">
                        <label class="text inline qty pull-left">
                            Qty <h:inputText id="qtyBox" value="#{productDetailsBean.qty}"
                                             styleClass="positive-integer" rendered="#{!addToCartBean.isAddingPrevented(productDetailsBean.product)}">                                           
                                    <a4j:param name="qty" value="#{productDetailsBean.qty}" />
                                    <a4j:ajax event="change" listener="#{productDetailsBean.updateQuantity()}"/>
                                </h:inputText>
			                	<h:inputText rendered="#{addToCartBean.isAddingPrevented(productDetailsBean.product)}"
			                		id="qtyBoxDisabled" disabled="true" styleClass="positive-integer" />
                        </label>
                        <div class="pull-left">
                            <h:outputLabel style="display:none" id="vendor" value="#{productDetailsBean.vendorName}"/>
                            <h:outputLabel style="display:none" id="sku" value="#{productDetailsBean.apdSku}"/>
                            <div class="qtyBtn qtyPlus">
                                <img src="#{propertiesBean.get('aws.integration','content.service.secure.domain')}/images/btnPlus.png" alt="Add Quantity" onclick="updateAddToCartQuantity(isNaN(parseInt($('#productDetailsForm\\:qtyBox').val())) ? 0 : parseInt($('#productDetailsForm\\:qtyBox').val()) +1,$('#productDetailsForm\\:vendor').text(),$('#productDetailsForm\\:sku').text());return changeNumber('productDetailsForm',1);" />
                            </div>                                    
                            <div class="qtyBtn qtyMinus">
                                <img src="#{propertiesBean.get('aws.integration','content.service.secure.domain')}/images/btnMinus.png" alt="Remove Quantity" onclick="updateAddToCartQuantity(isNaN(parseInt($('#productDetailsForm\\:qtyBox').val())) ? 0 : parseInt($('#productDetailsForm\\:qtyBox').val()) - 1,$('#productDetailsForm\\:vendor').text(),$('#productDetailsForm\\:sku').text()); return changeNumber('productDetailsForm',-1);" />
                            </div>
                        </div>
                        <div class="pull-right">
                        	<a4j:commandLink styleClass="btn btn-primary addToCartBtn" rendered="#{!addToCartBean.isAddingPrevented(productDetailsBean.product)}" 
                        		value="#{addToCartBean.getAddToCartButtonText(productDetailsBean.product, true)}" 
                        		action="#{productDetailsBean.addToCart()}" oncomplete="$cartNotify();" 
                        		render=":items-added-json :cart-dropdown-count :recently-added-container" onclick="waitOnNextAjax();" immediate="true" />
				            <h:panelGroup rendered="#{addToCartBean.isAddingPrevented(productDetailsBean.product)}">
				            	<a href="#" class="btn-primaryDisabled btn disabled">
				            		#{addToCartBean.getAddToCartButtonText(productDetailsBean.product, true)}
				            	</a>
				            </h:panelGroup>
                        </div>
					        <rich:tooltip rendered="#{(productDetailsBean.product.minimum == null or productDetailsBean.product.minimum le 1) and (productDetailsBean.product.multiple != null and productDetailsBean.product.multiple gt 1)}" for=":addToCartSpan">
					        	Multiple QTY = #{productDetailsBean.product.multiple}
					        </rich:tooltip>
					        <rich:tooltip rendered="#{(productDetailsBean.product.minimum != null and productDetailsBean.product.minimum gt 1) and (productDetailsBean.product.multiple == null or productDetailsBean.product.multiple le 1)}" for=":addToCartSpan">
					        	Min QTY = #{productDetailsBean.product.minimum}
					        </rich:tooltip>
					        <rich:tooltip rendered="#{(productDetailsBean.product.minimum != null and productDetailsBean.product.minimum gt 1) and (productDetailsBean.product.multiple != null and productDetailsBean.product.multiple gt 1)}" for=":addToCartSpan">
					        	Min QTY = #{productDetailsBean.product.minimum}, Multiple QTY = #{productDetailsBean.product.multiple}
					        </rich:tooltip>
					    </h:panelGroup>
					</div>
                            <c:if test="#{credentialSelectionBean.hasPermission('shopping maintain user favorites')}">
	                        <div class="span12 addtoList">
	                            <hr/>
	                            <h5 class="text-left">#{display['details.product.add']}</h5>
	                        </div>
	
	                        <div class="span12 listInput favoritesListsInput">
	                            <h:inputText id="selectedListNameInput" styleClass="addtoListInput typeahead" 
	                            value="#{productDetailsBean.selectedFavoritesListName}" required="true" 
	                            title="Enter list name"/>
	                            <h:outputLabel value="Please provide the name of the favorites list to which you would like to add this product." 
	                            style="display:none; color:red;" id="listInputRequiredMessage"/>
	                        </div>
	
	                        <div class="span12 text-right">
	
                                    <a4j:commandLink styleClass="smallBtn" action="#{productDetailsBean.addProductToFavorites()}" id="addListLink"
                                                     onclick="waitOnNextAjax(); return listInputNotEmpty();">
	                                #{display['details.product.add2']}
                                    </a4j:commandLink>
                                    <h:messages />
	                        </div>
                            </c:if>

                        <div class="span12 substitutions">
                            <hr/>
                            <h5 class="text-left">#{display['details.product.substitutions']}</h5>

                            <h:panelGroup rendered="#{productDetailsBean.substituteAvailable}" styleClass="featured-product">
                                <div><a href="#{productDetailsBean.substitutionDetailsLink}" class="thumbnail"><img src="#{productDetailsBean.substituteImageUrl}" alt="Image"/></a>
                                </div>
                                <div class="product-info">
                                    <div class="title">
                                        <a href="#{productDetailsBean.substitutionDetailsLink}">#{productDetailsBean.substituteName}</a>
                                    </div>
                                    <div class="manufacturer">#{productDetailsBean.substituteManufacturer}</div>
                                    <div class="sku">
                                        <strong>SKU:</strong>#{productDetailsBean.substituteSku}
                                    </div>
                                    <div class="price-per-unit">
                                        <strong>PRICE:</strong>
                                        <c:if test="#{!addToCarBean.isAddingPrevented(product)}">
                                            <h:outputText value="#{productDetailsBean.substitutePrice}" >
                                                <f:convertNumber currencySymbol="$" groupingUsed="true" maxFractionDigits="2" type="currency" />
                                            </h:outputText>
                                        </c:if>
                                    </div>
                                </div>
                            </h:panelGroup>
                        </div>
                    </div>
                </div>
                <!-- ====== ADDED THIS CLASS ====== -->        
                <div class="clearfix"></div>
                <!-- ====== TABS ====== -->        
                <div class="row-fluid container pd-tabcontainer">
                    <div class="span9 offset4">
                        <div class="tabbable pd-tabs">
                            <ul class="nav nav-tabs" id="productDetailTabs">
                                <li class="active">
                                    <a data-toggle="tab" href="#tab1">
                                        <h5>#{display['details.product.productDetails']}</h5></a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#tab2">
                                        <h5>#{display['details.product.classifications']}</h5></a>
                                </li>
                            </ul>

                            <ui:include src="/WEB-INF/components/inserts/product/productTabs.xhtml">
                                <ui:param name="detailsBean" value="#{productDetailsBean}" />
                            </ui:include>
                        </div>
                    </div>
                </div>
                <!-- =====  SIMILAR ====== -->
                <div class="span12 pd-sim-container">
                    <div class="row-fluid">
                        <div class="span9 divInside-Fade seeMoreHeader">

                            <div class="span9">
                                <h5>#{display['details.product.similar.header']}</h5>
                            </div>

                        </div>
                    </div>
                    <!--Start of Item 1 -->
                    
                    <a4j:repeat id="productDetailsBean" value="#{productDetailsBean.similarItemList}" var="product">

                        <div class="row-fluid">
                            <div class="span9 pd-productContainer">
                                <div class="span2"><img src="#{productDetailsBean.getURLString(product.imageUrls)}"/></div>
                                <div class="span4 product-info">
                                    <p class="title">
                                        <a href="#{product.detailsLink}">#{product.name}</a>
                                    </p>
                                    <p class="manu">#{product.manufacturerName}</p>
                                    <p class="sku"><strong>SKU:</strong>#{product.customerSku}</p>
                                    <p>
                                        <a4j:repeat rendered="#{not empty product.iconMap.keySet()}" value="#{viewUtils.mapToList(product.iconMap)}" var="entry" rowKeyVar="index">
                                            <img  src="#{credentialSelectionBean.getIconUrl(entry.key)}" alt="Product Icon Image" class="productIconImage" rel="tooltip" title="#{entry.value}" />
                                        </a4j:repeat>
                                    </p>
                                </div>
                                <div class="span3 product-info">
                                    <p>
                                        <c:if test="#{!addToCarBean.isAddingPrevented(product)}">
                                            <h:outputText value="#{product.price}" >
                                                <f:convertNumber currencySymbol="$" groupingUsed="true" maxFractionDigits="2" type="currency" />
                                            </h:outputText>
                                        </c:if>
                                    </p>
                                </div>
                                <div class="span2 product-info"><p>#{product.units}</p></div>

                                <div class="span2 padding-right pull-right product-info">  
                                </div>
                                <div style="clear:both"></div>
                            </div>
                        </div>
                        <!--End of Item 1 -->
                    </a4j:repeat>

                </div>                
            </h:form>
        </div>        
        <div id="push"></div>  
        <div class="modalContainer">
            <rich:popupPanel id="item-added-to-list-modal" style="background:white;" autosized="true" resizeable="false" moveable="false" domElementAttachment="parent">
                <f:facet name="controls">
                    <a4j:commandLink value="X" style="cursor:pointer" onclick="#{rich:component('item-added-to-list-modal')}.hide(); return false;" />
                </f:facet>
                <span id="added-to-list-text" style="color:black;padding:5px;">#{productDetailsBean.apdSku} added to list "#{productDetailsBean.displayFavoritesListName}"</span>
            </rich:popupPanel>
        </div>
    </ui:define>

</ui:composition>
